<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.mappers.tm.approveProcAdmMapper">
    
    <resultMap id="ApproveProcAdmVo"        type="mes.domain.tm.ApproveProcAdmVo">
        <result property="apCd"             	  column="AP_CD" 	 	/>
        <result property="apGubun"             	  column="AP_GUBUN" 	/>
        <result property="apSeq"             	  column="AP_SEQ" 		/>
        <result property="apDate"             	  column="AP_DATE" 	 	/>
        <result property="apQty"            	  column="AP_QTY" 		/>
        <result property="apChargr"          	  column="AP_CHARGR"	/>
        <result property="apChargrNm"          	  column="AP_CHARGR_NM"	/>
        <result property="sourceNo"          	  column="SOURCE_NO"	/>
         
        <result property="regId"                  column="REG_ID" 		/>
        <result property="regDate"           	  column="REG_DATE" 	/>
        <result property="updId"             	  column="UPD_ID" 		/>
        <result property="updDate"           	  column="UPD_DATE" 	/>
        
        <result property="barcodeNo" 			column="BARCODE_NO"		/>
        <result property="partCd" 				column="PART_CD"		/>
        <result property="partRev" 				column="PART_REV" 		/>
		<result property="partNm"				column="PART_NM" 		/>
		<result property="partSpec" 			column="PART_SPEC" 		/>
		<result property="partUnit" 			column="PART_UNIT" 		/>
		<result property="partUnitNm" 			column="PART_UNIT_NM" 	/>
		<result property="partGubun"			column="PART_GUBUN" 	/>
		<result property="partGubunNm" 			column="PART_GUBUN_NM"	/>
	
		
		<result property="preInWhsQty"			column="PRE_IN_WHS_QTY"		/>
		<result property="inWhsQty"				column="IN_WHS_QTY"			/>
		
		<result property="preInWhsDate"			column="PRE_IN_WHS_DATE"	/> 
		<result property="inWhsDate"			column="IN_WHS_DATE"		/> 
		<result property="inspectDate"			column="INSPECT_DATE"		/> 
		
		<result property="pairQty"				column="PAIR_QTY"		/> 
		<result property="faultyQty"			column="FAULTY_QTY"		/> 
		<result property="diffQty"			column="DIFF_QTY"		/> 
		
		
		<result property="workOrdNo"     		column="WORK_ORD_NO"			/>
		<result property="itemCd"				column="ITEM_CD"				/>	
		<result property="itemNm"				column="ITEM_NM"				/>
		<result property="itemRev"              column="ITEM_REV"				/>
		<result property="itemGubun"            column="ITEM_GUBUN"				/>
		<result property="itemGubunNm"          column="ITEM_GUBUN_NM"			/>
		<result property="rcvDate"     			column="RCV_DATE"			/>
		<result property="ordCorpCd"     		column="ORD_CORP_CD"		/>
		<result property="ordCorpNm"     		column="ORD_CORP_NM"		/>
	
		<result property="dlvDate"              column="DLV_DATE"				/>
		<result property="workOrdQty"           column="WORK_ORD_QTY"			/>
	
		<result property="ordDate"              column="ORD_DATE"				/>
		<result property="serialNo"           	column="SERIAL_NO"			/>
		<result property="outputQty"            column="OUTPUT_QTY"				/>
		
		<result property="startDate"           	column="START_DATE"			/>
		<result property="endDate"            column="END_DATE"				/>
    </resultMap>
    
    <select id="approveProcAdmList1" resultMap="ApproveProcAdmVo">
   		SELECT 
			A.BARCODE_NO,
			A.PRE_IN_WHS_DATE,
			A.IN_WHS_DATE,
			A.INSPECT_DATE,
			C.PART_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=C.PART_GUBUN AND X.BASE_GROUP_CD='035') PART_GUBUN_NM,
			A.PART_CD,
			A.PART_REV,
			C.PART_NM,
			C.PART_SPEC,
			C.PART_UNIT,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=C.PART_UNIT AND X.BASE_GROUP_CD='036') PART_UNIT_NM,
			A.PRE_IN_WHS_QTY,
			B.AP_DATE,
			B.AP_CHARGR,
			(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=AP_CHARGR) AP_CHARGR_NM,
			B.AP_QTY
		FROM TB_IN_OUT_WHS_ADM A
		LEFT OUTER  JOIN 
		(
		SELECT X.*
		FROM TB_APPROVE_PROC_ADM X
		WHERE X.AP_GUBUN='II'
		)B
		ON A.BARCODE_NO=B.AP_CD
		INNER JOIN TB_ITEM_PART_ADM C
		ON A.PART_CD=C.PART_CD
		AND A.PART_REV=C.PART_REV
		WHERE 1=1
		AND B.AP_DATE BETWEEN #{startDate} AND #{endDate}
    </select>
    
    
    <select id="approveProcAdmList2" resultMap="ApproveProcAdmVo">
    	SELECT 
			A.BARCODE_NO,
			A.PRE_IN_WHS_DATE,
			A.IN_WHS_DATE,
			A.INSPECT_DATE,
			C.PART_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=C.PART_GUBUN AND X.BASE_GROUP_CD='035') PART_GUBUN_NM,
			A.PART_CD,
			A.PART_REV,
			C.PART_NM,
			C.PART_SPEC,
			C.PART_UNIT,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=C.PART_UNIT AND X.BASE_GROUP_CD='036') PART_UNIT_NM,
			A.PRE_IN_WHS_QTY,
			A.PRE_IN_WHS_QTY-A.FAULTY_QTY PAIR_QTY,
			A.FAULTY_QTY,
			B.AP_DATE,
			B.AP_CHARGR,
			(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=AP_CHARGR) AP_CHARGR_NM,
			B.AP_QTY
		FROM TB_IN_OUT_WHS_ADM A
		LEFT OUTER  JOIN 
		(
		SELECT X.*
		FROM TB_APPROVE_PROC_ADM X
		WHERE X.AP_GUBUN='MI'
		)B
		ON A.BARCODE_NO=B.AP_CD
		INNER JOIN TB_ITEM_PART_ADM C
		ON A.PART_CD=C.PART_CD
		AND A.PART_REV=C.PART_REV
		WHERE 1=1
		AND B.AP_DATE BETWEEN #{startDate} AND #{endDate}
    </select>
    
    
    <select id="approveProcAdmList3" resultMap="ApproveProcAdmVo">
 	   SELECT 
			A.BARCODE_NO,
			A.WORK_ORD_NO,
			A.PRE_OUT_WHS_DATE,
			C.ITEM_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=C.ITEM_GUBUN AND X.BASE_GROUP_CD='037') ITEM_GUBUN_NM,
			C.ITEM_NM,
			C.ITEM_REV,
			(SELECT DEAL_CORP_NM 
			 FROM TB_DEAL_CORP_ADM X 
			 WHERE X.DEAL_CORP_CD = (
										SELECT ORD_CORP_CD 
										FROM TB_BIZ_ORDER_ADM 
										WHERE CONT_NO = (
															SELECT CONT_NO 
															FROM TB_BIZ_ORDER_DTL 
															WHERE CONT_DTL_NO=D.CONT_DTL_NO
														)
									)
			) ORD_CORP_NM,
			(SELECT RCV_DATE FROM TB_BIZ_ORDER_ADM WHERE CONT_NO = (SELECT CONT_NO FROM TB_BIZ_ORDER_DTL WHERE CONT_DTL_NO=D.CONT_DTL_NO)) RCV_DATE,
			D.DLV_DATE,
			D.WORK_ORD_QTY,
			B.AP_DATE,
			B.AP_CHARGR,
			(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=AP_CHARGR) AP_CHARGR_NM,
			B.AP_QTY
		FROM TB_OUT_WHS_ADM A
		LEFT OUTER  JOIN 
		(
		SELECT X.*
		FROM TB_APPROVE_PROC_ADM X
		WHERE X.AP_GUBUN='PI'
		)B
		ON A.BARCODE_NO=B.AP_CD
		LEFT OUTER JOIN  TB_WORK_ORDER D
		ON A.WORK_ORD_NO=D.WORK_ORD_NO
		LEFT OUTER JOIN TB_ITEM_MOTOR_ADM C
		ON D.ITEM_CD=C.ITEM_CD
		AND D.ITEM_REV=C.ITEM_REV
		WHERE 1=1
		AND B.AP_DATE BETWEEN #{startDate} AND #{endDate}
    </select>
    
    
    <select id="approveProcAdmList4" resultMap="ApproveProcAdmVo">
   	 	SELECT	
				A.*,
				C.AP_DATE,
			    C.AP_CHARGR,
			    (SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=C.AP_CHARGR) AP_CHARGR_NM,
			    C.AP_QTY
		FROM (
			SELECT	E.WORK_ORD_NO,	
			      E.ITEM_CD,
			      E.ITEM_REV,
				  F.ITEM_NM,
				  F.ITEM_GUBUN,	
				  (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE F.ITEM_GUBUN = X.BASE_CD AND BASE_GROUP_CD='037') ITEM_GUBUN_NM,
				  F.SERIAL_NO,
				  A.BARCODE_NO,
				  E.ORD_DATE,
				  E.OUTPUT_QTY
			FROM TB_WORK_ORDER A, TB_WORK_ORDER_PRCSS E, TB_ITEM_MOTOR_ADM F
			WHERE 1=1
			AND A.WORK_ORD_NO = E.WORK_ORD_NO
			AND E.WORK_STATUS = 'WC'
			AND F.ITEM_CD = A.ITEM_CD
			AND F.ITEM_REV = A.ITEM_REV
		 ) A
		LEFT OUTER  JOIN 
		(
			SELECT X.*
			FROM TB_APPROVE_PROC_ADM X
			WHERE X.AP_GUBUN='CI'
		)C
		ON A.BARCODE_NO=C.AP_CD
		WHERE 1=1
		AND C.AP_DATE BETWEEN #{startDate} AND #{endDate}
    </select>
    
    <select id="approveProcAdmList5" resultMap="ApproveProcAdmVo">
	   SELECT A.WORK_ORD_NO,
				A.ITEM_CD,
				A.ITEM_REV,
				B.BARCODE_NO,
				C.ITEM_NM,
				C.SERIAL_NO,
				C.ITEM_GUBUN,
				(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=C.ITEM_GUBUN AND X.BASE_GROUP_CD='037') ITEM_GUBUN_NM,
				ISNULL(A.PAIR_QTY,0)+ISNULL(E.PAIR_CNT,0) PAIR_QTY,
				E.FAULTY_CNT FAULTY_QTY,
				E.PAIR_CNT-E.FAULTY_CNT DIFF_QTY,
				A.INSPECT_DATE,
				F.AP_DATE,
			    F.AP_CHARGR,
			    (SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=F.AP_CHARGR) AP_CHARGR_NM,
			    F.AP_QTY
		FROM TB_ITEM_COMPLETE_ADM A
		INNER JOIN TB_WORK_ORDER B
		ON A.WORK_ORD_NO=B.WORK_ORD_NO
		INNER JOIN TB_ITEM_MOTOR_ADM C
		ON A.ITEM_CD=C.ITEM_CD
		AND A.ITEM_REV=C.ITEM_REV
		LEFT OUTER JOIN TB_ITEM_COMPLETE_FAULTY_JDG_ADM E
		ON A.WORK_ORD_NO=E.WORK_ORD_NO
		AND A.ITEM_CD=E.ITEM_CD
		AND A.ITEM_REV=E.ITEM_REV
		AND E.APPROVAL_YN='001'
		LEFT OUTER JOIN TB_ITEM_WHS_ADM D
		ON B.BARCODE_NO=D.BARCODE_NO
		LEFT OUTER  JOIN 
		(
			SELECT X.*
			FROM TB_APPROVE_PROC_ADM X
			WHERE X.AP_GUBUN='PA'
		)F
		ON B.BARCODE_NO=F.AP_CD
		WHERE 1=1
		AND F.AP_DATE BETWEEN #{startDate} AND #{endDate}
    </select>
    
    <!-- 승인처리 등록 -->
    <insert id="approveProcAdmCreate">
	    INSERT INTO TB_APPROVE_PROC_ADM (
	    	AP_CD,
	        AP_GUBUN,
	        AP_SEQ,
	        AP_DATE,
	        AP_QTY,
	        AP_CHARGR,
	        SOURCE_NO,
	        REG_ID,
	        REG_DATE
	    )
		VALUES     (
			#{apCd},
	        #{apGubun},
	        #{apSeq},
	        #{apDate},
	        #{apQty},
	        #{apChargr},
	        #{sourceNo},
	        #{regId},
	        GETDATE()
	   ) 
    </insert>
    
    <select id="getApSeq" resultType="String">
  		 SELECT ISNULL(MAX(AP_SEQ)+1,0)
		FROM TB_APPROVE_PROC_ADM A
		WHERE 1=1
		AND AP_CD = #{apCd}
		AND AP_GUBUN=#{apGubun}
    
    </select>
    
    
</mapper>  
