<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.po.equipDowntimeAdmMapper">

	<!-- 작업지시 -->
	<resultMap id="EquipDowntimeAdmVo" type="mes.domain.po.EquipDowntimeAdmVo">
		<result property="workOrdNo"			column="WORK_ORD_NO"			/>
		<result property="prcssCd"				column="PRCSS_CD"				/>
		<result property="downtimeSeq"			column="DOWNTIME_SEQ"			/>
		<result property="downtimeGubun"		column="DOWNTIME_GUBUN"			/>
		<result property="downtimeCause"		column="DOWNTIME_CAUSE"			/>
		<result property="startTime"			column="START_TIME"				/>
		<result property="endTime"				column="END_TIME"				/>
		<result property="stopTime"				column="STOP_TIME"				/>
		<result property="downtimeDesc"			column="DOWNTIME_DESC"			/>
		<result property="downtimeRegDate"		column="DOWNTIME_REG_DATE"		/>
		<result property="regId"				column="REG_ID"					/>
		<result property="regDate"				column="REG_DATE"				/>
		<result property="updId"				column="UPD_ID"					/>
		<result property="updDate"				column="UPD_DATE"				/>
	</resultMap>
	
	<!-- 비가동등록 전체조회 -->
	<select id="listAll" resultMap="EquipDowntimeAdmVo">
		<![CDATA[
			SELECT
				WORK_ORD_NO,
				PRCSS_CD,
				DOWNTIME_SEQ,
				DOWNTIME_GUBUN,
				DOWNTIME_CAUSE,
				START_TIME,
				END_TIME,
				STOP_TIME,
				DOWNTIME_DESC,
				DOWNTIME_REG_DATE,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM TB_EQUIP_DOWNTIME_ADM
			WHERE WORK_ORD_NO = #{workOrdNo} AND PRCSS_CD = #{prcssCd}
		]]>
	</select>
	
	<!-- 비가동등록 작업공정별  -->
	<insert id="create" parameterType="mes.domain.po.EquipDowntimeAdmVo">
		<![CDATA[
			INSERT INTO TB_EQUIP_DOWNTIME_ADM(
				WORK_ORD_NO,
				PRCSS_CD,
				DOWNTIME_SEQ,
				DOWNTIME_GUBUN,
				DOWNTIME_CAUSE,
				START_TIME,
				END_TIME,
				STOP_TIME,
				DOWNTIME_DESC,
				DOWNTIME_REG_DATE,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			) VALUES (
				#{workOrdNo},
				#{prcssCd},
				#{downtimeSeq},
				#{downtimeGubun},
				#{downtimeCause},
				#{startTime},
				#{endTime},
				#{stopTime},
				#{downtimeDesc},
				#{downtimeRegDate},
				#{regId},
				getDate(),
				#{updId},
				getDate()
			)
		]]>
	</insert>
	
	<!-- 비가동등록 작업공정별 삭제 -->
	<delete id="delete" parameterType="mes.domain.po.EquipDowntimeAdmVo">
		DELETE FROM TB_EQUIP_DOWNTIME_ADM
		WHERE WORK_ORD_NO = #{workOrdNo} AND PRCSS_CD = #{prcssCd}
	</delete>
	
</mapper>
