<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.po.reworkOrderMapper">

	<!-- 작업지시 -->
	<resultMap id="WorkOrderVo" type="mes.domain.po.WorkOrderVo">
	
		<result property="workOrdNo"     			column="WORK_ORD_NO"			/>
		<result property="upperWorkOrdNo"           column="UPPER_WORK_ORD_NO"		/>
		<result property="preWorkOrdNo"          	column="PRE_WORK_ORD_NO"		/>			
		<result property="contDtlNo"                column="CONT_DTL_NO"			/>
		<result property="ordLotNo"                 column="ORD_LOT_NO"				/>
		<result property="dtlOrdCnt"                column="DTL_ORD_CNT"			/>
		<result property="itemRev"                  column="ITEM_REV"				/>
		<result property="itemGubun"                column="ITEM_GUBUN"				/>
		<result property="itemGubunNm"              column="ITEM_GUBUN_NM"			/>
		<result property="ordDate"                  column="ORD_DATE"				/>
		<result property="workStatusCd"             column="WORK_STATUS_CD"			/>
		<result property="workStatusNm"             column="WORK_STATUS_NM"			/>
		<result property="dtlOrdQty"                column="DTL_ORD_QTY"			/>
		<result property="workOrdQty"               column="WORK_ORD_QTY"			/>
		<result property="outputQty"                column="OUTPUT_QTY"				/>
		<result property="faultyQty"                column="FAULTY_QTY"				/>
		<result property="outputDate"               column="OUTPUT_DATE"			/>
		<result property="dlvDate"                  column="DLV_DATE"				/>
		<result property="lastYn"                   column="LAST_YN"				/>
		<result property="lastYnNm"                 column="LAST_YN_NM"				/>
		<result property="regId"                    column="REG_ID"					/>
		<result property="regDate"                  column="REG_DATE"				/>
		<result property="updId"                    column="UPD_ID"					/>
		<result property="updDate"                  column="UPD_DATE"				/>
		<result property="etcDate"                  column="ETC_DATE"				/>
		<result property="ordDesc"                  column="ORD_DESC"				/>
		<result property="itemCd"					column="ITEM_CD"				/>	
		<result property="itemNm"					column="ITEM_NM"				/>
		<result property="workOrdSeq"           	column="WORK_ORD_SEQ"			/>
		<result property="middlePrcssCd"            column="MIDDLE_PRCSS_CD"		/>
		<result property="minorPrcssCd"             column="MINOR_PRCSS_CD"			/>
		<result property="minorPrcssNm"             column="MINOR_PRCSS_NM"			/>
		
		<result property="bomCd"                    column="BOM_CD"				    />
		<result property="bomNm"                    column="BOM_NM"				    />
		<result property="prcssCd"                  column="PRCSS_CD"			    />
		<result property="prcssNm"                  column="PRCSS_NM"			    />
		<result property="lowerPrcssCd" 			column="LOWER_PRCSS_CD"		    />	
		<result property="lowerPrcssNm" 			column="LOWER_PRCSS_NM"		    />
		                                                                            
		<result property="partUnitNm"               column="PART_UNIT_NM"		    />
		<result property="partUnit"                 column="PART_UNIT"			    />
		<result property="partCd"                   column="PART_CD"			    />
		<result property="partNm"                   column="PART_NM"			    />
		<result property="partSeq"      			column="PART_SEQ"			    />	
		<result property="partConsumpt" 			column="PART_CONSUMPT"		    />
		<result property="partRev" 					column="PART_REV"			    />
		                                                                            
		<result property="equipCd1"                 column="EQUIP_CD1"              />
		<result property="equipCd2"                 column="EQUIP_CD2"              />
		<result property="equipCd3"                 column="EQUIP_CD3"              />
		<result property="equipCd4"                 column="EQUIP_CD4"              />
		<result property="equipCd5"                 column="EQUIP_CD5"              />
		<result property="equipNm1"                 column="EQUIP_NM1"              />
		<result property="equipNm2"                 column="EQUIP_NM2"              />
		<result property="equipNm3"                 column="EQUIP_NM3"              />
		<result property="equipNm4"                 column="EQUIP_NM4"              />
		<result property="equipNm5"                 column="EQUIP_NM5"              />
		                                                                            
		<result property="workOrdDate"              column="WORK_ORD_DATE"          />
		<result property="workEmerYn"               column="WORK_EMER_YN"           />
		<result property="workEmerYnNm"             column="WORK_EMER_YN_NM"        />
		
		<result property="ordCorpCd"                column="ORD_CORP_CD"            />
		<result property="ordCorpNm"                column="ORD_CORP_NM"            />
		<result property="rcvChargr"                column="RCV_CHARGR"    	        />
		<result property="rcvChargrNm"              column="RCV_CHARGR_NM"          />
		<result property="workChargr"				column="WORK_CHARGR"		/>
		<result property="workChargrNm"				column="WORK_CHARGR_NM"		/>
		<result property="reworkQty"				column="REWORK_QTY"			/>
		<result property="reworkType"				column="REWORK_TYPE"			/>
		
		<result property="startDate"				column="START_DATE"			/>
		<result property="endDate"					column="END_DATE"			/>
	</resultMap>
	
		<!-- 작업지시 공정 -->
	<resultMap id="WorkOrderPrcssVo" type="mes.domain.po.WorkOrderPrcssVo">
	
		<result property="menuAuth"					column="MENU_AUTH"			/>
		<result property="workOrdNo"				column="WORK_ORD_NO"		/>
		<result property="workOrdSeq"				column="WORK_ORD_SEQ"		/>
		<result property="minorPrcssCd"             column="MINOR_PRCSS_CD"		/>
		<result property="middlePrcssCd"            column="MIDDLE_PRCSS_CD"	/>
		<result property="minorPrcssNm"             column="MINOR_PRCSS_NM"		/>
		<result property="middlePrcssNm"            column="MIDDLE_PRCSS_NM"	/>
		<result property="ordLotNo"                 column="ORD_LOT_NO"			/>
		<result property="equipCd"                  column="EQUIP_CD"			/>
		<result property="equipNm"                  column="EQUIP_NM"			/>
		<result property="itemCd"                   column="ITEM_CD"		    />
		<result property="itemNm"                   column="ITEM_NM"		    />
		<result property="itemRev"                  column="ITEM_REV"			/>
		<result property="itemGubun"                column="ITEM_GUBUN"			/>
		<result property="itemGubunNm"              column="ITEM_GUBUN_NM"		/>
		<result property="ordDate"                  column="ORD_DATE"			/>
		<result property="workStatus"            	column="WORK_STATUS"		/>
		<result property="workChargr"				column="WORK_CHARGR"		/>
		<result property="workChargrNm"				column="WORK_CHARGR_NM"		/>
		<result property="targetQty"				column="TARGET_QTY"			/>
		<result property="outputQty"				column="OUTPUT_QTY"			/>
		<result property="fairQty"					column="FAIR_QTY"			/>
		<result property="faultyQty"				column="FAULTY_QTY"			/>
		<result property="etcQty"					column="ETC_QTY"			/>
		<result property="outQty"					column="OUT_QTY"			/>
		<result property="remainQty"				column="REMAIN_QTY"			/>
		<result property="dealCorpCd"               column="DEAL_CORP_CD"		/>
		<result property="dealCorpNm"      		    column="DEAL_CORP_NM"		/>
		<result property="workStartTime"   		    column="WORK_START_TIME"	/>
		<result property="workEndTime"              column="WORK_END_TIME"		/>
		<result property="packYn"                   column="PACK_YN"			/>
		<result property="packYnNm"                 column="PACK_YN_NM"			/>
		<result property="regId"                    column="REG_ID"				/>
		<result property="regDate"                  column="REG_DATE"			/>
		<result property="updId"                    column="UPD_ID"				/>
		<result property="updDate"                  column="UPD_DATE"			/>
		
		<result property="prcssSeq"					column="PRCSS_SEQ"					/>
		<result property="prevPrcssSeq"				column="PREV_PRCSS_SEQ"				/>
		<result property="prevMiddlePrcssCd"		column="PREV_MIDDLE_PRCSS_CD"		/>
		<result property="prevLowerPrcssCd"			column="PREV_LOWER_PRCSS_CD"		/>
		<result property="nextPrcssSeq"				column="NEXT_PRCSS_SEQ"				/>
		<result property="nextMiddlePrcssCd"		column="NEXT_MIDDLE_PRCSS_CD"		/>
		<result property="nextLowerPrcssCd"			column="NEXT_LOWER_PRCSS_CD"		/>
		
		<result property="bomCd"					column="BOM_CD"				/>
		<result property="m00001"					column="M00001"				/>
		<result property="m00002"					column="M00002"				/>
		<result property="m00003"					column="M00003"				/>
		<result property="m00004"					column="M00004"				/>
		<result property="m00005"					column="M00005"				/>
		<result property="m00006"					column="M00006"				/>
		<result property="m00007"					column="M00007"				/>
		<result property="m00008"					column="M00008"				/>
		<result property="m00009"					column="M00009"				/>
		<result property="m00010"					column="M00010"				/>
		<result property="m00011"					column="M00011"				/>
		<result property="m00012"					column="M00012"				/>
		<result property="m00013"					column="M00013"				/>
	</resultMap>
	
	
	<!-- 재작업지시서 목록조회 -->
	<select id="listAll" resultMap="WorkOrderVo">
		SELECT A.WORK_ORD_NO PRE_WORK_ORD_NO,
		       ''            MINOR_PRCSS_CD,
		       C.WORK_ORD_NO,
		       A.ITEM_CD,
		       A.ITEM_REV,
		       B.ITEM_NM,
		       A.REWORK_QTY + A.REPAIR_QTY REWORK_QTY,
		       A.REWORK_DATE,
		       '002'         REWORK_TYPE,
		       A.FAULTY_DATE,
		       C.ORD_DATE
		FROM   TB_ITEM_COMPLETE_FAULTY_JDG_ADM A
		       LEFT OUTER JOIN TB_ITEM_MOTOR_ADM B
		       ON A.ITEM_CD = B.ITEM_CD
		       AND A.ITEM_REV = B.ITEM_REV
		       LEFT OUTER JOIN TB_WORK_ORDER C
		       ON C.PRE_WORK_ORD_NO = A.WORK_ORD_NO
		WHERE  1=1
			AND A.APPROVAL_YN = '001'
			AND ( A.REWORK_QTY > 0 OR A.REPAIR_DATE>0)
		    AND A.FAULTY_DATE BETWEEN #{startDate} AND #{endDate}
		UNION
		SELECT A.WORK_ORD_NO PRE_WORK_ORD_NO,
		       A.MINOR_PRCSS_CD,
		       C.WORK_ORD_NO,
		       A.ITEM_CD,
		       A.ITEM_REV,
		       B.ITEM_NM,
		       A.REWORK_QTY,
		       A.REWORK_DATE,
		       '001'         REWORK_TYPE,
		       A.REWORK_DATE,
		       C.ORD_DATE
		FROM   TB_ITEM_JAJU_FAULTY_JDG_ADM A
		       LEFT OUTER JOIN TB_ITEM_MOTOR_ADM B
		       ON A.ITEM_CD = B.ITEM_CD
		       AND A.ITEM_REV = B.ITEM_REV
		       LEFT OUTER JOIN TB_WORK_ORDER C
		       ON C.PRE_WORK_ORD_NO = A.WORK_ORD_NO
		       AND C.UPPER_WORK_ORD_NO = A.MINOR_PRCSS_CD
		WHERE  1=1
		AND A.REWORK_QTY > 0
		AND A.REWORK_DATE BETWEEN #{startDate} AND #{endDate}
	</select>	
	
	<!-- 재작업지시서 조회 -->
	<select id="reworkOrdRead" resultMap="WorkOrderVo">
	   SELECT	A.WORK_ORD_NO
				,A.UPPER_WORK_ORD_NO
				,A.PRE_WORK_ORD_NO
				,A.CONT_DTL_NO 
				,A.ORD_LOT_NO
				,A.DTL_ORD_CNT
				,A.WORK_ORD_DATE
				,A.WORK_EMER_YN
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.WORK_EMER_YN AND BASE_GROUP_CD='060') WORK_EMER_YN_NM						
				,A.ITEM_CD
				,A.ITEM_REV
				,A.ITEM_GUBUN
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.ITEM_GUBUN AND BASE_GROUP_CD='045') ITEM_GUBUN_NM
				,A.ORD_DATE 
				,A.WORK_STATUS_CD
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE A.WORK_STATUS_CD = X.BASE_CD AND BASE_GROUP_CD='063') WORK_STATUS_NM
				,A.DTL_ORD_QTY
				,A.WORK_ORD_QTY 
				,A.OUTPUT_QTY 
				,A.FAULTY_QTY 
				,A.OUTPUT_DATE 
				,A.DLV_DATE 
				,A.LAST_YN 
				,(SELECT MAX(ETC_DATE) FROM TB_BIZ_ORDER_ETC X WHERE X.CONT_DTL_NO = A.CONT_DTL_NO) ETC_DATE		
				,(SELECT ITEM_NM FROM TB_ITEM_MOTOR_ADM X WHERE X.ITEM_CD = B.ITEM_CD  AND X.ITEM_REV = B.ITEM_REV) ITEM_NM
				,A.ORD_DESC
		FROM	TB_WORK_ORDER A, TB_BIZ_ORDER_DTL B
		WHERE	A.WORK_ORD_NO = #{workOrdNo}
				AND A.CONT_DTL_NO = B.CONT_DTL_NO
	</select>

	<!-- 재작업지시서 모달 목록조회 -->
	<select id="reworkOrdList" resultMap="WorkOrderPrcssVo">
		SELECT
			A.WORK_ORD_NO,
			A.WORK_ORD_SEQ,
			A.MINOR_PRCSS_CD,
			(SELECT B.PRCSS_NM FROM TB_PRCSS_CODE_ADM B WHERE B.PRCSS_CD = A.MINOR_PRCSS_CD AND B.LOWER_PRCSS_CD = A.MINOR_PRCSS_CD) MINOR_PRCSS_NM,
			A.MIDDLE_PRCSS_CD,
			(SELECT B.PRCSS_NM FROM TB_PRCSS_CODE_ADM B WHERE B.PRCSS_CD = A.MIDDLE_PRCSS_CD AND B.LOWER_PRCSS_CD = A.MIDDLE_PRCSS_CD) MIDDLE_PRCSS_NM,
			A.ORD_LOT_NO,
			A.EQUIP_CD,
			A.ITEM_CD,
			(SELECT B.ITEM_NM FROM TB_ITEM_MOTOR_ADM B WHERE B.ITEM_CD = A.ITEM_CD AND B.ITEM_REV = A.ITEM_REV) ITEM_NM,
			(SELECT B.ITEM_GUBUN FROM TB_ITEM_MOTOR_ADM B WHERE B.ITEM_CD = A.ITEM_CD  AND B.ITEM_REV = A.ITEM_REV) ITEM_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='045' AND B.BASE_CD=(SELECT C.ITEM_GUBUN FROM TB_ITEM_MOTOR_ADM C WHERE C.ITEM_CD = A.ITEM_CD)) ITEM_GUBUN_NM,
			A.ITEM_REV,
			A.WORK_START_TIME,
			A.WORK_END_TIME,
			A.ORD_DATE,
			A.WORK_STATUS,
			A.WORK_CHARGR,
			(SELECT B.USER_NM FROM TB_USER B WHERE B.USER_NUMBER = A.WORK_CHARGR) WORK_CHARGR_NM,
			A.TARGET_QTY,
			A.OUTPUT_QTY,
			A.FAIR_QTY,
			A.FAULTY_QTY,
			A.ETC_QTY,
			A.OUT_QTY,
			A.REMAIN_QTY,
			A.PACK_YN,
			X.ORD_DESC
		FROM TB_WORK_ORDER_PRCSS A,  TB_WORK_ORDER X
		WHERE 1=1
			AND A.WORK_ORD_NO = X.WORK_ORD_NO
			AND X.LAST_YN is null OR X.LAST_YN != 'Y'
			
	</select>	

	
	<update id="lastYnUpdate">
		UPDATE	TB_WORK_ORDER 
		SET 	LAST_YN = #{lastYn}
		WHERE	WORK_ORD_NO = #{workOrdNo}	
	</update>
	
	<update id="reworkOrdUpdate">
		UPDATE	TB_WORK_ORDER
		SET	WORK_ORD_DATE = #{workOrdDate}
		DTL_ORD_CNT = #{dtlOrdCnt}
		ITEM_CD = #{itemCd}
		ITEM_REV = #{itemRev}
		ITEM_GUBUN = #{itemGubun}
		ORD_DESC = #{ordDesc}	
		UPD_ID = #{updId}
		UPD_DATE = GETDATE()
		WHERE	WORK_ORD_NO = #{workOrdNo}

	</update>
	
	

</mapper>
