<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.po.workOrderFaultyTypeMapper">

	<!-- 작업지시 공정별 불량유형 -->
	<resultMap id="WorkOrderFaultyTypeVo" type="mes.domain.po.WorkOrderFaultyTypeVo">
	
		<result property="menuAuth"					column="MENU_AUTH"				/>
		<result property="workOrdNo"				column="WORK_ORD_NO"			/>
		<result property="workGubun"				column="WORK_GUBUN"				/>
		<result property="workOrdSeq"				column="WORK_ORD_SEQ"			/>
		<result property="minorPrcssCd"				column="MINOR_PRCSS_CD"			/>
		<result property="middlePrcssCd"			column="MIDDLE_PRCSS_CD"		/>
		<result property="minorPrcssNm"				column="MINOR_PRCSS_NM"			/>
		<result property="middlePrcssNm"			column="MIDDLE_PRCSS_NM"		/>
		<result property="regId"					column="REG_ID"					/>
		<result property="regDate"					column="REG_DATE"				/>
		<result property="updId"					column="UPD_ID"					/>
		<result property="updDate"					column="UPD_DATE"				/>
		<result property="faultyTypeSeq"			column="FAULTY_TYPE_SEQ"		/>
		<result property="faultyTypeCd"				column="FAULTY_TYPE_CD"			/>
		<result property="faultyCavity"				column="FAULTY_CAVITY"			/>
		<result property="faultyTypeNm"				column="FAULTY_TYPE_NM"			/>
		<result property="faultyTypeQty"			column="FAULTY_TYPE_QTY"		/>
		<result property="faultyTypeDate"			column="FAULTY_TYPE_DATE"		/>
		<result property="faultyTypeDesc"			column="FAULTY_TYPE_DESC"		/>
		<result property="approvalYn"				column="APPROVAL_YN"			/>
		<result property="workStatus"				column="WORK_STATUS"			/>
		<result property="ordLotNo"					column="ORD_LOT_NO"				/>
		
		<result property="baseInfoNm"				column="BASE_INFO_NM"			/>
		<result property="baseInfoSeq"				column="BASE_INFO_SEQ"			/>
		<result property="baseInfoType"				column="BASE_INFO_TYPE"			/>
		<result property="baseInfoGubunNm"			column="BASE_INFO_GUBUN_NM"		/>
		<result property="baseInfoGubun"			column="BASE_INFO_GUBUN"		/>
		<result property="baseInfoCd"				column="BASE_INFO_CD"			/>
		<result property="baseInfoNm"				column="BASE_INFO_NM"			/>
		
	</resultMap>
	
	<!-- 작업지시 공정별 불량유형 목록조회 -->
	<select id="listAll" resultMap="WorkOrderFaultyTypeVo">
		SELECT
			A.WORK_ORD_NO
			, A.WORK_ORD_SEQ
			, A.MINOR_PRCSS_CD
			, A.MIDDLE_PRCSS_CD
			, A.FAULTY_TYPE_SEQ
			, A.FAULTY_TYPE_CD
			, (SELECT BASE_INFO_NM FROM TB_BASE_INFO_ADM WHERE BASE_INFO_TYPE='FT' AND BASE_INFO_CD=A.FAULTY_TYPE_CD) FAULTY_TYPE_NM
			, A.FAULTY_CAVITY
			, A.FAULTY_TYPE_QTY
			, A.FAULTY_TYPE_DATE
			, A.FAULTY_TYPE_DESC
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.APPROVAL_YN AND X.BASE_GROUP_CD='062') APPROVAL_YN
			, B.WORK_STATUS
			, B.ORD_LOT_NO
		FROM TB_WORK_ORDER_FAULTY_TYPE A
		LEFT OUTER JOIN TB_WORK_ORDER_PRCSS B
		ON A.WORK_ORD_NO=B.WORK_ORD_NO
		AND A.WORK_ORD_SEQ=B.WORK_ORD_SEQ
		<if test="minorPrcssCd!=null and !minorPrcssCd.equals('')">
		AND A.MIDDLE_PRCSS_CD=B.MIDDLE_PRCSS_CD
		AND A.MINOR_PRCSS_CD=B.MINOR_PRCSS_CD
		</if>
		WHERE 1=1
		AND A.WORK_ORD_NO = #{workOrdNo}
		<if test="workOrdSeq!=null and !workOrdSeq.equals('')">
		AND A.WORK_ORD_SEQ = #{workOrdSeq}
		</if>
		<if test="minorPrcssCd!=null and !minorPrcssCd.equals('')">
		AND A.MINOR_PRCSS_CD = #{minorPrcssCd}
		</if>
		<if test="middlePrcssCd!=null and !middlePrcssCd.equals('')">
		AND A.MIDDLE_PRCSS_CD = #{middlePrcssCd}
		</if>
		<if test="faultyTypeSeq!=null and !faultyTypeSeq.equals('')">
		AND A.FAULTY_TYPE_SEQ = #{faultyTypeSeq}
		</if>
		<if test="faultyTypeCd!=null and !faultyTypeCd.equals('')">
		AND A.FAULTY_TYPE_CD = #{faultyTypeCd}
		</if>
		<if test="faultyCavity!=null and !faultyCavity.equals('')">
		AND A.FAULTY_CAVITY = #{faultyCavity}
		</if>
		<if test="faultyTypeDate != null and !faultyTypeDate.equals('')">
		AND A.FAULTY_TYPE_DATE = #{faultyTypeDate}
		</if>
		<if test="faultyTypeQtyNat != null and faultyTypeQtyNat.equals('Y')">
		AND A.FAULTY_TYPE_QTY > 0
		</if>
		<if test="ordLotNo != null and !ordLotNo.equals('')">
		AND B.ORD_LOT_NO = #{ordLotNo}
		</if>
	</select>
	
	<!-- 작업지시 공정별 불량유형 생성(list) -->
	<insert id="createList">
		INSERT INTO TB_WORK_ORDER_FAULTY_TYPE(
			WORK_ORD_NO,
			WORK_ORD_SEQ,
			MINOR_PRCSS_CD,
			MIDDLE_PRCSS_CD,
			FAULTY_TYPE_SEQ,
			FAULTY_TYPE_CD,
			FAULTY_CAVITY,
			FAULTY_TYPE_QTY,
			FAULTY_TYPE_DATE,
			FAULTY_TYPE_DESC,
			REG_ID,
			REG_DATE
		) 
		VALUES
		(
	        #{workOrdNo},
			#{workOrdSeq},
			#{minorPrcssCd},
			#{middlePrcssCd},
			#{faultyTypeSeq},
			#{faultyTypeCd},
			#{faultyCavity},
			#{faultyTypeQty},
			#{faultyTypeDate},
			#{faultyTypeDesc},
			#{regId},
			GETDATE()
		)
	</insert>
	
	<!-- 작업지시 공정별 불량유형 수정 -->
	<update id="update">
		UPDATE	TB_WORK_ORDER_FAULTY_TYPE 
		SET	
			FAULTY_TYPE_QTY = #{faultyTypeQty},
			FAULTY_TYPE_DATE = #{faultyTypeDate},
			FAULTY_TYPE_DESC = #{faultyTypeDesc},
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		WHERE 1=1
		AND WORK_ORD_NO = #{workOrdNo}
		AND	WORK_ORD_SEQ = #{workOrdSeq}
		AND	MINOR_PRCSS_CD = #{minorPrcssCd}
		AND	MIDDLE_PRCSS_CD = #{middlePrcssCd}
		AND	FAULTY_TYPE_SEQ = #{faultyTypeSeq}
		AND	FAULTY_TYPE_CD = #{faultyTypeCd}
		AND	FAULTY_CAVITY = #{faultyCavity}
	</update>
	
	<!-- 작업지시 공정별 불량유형 수정 (불량수량 += 값) -->
	<update id="workOrderFaultyTypeQtyUpdate">
		UPDATE	TB_WORK_ORDER_FAULTY_TYPE
		SET	
			FAULTY_TYPE_QTY = FAULTY_TYPE_QTY + #{faultyTypeQty},
			FAULTY_TYPE_DATE = #{faultyTypeDate},
			FAULTY_TYPE_DESC = #{faultyTypeDesc},
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		WHERE 1=1
		AND WORK_ORD_NO = #{workOrdNo}
		AND	WORK_ORD_SEQ = #{workOrdSeq}
		AND	MINOR_PRCSS_CD = #{minorPrcssCd}
		AND	MIDDLE_PRCSS_CD = #{middlePrcssCd}
		AND	FAULTY_TYPE_SEQ = #{faultyTypeSeq}
		AND	FAULTY_TYPE_CD = #{faultyTypeCd}
		AND	FAULTY_CAVITY = #{faultyCavity}
	</update>
	
	<!-- 작업지시 공정별 불량유형 초기화 -->
	<delete id="deleteAll" parameterType="mes.domain.po.WorkOrderMatrlVo">
		DELETE FROM TB_WORK_ORDER_FAULTY_TYPE
		WHERE 1=1
		AND WORK_ORD_NO = #{workOrdNo}
		AND WORK_ORD_SEQ = #{workOrdSeq}
		AND MIDDLE_PRCSS_CD = #{middlePrcssCd}
		<if test="minorPrcssCd!=null and !minorPrcssCd.equals('')">
		AND MINOR_PRCSS_CD = #{minorPrcssCd}
		</if>
		
		<if test="faultyTypeSeq!=null and !faultyTypeSeq.equals('')">
		AND FAULTY_TYPE_SEQ = #{faultyTypeSeq}
		AND FAULTY_TYPE_CD = #{faultyTypeCd}
		</if>
	</delete>
	
	<!-- 작업지시 공정별 불량유형 승인등록-->
	<update id="approvalUpdate" parameterType="mes.domain.po.WorkOrderMatrlVo">
		UPDATE TB_WORK_ORDER_FAULTY_TYPE 
		SET APPROVAL_YN = #{approvalYn},
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		WHERE 1=1
		AND WORK_ORD_NO = #{workOrdNo}
		AND WORK_ORD_SEQ = #{workOrdSeq}
		AND MINOR_PRCSS_CD = #{minorPrcssCd}
		AND MIDDLE_PRCSS_CD = #{middlePrcssCd}
		AND FAULTY_TYPE_SEQ = #{faultyTypeSeq}
		AND FAULTY_TYPE_CD = #{faultyTypeCd}
	</update>
	
	<!-- 불량코드별 불량수량 합계 -->
	<select id="getFaultyTypeSumQty" resultType="int">
		SELECT ISNULL(SUM(FAULTY_TYPE_QTY),0)
		FROM TB_WORK_ORDER_FAULTY_TYPE WOFT
		LEFT OUTER JOIN TB_WORK_ORDER_PRCSS WOP
		ON WOFT.WORK_ORD_NO=WOP.WORK_ORD_NO
		AND WOFT.WORK_ORD_SEQ=WOP.WORK_ORD_SEQ
		WHERE 1=1
		AND WOFT.WORK_ORD_NO=#{workOrdNo}
		AND FAULTY_TYPE_CD=#{faultyTypeCd}
		AND WOP.WORK_GUBUN=#{workGubun}
	</select>
	
	<!-- 불량등록 조회 -->
	<select id="workOrderFaultyList" resultMap="WorkOrderFaultyTypeVo">
		SELECT
			BIA_TB.BASE_INFO_CD
			, BIA_TB.BASE_INFO_NM
			, WOF_TB.FAULTY_TYPE_DATE
			, WOF_TB.FAULTY_TYPE_QTY
		FROM TB_BASE_INFO_ADM BIA_TB
		LEFT OUTER JOIN TB_WORK_ORDER_FAULTY_TYPE WOF_TB
		ON BIA_TB.BASE_INFO_CD = WOF_TB.FAULTY_TYPE_CD
		AND WOF_TB.WORK_ORD_NO = #{workOrdNo}
		AND WOF_TB.MINOR_PRCSS_CD = #{minorPrcssCd}
		AND WOF_TB.WORK_ORD_SEQ = #{workOrdSeq}
		WHERE 1=1
		AND BIA_TB.ETC3 = ''
		AND BIA_TB.BASE_INFO_TYPE = 'FT'
		AND BIA_TB.BASE_INFO_GUBUN = '003'
		AND BIA_TB.ETC1 = '002'
	</select>
	
</mapper>
