<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.po.workOrderJajuInspectMapper">

	<!-- 자주검사 -->
	<resultMap id="WorkOrderJajuInspectVo" type="mes.domain.po.WorkOrderJajuInspectVo">
	
		<result property="workOrdNo"     		column="WORK_ORD_NO"		/>
		<result property="workOrdSeq"     		column="WORK_ORD_SEQ"		/>
		<result property="minorPrcssCd"    		column="MINOR_PRCSS_CD"		/>
		<result property="middlePrcssCd"    	column="MIDDLE_PRCSS_CD"	/>
		<result property="jajuSeq"	     		column="JAJU_SEQ"			/>
		<result property="jajuDesc"	     		column="JAJU_DESC"			/>
		<result property="jajuRegDate"	     	column="JAJU_REG_DATE"		/>
		<result property="itemNm" 	    		column="ITEM_NM"			/>
		<result property="itemCont"     		column="ITEM_CONT"			/>
		<result property="regId"	     		column="REG_ID"				/>
		<result property="regDate"     			column="REG_DATE"			/>
		<result property="updId"    	 		column="UPD_ID"				/>
		<result property="updDate"	     		column="UPD_DATE"			/>

	</resultMap>
	
	
	<!-- 자주검사 목록조회 -->
	<select id="workOrderJajuInspectRead" resultMap="WorkOrderJajuInspectVo">
		SELECT
			WORK_ORD_NO
			, WORK_ORD_SEQ
			, JAJU_SEQ
			, ITEM_NM
			, ITEM_CONT
			, JAJU_REG_DATE
			, JAJU_DESC
		FROM TB_WORK_ORDER_JAJU_INSPECT
		WHERE 
			WORK_ORD_NO = #{workOrdNo}
			AND WORK_ORD_SEQ = #{workOrdSeq}
			AND MINOR_PRCSS_CD = #{minorPrcssCd}
			AND MIDDLE_PRCSS_CD = #{middlePrcssCd}
	</select>	
	
	<!-- 자주검사 등록 -->
	<insert id="workOrderJajuInspectCreate">
		INSERT INTO TB_WORK_ORDER_JAJU_INSPECT(
			WORK_ORD_NO
			, WORK_ORD_SEQ
			, MINOR_PRCSS_CD
			, MIDDLE_PRCSS_CD
			, JAJU_SEQ
			, JAJU_REG_DATE
			, ITEM_NM
			, ITEM_CONT
			, JAJU_DESC
			, REG_ID
			, REG_DATE		
		) 
		VALUES(
			#{workOrdNo}
			, #{workOrdSeq}
			, #{minorPrcssCd}
			, #{middlePrcssCd}
			, #{jajuSeq}
			, #{jajuRegDate}
			, #{itemNm}
			, #{itemCont}
			, #{jajuDesc}
			, #{regId}
			, GETDATE()
		)
	</insert>
	
	<!-- 자주검사 삭제  -->
	<delete id="workOrderJajuInspectDelete">
		DELETE FROM	TB_WORK_ORDER_JAJU_INSPECT 
		WHERE	
			WORK_ORD_NO = #{workOrdNo}
			AND WORK_ORD_SEQ = #{workOrdSeq}
			AND MINOR_PRCSS_CD = #{minorPrcssCd}
			AND MIDDLE_PRCSS_CD = #{middlePrcssCd}
		
	</delete>			
		
	<!-- 자주검사 데이터가 존재하는지  확인 -->
	<select id="existWorkOrderJajuInspect" resultType="int">
		<![CDATA[
			SELECT
				COUNT(*)
			FROM TB_WORK_ORDER_JAJU_INSPECT A
			WHERE
				WORK_ORD_NO = #{workOrdNo}
				AND WORK_ORD_SEQ = #{workOrdSeq}
				AND MINOR_PRCSS_CD = #{minorPrcssCd}
				AND MIDDLE_PRCSS_CD = #{middlePrcssCd}
		]]>
	</select>
	
	<!-- 기준정보의 자주검사 관리항목 조회 -->
	<select id="jajuInspectRead" resultMap="WorkOrderJajuInspectVo">
		<![CDATA[
			SELECT
				ITEM_NM1 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE PRCSS_CD = #{minorPrcssCd} AND ITEM_NM1 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM2 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE PRCSS_CD = #{minorPrcssCd} AND ITEM_NM2 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM3 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE PRCSS_CD = #{minorPrcssCd} AND ITEM_NM3 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM4 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE PRCSS_CD = #{minorPrcssCd} AND ITEM_NM4 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM5 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE PRCSS_CD = #{minorPrcssCd} AND ITEM_NM5 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM6 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE PRCSS_CD = #{minorPrcssCd} AND ITEM_NM6 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM7 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE PRCSS_CD = #{minorPrcssCd} AND ITEM_NM7 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM8 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE PRCSS_CD = #{minorPrcssCd} AND ITEM_NM8 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM9 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE PRCSS_CD = #{minorPrcssCd} AND ITEM_NM9 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM10 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE PRCSS_CD = #{minorPrcssCd} AND ITEM_NM10 IS NOT NULL
		]]>
	</select>

</mapper>
