<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.wm.dailyWorkPlanAdmMapper">
	
	<resultMap id="DailyWorkPlanAdmVo" type="mes.domain.wm.DailyWorkPlanAdmVo">
		<result property="workOrdNo"		column="BARCODE_NO"				/>
		<result property="bomCd"			column="BOM_CD"					/>
		<result property="middlePrcssCd"	column="MIDDLE_PRCSS_CD"		/>
		<result property="middlePrcssNm"	column="MIDDLE_PRCSS_NM"		/>
		<result property="minorPrcssCd"		column="MINOR_PRCSS_CD"			/>
		<result property="minorPrcssNm"		column="MINOR_PRCSS_NM"			/>
		<result property="dailyWorkChargr"	column="DAILY_WORK_CHARGR"		/>
		<result property="dailyWorkChargrNm"	column="DAILY_WORK_CHARGR_NM"		/>
		<result property="dailyWorkDate"	column="DAILY_WORK_DATE"		/>
		<result property="dailyWorkDesc"	column="DAILY_WORK_DESC"		/>

		<result property="regId"			column="REG_ID"					/>
		<result property="regDate"			column="REG_DATE"				/>
		<result property="updId"			column="UPD_ID"					/>
		<result property="updDate"			column="UPD_DATE"				/>
		
	</resultMap>

	<!--일일작업계획 상세조회  -->
	<select id="dailyWorkPlanAdmRead" resultMap="DailyWorkPlanAdmVo">
		SELECT  A.BOM_CD
			, B.PRCSS_CD MIDDLE_PRCSS_CD
			, (SELECT PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD=B.PRCSS_CD AND X.LOWER_PRCSS_CD=B.PRCSS_CD) MIDDLE_PRCSS_NM
			, C.LOWER_PRCSS_CD MINOR_PRCSS_CD
			, (SELECT PRCSS_NM FROM TB_PRCSS_CODE_ADM X  WHERE X.PRCSS_CD=C.LOWER_PRCSS_CD) MINOR_PRCSS_NM
			, D.DAILY_WORK_CHARGR
			, (SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=D.DAILY_WORK_CHARGR) DAILY_WORK_CHARGR_NM
			, D.DAILY_WORK_DATE
			, D.DAILY_WORK_DESC
		FROM TB_PRCSS_BOM_ADM A 
		LEFT OUTER JOIN TB_PRCSS_BOM_DTL B
		ON A.BOM_CD=B.BOM_CD
		LEFT OUTER JOIN TB_PRCSS_CODE_ADM C
		ON B.PRCSS_CD = C.PRCSS_CD
		AND C.LOWER_PRCSS_CD LIKE 'P%'
		LEFT OUTER JOIN TB_DAILY_WORK_PLAN_ADM D
		ON D.WORK_ORD_NO = #{workOrdNo}
		AND D.MIDDLE_PRCSS_CD=B.PRCSS_CD
		AND D.MINOR_PRCSS_CD=C.LOWER_PRCSS_CD
		WHERE A.BOM_CD = #{bomCd}
		ORDER BY MIDDLE_PRCSS_CD ASC , MINOR_PRCSS_CD ASC
	</select>
	
	
	<!--일일작업계획 등록  -->
	<insert id="dailyWorkPlanAdmCreate">
		INSERT INTO TB_DAILY_WORK_PLAN_ADM  (
			WORK_ORD_NO,
             MIDDLE_PRCSS_CD,
             MINOR_PRCSS_CD,
             DAILY_WORK_CHARGR,
             DAILY_WORK_DATE,
             DAILY_WORK_DESC,
             REG_ID,
             REG_DATE
        )
		VALUES     (
			#{workOrdNo},
            #{middlePrcssCd},
            #{minorPrcssCd},
            #{dailyWorkChargr},
            #{dailyWorkDate},
            #{dailyWorkDesc},
            #{regId},
            GETDATE()
        ) 
	</insert>
	
		
	<!--일일작업계획 삭제  -->
	<delete id="dailyWorkPlanAdmDelete">
		DELETE FROM TB_DAILY_WORK_PLAN_ADM WHERE WORK_ORD_NO = #{workOrdNo}
	</delete>

</mapper>