<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.wm.itemWhsAdmMapper">
	
	<resultMap id="ItemWhsAdmVo" type="mes.domain.wm.ItemWhsAdmVo">
		<result property="barcodeNo"	column="BARCODE_NO"			/>
		<result property="workOrdNo"	column="WORK_ORD_NO"		/>
		<result property="itemSeq"		column="ITEM_SEQ"			/>
		<result property="itemCd"		column="ITEM_CD"			/>
		<result property="itemRev"		column="ITEM_REV"			/>
		<result property="itemNm"		column="ITEM_NM"			/>
		<result property="mainGubun"	column="MAIN_GUBUN"			/>
		<result property="mainGubunNm"	column="MAIN_GUBUN_NM"		/>
		<result property="itemGubun"	column="ITEM_GUBUN"			/>
		<result property="itemGubunNm"	column="ITEM_GUBUN_NM"		/>
		<result property="itemModel"	column="ITEM_MODEL"			/>
		<result property="itemModelNm"	column="ITEM_MODEL_NM"		/>
		<result property="itemUnit"		column="ITEM_UNIT"			/>
		<result property="itemUnitNm"	column="ITEM_UNIT_NM"		/>
		<result property="inDate"		column="IN_DATE"			/>
		<result property="inQty"		column="IN_QTY"				/>
		<result property="outDate"		column="OUT_DATE"			/>
		<result property="outQty"		column="OUT_QTY"			/>
		
		<result property="exportCost"	column="EXPORT_COST"		/>
		<result property="supplyPrice"	column="SUPPLY_PRICE"		/>
		<result property="vat"			column="VAT"				/>
		<result property="total"		column="TOTAL"				/>
		
		
		<result property="itemCus"		column="ITEM_CUS"			/>
		<result property="itemCusNm"	column="ITEM_CUS_NM"		/>
		<result property="lhrhCd"		column="LHRH_CD"			/>
		<result property="lhrhNm"		column="LHRH_NM"			/>
		<result property="itemColor"	column="ITEM_COLOR"			/>
		
		<result property="remainQty"	column="REMAIN_QTY"			/>
		<result property="inChargr"		column="IN_CHARGR"			/>
		<result property="inChargrNm"	column="IN_CHARGR_NM"		/>
		<result property="inLoc"		column="IN_LOC"				/>
		<result property="inLocNm"		column="IN_LOC_NM"			/>	
		<result property="inArea"		column="IN_AREA"			/>
		<result property="inAreaNm"		column="IN_AREA_NM"			/>	
		<result property="inFloor"		column="IN_FLOOR"			/>
		<result property="inFloorNm"	column="IN_FLOOR_NM"		/>	
		<result property="locationNo"	column="LOCATION_NO"		/>	
		<result property="serialNo"		column="SERIAL_NO"			/>	
		<result property="itemCapa"		column="ITEM_CAPA"			/>	
		<result property="pairQty"		column="PAIR_QTY"			/>	
		<result property="diffQty"		column="DIFF_QTY"			/>	
		<result property="inspectDate"	column="INSPECT_DATE"		/>	
		<result property="completeStatusCd"			column="COMPLETE_STATUS_CD"		/>
		<result property="completeStatusNm"			column="COMPLETE_STATUS_NM"		/>
		
		<result property="judgment"		column="JUDGMENT"			/>
		<result property="judgmentNm"	column="JUDGMENT_NM"		/>
		<result property="doNo"			column="DO_NO"				/>
		
		
		<result property="regId"		column="REG_ID"				/>
		<result property="regDate"		column="REG_DATE"			/>
		<result property="updId"		column="UPD_ID"				/>
		<result property="updDate"		column="UPD_DATE"			/>
		
		<result property="startDate"		column="START_DATE"			/>
		<result property="endDate"			column="END_DATE"			/>
		<result property="itemFifoGubun"	column="ITEM_FIFO_GUBUN"	/>
	</resultMap>

	<!-- 제품입출고관리 목록조회 -->
	<select id="itemWhsAdmMainList" resultMap="ItemWhsAdmVo">
		SELECT
			IWA_TB.BARCODE_NO
			, IWA_TB.WORK_ORD_NO
			, IWA_TB.ITEM_SEQ
			, IIA_TB.ITEM_GUBUN
			, IWA_TB.IN_DATE
			, IWA_TB.OUT_DATE
			, IWA_TB.IN_QTY
			, IWA_TB.OUT_QTY
			, IWA_TB.REMAIN_QTY
			, IWA_TB.EXPORT_COST
			, IWA_TB.SUPPLY_PRICE
			, IWA_TB.VAT
			, IWA_TB.TOTAL
			, IWA_TB.IN_CHARGR
			, IWA_TB.IN_LOC
			, IWA_TB.IN_AREA
			, IWA_TB.IN_FLOOR
			, IWA_TB.LOCATION_NO
			, IWA_TB.REG_ID
			, IWA_TB.REG_DATE
			, IWA_TB.UPD_ID
			, IWA_TB.UPD_DATE
			, IIA_TB.ITEM_FIFO_GUBUN
			, IIA_TB.ITEM_CUS
			, IIA_TB.ITEM_CD
		FROM TB_ITEM_WHS_ADM IWA_TB
		INNER JOIN TB_ITEM_INFO_ADM IIA_TB
		ON IWA_TB.ITEM_SEQ = IIA_TB.ITEM_SEQ
		WHERE 1=1
		<if test="barcodeNo != null and !barcodeNo.equals('')">
		AND IWA_TB.BARCODE_NO = #{barcodeNo}
		</if>
		<if test="itemGubun != null and !itemGubun.equals('')">
		AND IIA_TB.ITEM_GUBUN = #{itemGubun}
		</if>
	</select>
	
	<!-- 제품입고 목록조회 -->
	<select id="itemWhsAdmList" resultMap="ItemWhsAdmVo">
		SELECT A.WORK_ORD_NO,
			A.ITEM_SEQ,
			C.ITEM_MODEL,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=C.ITEM_MODEL AND X.BASE_GROUP_CD='099') ITEM_MODEL_NM,
			C.ITEM_CD,
			C.ITEM_NM,
			C.MAIN_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=C.MAIN_GUBUN AND X.BASE_GROUP_CD='112') MAIN_GUBUN_NM,
			C.ITEM_UNIT,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=C.ITEM_UNIT AND X.BASE_GROUP_CD='036') ITEM_UNIT_NM,
			ISNULL(A.PAIR_QTY,0)+ISNULL(E.PAIR_CNT,0) PAIR_QTY,
			A.FAULTY_QTY,
			((ISNULL(A.PAIR_QTY,0)+ISNULL(E.PAIR_CNT,0))-ISNULL(D.IN_QTY,0)) DIFF_QTY,
			D.IN_QTY,
			D.OUT_QTY,
			D.REMAIN_QTY,
			D.IN_DATE,
			D.IN_CHARGR,
			A.JUDGMENT,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.JUDGMENT AND X.BASE_GROUP_CD='072') JUDGMENT_NM,
			A.COMPLETE_STATUS_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.COMPLETE_STATUS_CD AND X.BASE_GROUP_CD='062') COMPLETE_STATUS_NM,
			(SELECT X.USER_NM FROM TB_USER X WHERE USER_NUMBER=D.IN_CHARGR) IN_CHARGR_NM,
			D.IN_LOC,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IN_LOC AND X.BASE_GROUP_CD='073') IN_LOC_NM,
			D.IN_AREA,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IN_AREA AND X.BASE_GROUP_CD='067') IN_AREA_NM,
			D.IN_FLOOR,
			A.INSPECT_DATE
		FROM TB_ITEM_COMPLETE_ADM A
		LEFT OUTER JOIN TB_ITEM_COMPLETE_FAULTY_JDG_ADM E
		ON A.WORK_ORD_NO = E.WORK_ORD_NO
		AND A.ITEM_SEQ = E.ITEM_SEQ
		AND E.APPROVAL_YN = '001'
		LEFT OUTER JOIN TB_ITEM_WHS_ADM D
		ON A.WORK_ORD_NO= D.WORK_ORD_NO
		INNER JOIN TB_ITEM_INFO_ADM C
		ON A.ITEM_SEQ = C.ITEM_SEQ
		WHERE 1=1
		AND A.COMPLETE_STATUS_CD='001'
		AND A.INSPECT_DATE BETWEEN #{startDate} AND #{endDate}
		<if test="mainGubun != null and !mainGubun.equals('')">
		AND C.MAIN_GUBUN = #{mainGubun}
		</if>
	</select>
	
	<!-- 제품입고 상세 조회 -->
	<select id="itemWhsAdmRead" resultMap="ItemWhsAdmVo">
		SELECT A.WORK_ORD_NO,
			A.ITEM_SEQ,
			C.ITEM_NM,
			C.ITEM_MODEL,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=C.ITEM_MODEL AND X.BASE_GROUP_CD='099') ITEM_MODEL_NM,
			C.ITEM_CD,
			C.ITEM_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=C.ITEM_GUBUN AND X.BASE_GROUP_CD='112') ITEM_GUBUN_NM,
			C.ITEM_UNIT,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=C.ITEM_GUBUN AND X.BASE_GROUP_CD='036') ITEM_UNIT_NM,
			ISNULL(A.PAIR_QTY,0)+ISNULL(E.PAIR_CNT,0) PAIR_QTY,
			A.FAULTY_QTY,
			D.IN_QTY,
			D.IN_DATE,
			D.OUT_QTY,
			((ISNULL(A.PAIR_QTY,0)+ISNULL(E.PAIR_CNT,0))-ISNULL(D.IN_QTY,0)) DIFF_QTY,
			D.REMAIN_QTY,
			D.IN_CHARGR,
			(SELECT X.USER_NM FROM TB_USER X WHERE USER_NUMBER=D.IN_CHARGR) IN_CHARGR_NM,
			A.COMPLETE_STATUS_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.COMPLETE_STATUS_CD AND X.BASE_GROUP_CD='062') COMPLETE_STATUS_NM,
			D.LOCATION_NO,
			D.IN_LOC,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IN_LOC AND X.BASE_GROUP_CD='073') IN_LOC_NM,
			D.IN_AREA,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IN_AREA AND X.BASE_GROUP_CD='067') IN_AREA_NM,
			D.IN_FLOOR,
			A.INSPECT_DATE
		FROM TB_ITEM_COMPLETE_ADM A
		LEFT OUTER JOIN TB_ITEM_COMPLETE_FAULTY_JDG_ADM E
		ON A.WORK_ORD_NO = E.WORK_ORD_NO
		AND A.ITEM_SEQ = E.ITEM_SEQ
		AND E.APPROVAL_YN = '001'
		LEFT OUTER JOIN TB_ITEM_WHS_ADM D
		ON A.WORK_ORD_NO = D.WORK_ORD_NO
		INNER JOIN TB_ITEM_INFO_ADM C
		ON A.ITEM_SEQ = C.ITEM_SEQ
		WHERE A.WORK_ORD_NO = #{barcodeNo}
	</select>
	
	<!-- 제품입고 등록 -->
	<insert id="itemWhsAdmCreate">
		INSERT INTO TB_ITEM_WHS_ADM	(
			BARCODE_NO,
            WORK_ORD_NO,
            ITEM_SEQ,
            IN_DATE,
            IN_QTY,
            OUT_QTY,
            REMAIN_QTY,
            EXPORT_COST,
            SUPPLY_PRICE,
            VAT,
            TOTAL,
            IN_CHARGR,
            IN_LOC,
            IN_AREA,
            IN_FLOOR,
            LOCATION_NO,
            REG_ID,
            REG_DATE
        )
		VALUES     (
			#{barcodeNo},
            #{workOrdNo},
            #{itemSeq},
           	#{inDate},
           	#{inQty},
            0,
           	#{inQty},
           	#{exportCost},
           	#{supplyPrice},
           	#{vat},
           	#{total},
            #{inChargr},
            #{inLoc},
            #{inArea},
            #{inFloor},
            #{locationNo},
           	#{regId},
            getDate()
         ) 
	</insert>
	
	<!-- 제품입고 등록 - 리스트 -->
	<insert id="itemWhsAdmListCreate" parameterType="java.util.List">
		INSERT INTO TB_ITEM_WHS_ADM	(
			BARCODE_NO,
            WORK_ORD_NO,
            ITEM_SEQ,
            IN_DATE,
            IN_QTY,
            OUT_QTY,
            REMAIN_QTY,
            EXPORT_COST,
            SUPPLY_PRICE,
            VAT,
            TOTAL,
            IN_CHARGR,
            IN_LOC,
            IN_AREA,
            IN_FLOOR,
            LOCATION_NO,
            REG_ID,
            REG_DATE
        )
		VALUES
		<foreach collection="list" item="item" separator=",">
		(
			#{item.barcodeNo},
            #{item.workOrdNo},
            #{item.itemSeq},
           	#{item.inDate},
           	#{item.inQty},
            0,
           	#{item.inQty},
           	#{item.exportCost},
           	#{item.supplyPrice},
           	#{item.vat},
           	#{item.total},
            #{item.inChargr},
            #{item.inLoc},
            #{item.inArea},
            #{item.inFloor},
            #{item.locationNo},
           	#{item.regId},
            getDate()
         )
         </foreach>
	</insert>
	
	<!-- 제품입고 수정 - 리스트 -->
	<insert id="itemWhsAdmListUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item">
		UPDATE	TB_ITEM_WHS_ADM 
		SET	
			IN_DATE = #{item.inDate},
			IN_QTY = IN_QTY + #{item.inQty},
			REMAIN_QTY = REMAIN_QTY + #{item.inQty},
			IN_LOC = #{item.inLoc},
			UPD_ID = #{item.updId},
			UPD_DATE = getDate()
		WHERE	BARCODE_NO = #{item.barcodeNo}
        </foreach>
	</insert>
	
	<!-- 제품입고 수정 -->
	<update id="itemWhsAdmUpdate">
		UPDATE	TB_ITEM_WHS_ADM 
		SET	
			<if test="inDate!=null and !inDate.equals('')">
			IN_DATE = #{inDate},
			</if>
			<if test="inQty!=null and !inQty.equals('')">
			IN_QTY = IN_QTY + #{inQty},
			REMAIN_QTY = REMAIN_QTY + #{inQty},
			</if>
			<if test="inLoc!=null and !inLoc.equals('')">
			IN_LOC = #{inLoc},
			</if>
			UPD_ID = #{updId},
			UPD_DATE = getDate()
		WHERE	BARCODE_NO = #{barcodeNo}
	</update>
	
	<!-- 제품출고 수정 -->
	<update id="itemOutWhsAdmUpdate">
		UPDATE	TB_ITEM_WHS_ADM 
		SET	
			<if test="outDate!=null and !outDate.equals('')">
			OUT_DATE = #{outDate},
			</if>
			<if test="outDate!=null and outDate.equals('')">
			OUT_DATE = '',
			</if>
			<if test="outQty!=null and !outQty.equals('')">
			OUT_QTY = OUT_QTY + #{outQty},
			REMAIN_QTY = REMAIN_QTY - #{outQty},
			</if>
			<if test="exportCost!=null and !exportCost.equals('')">
			EXPORT_COST = #{exportCost},
			</if>
			<if test="supplyPrice!=null and !supplyPrice.equals('')">
			SUPPLY_PRICE = #{supplyPrice},
			</if>
			<if test="vat!=null and !vat.equals('')">
			VAT = #{vat},
			</if>
			<if test="total!=null and !total.equals('')">
			TOTAL = #{total},
			</if>
			UPD_ID = #{updId},
			UPD_DATE = getDate()
		WHERE	BARCODE_NO = #{barcodeNo}
	</update>
	
	<!-- 제품입고 삭제 -->
	<delete id="itemOutWhsDelete">
		DELETE FROM TB_ITEM_WHS_ADM WHERE BARCODE_NO = #{barcodeNo}
	</delete>
	
	<!-- 제품출고 초기화 -->
	<update id="itemOutWhsResetUpdate">
		<![CDATA[
			UPDATE	TB_ITEM_WHS_ADM 
			SET	
				OUT_QTY = 0,
				REMAIN_QTY = IN_QTY
			WHERE	BARCODE_NO = #{barcodeNo}
		]]>
	</update>
	
	<!-- 제품입고 창고목록 가져오기 -->
	<select id="getInLoc" resultMap="ItemWhsAdmVo">
		<![CDATA[
			SELECT BASE_INFO_NM AS IN_LOC_NM
			, BASE_INFO_CD AS IN_LOC
			FROM TB_BASE_INFO_ADM
			WHERE 1=1
			AND BASE_INFO_TYPE = 'WH'
			AND BASE_INFO_GUBUN = '002'
		]]>
	</select>
	
	<!-- 제품입고 구역목록 가져오기 -->
	<select id="getInArea" resultMap="ItemWhsAdmVo">
		<![CDATA[
			SELECT 
				DISTINCT(BASE_INFO_NM) AS IN_AREA_NM
				, ETC3 AS IN_AREA
			FROM TB_BASE_INFO_ADM A
			WHERE A.BASE_INFO_TYPE = 'AR'
			AND ETC1= #{inLoc}
		]]>
	</select>
	
	<!-- 제품입고 위치목록 가져오기 -->
	<select id="getInFloor" resultMap="ItemWhsAdmVo">
		<![CDATA[
			SELECT 
				BASE_INFO_CD AS IN_FLOOR
				, ETC2 AS IN_FLOOR_NM
			FROM TB_BASE_INFO_ADM A
			WHERE A.BASE_INFO_TYPE = 'AR'
			AND A.ETC1 = #{inLoc}
			AND A.ETC3 = #{inArea}
		]]>
	</select>
	
	<!-- 제품바코드 유무확인 -->
	<select id="itemBarcodeNoCheck" resultType="int">
		SELECT COUNT(*) FROM TB_WORK_ORDER_PRCSS WHERE ORD_LOT_NO = #{barcodeNo}
		 <!--  SELECT COUNT(*) 
		  FROM TB_WORK_ORDER 
		  WHERE BARCODE_NO = #{barcodeNo} -->
	</select>
	
	
	<!-- 제품입고 유무확인-->
	<select id="existItemWhsAdm" resultType="int">
		 SELECT COUNT(*) 
		 FROM TB_ITEM_WHS_ADM 
		 WHERE BARCODE_NO = #{barcodeNo}
	</select>
	
	<!-- 수주상세등록 잔여수량, 완료수량 수정 -->
	<update id="bizOrdDtlUpdate">
		UPDATE TB_BIZ_ORDER_DTL 
		SET DELAY_CNT = DELAY_CNT- #{inQty}, 
			SHIP_CNT = SHIP_CNT + #{inQty}	
		WHERE CONT_DTL_NO = (SELECT CONT_DTL_NO 
							 FROM TB_WORK_ORDER A
							 WHERE A.BARCODE_NO = #{barcodeNo})
		
	</update>
	
	<!-- 제품입고 창고정보  -->
	<select id="getLocInfo" resultMap="ItemWhsAdmVo">
		SELECT 
			LOCATION_NO,
			IN_LOC,
			IN_AREA,
			IN_FLOOR
		FROM TB_ITEM_WHS_ADM
		WHERE 1=1
		AND BARCODE_NO = #{barcodeNo}
	</select>
	
	<!-- 출하현황 목록조회 -->
	<select id="itemWhsOutList" resultMap="ItemWhsAdmVo">
		SELECT
			ISNULL(Z.ITEM_SEQ,'합계') ITEM_SEQ,
			ISNULL(Z.OUT_DATE,'소계') OUT_DATE,
			Z.OUT_QTY,
			ITEM_CD,
			IIA_TB.ITEM_NM,
			IIA_TB.ITEM_MODEL,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA_TB.ITEM_MODEL AND X.BASE_GROUP_CD='099') ITEM_MODEL_NM,
			IIA_TB.MAIN_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA_TB.MAIN_GUBUN AND X.BASE_GROUP_CD='112') MAIN_GUBUN_NM,
			IIA_TB.ITEM_CUS,
			ISNULL((SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=IIA_TB.ITEM_CUS),'소계') ITEM_CUS_NM,
			IIA_TB.LHRH_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA_TB.LHRH_CD AND X.BASE_GROUP_CD='097') LHRH_NM,
			IIA_TB.ITEM_COLOR
		FROM 
		(
			SELECT 
				IWA_TB.ITEM_SEQ,
				OUT_DATE,
				SUM(ISNULL(IWA_TB.OUT_QTY,0)) OUT_QTY
			FROM TB_ITEM_WHS_ADM IWA_TB
			LEFT OUTER JOIN TB_DELIVERY_ORDER_DTL DOD
			ON IWA_TB.BARCODE_NO=DOD.LOT_NO
			LEFT OUTER JOIN TB_DELIVERY_ORDER_ADM DOA
			ON DOD.DO_NO=DOA.DO_NO
			WHERE 1=1
			AND OUT_DATE IS NOT NULL
			<if test="startDate!=null and !startDate.equals('')">
			AND OUT_DATE BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="itemSeq!=null and !itemSeq.equals('')">
			AND IWA_TB.ITEM_SEQ=#{itemSeq}
			</if>	
			
			GROUP BY ROLLUP(IWA_TB.ITEM_SEQ,OUT_DATE)
			HAVING 1=1
			AND SUM(ISNULL(IWA_TB.OUT_QTY,0)) > 0
			AND GROUPING(IWA_TB.ITEM_SEQ) = 0
			AND GROUPING(OUT_DATE) = 0
			
			<!--소계보기 -->
			<if test="groupingOption1!=null and groupingOption1!=''">
				<if test="groupingOption1=='001'">
					OR(
					1=1
					AND GROUPING(IWA_TB.ITEM_SEQ) = 0
					AND GROUPING(OUT_DATE) = 1
					)
				</if>
			</if>
			
			<!--합게보기 -->
			<if test="groupingOption2!=null and groupingOption2!=''">
				<if test="groupingOption2=='001'">
					OR(
					1=1
					AND GROUPING(IWA_TB.ITEM_SEQ) = 1
					AND GROUPING(OUT_DATE) = 1
					)
				</if>
			</if>
		)Z
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA_TB
		ON Z.ITEM_SEQ=IIA_TB.ITEM_SEQ
		WHERE 1=1
		<if test="itemCus!=null and !itemCus.equals('')">
		AND (ITEM_CUS=#{itemCus} OR ITEM_CUS IS NULL)
		</if>
		<if test="mainGubun!=null and !mainGubun.equals('')">
		AND (IIA_TB.MAIN_GUBUN=#{mainGubun} OR IIA_TB.MAIN_GUBUN IS NULL)
		</if>
		<if test="itemCd!=null and !itemCd.equals('')">
		AND IIA_TB.ITEM_CD=#{itemCd}
		</if>	
	</select>
	
	<!-- 출하현황 상세조회 -->
	<select id="itemWhsOutDtlList" resultMap="ItemWhsAdmVo">
		SELECT 
			DOD.DO_NO,
			IWA_TB.OUT_DATE,
			IIA_TB.ITEM_SEQ,
			IIA_TB.ITEM_CD,
			IIA_TB.ITEM_NM,
			IIA_TB.ITEM_MODEL,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA_TB.ITEM_MODEL AND X.BASE_GROUP_CD='099') ITEM_MODEL_NM,
			IIA_TB.MAIN_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA_TB.MAIN_GUBUN AND X.BASE_GROUP_CD='112') MAIN_GUBUN_NM,
			IIA_TB.ITEM_CUS,
			(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=IIA_TB.ITEM_CUS) ITEM_CUS_NM,
			IIA_TB.LHRH_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA_TB.LHRH_CD AND X.BASE_GROUP_CD='097') LHRH_NM,
			IIA_TB.ITEM_COLOR,
			IWA_TB.BARCODE_NO,
			ISNULL(IWA_TB.OUT_QTY,0) OUT_QTY,
			ISNULL(CONVERT(FLOAT,IWA_TB.EXPORT_COST),0) EXPORT_COST,
			ISNULL(CONVERT(FLOAT,IWA_TB.SUPPLY_PRICE),0) SUPPLY_PRICE,
			ISNULL(CONVERT(FLOAT,IWA_TB.VAT),0) VAT,
			ISNULL(CONVERT(FLOAT,IWA_TB.TOTAL),0) TOTAL,
			IWA_TB.IN_LOC IN_LOC,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IWA_TB.IN_LOC AND X.BASE_GROUP_CD='073') IN_LOC_NM,
			IWA_TB.IN_AREA,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IWA_TB.IN_AREA AND X.BASE_GROUP_CD='067') IN_AREA_NM,
			IWA_TB.IN_FLOOR,
			IWA_TB.LOCATION_NO
		FROM TB_ITEM_WHS_ADM IWA_TB
		LEFT OUTER JOIN TB_DELIVERY_ORDER_DTL DOD
		ON IWA_TB.BARCODE_NO=DOD.LOT_NO
		LEFT OUTER JOIN TB_DELIVERY_ORDER_ADM DOA
		ON DOD.DO_NO=DOA.DO_NO
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA_TB
		ON IWA_TB.ITEM_SEQ=IIA_TB.ITEM_SEQ
		WHERE 1=1
		<if test="mainGubun!=null and !mainGubun.equals('')">
		AND IIA_TB.MAIN_GUBUN=#{mainGubun}
		</if>
		<if test="itemSeq!=null and !itemSeq.equals('')">
		AND IIA_TB.ITEM_SEQ=#{itemSeq}
		</if>	
		<if test="itemCd!=null and !itemCd.equals('')">
		AND IIA_TB.ITEM_CD=#{itemCd}
		</if>	
		<if test="itemCus!=null and !itemCus.equals('')">
		AND IIA_TB.ITEM_CUS=#{itemCus}
		</if>	
		<if test="outDate!=null and !outDate.equals('')">
		AND OUT_DATE = #{outDate} 
		</if>
		<if test="startDate!=null and !startDate.equals('')">
		AND OUT_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		ORDER BY OUT_DATE DESC
	</select>
	
	<!-- 출하 LOT NO 조회 -->
	<select id="lotNoList" resultMap="ItemWhsAdmVo">
		SELECT
			IWA.BARCODE_NO,
			IWA.ITEM_SEQ,
			ITEM_CD,
			ITEM_NM,
			ITEM_CUS,
			(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD = IIA.ITEM_CUS) ITEM_CUS_NM,
			IN_DATE,
			IN_LOC,
			IN_QTY,
			ISNULL(CONVERT(FLOAT,IN_QTY),0)-ISNULL(CONVERT(FLOAT,SUM(DOD.TARGET_QTY)),0) REMAIN_QTY
		FROM TB_ITEM_WHS_ADM IWA
		LEFT OUTER JOIN TB_DELIVERY_ORDER_DTL DOD
		ON IWA.BARCODE_NO=DOD.LOT_NO
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA
		ON IWA.ITEM_SEQ = IIA.ITEM_SEQ
		LEFT OUTER JOIN (
			SELECT BARCODE_NO FROM TB_STOCK_PAYMENT_ADM GROUP BY BARCODE_NO
		) SPA
		ON IWA.BARCODE_NO=SPA.BARCODE_NO
		WHERE 1=1
		AND ITEM_GUBUN = '001'	
		AND IWA.REMAIN_QTY > 0
		AND (SPA.BARCODE_NO IS NOT NULL OR SPA.BARCODE_NO != '')
		AND IIA.ITEM_GUBUN = '001'
		<if test="itemCus != null and !itemCus.equals('')">
		AND IIA.ITEM_CUS = #{itemCus}
		</if>
		<if test="mainGubun != null and !mainGubun.equals('')">
		AND IIA.MAIN_GUBUN = #{mainGubun}
			<if test="mainGubun.equals('001')">
			AND IWA.IN_LOC = '002'
			</if>
			<if test="mainGubun.equals('002')">
			AND IWA.IN_LOC = '007'
			</if>
		</if>
		GROUP BY IWA.BARCODE_NO,
			IWA.ITEM_SEQ,
			ITEM_CD,
			ITEM_NM,
			ITEM_CUS,
			IN_DATE,
			IN_LOC,
			IN_QTY
		HAVING  ISNULL(CONVERT(FLOAT,IN_QTY),0)-ISNULL(CONVERT(FLOAT,SUM(DOD.TARGET_QTY)),0)>0
		ORDER BY ITEM_CD ASC, IN_DATE ASC
	</select>

	
</mapper>