<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.wm.workOrderPlanMapper">

	<resultMap id="WorkOrderPlanVo" type="mes.domain.wm.WorkOrderPlanVo">
		<result property="equipCd"			column="EQUIP_CD"		/>
		<result property="goodsCd"			column="GOODS_CD"		/>
		<result property="workGubunCd"		column="WORK_GUBUN_CD"	/>
		<result property="planRegDate"		column="PLAN_REG_DATE"	/>
		<result property="regId"			column="REG_ID"			/>
		<result property="regDate"			column="REG_DATE"		/>
		<result property="updId"			column="UPD_ID"			/>
		<result property="updDate"			column="UPD_DATE"		/>
		<result property="equipCondSeq"		column="EQUIP_COND_SEQ"	/>
		
		<result property="goodsNm"			column="GOODS_NM"		/>
		<result property="model"			column="MODEL"			/>
		<result property="modelNo"			column="MODEL_NO"		/>
		<result property="qutyCd"			column="QUTY_CD"		/>
		<result property="qutyNm"			column="QUTY_NM"		/>
		<result property="chamferYnNm"		column="CHAMFER_YN_NM"	/>
		<result property="surfaceTrtmtCd"	column="SURFACE_TRTMT_CD"/>
		<result property="surfaceTrtmtNm"	column="SURFACE_TRTMT_NM"/>
	</resultMap>
	
	<!-- 해당설비 & 날짜 작업지시 조회 -->
	<select id="searchDay" resultMap="WorkOrderPlanVo">
		<![CDATA[
		SELECT
            A.EQUIP_CD
            , A.GOODS_CD
            , C.GOODS_NM
            , A.WORK_GUBUN_CD
            , A.PLAN_REG_DATE
            , A.REG_ID
            , A.REG_DATE
            , A.UPD_ID
            , A.UPD_DATE
            , A.EQUIP_COND_SEQ
            , C.MODEL
            , C.MODEL_NO
            , D.QUTY_CD
            , (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='007' AND B.BASE_CD = D.QUTY_CD) QUTY_NM
            , (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='020' AND B.BASE_CD = D.CHAMFER_YN_CD) CHAMFER_YN_NM
            , D.SURFACE_TRTMT_CD
            , (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='021' AND B.BASE_CD =D.SURFACE_TRTMT_CD) SURFACE_TRTMT_NM
         FROM
            TB_WORK_ORDER_PLAN A,
            TB_GOODS_CODE_ADM C,
            TB_MATRL_CODE_ADM D
         WHERE 1=1
            AND   A.EQUIP_CD = #{equipCd}
            AND  A.GOODS_CD = C.GOODS_CD
            AND  C.ALNICU_MATRL_CD = D.MATRL_CD
            AND  A.PLAN_REG_DATE = #{planRegDate}
            AND  A.WORK_GUBUN_CD = 'D'
		]]>
	</select>
	
	<!-- 해당설비 & 날짜 작업지시 조회 -->
	<select id="searchNight" resultMap="WorkOrderPlanVo">
		<![CDATA[
		SELECT
            A.EQUIP_CD
            , A.GOODS_CD
            , C.GOODS_NM
            , A.WORK_GUBUN_CD
            , A.PLAN_REG_DATE
            , A.REG_ID
            , A.REG_DATE
            , A.UPD_ID
            , A.UPD_DATE
            , A.EQUIP_COND_SEQ
            , C.MODEL
            , C.MODEL_NO
            , D.QUTY_CD
            , (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='007' AND B.BASE_CD = D.QUTY_CD) QUTY_NM
            , (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='020' AND B.BASE_CD = D.CHAMFER_YN_CD) CHAMFER_YN_NM
            , D.SURFACE_TRTMT_CD
            , (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='021' AND B.BASE_CD =D.SURFACE_TRTMT_CD) SURFACE_TRTMT_NM
         FROM
            TB_WORK_ORDER_PLAN A,
            TB_GOODS_CODE_ADM C,
            TB_MATRL_CODE_ADM D
         WHERE 1=1
            AND   A.EQUIP_CD = #{equipCd}
            AND  A.GOODS_CD = C.GOODS_CD
            AND  C.ALNICU_MATRL_CD = D.MATRL_CD
            AND  A.PLAN_REG_DATE = #{planRegDate}
            AND  A.WORK_GUBUN_CD = 'N'
		]]>
	</select>
	
	<!-- 해당설비 & 날짜 작업지시 생성 -->
	<insert id="create" parameterType="mes.domain.wm.WorkOrderPlanVo">
		<![CDATA[
			INSERT INTO TB_WORK_ORDER_PLAN (
				EQUIP_CD
				, GOODS_CD
				, WORK_GUBUN_CD
				, PLAN_REG_DATE
				, REG_ID
				, REG_DATE
				, EQUIP_COND_SEQ
				) 
			VALUES(
				#{equipCd}
				, #{goodsCd}
				, #{workGubunCd}
				, #{planRegDate}
				, #{regId}
				, CONVERT(CHAR(8), getDate(), 112)
				, #{equipCondSeq}
			)
		]]>
	</insert>

	<!-- 시간 수정 -->
	<update id="update">
		<![CDATA[
			UPDATE	TB_WORK_ORDER_PLAN		 
			SET
				EQUIP_CD = #{equipCd}
				, GOODS_CD = #{goodsCd}
				, WORK_GUBUN_CD = #{workGubunCd}
				, PLAN_REG_DATE = #{planRegDate}
				, UPD_ID = #{updId}
				, UPD_DATE = CONVERT(CHAR(8), getDate(), 112)
				, EQUIP_COND_SEQ = #{equipCondSeq}
			WHERE
				EQUIP_CD = #{equipCd}
			AND
				PLAN_REG_DATE = #{planRegDate}
			AND
				WORK_GUBUN_CD = #{workGubunCd}
		]]>
	</update>
	
</mapper>
