<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.mappers.bs.achieveAdmMapper">
    
    <resultMap id="AchieveAdmVo"        type="mes.domain.bs.AchieveAdmVo">
        <result property="userNumber"             column="USER_NUMBER" />
        <result property="userNm"             	  column="USER_NM" />
        <result property="lineGubun"              column="LINE_GUBUN" />
        <result property="achieveMonth"           column="ACHIEVE_MONTH" />
        <result property="smallEachWelding"       column="SMALL_EACH_WELDING" />
        <result property="smallAllWelding"        column="SMALL_ALL_WELDING" />
        <result property="smallWinding"           column="SMALL_WINDING" />
        <result property="smallFittingPress"      column="SMALL_FITTING_PRESS" />
        <result property="smallLeadConn"          column="SMALL_LEAD_CONN" />
        <result property="smallMagnetAttach"      column="SMALL_MAGNET_ATTACH" />
        <result property="smailChakua"            column="SMAIL_CHAKUA" />
        <result property="smallBearingPressin"    column="SMALL_BEARING_PRESSIN" />
        <result property="smallAssembly"          column="SMALL_ASSEMBLY" />
        <result property="smallTest"              column="SMALL_TEST" />
        <result property="midWinding"             column="MID_WINDING"  />
        <result property="midAllWelding"          column="MID_ALL_WELDING" />
        <result property="midStConn"              column="MID_ST_CONN" />
        <result property="midInsertFrame"         column="MID_INSERT_FRAME" />
        <result property="midFittingPress"        column="MID_FITTING_PRESS" />
        <result property="midConectrConn"         column="MID_CONECTR_CONN" />
        <result property="midRtPressin"           column="MID_RT_PRESSIN" />
        <result property="midMagnetAttach"        column="MID_MAGNET_ATTACH" />
        <result property="midBalansung"           column="MID_BALANSUNG" />
        <result property="midAssembly"            column="MID_ASSEMBLY" />
        <result property="midTest"                column="MID_TEST" />
        <result property="regId"                  column="REG_ID" />
        <result property="regDate"           	  column="REG_DATE" />
        <result property="updId"             	  column="UPD_ID" />
        <result property="updDate"           	  column="UPD_DATE" />
        <result property="lineGubunNm"            column="LINE_GUBUN_NM" />
        <result property="smallEachWeldingNm"     column="SMALL_EACH_WELDING_NM" />
        <result property="smallAllWeldingNm"      column="SMALL_ALL_WELDING_NM" />
        <result property="smallWindingNm"         column="SMALL_WINDING_NM" />
        <result property="smallFittingPressNm"    column="SMALL_FITTING_PRESS_NM" />
        <result property="smallLeadConnNm"        column="SMALL_LEAD_CONN_NM" />
        <result property="smallMagnetAttachNm"    column="SMALL_MAGNET_ATTACH_NM" />
        <result property="smailChakuaNm"          column="SMAIL_CHAKUA_NM" />
        <result property="smallBearingPressinNm"  column="SMALL_BEARING_PRESSIN_NM" />
        <result property="smallAssemblyNm"        column="SMALL_ASSEMBLY_NM" />
        <result property="smallTestNm"            column="SMALL_TEST_NM" />
        <result property="midWindingNm"           column="MID_WINDING_NM"  />
        <result property="midAllWeldingNm"        column="MID_ALL_WELDING_NM" />
        <result property="midStConnNm"            column="MID_ST_CONN_NM" />
        <result property="midInsertFrameNm"       column="MID_INSERT_FRAME_NM" />
        <result property="midFittingPressNm"      column="MID_FITTING_PRESS_NM" />
        <result property="midConectrConnNm"       column="MID_CONECTR_CONN_NM" />
        <result property="midRtPressinNm"         column="MID_RT_PRESSIN_NM" />
        <result property="midMagnetAttachNm"      column="MID_MAGNET_ATTACH_NM" />
        <result property="midBalansungNm"         column="MID_BALANSUNG_NM" />
        <result property="midAssemblyNm"          column="MID_ASSEMBLY_NM" />
        <result property="midTestNm"              column="MID_TEST_NM" />
    </resultMap>
    
    
    <!-- 성과 목록 출력 -->  
	<select id="AchieveAdmList" resultMap="AchieveAdmVo">
		<![CDATA[
			 SELECT A.LINE_GUBUN 
			  ,USER_NUMBER     
			  ,ACHIEVE_MONTH        
			  ,SMALL_EACH_WELDING   
			  ,SMALL_ALL_WELDING    
			  ,SMALL_WINDING        
			  ,SMALL_FITTING_PRESS  
			  ,SMALL_LEAD_CONN      
			  ,SMALL_MAGNET_ATTACH  
			  ,SMAIL_CHAKUA         
			  ,SMALL_BEARING_PRESSIN
			  ,SMALL_ASSEMBLY       
			  ,SMALL_TEST           
			  ,MID_WINDING          
			  ,MID_ALL_WELDING      
			  ,MID_ST_CONN          
			  ,MID_INSERT_FRAME     
			  ,MID_FITTING_PRESS    
			  ,MID_CONECTR_CONN     
			  ,MID_RT_PRESSIN       
			  ,MID_MAGNET_ATTACH    
			  ,MID_BALANSUNG        
			  ,MID_ASSEMBLY         
			  ,MID_TEST             
			  ,REG_ID               
			  ,REG_DATE             
			  ,UPD_ID               
			  ,UPD_DATE   
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.LINE_GUBUN AND BASE_GROUP_CD='065') LINE_GUBUN_NM
		      ,(SELECT USER_NM FROM TB_USER U WHERE U.USER_NUMBER=A.USER_NUMBER) USER_NM      
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_EACH_WELDING AND BASE_GROUP_CD='064') SMALL_EACH_WELDING_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_ALL_WELDING AND BASE_GROUP_CD='064') SMALL_ALL_WELDING_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_WINDING AND BASE_GROUP_CD='064') SMALL_WINDING_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_FITTING_PRESS AND BASE_GROUP_CD='064') SMALL_FITTING_PRESS_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_LEAD_CONN AND BASE_GROUP_CD='064') SMALL_LEAD_CONN_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_MAGNET_ATTACH AND BASE_GROUP_CD='064') SMALL_MAGNET_ATTACH_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMAIL_CHAKUA AND BASE_GROUP_CD='064') SMAIL_CHAKUA_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_BEARING_PRESSIN AND BASE_GROUP_CD='064') SMALL_BEARING_PRESSIN_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_ASSEMBLY AND BASE_GROUP_CD='064') SMALL_ASSEMBLY_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_TEST AND BASE_GROUP_CD='064') SMALL_TEST_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_WINDING AND BASE_GROUP_CD='064') MID_WINDING_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_ALL_WELDING AND BASE_GROUP_CD='064') MID_ALL_WELDING_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_ST_CONN AND BASE_GROUP_CD='064') MID_ST_CONN_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_INSERT_FRAME AND BASE_GROUP_CD='064') MID_INSERT_FRAME_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_FITTING_PRESS AND BASE_GROUP_CD='064') MID_FITTING_PRESS_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_CONECTR_CONN AND BASE_GROUP_CD='064') MID_CONECTR_CONN_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_RT_PRESSIN AND BASE_GROUP_CD='064') MID_RT_PRESSIN_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_MAGNET_ATTACH AND BASE_GROUP_CD='064') MID_MAGNET_ATTACH_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_BALANSUNG AND BASE_GROUP_CD='064') MID_BALANSUNG_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_ASSEMBLY AND BASE_GROUP_CD='064') MID_ASSEMBLY_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_TEST AND BASE_GROUP_CD='064') MID_TEST_NM
		  FROM TB_ACHIEVE_ADM A
		  WHERE ACHIEVE_MONTH = #{achieveMonth}

		  UNION ALL

		 SELECT '공정별가능자현황'LINE_GUBUN 
			  ,'현재원'USER_NUMBER     
			  , ACHIEVE_MONTH  ACHIEVE_MONTH        
			  ,COUNT(*) SMALL_EACH_WELDING   
			  ,''SMALL_ALL_WELDING    
			  ,''SMALL_WINDING        
			  ,''SMALL_FITTING_PRESS  
			  ,''SMALL_LEAD_CONN      
			  ,''SMALL_MAGNET_ATTACH  
			  ,''SMAIL_CHAKUA         
			  ,''SMALL_BEARING_PRESSIN
			  ,''SMALL_ASSEMBLY       
			  ,''SMALL_TEST           
			  ,''MID_WINDING          
			  ,''MID_ALL_WELDING      
			  ,''MID_ST_CONN          
			  ,''MID_INSERT_FRAME     
			  ,''MID_FITTING_PRESS    
			  ,''MID_CONECTR_CONN     
			  ,''MID_RT_PRESSIN       
			  ,''MID_MAGNET_ATTACH    
			  ,''MID_BALANSUNG        
			  ,''MID_ASSEMBLY         
			  ,''MID_TEST             
			  ,''REG_ID               
			  ,''REG_DATE             
			  ,''UPD_ID               
			  ,''UPD_DATE   
		      ,''LINE_GUBUN_NM
		      ,''USER_NM      
		      ,'' SMALL_EACH_WELDING_NM
		      ,'' SMALL_ALL_WELDING_NM
		      ,'' SMALL_WINDING_NM
		      ,'' SMALL_FITTING_PRESS_NM
		      ,'' SMALL_LEAD_CONN_NM
		      ,'' SMALL_MAGNET_ATTACH_NM
		      ,'' SMAIL_CHAKUA_NM
		      ,'' SMALL_BEARING_PRESSIN_NM
		      ,'' SMALL_ASSEMBLY_NM
		      ,'' SMALL_TEST_NM
		      ,'' MID_WINDING_NM
		      ,'' MID_ALL_WELDING_NM
		      ,'' MID_ST_CONN_NM
		      ,'' MID_INSERT_FRAME_NM
		      ,'' MID_FITTING_PRESS_NM
		      ,'' MID_CONECTR_CONN_NM
		      ,'' MID_RT_PRESSIN_NM
		      ,'' MID_MAGNET_ATTACH_NM
		      ,'' MID_BALANSUNG_NM
		      ,'' MID_ASSEMBLY_NM
		      ,'' MID_TEST_NM
		  FROM  TB_ACHIEVE_ADM A
		  WHERE ACHIEVE_MONTH = #{achieveMonth} GROUP BY ACHIEVE_MONTH 

		  UNION ALL

		 SELECT '공정별가능자현황'LINE_GUBUN 
			  ,'가능자 Line내'USER_NUMBER     
			  , ACHIEVE_MONTH  ACHIEVE_MONTH        
			  ,COUNT(CASE WHEN C.SMALL_EACH_WELDING = '001' OR C.SMALL_EACH_WELDING = '002' OR C.SMALL_EACH_WELDING = '003' OR C.SMALL_EACH_WELDING = '004' THEN 1 END) SMALL_EACH_WELDING
			  ,COUNT(CASE WHEN C.SMALL_ALL_WELDING = '001' OR C.SMALL_ALL_WELDING = '002' OR C.SMALL_ALL_WELDING = '003' OR C.SMALL_ALL_WELDING = '004' THEN 1 END) SMALL_ALL_WELDING    
			  ,COUNT(CASE WHEN C.SMALL_WINDING = '001' OR C.SMALL_WINDING = '002' OR C.SMALL_WINDING = '003' OR C.SMALL_WINDING = '004' THEN 1 END) SMALL_WINDING    
			  ,COUNT(CASE WHEN C.SMALL_FITTING_PRESS = '001' OR C.SMALL_FITTING_PRESS = '002' OR C.SMALL_FITTING_PRESS = '003' OR C.SMALL_FITTING_PRESS = '004' THEN 1 END) SMALL_FITTING_PRESS  
			  ,COUNT(CASE WHEN C.SMALL_LEAD_CONN = '001' OR C.SMALL_LEAD_CONN = '002' OR C.SMALL_LEAD_CONN = '003' OR C.SMALL_LEAD_CONN = '004' THEN 1 END) SMALL_LEAD_CONN      
			  ,COUNT(CASE WHEN C.SMALL_MAGNET_ATTACH = '001' OR C.SMALL_MAGNET_ATTACH = '002' OR C.SMALL_MAGNET_ATTACH = '003' OR C.SMALL_MAGNET_ATTACH = '004' THEN 1 END) SMALL_MAGNET_ATTACH  
			  ,COUNT(CASE WHEN C.SMAIL_CHAKUA = '001' OR C.SMAIL_CHAKUA = '002' OR C.SMAIL_CHAKUA = '003' OR C.SMAIL_CHAKUA = '004' THEN 1 END) SMAIL_CHAKUA         
			  ,COUNT(CASE WHEN C.SMALL_BEARING_PRESSIN = '001' OR C.SMALL_BEARING_PRESSIN = '002' OR C.SMALL_BEARING_PRESSIN = '003' OR C.SMALL_BEARING_PRESSIN = '004' THEN 1 END) SMALL_BEARING_PRESSIN
			  ,COUNT(CASE WHEN C.SMALL_ASSEMBLY = '001' OR C.SMALL_ASSEMBLY = '002' OR C.SMALL_ASSEMBLY = '003' OR C.SMALL_ASSEMBLY = '004' THEN 1 END) SMALL_ASSEMBLY       
			  ,COUNT(CASE WHEN C.SMALL_TEST = '001' OR C.SMALL_TEST = '002' OR C.SMALL_TEST = '003' OR C.SMALL_TEST = '004' THEN 1 END) SMALL_TEST           
			  ,COUNT(CASE WHEN C.MID_WINDING = '001' OR C.MID_WINDING = '002' OR C.MID_WINDING = '003' OR C.MID_WINDING = '004' THEN 1 END) MID_WINDING          
			  ,COUNT(CASE WHEN C.MID_ALL_WELDING = '001' OR C.MID_ALL_WELDING = '002' OR C.MID_ALL_WELDING = '003' OR C.MID_ALL_WELDING = '004' THEN 1 END) MID_ALL_WELDING      
			  ,COUNT(CASE WHEN C.MID_ST_CONN = '001' OR C.MID_ST_CONN = '002' OR C.MID_ST_CONN = '003' OR C.MID_ST_CONN = '004' THEN 1 END) MID_ST_CONN          
			  ,COUNT(CASE WHEN C.MID_INSERT_FRAME = '001' OR C.MID_INSERT_FRAME = '002' OR C.MID_INSERT_FRAME = '003' OR C.MID_INSERT_FRAME = '004' THEN 1 END) MID_INSERT_FRAME     
			  ,COUNT(CASE WHEN C.MID_FITTING_PRESS = '001' OR C.MID_FITTING_PRESS = '002' OR C.MID_FITTING_PRESS = '003' OR C.MID_FITTING_PRESS = '004' THEN 1 END) MID_FITTING_PRESS    
			  ,COUNT(CASE WHEN C.MID_CONECTR_CONN = '001' OR C.MID_CONECTR_CONN = '002' OR C.MID_CONECTR_CONN = '003' OR C.MID_CONECTR_CONN = '004' THEN 1 END) MID_CONECTR_CONN     
			  ,COUNT(CASE WHEN C.MID_RT_PRESSIN = '001' OR C.MID_RT_PRESSIN = '002' OR C.MID_RT_PRESSIN = '003' OR C.MID_RT_PRESSIN = '004' THEN 1 END) MID_RT_PRESSIN       
			  ,COUNT(CASE WHEN C.MID_MAGNET_ATTACH = '001' OR C.MID_MAGNET_ATTACH = '002' OR C.MID_MAGNET_ATTACH = '003' OR C.MID_MAGNET_ATTACH = '004' THEN 1 END) MID_MAGNET_ATTACH    
			  ,COUNT(CASE WHEN C.MID_BALANSUNG = '001' OR C.MID_BALANSUNG = '002' OR C.MID_BALANSUNG = '003' OR C.MID_BALANSUNG = '004' THEN 1 END) MID_BALANSUNG        
			  ,COUNT(CASE WHEN C.MID_ASSEMBLY = '001' OR C.MID_ASSEMBLY = '002' OR C.MID_ASSEMBLY = '003' OR C.MID_ASSEMBLY = '004' THEN 1 END) MID_ASSEMBLY         
			  ,COUNT(CASE WHEN C.MID_TEST = '001' OR C.MID_TEST = '002' OR C.MID_TEST = '003' OR C.MID_TEST = '004' THEN 1 END) MID_TEST             
			  ,''REG_ID               
			  ,''REG_DATE             
			  ,''UPD_ID               
			  ,''UPD_DATE   
		      ,''LINE_GUBUN_NM
		      ,''USER_NM      
		      ,'' SMALL_EACH_WELDING_NM
		      ,'' SMALL_ALL_WELDING_NM
		      ,'' SMALL_WINDING_NM
		      ,'' SMALL_FITTING_PRESS_NM
		      ,'' SMALL_LEAD_CONN_NM
		      ,'' SMALL_MAGNET_ATTACH_NM
		      ,'' SMAIL_CHAKUA_NM
		      ,'' SMALL_BEARING_PRESSIN_NM
		      ,'' SMALL_ASSEMBLY_NM
		      ,'' SMALL_TEST_NM
		      ,'' MID_WINDING_NM
		      ,'' MID_ALL_WELDING_NM
		      ,'' MID_ST_CONN_NM
		      ,'' MID_INSERT_FRAME_NM
		      ,'' MID_FITTING_PRESS_NM
		      ,'' MID_CONECTR_CONN_NM
		      ,'' MID_RT_PRESSIN_NM
		      ,'' MID_MAGNET_ATTACH_NM
		      ,'' MID_BALANSUNG_NM
		      ,'' MID_ASSEMBLY_NM
		      ,'' MID_TEST_NM
		  FROM TB_ACHIEVE_ADM C
		  WHERE ACHIEVE_MONTH = #{achieveMonth} AND LINE_GUBUN = '001' GROUP BY ACHIEVE_MONTH 

		  UNION ALL

	SELECT '공정별가능자현황'LINE_GUBUN 
			  ,'Line외'USER_NUMBER     
			  , ACHIEVE_MONTH  ACHIEVE_MONTH        
			  ,COUNT(CASE WHEN C.SMALL_EACH_WELDING = '001' OR C.SMALL_EACH_WELDING = '002' THEN 1 END) SMALL_EACH_WELDING
			  ,COUNT(CASE WHEN C.SMALL_ALL_WELDING = '001' OR C.SMALL_ALL_WELDING = '002' THEN 1 END) SMALL_ALL_WELDING    
			  ,COUNT(CASE WHEN C.SMALL_WINDING = '001' OR C.SMALL_WINDING = '002' THEN 1 END) SMALL_WINDING    
			  ,COUNT(CASE WHEN C.SMALL_FITTING_PRESS = '001' OR C.SMALL_FITTING_PRESS = '002' THEN 1 END) SMALL_FITTING_PRESS  
			  ,COUNT(CASE WHEN C.SMALL_LEAD_CONN = '001' OR C.SMALL_LEAD_CONN = '002' THEN 1 END) SMALL_LEAD_CONN      
			  ,COUNT(CASE WHEN C.SMALL_MAGNET_ATTACH = '001' OR C.SMALL_MAGNET_ATTACH = '002' THEN 1 END) SMALL_MAGNET_ATTACH  
			  ,COUNT(CASE WHEN C.SMAIL_CHAKUA = '001' OR C.SMAIL_CHAKUA = '002'  THEN 1 END) SMAIL_CHAKUA         
			  ,COUNT(CASE WHEN C.SMALL_BEARING_PRESSIN = '001' OR C.SMALL_BEARING_PRESSIN = '002' THEN 1 END) SMALL_BEARING_PRESSIN
			  ,COUNT(CASE WHEN C.SMALL_ASSEMBLY = '001' OR C.SMALL_ASSEMBLY = '002' THEN 1 END) SMALL_ASSEMBLY       
			  ,COUNT(CASE WHEN C.SMALL_TEST = '001' OR C.SMALL_TEST = '002'  THEN 1 END) SMALL_TEST           
			  ,COUNT(CASE WHEN C.MID_WINDING = '001' OR C.MID_WINDING = '002' THEN 1 END) MID_WINDING          
			  ,COUNT(CASE WHEN C.MID_ALL_WELDING = '001' OR C.MID_ALL_WELDING = '002' THEN 1 END) MID_ALL_WELDING      
			  ,COUNT(CASE WHEN C.MID_ST_CONN = '001' OR C.MID_ST_CONN = '002' THEN 1 END) MID_ST_CONN          
			  ,COUNT(CASE WHEN C.MID_INSERT_FRAME = '001' OR C.MID_INSERT_FRAME = '002' THEN 1 END) MID_INSERT_FRAME     
			  ,COUNT(CASE WHEN C.MID_FITTING_PRESS = '001' OR C.MID_FITTING_PRESS = '002' THEN 1 END) MID_FITTING_PRESS    
			  ,COUNT(CASE WHEN C.MID_CONECTR_CONN = '001' OR C.MID_CONECTR_CONN = '002' THEN 1 END) MID_CONECTR_CONN     
			  ,COUNT(CASE WHEN C.MID_RT_PRESSIN = '001' OR C.MID_RT_PRESSIN = '002' THEN 1 END) MID_RT_PRESSIN       
			  ,COUNT(CASE WHEN C.MID_MAGNET_ATTACH = '001' OR C.MID_MAGNET_ATTACH = '002' THEN 1 END) MID_MAGNET_ATTACH    
			  ,COUNT(CASE WHEN C.MID_BALANSUNG = '001' OR C.MID_BALANSUNG = '002' THEN 1 END) MID_BALANSUNG        
			  ,COUNT(CASE WHEN C.MID_ASSEMBLY = '001' OR C.MID_ASSEMBLY = '002' THEN 1 END) MID_ASSEMBLY         
			  ,COUNT(CASE WHEN C.MID_TEST = '001' OR C.MID_TEST = '002' THEN 1 END) MID_TEST             
			  ,''REG_ID               
			  ,''REG_DATE             
			  ,''UPD_ID               
			  ,''UPD_DATE   
		      ,''LINE_GUBUN_NM
		      ,''USER_NM      
		      ,'' SMALL_EACH_WELDING_NM
		      ,'' SMALL_ALL_WELDING_NM
		      ,'' SMALL_WINDING_NM
		      ,'' SMALL_FITTING_PRESS_NM
		      ,'' SMALL_LEAD_CONN_NM
		      ,'' SMALL_MAGNET_ATTACH_NM
		      ,'' SMAIL_CHAKUA_NM
		      ,'' SMALL_BEARING_PRESSIN_NM
		      ,'' SMALL_ASSEMBLY_NM
		      ,'' SMALL_TEST_NM
		      ,'' MID_WINDING_NM
		      ,'' MID_ALL_WELDING_NM
		      ,'' MID_ST_CONN_NM
		      ,'' MID_INSERT_FRAME_NM
		      ,'' MID_FITTING_PRESS_NM
		      ,'' MID_CONECTR_CONN_NM
		      ,'' MID_RT_PRESSIN_NM
		      ,'' MID_MAGNET_ATTACH_NM
		      ,'' MID_BALANSUNG_NM
		      ,'' MID_ASSEMBLY_NM
		      ,'' MID_TEST_NM
		  FROM TB_ACHIEVE_ADM C
		  WHERE ACHIEVE_MONTH = #{achieveMonth} AND LINE_GUBUN = '002' GROUP BY ACHIEVE_MONTH 

		    UNION ALL

		SELECT '공정별가능자현황'LINE_GUBUN 
			  ,'교육대상자'USER_NUMBER     
			  , ACHIEVE_MONTH  ACHIEVE_MONTH        
			  ,COUNT(CASE WHEN C.SMALL_EACH_WELDING = '004' OR C.SMALL_EACH_WELDING = '005'OR C.SMALL_EACH_WELDING = '006' THEN 1 END) SMALL_EACH_WELDING
			  ,COUNT(CASE WHEN C.SMALL_ALL_WELDING = '004' OR C.SMALL_ALL_WELDING = '005' OR C.SMALL_ALL_WELDING = '006' THEN 1 END) SMALL_ALL_WELDING    
			  ,COUNT(CASE WHEN C.SMALL_WINDING = '004' OR C.SMALL_WINDING = '005' OR C.SMALL_WINDING = '006' THEN 1 END) SMALL_WINDING    
			  ,COUNT(CASE WHEN C.SMALL_FITTING_PRESS = '004' OR C.SMALL_FITTING_PRESS = '005' OR C.SMALL_FITTING_PRESS = '006' THEN 1 END) SMALL_FITTING_PRESS  
			  ,COUNT(CASE WHEN C.SMALL_LEAD_CONN = '004' OR C.SMALL_LEAD_CONN = '005' OR C.SMALL_LEAD_CONN = '006' THEN 1 END) SMALL_LEAD_CONN      
			  ,COUNT(CASE WHEN C.SMALL_MAGNET_ATTACH = '004' OR C.SMALL_MAGNET_ATTACH = '005' OR C.SMALL_MAGNET_ATTACH = '006' THEN 1 END) SMALL_MAGNET_ATTACH  
			  ,COUNT(CASE WHEN C.SMAIL_CHAKUA = '004' OR C.SMAIL_CHAKUA = '005' OR C.SMAIL_CHAKUA = '006' THEN 1 END) SMAIL_CHAKUA         
			  ,COUNT(CASE WHEN C.SMALL_BEARING_PRESSIN = '004' OR C.SMALL_BEARING_PRESSIN = '005' OR C.SMALL_BEARING_PRESSIN = '006' THEN 1 END) SMALL_BEARING_PRESSIN
			  ,COUNT(CASE WHEN C.SMALL_ASSEMBLY = '004' OR C.SMALL_ASSEMBLY = '005' OR C.SMALL_ASSEMBLY = '006' THEN 1 END) SMALL_ASSEMBLY       
			  ,COUNT(CASE WHEN C.SMALL_TEST = '004' OR C.SMALL_TEST = '005' OR C.SMALL_TEST = '006'  THEN 1 END) SMALL_TEST           
			  ,COUNT(CASE WHEN C.MID_WINDING = '004' OR C.MID_WINDING = '005' OR C.MID_WINDING = '006' THEN 1 END) MID_WINDING          
			  ,COUNT(CASE WHEN C.MID_ALL_WELDING = '004' OR C.MID_ALL_WELDING = '005' OR C.MID_ALL_WELDING = '006' THEN 1 END) MID_ALL_WELDING      
			  ,COUNT(CASE WHEN C.MID_ST_CONN = '004' OR C.MID_ST_CONN = '005' OR C.MID_ST_CONN = '006' THEN 1 END) MID_ST_CONN          
			  ,COUNT(CASE WHEN C.MID_INSERT_FRAME = '004' OR C.MID_INSERT_FRAME = '005' OR C.MID_INSERT_FRAME = '006' THEN 1 END) MID_INSERT_FRAME     
			  ,COUNT(CASE WHEN C.MID_FITTING_PRESS = '004' OR C.MID_FITTING_PRESS = '005' OR C.MID_FITTING_PRESS = '006' THEN 1 END) MID_FITTING_PRESS    
			  ,COUNT(CASE WHEN C.MID_CONECTR_CONN = '004' OR C.MID_CONECTR_CONN = '005' OR C.MID_CONECTR_CONN = '006' THEN 1 END) MID_CONECTR_CONN     
			  ,COUNT(CASE WHEN C.MID_RT_PRESSIN = '004' OR C.MID_RT_PRESSIN = '005'  OR C.MID_RT_PRESSIN = '006' THEN 1 END) MID_RT_PRESSIN       
			  ,COUNT(CASE WHEN C.MID_MAGNET_ATTACH = '004' OR C.MID_MAGNET_ATTACH = '005' OR C.MID_MAGNET_ATTACH = '006' THEN 1 END) MID_MAGNET_ATTACH    
			  ,COUNT(CASE WHEN C.MID_BALANSUNG = '004' OR C.MID_BALANSUNG = '005' OR C.MID_BALANSUNG = '006' THEN 1 END) MID_BALANSUNG        
			  ,COUNT(CASE WHEN C.MID_ASSEMBLY = '004' OR C.MID_ASSEMBLY = '005' OR C.MID_ASSEMBLY = '006' THEN 1 END) MID_ASSEMBLY         
			  ,COUNT(CASE WHEN C.MID_TEST = '004' OR C.MID_TEST = '005' OR C.MID_TEST = '006' THEN 1 END) MID_TEST             
			  ,''REG_ID               
			  ,''REG_DATE             
			  ,''UPD_ID               
			  ,''UPD_DATE   
		      ,''LINE_GUBUN_NM
		      ,''USER_NM      
		      ,'' SMALL_EACH_WELDING_NM
		      ,'' SMALL_ALL_WELDING_NM
		      ,'' SMALL_WINDING_NM
		      ,'' SMALL_FITTING_PRESS_NM
		      ,'' SMALL_LEAD_CONN_NM
		      ,'' SMALL_MAGNET_ATTACH_NM
		      ,'' SMAIL_CHAKUA_NM
		      ,'' SMALL_BEARING_PRESSIN_NM
		      ,'' SMALL_ASSEMBLY_NM
		      ,'' SMALL_TEST_NM
		      ,'' MID_WINDING_NM
		      ,'' MID_ALL_WELDING_NM
		      ,'' MID_ST_CONN_NM
		      ,'' MID_INSERT_FRAME_NM
		      ,'' MID_FITTING_PRESS_NM
		      ,'' MID_CONECTR_CONN_NM
		      ,'' MID_RT_PRESSIN_NM
		      ,'' MID_MAGNET_ATTACH_NM
		      ,'' MID_BALANSUNG_NM
		      ,'' MID_ASSEMBLY_NM
		      ,'' MID_TEST_NM
		  FROM TB_ACHIEVE_ADM C
		  WHERE ACHIEVE_MONTH = #{achieveMonth} GROUP BY ACHIEVE_MONTH 

		 UNION ALL

		SELECT '공정별가능자현황'LINE_GUBUN 
			  ,'가능자수'USER_NUMBER     
			  ,A.ACHIEVE_MONTH  ACHIEVE_MONTH   
			  ,(SUM(A.SMALL_EACH_WELDING)   + SUM(B.SMALL_EACH_WELDING)   )  SMALL_EACH_WELDING
			  ,(SUM(A.SMALL_ALL_WELDING    ) + SUM(B.SMALL_ALL_WELDING  )  )  SMALL_ALL_WELDING
			  ,(SUM(A.SMALL_WINDING        ) + SUM(B.SMALL_WINDING        ))  SMALL_WINDING
			  ,(SUM(A.SMALL_FITTING_PRESS  ) + SUM(B.SMALL_FITTING_PRESS  ))  SMALL_FITTING_PRESS
			  ,(SUM(A.SMALL_LEAD_CONN      ) + SUM(B.SMALL_LEAD_CONN      ))  SMALL_LEAD_CONN
			  ,(SUM(A.SMALL_MAGNET_ATTACH  ) + SUM(B.SMALL_MAGNET_ATTACH  ))  SMALL_MAGNET_ATTACH
			  ,(SUM(A.SMAIL_CHAKUA         ) + SUM(B.SMAIL_CHAKUA         ))  SMAIL_CHAKUA
			  ,(SUM(A.SMALL_BEARING_PRESSIN) + SUM(B.SMALL_BEARING_PRESSIN))  SMALL_BEARING_PRESSIN
			  ,(SUM(A.SMALL_ASSEMBLY       ) + SUM(B.SMALL_ASSEMBLY       ))  SMALL_ASSEMBLY
			  ,(SUM(A.SMALL_TEST           ) + SUM(B.SMALL_TEST           ))  SMALL_TEST
			  ,(SUM(A.MID_WINDING          ) + SUM(B.MID_WINDING          ))  MID_WINDING
			  ,(SUM(A.MID_ALL_WELDING      ) + SUM(B.MID_ALL_WELDING      ))  MID_ALL_WELDING
			  ,(SUM(A.MID_ST_CONN          ) + SUM(B.MID_ST_CONN          ))  MID_ST_CONN
			  ,(SUM(A.MID_INSERT_FRAME     ) + SUM(B.MID_INSERT_FRAME     ))  MID_INSERT_FRAME
			  ,(SUM(A.MID_FITTING_PRESS    ) + SUM(B.MID_FITTING_PRESS    ))  MID_FITTING_PRESS
			  ,(SUM(A.MID_CONECTR_CONN     ) + SUM(B.MID_CONECTR_CONN     ))  MID_CONECTR_CONN
			  ,(SUM(A.MID_RT_PRESSIN       ) + SUM(B.MID_RT_PRESSIN       ))  MID_RT_PRESSIN
			  ,(SUM(A.MID_MAGNET_ATTACH    ) + SUM(B.MID_MAGNET_ATTACH    ))  MID_MAGNET_ATTACH
			  ,(SUM(A.MID_BALANSUNG        ) + SUM(B.MID_BALANSUNG        ))  MID_BALANSUNG
			  ,(SUM(A.MID_ASSEMBLY         ) + SUM(B.MID_ASSEMBLY         ))  MID_ASSEMBLY
			  ,(SUM(A.MID_TEST             ) + SUM(B.MID_TEST             ))  MID_TEST
			  ,''REG_ID               
			  ,''REG_DATE             
			  ,''UPD_ID               
			  ,''UPD_DATE   
		      ,''LINE_GUBUN_NM
		      ,''USER_NM      
		      ,'' SMALL_EACH_WELDING_NM
		      ,'' SMALL_ALL_WELDING_NM
		      ,'' SMALL_WINDING_NM
		      ,'' SMALL_FITTING_PRESS_NM
		      ,'' SMALL_LEAD_CONN_NM
		      ,'' SMALL_MAGNET_ATTACH_NM
		      ,'' SMAIL_CHAKUA_NM
		      ,'' SMALL_BEARING_PRESSIN_NM
		      ,'' SMALL_ASSEMBLY_NM
		      ,'' SMALL_TEST_NM
		      ,'' MID_WINDING_NM
		      ,'' MID_ALL_WELDING_NM
		      ,'' MID_ST_CONN_NM
		      ,'' MID_INSERT_FRAME_NM
		      ,'' MID_FITTING_PRESS_NM
		      ,'' MID_CONECTR_CONN_NM
		      ,'' MID_RT_PRESSIN_NM
		      ,'' MID_MAGNET_ATTACH_NM
		      ,'' MID_BALANSUNG_NM
		      ,'' MID_ASSEMBLY_NM
		      ,'' MID_TEST_NM
		  FROM 		 
		  (SELECT '공정별가능자현황'LINE_GUBUN 
			  ,'가능자 Line내'USER_NUMBER     
			  , ACHIEVE_MONTH  ACHIEVE_MONTH        
			  ,COUNT(CASE WHEN C.SMALL_EACH_WELDING = '001' OR C.SMALL_EACH_WELDING = '002' OR C.SMALL_EACH_WELDING = '003' OR C.SMALL_EACH_WELDING = '004' THEN 1 END) SMALL_EACH_WELDING
			  ,COUNT(CASE WHEN C.SMALL_ALL_WELDING = '001' OR C.SMALL_ALL_WELDING = '002' OR C.SMALL_ALL_WELDING = '003' OR C.SMALL_ALL_WELDING = '004' THEN 1 END) SMALL_ALL_WELDING    
			  ,COUNT(CASE WHEN C.SMALL_WINDING = '001' OR C.SMALL_WINDING = '002' OR C.SMALL_WINDING = '003' OR C.SMALL_WINDING = '004' THEN 1 END) SMALL_WINDING    
			  ,COUNT(CASE WHEN C.SMALL_FITTING_PRESS = '001' OR C.SMALL_FITTING_PRESS = '002' OR C.SMALL_FITTING_PRESS = '003' OR C.SMALL_FITTING_PRESS = '004' THEN 1 END) SMALL_FITTING_PRESS  
			  ,COUNT(CASE WHEN C.SMALL_LEAD_CONN = '001' OR C.SMALL_LEAD_CONN = '002' OR C.SMALL_LEAD_CONN = '003' OR C.SMALL_LEAD_CONN = '004' THEN 1 END) SMALL_LEAD_CONN      
			  ,COUNT(CASE WHEN C.SMALL_MAGNET_ATTACH = '001' OR C.SMALL_MAGNET_ATTACH = '002' OR C.SMALL_MAGNET_ATTACH = '003' OR C.SMALL_MAGNET_ATTACH = '004' THEN 1 END) SMALL_MAGNET_ATTACH  
			  ,COUNT(CASE WHEN C.SMAIL_CHAKUA = '001' OR C.SMAIL_CHAKUA = '002' OR C.SMAIL_CHAKUA = '003' OR C.SMAIL_CHAKUA = '004' THEN 1 END) SMAIL_CHAKUA         
			  ,COUNT(CASE WHEN C.SMALL_BEARING_PRESSIN = '001' OR C.SMALL_BEARING_PRESSIN = '002' OR C.SMALL_BEARING_PRESSIN = '003' OR C.SMALL_BEARING_PRESSIN = '004' THEN 1 END) SMALL_BEARING_PRESSIN
			  ,COUNT(CASE WHEN C.SMALL_ASSEMBLY = '001' OR C.SMALL_ASSEMBLY = '002' OR C.SMALL_ASSEMBLY = '003' OR C.SMALL_ASSEMBLY = '004' THEN 1 END) SMALL_ASSEMBLY       
			  ,COUNT(CASE WHEN C.SMALL_TEST = '001' OR C.SMALL_TEST = '002' OR C.SMALL_TEST = '003' OR C.SMALL_TEST = '004' THEN 1 END) SMALL_TEST           
			  ,COUNT(CASE WHEN C.MID_WINDING = '001' OR C.MID_WINDING = '002' OR C.MID_WINDING = '003' OR C.MID_WINDING = '004' THEN 1 END) MID_WINDING          
			  ,COUNT(CASE WHEN C.MID_ALL_WELDING = '001' OR C.MID_ALL_WELDING = '002' OR C.MID_ALL_WELDING = '003' OR C.MID_ALL_WELDING = '004' THEN 1 END) MID_ALL_WELDING      
			  ,COUNT(CASE WHEN C.MID_ST_CONN = '001' OR C.MID_ST_CONN = '002' OR C.MID_ST_CONN = '003' OR C.MID_ST_CONN = '004' THEN 1 END) MID_ST_CONN          
			  ,COUNT(CASE WHEN C.MID_INSERT_FRAME = '001' OR C.MID_INSERT_FRAME = '002' OR C.MID_INSERT_FRAME = '003' OR C.MID_INSERT_FRAME = '004' THEN 1 END) MID_INSERT_FRAME     
			  ,COUNT(CASE WHEN C.MID_FITTING_PRESS = '001' OR C.MID_FITTING_PRESS = '002' OR C.MID_FITTING_PRESS = '003' OR C.MID_FITTING_PRESS = '004' THEN 1 END) MID_FITTING_PRESS    
			  ,COUNT(CASE WHEN C.MID_CONECTR_CONN = '001' OR C.MID_CONECTR_CONN = '002' OR C.MID_CONECTR_CONN = '003' OR C.MID_CONECTR_CONN = '004' THEN 1 END) MID_CONECTR_CONN     
			  ,COUNT(CASE WHEN C.MID_RT_PRESSIN = '001' OR C.MID_RT_PRESSIN = '002' OR C.MID_RT_PRESSIN = '003' OR C.MID_RT_PRESSIN = '004' THEN 1 END) MID_RT_PRESSIN       
			  ,COUNT(CASE WHEN C.MID_MAGNET_ATTACH = '001' OR C.MID_MAGNET_ATTACH = '002' OR C.MID_MAGNET_ATTACH = '003' OR C.MID_MAGNET_ATTACH = '004' THEN 1 END) MID_MAGNET_ATTACH    
			  ,COUNT(CASE WHEN C.MID_BALANSUNG = '001' OR C.MID_BALANSUNG = '002' OR C.MID_BALANSUNG = '003' OR C.MID_BALANSUNG = '004' THEN 1 END) MID_BALANSUNG        
			  ,COUNT(CASE WHEN C.MID_ASSEMBLY = '001' OR C.MID_ASSEMBLY = '002' OR C.MID_ASSEMBLY = '003' OR C.MID_ASSEMBLY = '004' THEN 1 END) MID_ASSEMBLY         
			  ,COUNT(CASE WHEN C.MID_TEST = '001' OR C.MID_TEST = '002' OR C.MID_TEST = '003' OR C.MID_TEST = '004' THEN 1 END) MID_TEST             
			  ,''REG_ID               
			  ,''REG_DATE             
			  ,''UPD_ID               
			  ,''UPD_DATE   
		      ,''LINE_GUBUN_NM
		      ,''USER_NM      
		      ,'' SMALL_EACH_WELDING_NM
		      ,'' SMALL_ALL_WELDING_NM
		      ,'' SMALL_WINDING_NM
		      ,'' SMALL_FITTING_PRESS_NM
		      ,'' SMALL_LEAD_CONN_NM
		      ,'' SMALL_MAGNET_ATTACH_NM
		      ,'' SMAIL_CHAKUA_NM
		      ,'' SMALL_BEARING_PRESSIN_NM
		      ,'' SMALL_ASSEMBLY_NM
		      ,'' SMALL_TEST_NM
		      ,'' MID_WINDING_NM
		      ,'' MID_ALL_WELDING_NM
		      ,'' MID_ST_CONN_NM
		      ,'' MID_INSERT_FRAME_NM
		      ,'' MID_FITTING_PRESS_NM
		      ,'' MID_CONECTR_CONN_NM
		      ,'' MID_RT_PRESSIN_NM
		      ,'' MID_MAGNET_ATTACH_NM
		      ,'' MID_BALANSUNG_NM
		      ,'' MID_ASSEMBLY_NM
		      ,'' MID_TEST_NM
		  FROM TB_ACHIEVE_ADM C
		  WHERE ACHIEVE_MONTH = #{achieveMonth} AND LINE_GUBUN = '001' GROUP BY ACHIEVE_MONTH ) A,

	(SELECT '공정별가능자현황'LINE_GUBUN 
			  ,'Line외'USER_NUMBER     
			  , ACHIEVE_MONTH  ACHIEVE_MONTH        
			  ,COUNT(CASE WHEN C.SMALL_EACH_WELDING = '001' OR C.SMALL_EACH_WELDING = '002' THEN 1 END) SMALL_EACH_WELDING
			  ,COUNT(CASE WHEN C.SMALL_ALL_WELDING = '001' OR C.SMALL_ALL_WELDING = '002' THEN 1 END) SMALL_ALL_WELDING    
			  ,COUNT(CASE WHEN C.SMALL_WINDING = '001' OR C.SMALL_WINDING = '002' THEN 1 END) SMALL_WINDING    
			  ,COUNT(CASE WHEN C.SMALL_FITTING_PRESS = '001' OR C.SMALL_FITTING_PRESS = '002' THEN 1 END) SMALL_FITTING_PRESS  
			  ,COUNT(CASE WHEN C.SMALL_LEAD_CONN = '001' OR C.SMALL_LEAD_CONN = '002' THEN 1 END) SMALL_LEAD_CONN      
			  ,COUNT(CASE WHEN C.SMALL_MAGNET_ATTACH = '001' OR C.SMALL_MAGNET_ATTACH = '002' THEN 1 END) SMALL_MAGNET_ATTACH  
			  ,COUNT(CASE WHEN C.SMAIL_CHAKUA = '001' OR C.SMAIL_CHAKUA = '002'  THEN 1 END) SMAIL_CHAKUA         
			  ,COUNT(CASE WHEN C.SMALL_BEARING_PRESSIN = '001' OR C.SMALL_BEARING_PRESSIN = '002' THEN 1 END) SMALL_BEARING_PRESSIN
			  ,COUNT(CASE WHEN C.SMALL_ASSEMBLY = '001' OR C.SMALL_ASSEMBLY = '002' THEN 1 END) SMALL_ASSEMBLY       
			  ,COUNT(CASE WHEN C.SMALL_TEST = '001' OR C.SMALL_TEST = '002'  THEN 1 END) SMALL_TEST           
			  ,COUNT(CASE WHEN C.MID_WINDING = '001' OR C.MID_WINDING = '002' THEN 1 END) MID_WINDING          
			  ,COUNT(CASE WHEN C.MID_ALL_WELDING = '001' OR C.MID_ALL_WELDING = '002' THEN 1 END) MID_ALL_WELDING      
			  ,COUNT(CASE WHEN C.MID_ST_CONN = '001' OR C.MID_ST_CONN = '002' THEN 1 END) MID_ST_CONN          
			  ,COUNT(CASE WHEN C.MID_INSERT_FRAME = '001' OR C.MID_INSERT_FRAME = '002' THEN 1 END) MID_INSERT_FRAME     
			  ,COUNT(CASE WHEN C.MID_FITTING_PRESS = '001' OR C.MID_FITTING_PRESS = '002' THEN 1 END) MID_FITTING_PRESS    
			  ,COUNT(CASE WHEN C.MID_CONECTR_CONN = '001' OR C.MID_CONECTR_CONN = '002' THEN 1 END) MID_CONECTR_CONN     
			  ,COUNT(CASE WHEN C.MID_RT_PRESSIN = '001' OR C.MID_RT_PRESSIN = '002' THEN 1 END) MID_RT_PRESSIN       
			  ,COUNT(CASE WHEN C.MID_MAGNET_ATTACH = '001' OR C.MID_MAGNET_ATTACH = '002' THEN 1 END) MID_MAGNET_ATTACH    
			  ,COUNT(CASE WHEN C.MID_BALANSUNG = '001' OR C.MID_BALANSUNG = '002' THEN 1 END) MID_BALANSUNG        
			  ,COUNT(CASE WHEN C.MID_ASSEMBLY = '001' OR C.MID_ASSEMBLY = '002' THEN 1 END) MID_ASSEMBLY         
			  ,COUNT(CASE WHEN C.MID_TEST = '001' OR C.MID_TEST = '002' THEN 1 END) MID_TEST             
			  ,''REG_ID               
			  ,''REG_DATE             
			  ,''UPD_ID               
			  ,''UPD_DATE   
		      ,''LINE_GUBUN_NM
		      ,''USER_NM      
		      ,'' SMALL_EACH_WELDING_NM
		      ,'' SMALL_ALL_WELDING_NM
		      ,'' SMALL_WINDING_NM
		      ,'' SMALL_FITTING_PRESS_NM
		      ,'' SMALL_LEAD_CONN_NM
		      ,'' SMALL_MAGNET_ATTACH_NM
		      ,'' SMAIL_CHAKUA_NM
		      ,'' SMALL_BEARING_PRESSIN_NM
		      ,'' SMALL_ASSEMBLY_NM
		      ,'' SMALL_TEST_NM
		      ,'' MID_WINDING_NM
		      ,'' MID_ALL_WELDING_NM
		      ,'' MID_ST_CONN_NM
		      ,'' MID_INSERT_FRAME_NM
		      ,'' MID_FITTING_PRESS_NM
		      ,'' MID_CONECTR_CONN_NM
		      ,'' MID_RT_PRESSIN_NM
		      ,'' MID_MAGNET_ATTACH_NM
		      ,'' MID_BALANSUNG_NM
		      ,'' MID_ASSEMBLY_NM
		      ,'' MID_TEST_NM
		  FROM TB_ACHIEVE_ADM C
		  WHERE ACHIEVE_MONTH = #{achieveMonth} AND LINE_GUBUN = '002' GROUP BY ACHIEVE_MONTH ) B

		  WHERE A.LINE_GUBUN = B.LINE_GUBUN GROUP BY A.ACHIEVE_MONTH 
		  ORDER BY LINE_GUBUN ASC
		]]>
	</select>
	
	
 	 <!--성과 목록 등록  -->
 	<insert id="AchieveAdmCreate"> 
 		<![CDATA[
 		INSERT INTO TB_ACHIEVE_ADM(
           LINE_GUBUN
           ,USER_NUMBER
           ,ACHIEVE_MONTH
           ,SMALL_EACH_WELDING
           ,SMALL_ALL_WELDING
           ,SMALL_WINDING
           ,SMALL_FITTING_PRESS
           ,SMALL_LEAD_CONN
           ,SMALL_MAGNET_ATTACH
           ,SMAIL_CHAKUA
           ,SMALL_BEARING_PRESSIN
           ,SMALL_ASSEMBLY
           ,SMALL_TEST
           ,MID_WINDING
           ,MID_ALL_WELDING
           ,MID_ST_CONN
           ,MID_INSERT_FRAME
           ,MID_FITTING_PRESS
           ,MID_CONECTR_CONN
           ,MID_RT_PRESSIN
           ,MID_MAGNET_ATTACH
           ,MID_BALANSUNG
           ,MID_ASSEMBLY
           ,MID_TEST
           ,REG_ID
           ,REG_DATE
           ,UPD_ID
           ,UPD_DATE
        )
     	VALUES(
           #{lineGubun}
           ,#{userNumber}           
           ,#{achieveMonth}       
           ,#{smallEachWelding}   
           ,#{smallAllWelding}    
           ,#{smallWinding}       
           ,#{smallFittingPress}  
           ,#{smallLeadConn}      
           ,#{smallMagnetAttach}  
           ,#{smailChakua}        
           ,#{smallBearingPressin}
           ,#{smallAssembly}      
           ,#{smallTest}          
           ,#{midWinding}         
           ,#{midAllWelding}      
           ,#{midStConn}          
           ,#{midInsertFrame}     
           ,#{midFittingPress}    
           ,#{midConectrConn}     
           ,#{midRtPressin}       
           ,#{midMagnetAttach}    
           ,#{midBalansung}       
           ,#{midAssembly}        
           ,#{midTest}            
           ,#{regId}    
		   ,getDate()    
           ,#{updId}      
		   ,getDate()        
       )
 		]]> 
 	</insert> 
 	
 	
	<!-- 성과 목록 수정   -->
 	<update id="AchieveAdmUpdate"> 
 		<![CDATA[ 
 		UPDATE TB_ACHIEVE_ADM
		SET SMALL_EACH_WELDING = #{smallEachWelding}
           ,SMALL_ALL_WELDING = #{smallAllWelding}
           ,SMALL_WINDING = #{smallWinding}
           ,SMALL_FITTING_PRESS = #{smallFittingPress}
           ,SMALL_LEAD_CONN = #{smallLeadConn}
           ,SMALL_MAGNET_ATTACH = #{smallMagnetAttach}
           ,SMAIL_CHAKUA = #{smailChakua}
           ,SMALL_BEARING_PRESSIN = #{smallBearingPressin}
           ,SMALL_ASSEMBLY = #{smallAssembly}
           ,SMALL_TEST = #{smallTest}
           ,MID_WINDING = #{midWinding}
           ,MID_ALL_WELDING = #{midAllWelding}
           ,MID_ST_CONN = #{midStConn}
           ,MID_INSERT_FRAME = #{midInsertFrame}
           ,MID_FITTING_PRESS = #{midFittingPress}
           ,MID_CONECTR_CONN = #{midConectrConn}
           ,MID_RT_PRESSIN = #{midRtPressin}
           ,MID_MAGNET_ATTACH = #{midMagnetAttach}
           ,MID_BALANSUNG = #{midBalansung}
           ,MID_ASSEMBLY = #{midAssembly}
           ,MID_TEST = #{midTest} 
		   ,UPD_ID = #{updId}
		   ,UPD_DATE = GETDATE()
		   ,REG_ID = #{regId}
		   ,REG_DATE = GETDATE()
	WHERE LINE_GUBUN = #{lineGubun} AND
		  ACHIEVE_MONTH	= #{achieveMonth} AND
		  USER_NUMBER = #{userNumber}
 			
		]]>
 	</update> 
 	
 	
		<!-- 성과표 목록 삭제  --> 
	<delete id="AchieveAdmDelete">
		<![CDATA[ 
			DELETE FROM TB_ACHIEVE_ADM WHERE LINE_GUBUN = #{lineGubun} AND ACHIEVE_MONTH = #{achieveMonth} AND USER_NUMBER = #{userNumber}
		]]>  
	</delete>  
	
	<!-- 성과 목록 출력 -->  
	<select id="AchieveAdmRead" resultMap="AchieveAdmVo">
		<![CDATA[
			 SELECT A.LINE_GUBUN 
			  ,USER_NUMBER     
			  ,ACHIEVE_MONTH        
			  ,SMALL_EACH_WELDING   
			  ,SMALL_ALL_WELDING    
			  ,SMALL_WINDING        
			  ,SMALL_FITTING_PRESS  
			  ,SMALL_LEAD_CONN      
			  ,SMALL_MAGNET_ATTACH  
			  ,SMAIL_CHAKUA         
			  ,SMALL_BEARING_PRESSIN
			  ,SMALL_ASSEMBLY       
			  ,SMALL_TEST           
			  ,MID_WINDING          
			  ,MID_ALL_WELDING      
			  ,MID_ST_CONN          
			  ,MID_INSERT_FRAME     
			  ,MID_FITTING_PRESS    
			  ,MID_CONECTR_CONN     
			  ,MID_RT_PRESSIN       
			  ,MID_MAGNET_ATTACH    
			  ,MID_BALANSUNG        
			  ,MID_ASSEMBLY         
			  ,MID_TEST             
			  ,REG_ID               
			  ,REG_DATE             
			  ,UPD_ID               
			  ,UPD_DATE   
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.LINE_GUBUN AND BASE_GROUP_CD='065') LINE_GUBUN_NM
		      ,(SELECT USER_NM FROM TB_USER U WHERE U.USER_NUMBER=A.USER_NUMBER) USER_NM      
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_EACH_WELDING AND BASE_GROUP_CD='064') SMALL_EACH_WELDING_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_ALL_WELDING AND BASE_GROUP_CD='064') SMALL_ALL_WELDING_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_WINDING AND BASE_GROUP_CD='064') SMALL_WINDING_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_FITTING_PRESS AND BASE_GROUP_CD='064') SMALL_FITTING_PRESS_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_LEAD_CONN AND BASE_GROUP_CD='064') SMALL_LEAD_CONN_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_MAGNET_ATTACH AND BASE_GROUP_CD='064') SMALL_MAGNET_ATTACH_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMAIL_CHAKUA AND BASE_GROUP_CD='064') SMAIL_CHAKUA_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_BEARING_PRESSIN AND BASE_GROUP_CD='064') SMALL_BEARING_PRESSIN_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_ASSEMBLY AND BASE_GROUP_CD='064') SMALL_ASSEMBLY_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SMALL_TEST AND BASE_GROUP_CD='064') SMALL_TEST_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_WINDING AND BASE_GROUP_CD='064') MID_WINDING_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_ALL_WELDING AND BASE_GROUP_CD='064') MID_ALL_WELDING_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_ST_CONN AND BASE_GROUP_CD='064') MID_ST_CONN_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_INSERT_FRAME AND BASE_GROUP_CD='064') MID_INSERT_FRAME_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_FITTING_PRESS AND BASE_GROUP_CD='064') MID_FITTING_PRESS_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_CONECTR_CONN AND BASE_GROUP_CD='064') MID_CONECTR_CONN_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_RT_PRESSIN AND BASE_GROUP_CD='064') MID_RT_PRESSIN_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_MAGNET_ATTACH AND BASE_GROUP_CD='064') MID_MAGNET_ATTACH_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_BALANSUNG AND BASE_GROUP_CD='064') MID_BALANSUNG_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_ASSEMBLY AND BASE_GROUP_CD='064') MID_ASSEMBLY_NM
		      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.MID_TEST AND BASE_GROUP_CD='064') MID_TEST_NM
		  FROM TB_ACHIEVE_ADM A
		  WHERE ACHIEVE_MONTH = #{achieveMonth}
		  AND LINE_GUBUN = #{lineGubun}
		  AND USER_NUMBER = #{userNumber}
		 ]]>
	 </select>
</mapper>  
