<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.bs.bizOrderAdmMapper">
	
	<resultMap id="BizOrderAdmVo" type="mes.domain.bs.BizOrderAdmVo">
		<result property="contNo"		column="CONT_NO"			/>
		<result property="contDtlNo"	column="CONT_DTL_NO"		/>
		<result property="bizGubun"		column="BIZ_GUBUN"			/>
		<result property="rcvDate"		column="RCV_DATE"			/>
		<result property="rcvChargr"	column="RCV_CHARGR"			/>
		<result property="rcvChargrNm"	column="RCV_CHARGR_NM"		/>
		<result property="ordNo"		column="ORD_NO"				/>
		<result property="ordCorpCd"	column="ORD_CORP_CD"		/>
		<result property="ordCorpNm"	column="ORD_CORP_NM"		/>
		<result property="shipReqDate"	column="SHIP_REQ_DATE"		/>
		<result property="inexGubun"	column="INEX_GUBUN"			/>
		<result property="inexGubunNm"	column="INEX_GUBUN_NM"		/>
		<result property="contGubun"	column="CONT_GUBUN"			/>
		<result property="contGubunNm"	column="CONT_GUBUN_NM"		/>
		<result property="itemCd"		column="ITEM_CD"			/>
		<result property="itemRev"		column="ITEM_REV"			/>
		<result property="itemNm"		column="ITEM_NM"			/>
		<result property="ordCnt"		column="ORD_CNT"			/>
		<result property="delayCnt"		column="DELAY_CNT"			/>
		<result property="unitCost"		column="UNIT_COST"			/>
		<result property="itemSeries"	column="ITEM_SERIES"		/>
		<result property="shipCnt"		column="SHIP_CNT"			/>
		<result property="confirmYn"	column="CONFIRM_YN"			/>
		<result property="confirmYnNm"	column="CONFIRM_YN_NM"		/>
		<result property="contClient"	column="CONT_CLIENT"		/>
		<result property="bizOrdDtl"	column="BIZ_ORD_DTL"		/>	
		<result property="bizDtlDesc"	column="BIZ_DTL_DESC"		/>		
		<result property="ordRegDate"	column="ORD_REG_DATE"		/>
		<result property="regId"		column="REG_ID"				/>
		<result property="regDate"		column="REG_DATE"			/>
		<result property="updId"		column="UPD_ID"				/>
		<result property="updDate"		column="UPD_DATE"			/>
		<result property="poNo"			column="PO_NO"				/>
		
		<result property="workOrdNo"	column="WORK_ORD_NO"		/>
		<result property="contSeq"		column="CONT_SEQ"			/>
		<result property="dtlOrdCnt"	column="DTL_ORD_CNT"		/>
		<result property="dtlShipCnt" 	column="DTL_SHIP_CNT"		/>
		<result property="lotNo"		column="LOT_NO"				/>		
		<result property="ordDtlDesc"	column="ORD_DTL_DESC"		/>
		<result property="dtlRegDate"	column="DTL_REG_DATE"		/>
		<result property="startDate"  	column="START_DATE"			/>
		<result property="endDate"  	column="END_DATE"			/>
		
		<result property="etcGubun"		column="ETC_GUBUN"			/>
		<result property="etcSeq"		column="ETC_SEQ"			/>
		<result property="etcDept"		column="ETC_DEPT"			/>
		<result property="etcCont"		column="ETC_CONT"			/>
		<result property="etcDate"		column="ETC_DATE"			/>
		<result property="etcCharger"	column="ETC_CHARGER"		/>
		<result property="etcChargerNm"	column="ETC_CHARGER_NM"		/>
		<result property="etcDesc"		column="ETC_DESC"			/>
		<result property="leftCnt"		column="LEFT_CNT"			/>
		
		<result property="etcSd"		column="ETC_SD"				/>
		<result property="etcDl"		column="ETC_DL"				/>
		<result property="etcPc"		column="ETC_PC"				/>
		<result property="etcDa"		column="ETC_DA"				/>
		
		<result property="date"			column="DATE"				/>
		<result property="mrpNo"		column="MRP_NO"				/>
		<result property="mrpSeq"		column="MRP_SEQ"			/>
		
		<result property="tmQty"		column="TM_QTY"				/>
		<result property="preOrdQty"	column="PRE_ORD_QTY"		/>
		
		<result property="itemVoltage"	column="ITEM_VOLTAGE"		/>
		<result property="itemOutput"	column="ITEM_OUTPUT"		/>
		<result property="itemSize"		column="ITEM_SIZE"			/>
		<result property="itemGubun"	column="ITEM_GUBUN"			/>		
		<result property="approveStatus"	column="APPROVE_STATUS"			/>		
		
		
	</resultMap>

	<select id="bizOrderAllList" resultMap="BizOrderAdmVo">
	<![CDATA[
			SELECT 
				A.CONT_NO
				, B.CONT_DTL_NO
				, A.BIZ_GUBUN
				, INEX_GUBUN
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.INEX_GUBUN AND BASE_GROUP_CD='044') INEX_GUBUN_NM
				, CONT_GUBUN
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.CONT_GUBUN AND BASE_GROUP_CD='045') CONT_GUBUN_NM
				, B.ITEM_CD
				,(SELECT ITEM_NM FROM TB_ITEM_MOTOR_ADM X WHERE X.ITEM_CD=B.ITEM_CD AND X.ITEM_REV=B.ITEM_REV) ITEM_NM
				, B.ITEM_REV
				, B.DTL_ORD_CNT
				, SHIP_REQ_DATE
				, ORD_CORP_CD
				, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=ORD_CORP_CD )ORD_CORP_NM
			FROM TB_BIZ_ORDER_ADM A, TB_BIZ_ORDER_DTL B
			WHERE B.CONT_NO = A.CONT_NO
			AND A.BIZ_GUBUN=B.BIZ_GUBUN
			AND ORD_REG_DATE BETWEEN #{startDate} AND #{endDate}
		]]>
	</select>
	
	<!-- 리스트조회 (소요량 )-->
	<select id="bizOrderAllList2" resultMap="BizOrderAdmVo">
		SELECT 
			A.CONT_NO
			, B.CONT_DTL_NO
			, A.BIZ_GUBUN
			, INEX_GUBUN
			,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.INEX_GUBUN AND BASE_GROUP_CD='044') INEX_GUBUN_NM
			, CONT_GUBUN
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.CONT_GUBUN AND BASE_GROUP_CD='045') CONT_GUBUN_NM
			, B.ITEM_CD
			,(SELECT ITEM_NM FROM TB_ITEM_MOTOR_ADM X WHERE X.ITEM_CD=B.ITEM_CD AND X.ITEM_REV=B.ITEM_REV) ITEM_NM				
			, B.ITEM_REV
			, B.UNIT_COST
			,(SELECT ITEM_SERIES FROM TB_ITEM_MOTOR_ADM X WHERE X.ITEM_CD=B.ITEM_CD AND X.ITEM_REV=B.ITEM_REV) ITEM_SERIES	
			, B.DTL_ORD_CNT
			, SHIP_REQ_DATE
			, C.CONT_DTL_NO
		FROM TB_BIZ_ORDER_ADM A
		INNER JOIN TB_BIZ_ORDER_DTL B
		ON B.CONT_NO = A.CONT_NO
		AND A.BIZ_GUBUN=B.BIZ_GUBUN
		LEFT OUTER JOIN (
			SELECT CONT_DTL_NO 
			FROM TB_BIZ_ORDER_CONSUMPT  C
			GROUP BY C.CONT_DTL_NO
		) C
		ON B.CONT_DTL_NO=C.CONT_DTL_NO
		WHERE 1=1		
		AND C.CONT_DTL_NO IS NULL
		
		<if test="itemCd!=null and !itemCd.equals('')">
			AND B.ITEM_CD = #{itemCd}
			AND B.ITEM_REV = #{itemRev} 
		</if>
		
		ORDER BY B.CONT_DTL_NO DESC
			
	</select>
	
	<!-- 상세리스트조회 (소요량 )-->
	<select id="bizOrderAllList3" resultMap="BizOrderAdmVo">
		<![CDATA[
			SELECT DISTINCT
				A.CONT_NO
				, B.CONT_DTL_NO
				, A.BIZ_GUBUN
				, INEX_GUBUN
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.INEX_GUBUN AND BASE_GROUP_CD='044') INEX_GUBUN_NM
				, CONT_GUBUN
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.CONT_GUBUN AND BASE_GROUP_CD='045') CONT_GUBUN_NM
				, B.ITEM_CD
				,(SELECT ITEM_NM FROM TB_ITEM_MOTOR_ADM X WHERE X.ITEM_CD=B.ITEM_CD AND X.ITEM_REV=B.ITEM_REV ) ITEM_NM				
				, B.ITEM_REV
				, B.DTL_ORD_CNT
				, SHIP_REQ_DATE
				,(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=A.ORD_CORP_CD) ORD_CORP_NM
				, B.UNIT_COST
			FROM TB_BIZ_ORDER_ADM A, TB_BIZ_ORDER_DTL B, TB_BIZ_ORDER_CONSUMPT C, TB_BIZ_ORDER_MRP D
			WHERE A.CONT_NO = B.CONT_NO
			AND C.CONT_DTL_NO = B.CONT_DTL_NO
			AND D.MRP_NO = C.MRP_NO
			AND D.MRP_SEQ = C.MRP_SEQ
			AND D.MRP_NO = #{mrpNo}
			AND D.MRP_SEQ = #{mrpSeq}
		]]>
	</select>
	
	
	<!--영업주문관리 목록조회(외부/내부) -->
	<select id="bizOrderAdmList" resultMap="BizOrderAdmVo">
		<![CDATA[
			SELECT 
				CONT_NO
				,BIZ_GUBUN
				,PO_NO
				,RCV_DATE
				,RCV_CHARGR
				,(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=A.RCV_CHARGR) RCV_CHARGR_NM
				,ORD_CORP_CD
				,(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=A.ORD_CORP_CD) ORD_CORP_NM
				,SHIP_REQ_DATE 
				,INEX_GUBUN 
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.INEX_GUBUN AND BASE_GROUP_CD='044') INEX_GUBUN_NM
				,CONT_GUBUN
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.CONT_GUBUN AND BASE_GROUP_CD='045') CONT_GUBUN_NM
				,CONFIRM_YN 
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.CONFIRM_YN AND X.BASE_GROUP_CD='046')CONFIRM_YN_NM	
				,CONT_CLIENT 				
				,ORD_REG_DATE 
				,USE_YN			
			FROM TB_BIZ_ORDER_ADM A
			WHERE BIZ_GUBUN = #{bizGubun}
			AND ORD_REG_DATE BETWEEN #{startDate} AND #{endDate}
		]]>
	</select>
	
		<!--영업주문관리 상세조회(외부/내부) -->
	<select id="bizOrderAdmRead" resultMap="BizOrderAdmVo">
		<![CDATA[
			SELECT 
				CONT_NO				
				,BIZ_GUBUN
				,PO_NO
				,RCV_DATE
				,RCV_CHARGR
				,(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=A.RCV_CHARGR) RCV_CHARGR_NM
				,ORD_CORP_CD
				,(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=A.ORD_CORP_CD) ORD_CORP_NM
				,SHIP_REQ_DATE 
				,INEX_GUBUN 
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.INEX_GUBUN AND BASE_GROUP_CD='044') INEX_GUBUN_NM
				,CONT_GUBUN
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.CONT_GUBUN AND BASE_GROUP_CD='045') CONT_GUBUN_NM
				,CONFIRM_YN 
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.CONFIRM_YN AND X.BASE_GROUP_CD='046')CONFIRM_YN_NM	
				,CONT_CLIENT 				
				,ORD_REG_DATE 
				,USE_YN			
			FROM TB_BIZ_ORDER_ADM A
			WHERE BIZ_GUBUN = #{bizGubun}
			AND CONT_NO = #{contNo}
		]]>
	</select>
	

	<!-- 영업주문관리 등록 -->
	<insert id="bizOrderAdmCreate">
		<![CDATA[
			INSERT INTO TB_BIZ_ORDER_ADM		(
				CONT_NO
				,BIZ_GUBUN
				,PO_NO
				,RCV_DATE
				,RCV_CHARGR
				,ORD_CORP_CD
				,SHIP_REQ_DATE
				,INEX_GUBUN
				,CONT_GUBUN
				,CONFIRM_YN
				,CONT_CLIENT				
				,ORD_REG_DATE
				,USE_YN
				,REG_ID
				,REG_DATE
			) 
			VALUES(
				#{contNo},
				#{bizGubun},
				#{poNo},
				#{rcvDate},
				#{rcvChargr},				
				#{ordCorpCd},
				#{shipReqDate},
				#{inexGubun},
				#{contGubun},				
				#{confirmYn},
				#{contClient},				
				#{ordRegDate},			
				#{useYn},
				#{regId},
				getDate()
			)
		]]>
	</insert>

	<!-- 영업주문관리 수정 -->
	<update id="bizOrderAdmUpdate">
		<![CDATA[
			UPDATE	TB_BIZ_ORDER_ADM		 
			SET	PO_NO = #{poNo},
				RCV_DATE = #{rcvDate},
				RCV_CHARGR = #{rcvChargr},
				ORD_CORP_CD = #{ordCorpCd},
				SHIP_REQ_DATE = #{shipReqDate},
				INEX_GUBUN = #{inexGubun},
				CONT_GUBUN = #{contGubun},
				CONFIRM_YN = #{confirmYn},
				CONT_CLIENT = #{contClient},				
				ORD_REG_DATE = #{ordRegDate},
				USE_YN = #{useYn},
				UPD_ID = #{updId},
				UPD_DATE = getDate()
			WHERE BIZ_GUBUN = #{bizGubun}
			AND CONT_NO = #{contNo}
		]]>
	</update>


	<!-- 수주번호 생성 -->
	<select id="getContNo" resultType="String">
		SELECT ISNULL(RIGHT('000' + CAST(MAX(RIGHT(CONT_NO,3))+1 AS NVARCHAR),3), '001') 
		FROM TB_BIZ_ORDER_ADM WHERE  SUBSTRING(CONT_NO,2,8) = #{date}
		AND BIZ_GUBUN=#{bizGubun}
	</select>
	
	<!-- 영업주문관리 수주번호 중봅검사 -->
	<select id="overlapContNo" resultType="Integer">
		SELECT COUNT(*) FROM TB_BIZ_ORDER_ADM WHERE CONT_NO=#{contNo}
	</select>

	<!-- 주문수량 가져오기 -->
	<select id="getOrdCnt" resultType="Integer">
		SELECT ORD_CNT FROM TB_BIZ_ORDER_ADM WHERE CONT_NO= #{contNo}
	</select>
	
	<!-- 생산수량 합 가져오기 -->
	<select id="getSumDtlOrdCnt" resultType="Integer">
		SELECT SUM(DTL_ORD_CNT) FROM TB_BIZ_ORDER_DTL WHERE CONT_NO=#{contNo} AND NOT WORK_ORD_NO IN(#{contDtlNo})
	</select>
	
	<!-- 영업주문상세 목록조회 -->
	<select id="bizOrderDtlList" resultMap="BizOrderAdmVo">
		<![CDATA[
			SELECT
				CONT_NO
				,BIZ_GUBUN
				,CONT_DTL_NO
				,A.ITEM_CD
				,(SELECT ITEM_NM FROM TB_ITEM_MOTOR_ADM X WHERE X.ITEM_CD = A.ITEM_CD AND X.ITEM_REV=A.ITEM_REV) ITEM_NM
				,DTL_ORD_CNT
				,DELAY_CNT
				,SHIP_CNT
				,LOT_NO
				,ORD_DTL_DESC
				,BIZ_DTL_DESC
				,(SELECT SHIP_REQ_DATE FROM TB_BIZ_ORDER_ADM X WHERE X.CONT_NO=A.CONT_NO AND X.BIZ_GUBUN = A.BIZ_GUBUN ) SHIP_REQ_DATE
				,DTL_REG_DATE				
				,ISNULL(A.UNIT_COST,0) UNIT_COST
			FROM TB_BIZ_ORDER_DTL A
			INNER JOIN TB_ITEM_MOTOR_ADM B
			ON A.ITEM_CD=B.ITEM_CD
			AND A.ITEM_REV=B.ITEM_REV
			WHERE CONT_NO = #{contNo}
			AND BIZ_GUBUN = #{bizGubun}
		]]>
	</select>
	
	<!--영업주문관리 상세조회(외부/내부) -->
	<select id="bizOrderDtlRead" resultMap="BizOrderAdmVo">
		<![CDATA[
			SELECT
				A.CONT_NO
				,A.CONT_DTL_NO
				,A.BIZ_GUBUN			
				,A.ITEM_CD
				,A.ITEM_REV
				,(SELECT ITEM_NM FROM TB_ITEM_MOTOR_ADM X WHERE X.ITEM_CD = A.ITEM_CD AND X.ITEM_REV=A.ITEM_REV) ITEM_NM
				,A.DTL_ORD_CNT
				,B.CONT_GUBUN
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=B.CONT_GUBUN AND BASE_GROUP_CD='045') CONT_GUBUN_NM
				,A.DELAY_CNT
				,A.SHIP_CNT
				,A.LOT_NO
				,A.ORD_DTL_DESC				
				,A.BIZ_DTL_DESC
				,A.DTL_REG_DATE		
				,B.SHIP_REQ_DATE			
			FROM TB_BIZ_ORDER_DTL A, TB_BIZ_ORDER_ADM B
			WHERE CONT_DTL_NO= #{contDtlNo}
			AND A.CONT_NO = B.CONT_NO
		]]>
	</select>
	
	<!-- 영어부문상세 등록 -->
	<insert id="bizOrderDtlCreate">
		<![CDATA[
			INSERT INTO TB_BIZ_ORDER_DTL(
				CONT_DTL_NO,
				CONT_NO,
				BIZ_GUBUN,
				ITEM_CD,
				ITEM_REV,
				DTL_ORD_CNT,
				DELAY_CNT,
				SHIP_CNT,
				LOT_NO,
				UNIT_COST,
				ORD_DTL_DESC,
				DTL_REG_DATE,
				BIZ_DTL_DESC,
				REG_ID,
				REG_DATE		
			) 
			VALUES(
				#{contDtlNo},
				#{contNo},
				#{bizGubun},
				#{itemCd},
				#{itemRev},
				#{dtlOrdCnt},
				#{dtlOrdCnt},
				0,
				#{lotNo},
				#{unitCost},
				#{ordDtlDesc},
				#{dtlRegDate},
				#{bizDtlDesc},
				#{regId},
				getDate()				
			)
				
			
		]]>
	</insert>
	
	<!-- 영업주문상세 수정 -->
	<update id="bizOrderDtlUpdate">
		<![CDATA[
			UPDATE	TB_BIZ_ORDER_DTL 
			SET	DTL_ORD_CNT = #{dtlOrdCnt},
				DELAY_CNT = #{dtlOrdCnt} - SHIP_CNT,
				LOT_NO = #{lotNo},
				UNIT_COST = #{unitCost},
				ORD_DTL_DESC = #{ordDtlDesc},
				DTL_REG_DATE = #{dtlRegDate},
				BIZ_DTL_DESC = #{bizDtlDesc},		
				UPD_ID = #{updId},
				UPD_DATE = GETDATE()
			WHERE CONT_DTL_NO = #{contDtlNo}
		]]>
	</update>
	
	<!-- 영업주문상세 삭제 -->
	<delete id="bizOrderDtlDelete">
		<![CDATA[
			DELETE FROM TB_BIZ_ORDER_DTL WHERE CONT_DTL_NO = #{contDtlNo} AND BIZ_GUBUN = #{bizGubun}
		]]>
	</delete>
	
	<!-- 수주시퀀스 가져오기 -->
	<select id="getContSeq" resultType="String">
		SELECT ISNULL(MAX(CONT_SEQ)+1,'1') FROM TB_BIZ_ORDER_DTL 
	</select>
	
	<!-- 작지번호 생성 -->
	<select id="getWorkOrdNoSeq" resultType="String">
		SELECT ISNULL(RIGHT('000' + CAST(MAX(RIGHT(WORK_ORD_NO,3))+1 AS NVARCHAR),3), '001') FROM TB_WORK_ORDER WHERE LEFT(WORK_ORD_NO,8) = #{date}
	</select>
	
		
	<!-- 수주상세번호 생성 -->
	<select id="getContDtlNoSeq" resultType="String">
		SELECT ISNULL(RIGHT('000' + CAST(MAX(RIGHT(CONT_DTL_NO,3))+1 AS NVARCHAR),3), '001') FROM TB_BIZ_ORDER_DTL WHERE CONT_NO = #{date}
	</select>
		
	<!--수주현황 목록조회(외부/내부) -->
	<select id="bizOrderAdmStatusList" resultMap="BizOrderAdmVo">
		<![CDATA[
			SELECT 
			   	 A.CONT_NO
			   	, B.CONT_DTL_NO
 				, RCV_DATE
				, RCV_CHARGR
				,(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=A.RCV_CHARGR) RCV_CHARGR_NM
				, ORD_CORP_CD
				,(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=A.ORD_CORP_CD) ORD_CORP_NM
				, CONT_CLIENT
				, INEX_GUBUN
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.INEX_GUBUN AND BASE_GROUP_CD='044') INEX_GUBUN_NM
				, CONT_GUBUN
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.CONT_GUBUN AND BASE_GROUP_CD='045') CONT_GUBUN_NM
				, B.ITEM_CD
				,(SELECT ITEM_NM FROM TB_ITEM_MOTOR_ADM X WHERE X.ITEM_CD=B.ITEM_CD AND X.ITEM_REV=B.ITEM_REV) ITEM_NM
				, B.DTL_ORD_CNT
				, B.LOT_NO
				, ITEM_VOLTAGE
				, ITEM_SIZE
				, B.UNIT_COST
				, SHIP_REQ_DATE
				, BIZ_DTL_DESC
			FROM TB_BIZ_ORDER_ADM A 
			INNER JOIN TB_BIZ_ORDER_DTL B
			ON A.CONT_NO = B.CONT_NO
			AND A.BIZ_GUBUN = B.BIZ_GUBUN
			INNER JOIN TB_ITEM_MOTOR_ADM C
			ON B.ITEM_CD=C.ITEM_CD
			AND B.ITEM_REV=C.ITEM_REV
			AND A.BIZ_GUBUN= #{bizGubun}
			AND A.ORD_REG_DATE BETWEEN #{startDate} AND #{endDate}
		]]>
	</select>
	
	<!--생산지시현황 목록조회-->
	<select id="bizOrderEtcAdmList" resultMap="BizOrderAdmVo">
		SELECT 
			 M.CONT_NO
		    , N.CONT_DTL_NO				
			, N.DTL_ORD_CNT
			, M.RCV_DATE
			, M.PO_NO
			, M.ORD_CORP_CD
			,(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=M.ORD_CORP_CD) ORD_CORP_NM
			, M.INEX_GUBUN
			,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=M.INEX_GUBUN AND BASE_GROUP_CD='044') INEX_GUBUN_NM
			, M.CONT_GUBUN
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=M.CONT_GUBUN AND BASE_GROUP_CD='045') CONT_GUBUN_NM
			, N.ITEM_CD
			, N.ITEM_REV
			,(SELECT ITEM_NM FROM TB_ITEM_MOTOR_ADM X WHERE X.ITEM_CD=N.ITEM_CD AND X.ITEM_REV=N.ITEM_REV) ITEM_NM
			, N.LOT_NO			
			, SHIP_CNT	
			, N.DELAY_CNT
			,(SELECT ETC_CONT FROM TB_BIZ_ORDER_ETC X WHERE ETC_GUBUN='SD' AND X.ETC_SEQ=(SELECT MAX(ETC_SEQ) FROM TB_BIZ_ORDER_ETC X WHERE ETC_GUBUN='SD' AND X.CONT_DTL_NO=N.CONT_DTL_NO)) ETC_SD
			,(SELECT ETC_DATE FROM TB_BIZ_ORDER_ETC X WHERE ETC_GUBUN='DL' AND X.ETC_SEQ=(SELECT MAX(ETC_SEQ) FROM TB_BIZ_ORDER_ETC X WHERE ETC_GUBUN='DL' AND X.CONT_DTL_NO=N.CONT_DTL_NO)) ETC_DL
			,(SELECT ETC_DATE FROM TB_BIZ_ORDER_ETC X WHERE ETC_GUBUN='PC' AND X.ETC_SEQ=(SELECT MAX(ETC_SEQ) FROM TB_BIZ_ORDER_ETC X WHERE ETC_GUBUN='PC' AND X.CONT_DTL_NO=N.CONT_DTL_NO)) ETC_PC
			,(SELECT ETC_CONT FROM TB_BIZ_ORDER_ETC X WHERE ETC_GUBUN='DA' AND X.ETC_SEQ=(SELECT MAX(ETC_SEQ) FROM TB_BIZ_ORDER_ETC X WHERE ETC_GUBUN='DA' AND X.CONT_DTL_NO=N.CONT_DTL_NO)) ETC_DA
			,(SELECT 
				(
					CASE WHEN MIN(C.APPROVE_STATUS) = 'A' THEN '출고진행'
							WHEN MIN(C.APPROVE_STATUS) = 'B' THEN '승인대기'
							WHEN MIN(C.APPROVE_STATUS) = 'C' THEN '승인진행'
							WHEN MIN(C.APPROVE_STATUS) = 'D' THEN '승인완료'
					END
				) AS APPROVE_STATUS
			FROM
			(
			SELECT ISNULL(B.APPROVE_STATUS,'A') APPROVE_STATUS
			FROM 
			(
			SELECT B.WORK_ORD_NO
			FROM TB_BIZ_ORDER_DTL A
			INNER JOIN TB_WORK_ORDER B
			ON A.CONT_DTL_NO = B.CONT_DTL_NO
			AND	A.CONT_DTL_NO = N.CONT_DTL_NO
			) A
			LEFT OUTER JOIN
			(
			SELECT
				X.WORK_ORD_NO,
				(
					CASE WHEN COUNT(Y.AP_CD) = 0 THEN 'B'
							WHEN COUNT(Y.AP_CD) = COUNT(X.BARCODE_NO) THEN 'D'
							ELSE 'C'
					END
				) AS APPROVE_STATUS
				FROM TB_OUT_WHS_ADM X
				LEFT OUTER JOIN TB_APPROVE_PROC_ADM Y
				ON X.BARCODE_NO = Y.AP_CD
				AND X.WORK_ORD_NO=Y.SOURCE_NO
				WHERE 1=1
				AND X.WORK_ORD_NO IN (SELECT B.WORK_ORD_NO
									FROM TB_BIZ_ORDER_DTL A
									INNER JOIN TB_WORK_ORDER B
									ON A.CONT_DTL_NO = B.CONT_DTL_NO
									AND	A.CONT_DTL_NO = N.CONT_DTL_NO)
				GROUP BY WORK_ORD_NO
			) B
			ON A.WORK_ORD_NO=B.WORK_ORD_NO
			GROUP BY A.WORK_ORD_NO , B.APPROVE_STATUS
			)C
		) APPROVE_STATUS
		FROM TB_BIZ_ORDER_DTL N, TB_BIZ_ORDER_ADM M
		WHERE 1=1
		AND N.CONT_NO = M.CONT_NO
		AND M.ORD_REG_DATE BETWEEN #{startDate} AND #{endDate}
		ORDER BY N.CONT_DTL_NO DESC
	</select>
	
	<!--생산지시현황 목록조회2-->
	<select id="bizOrderEtcAdmList2" resultMap="BizOrderAdmVo">
		<![CDATA[
			SELECT 
				A.CONT_NO
				, B.CONT_DTL_NO
				, A.BIZ_GUBUN
				, INEX_GUBUN
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.INEX_GUBUN AND BASE_GROUP_CD='044') INEX_GUBUN_NM
				, CONT_GUBUN
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.CONT_GUBUN AND BASE_GROUP_CD='045') CONT_GUBUN_NM
				, B.ITEM_CD
				,(SELECT ITEM_NM FROM TB_ITEM_MOTOR_ADM X WHERE X.ITEM_CD=B.ITEM_CD AND X.ITEM_REV=B.ITEM_REV) ITEM_NM
				, B.ITEM_REV
				, B.DTL_ORD_CNT
				, SHIP_REQ_DATE
				, ORD_CORP_CD
				, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=ORD_CORP_CD )ORD_CORP_NM
			FROM TB_BIZ_ORDER_ADM A, TB_BIZ_ORDER_DTL B
			WHERE B.CONT_NO = A.CONT_NO
			AND A.BIZ_GUBUN=B.BIZ_GUBUN
		]]>
	</select>
	
	<!-- 생산지시현황 ETC 조회 -->
	<select id="bizOrderEtcDtlList" resultMap="BizOrderAdmVo">
		<![CDATA[
			SELECT 
				A.ETC_SEQ
				, ETC_DEPT
				, ETC_CONT
				, ETC_DATE
				, ETC_CHARGER
				, (SELECT X.USER_NM FROM TB_USER X WHERE USER_NUMBER=A.ETC_CHARGER)ETC_CHARGER_NM
				, ETC_DESC
				, B.DTL_ORD_CNT
				, B.SHIP_CNT
			FROM TB_BIZ_ORDER_ETC A, TB_BIZ_ORDER_DTL B
			WHERE A.CONT_DTL_NO=B.CONT_DTL_NO
			AND ETC_GUBUN = #{etcGubun}
			AND A.CONT_DTL_NO = #{contDtlNo}
		]]>
	</select>
	
	<!-- 생산지시현황 전달사항, 생산지연사유 목록조회 -->
	<select id="bizOrderEtcDaSdList" resultMap="BizOrderAdmVo">
		<![CDATA[
			(
				SELECT 
					A.ETC_CONT
					, A.ETC_GUBUN
					, B.CONT_DTL_NO
					, A.ETC_SEQ
				FROM TB_BIZ_ORDER_ETC A, TB_BIZ_ORDER_DTL B
				WHERE A.CONT_DTL_NO=B.CONT_DTL_NO
				AND A.CONT_DTL_NO=#{contDtlNo}
				AND A.ETC_GUBUN='DA'
			)
			UNION
			(
				SELECT 
					A.ETC_CONT
					,A.ETC_GUBUN
					, B.CONT_DTL_NO
					, A.ETC_SEQ
				FROM TB_BIZ_ORDER_ETC A, TB_BIZ_ORDER_DTL B
				WHERE A.CONT_DTL_NO=B.CONT_DTL_NO
				AND A.CONT_DTL_NO=#{contDtlNo}
				AND A.ETC_GUBUN='SD'
			)
		]]>
	</select>
	
	
	<!-- 생산지시현황 ETC 등록 -->
	<insert id="bizOrderEtcDtlCreate">
		<![CDATA[
			INSERT INTO TB_BIZ_ORDER_ETC		(
				ETC_GUBUN,
				CONT_DTL_NO,
				ETC_SEQ,
				ETC_DEPT,
				ETC_CONT,
				ETC_DATE,
				ETC_CHARGER,
				ETC_DESC,
				REG_ID,
				REG_DATE
			) 
			VALUES(
				#{etcGubun},
				#{contDtlNo},
				#{etcSeq},
				#{etcDept},
				#{etcCont},
				#{etcDate},
				#{etcCharger},
				#{etcDesc},
				#{regId},
				getDate()
			)
		]]>
	</insert>
	
	
	
	<update id="etcDateUpdate">
		<![CDATA[
			UPDATE TB_BIZ_ORDER_ETC 
			SET ETC_DATE=#{etcDate}
			WHERE ETC_GUBUN='DL' 
			AND SUBSTRING(CONT_DTL_NO,0,14) = #{contNo}
			AND ETC_SEQ=(
				SELECT MAX(ETC_SEQ) 
				FROM TB_BIZ_ORDER_ETC 
				WHERE ETC_GUBUN='DL' AND SUBSTRING(CONT_DTL_NO,0,14) = #{contNo}
				)
		]]>
	</update>
	<!-- 기타별 상세 삭제 -->
	<delete id="bizOrderEtcDelete">
		<![CDATA[
			DELETE FROM TB_BIZ_ORDER_ETC WHERE ETC_GUBUN =#{etcGubun} AND CONT_DTL_NO=#{contDtlNo} AND ETC_SEQ = #{etcSeq}
		]]>
	</delete>
	
	<!-- 기타별 삭제 -->
	<delete id="bizOrderEtcDtlDelete">
		<![CDATA[
			DELETE FROM TB_BIZ_ORDER_ETC WHERE ETC_GUBUN =#{etcGubun} AND CONT_DTL_NO=#{contDtlNo}
		]]>
	</delete>
	
	<!-- 기타 전체삭제 -->
	<delete id="bizOrderEtcDtlAllDelete">
		<![CDATA[
			DELETE FROM TB_BIZ_ORDER_ETC WHERE CONT_DTL_NO=#{contDtlNo}
		]]>
	</delete>
	
	<!--ADM테이블 완료수량 수정 -->
	<update id="shipCntUpdate">
		UPDATE TB_BIZ_ORDER_ADM  
		SET SHIP_CNT=(SELECT SUM(SHIP_CNT)FROM TB_BIZ_ORDER_DTL X WHERE X.CONT_NO=#{contNo})
			, DELAY_CNT=ORD_CNT-(SELECT SUM(SHIP_CNT)FROM TB_BIZ_ORDER_DTL X WHERE X.CONT_NO=#{contNo})
		WHERE CONT_NO=#{contNo}
	</update>
	
	<!--Dtl테이블 완료수량 수정 -->
	<update id="dtlShipCntUpdate">
		UPDATE TB_BIZ_ORDER_DTL SET SHIP_CNT=#{shipCnt} WHERE CONT_DTL_NO=#{contDtlNo}
	</update>
	
	<!-- 생산지시현황 Etc 시퀀스 가져오기 -->
	<select id="getEtcSeq" resultType="String">
		SELECT ISNULL(MAX(ETC_SEQ)+1,1) FROM TB_BIZ_ORDER_ETC
	</select>
	

	<!-- 생산지시현황 생산투입상태 목록조회 -->
	<select id="approveProcList" resultMap="BizOrderAdmVo">
		SELECT 
			A.WORK_ORD_NO,
	    	ISNULL(B.APPROVE_STATUS, '출고진행') APPROVE_STATUS
		FROM 
			(
				SELECT 
					B.WORK_ORD_NO
				FROM TB_BIZ_ORDER_DTL A
				INNER JOIN TB_WORK_ORDER B
				ON 1=1
				AND A.CONT_DTL_NO = B.CONT_DTL_NO
				AND	A.CONT_DTL_NO = #{contDtlNo}
			) A
			LEFT OUTER JOIN
			(
			SELECT
				X.WORK_ORD_NO,
				(
					CASE WHEN COUNT(Y.AP_CD) = 0 THEN '승인대기'
						 WHEN COUNT(Y.AP_CD) = COUNT(X.BARCODE_NO) THEN '승인완료'
						 ELSE '승인진행'
					END
				) AS APPROVE_STATUS
			FROM TB_OUT_WHS_ADM X
			LEFT OUTER JOIN TB_APPROVE_PROC_ADM Y
			ON 1=1
			AND X.BARCODE_NO = Y.AP_CD
			AND X.WORK_ORD_NO = Y.SOURCE_NO
			WHERE 1=1
			AND X.WORK_ORD_NO IN (SELECT B.WORK_ORD_NO
								 FROM TB_BIZ_ORDER_DTL A
								 INNER JOIN TB_WORK_ORDER B
								 ON 1=1
								 AND A.CONT_DTL_NO = B.CONT_DTL_NO
								 AND A.CONT_DTL_NO = #{contDtlNo})
			GROUP BY WORK_ORD_NO
			) B
		ON A.WORK_ORD_NO=B.WORK_ORD_NO

	</select>
	
	
	
	
	
</mapper>