<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.mappers.bs.objectiveAdmMapper">
    
    <resultMap id="ObjectiveAdmVo"    type="mes.domain.bs.ObjectiveAdmVo">
        <result property="objYear"       column="OBJ_YEAR"		/>
        <result property="kpi"           column="KPI" 			/>	
        <result property="kpiNm"         column="KPI_NM"		/>
        <result property="objGubun"      column="OBJ_GUBUN" 	/>
        <result property="objGubunNm"    column="OBJ_GUBUN_NM"  />
        <result property="jan"           column="JAN"        	/>
        <result property="feb"           column="FEB"        	/>
        <result property="mar"           column="MAR"        	/>
        <result property="apr"           column="APR"        	/>
        <result property="may"           column="MAY"        	/>
        <result property="jun"           column="JUN"        	/>
        <result property="jul"           column="JUL"        	/>
        <result property="aug"           column="AUG"        	/>
        <result property="sep"           column="SEP"        	/>
        <result property="oct"           column="OCT"        	/>
        <result property="nov"           column="NOV"        	/>
        <result property="dec"           column="DEC"        	/>
        <result property="weight"        column="WEIGHT"     	/>
        <result property="calc"			 column="CALC"			/>
       
        <result property="regId"         column="REG_ID"     	/>
        <result property="regDate"       column="REG_DATE"   	/>
        <result property="updId"         column="UPD_ID"     	/>
        <result property="updDate"       column="UPD_DATE"   	/>
                   
        <result property="sogye1"        column="SOGYE1" 		/>
        <result property="sogye2"        column="SOGYE2" 		/>
        <result property="sogye3"        column="SOGYE3" 		/>
        <result property="sogye4"        column="SOGYE4" 		/>
                       
        <result property="Total"         column="TOTAL" 		/>
                  
        <result property="newYearGoal"   column="NEW_YEAR_GOAL"  />
        <result property="lastYearGoal"  column="LAST_YEAD_GOAL" />
        

    </resultMap>
    
    <!-- 목표관리 목록 조회 -->
	<select id="listAll" resultMap="ObjectiveAdmVo">
		<![CDATA[

			SELECT OBJ_YEAR
			      ,KPI
			      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.KPI AND BASE_GROUP_CD='069') KPI_NM
			      ,(SELECT ETC1 FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.KPI AND BASE_GROUP_CD='069') CALC
				   ,(SELECT JAN+FEB+MAR+APR+MAY+JUN+JUL+AUG+SEP+OCT+NOV+DEC FROM TB_OBJECTIVE_ADM B WHERE (A.OBJ_YEAR-1) = B.OBJ_YEAR AND A.KPI=B.KPI AND '002'= B.OBJ_GUBUN) LAST_YEAR_GOAL
				   ,(SELECT JAN+FEB+MAR+APR+MAY+JUN+JUL+AUG+SEP+OCT+NOV+DEC FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND B.OBJ_GUBUN = '001') NEW_YEAR_GOAL
				   ,WEIGHT    
			      ,OBJ_GUBUN
			      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.OBJ_GUBUN AND BASE_GROUP_CD='070') OBJ_GUBUN_NM
			      ,JAN
			      ,FEB
			      ,MAR
				  ,(SELECT JAN+FEB+MAR FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND A.OBJ_GUBUN = B.OBJ_GUBUN) SOGYE1
			      ,APR
			      ,MAY
			      ,JUN
				  ,(SELECT APR+MAY+JUN FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND A.OBJ_GUBUN = B.OBJ_GUBUN) SOGYE2
			      ,JUL
			      ,AUG
			      ,SEP
				  ,(SELECT JUL+AUG+SEP FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND A.OBJ_GUBUN = B.OBJ_GUBUN) SOGYE3
			      ,OCT
			      ,NOV
			      ,DEC
				  ,(SELECT OCT+NOV+DEC FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND A.OBJ_GUBUN = B.OBJ_GUBUN) SOGYE4
				  ,(SELECT JAN+FEB+MAR+APR+MAY+JUN+JUL+AUG+SEP+OCT+NOV+DEC FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND A.OBJ_GUBUN = B.OBJ_GUBUN) TOTAL
			     
			  FROM TB_OBJECTIVE_ADM A
			  WHERE OBJ_YEAR = #{startDate}
			  UNION 
			
			  SELECT OBJ_YEAR
			      ,KPI
			      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.KPI AND BASE_GROUP_CD='069') KPI_NM
			      ,(SELECT ETC1 FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.KPI AND BASE_GROUP_CD='069') CALC
				  ,(SELECT JAN+FEB+MAR+APR+MAY+JUN+JUL+AUG+SEP+OCT+NOV+DEC FROM TB_OBJECTIVE_ADM B WHERE (A.OBJ_YEAR-1) = B.OBJ_YEAR AND A.KPI=B.KPI AND '002'= B.OBJ_GUBUN) LAST_YEAR_GOAL
				  ,(SELECT JAN+FEB+MAR+APR+MAY+JUN+JUL+AUG+SEP+OCT+NOV+DEC FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND B.OBJ_GUBUN = '001') NEW_YEAR_GOAL
				  ,WEIGHT    
			      ,'003' OBJ_GUBUN
			      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.OBJ_GUBUN AND BASE_GROUP_CD='070') OBJ_GUBUN_NM
			      ,ROUND((SELECT JAN FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT JAN FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) JAN
			      ,ROUND((SELECT FEB FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT FEB FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) FEB
			      ,ROUND((SELECT MAR FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT MAR FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) MAR
				  ,ROUND((SELECT JAN+FEB+MAR FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT JAN+FEB+MAR FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) SOGYE1                                                                                                                      
			      ,ROUND((SELECT APR FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT APR FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) APR
			      ,ROUND((SELECT MAY FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT MAY FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) MAY
			      ,ROUND((SELECT JUN FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT JUN FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) JUN
				  ,ROUND((SELECT APR+MAY+JUN FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT APR+MAY+JUN FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) SOGYE2                                                                                                                    
			      ,ROUND((SELECT JUL FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT JUL FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) JUL
			      ,ROUND((SELECT AUG FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT AUG FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) AUG
			      ,ROUND((SELECT SEP FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT SEP FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) SEP
				  ,ROUND((SELECT JUL+AUG+SEP FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT JUL+AUG+SEP FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) SOGYE3                                                                                                                      
			      ,ROUND((SELECT OCT FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT OCT FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) OCT
			      ,ROUND((SELECT NOV FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT NOV FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) NOV
			      ,ROUND((SELECT DEC FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT DEC FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) DEC
				  ,ROUND((SELECT JUL+AUG+SEP FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT JUL+AUG+SEP FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) SOGYE4  
				  ,ROUND((SELECT JAN+FEB+MAR+APR+MAY+JUN+JUL+AUG+SEP+OCT+NOV+DEC FROM TB_OBJECTIVE_ADM X  WHERE X.OBJ_YEAR = A.OBJ_YEAR AND OBJ_GUBUN = '002' AND X.KPI = A.KPI)/ (SELECT JAN+FEB+MAR+APR+MAY+JUN+JUL+AUG+SEP+OCT+NOV+DEC FROM TB_OBJECTIVE_ADM X  WHERE A.OBJ_YEAR = X.OBJ_YEAR AND OBJ_GUBUN = '001' AND X.KPI = A.KPI) * 100,2) TOTAL
			     
			  FROM TB_OBJECTIVE_ADM A
			  WHERE OBJ_GUBUN = '002'
			  AND OBJ_YEAR = #{startDate}
			  ORDER BY KPI ASC, OBJ_GUBUN ASC

		]]>
	</select>
	
	<!-- 목표관리 목록 조회 -->
	<select id="read" resultMap="ObjectiveAdmVo">
		<![CDATA[

			SELECT OBJ_YEAR
			      ,KPI
			      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.KPI AND BASE_GROUP_CD='069') KPI_NM
			      ,(SELECT ETC1 FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.KPI AND BASE_GROUP_CD='069') CALC
				   ,(SELECT JAN+FEB+MAR+APR+MAY+JUN+JUL+AUG+SEP+OCT+NOV+DEC FROM TB_OBJECTIVE_ADM B WHERE (A.OBJ_YEAR-1) = B.OBJ_YEAR AND A.KPI=B.KPI AND '002'= B.OBJ_GUBUN) LAST_YEAR_GOAL
				   ,(SELECT JAN+FEB+MAR+APR+MAY+JUN+JUL+AUG+SEP+OCT+NOV+DEC FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND B.OBJ_GUBUN = '001') NEW_YEAR_GOAL
				   ,WEIGHT    
			      ,OBJ_GUBUN
			      ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.OBJ_GUBUN AND BASE_GROUP_CD='070') OBJ_GUBUN_NM
			      ,JAN
			      ,FEB
			      ,MAR
				  ,(SELECT JAN+FEB+MAR FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND A.OBJ_GUBUN = B.OBJ_GUBUN) SOGYE1
			      ,APR
			      ,MAY
			      ,JUN
				  ,(SELECT APR+MAY+JUN FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND A.OBJ_GUBUN = B.OBJ_GUBUN) SOGYE2
			      ,JUL
			      ,AUG
			      ,SEP
				  ,(SELECT JUL+AUG+SEP FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND A.OBJ_GUBUN = B.OBJ_GUBUN) SOGYE3
			      ,OCT
			      ,NOV
			      ,DEC
				  ,(SELECT OCT+NOV+DEC FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND A.OBJ_GUBUN = B.OBJ_GUBUN) SOGYE4
				  ,(SELECT JAN+FEB+MAR+APR+MAY+JUN+JUL+AUG+SEP+OCT+NOV+DEC FROM TB_OBJECTIVE_ADM B WHERE A.OBJ_YEAR = B.OBJ_YEAR AND A.KPI=B.KPI AND A.OBJ_GUBUN = B.OBJ_GUBUN) TOTAL
			     
			  FROM TB_OBJECTIVE_ADM A
			  WHERE OBJ_YEAR = #{startDate}
			  AND OBJ_GUBUN = '001'
			 

		]]>
	</select>
	
	<insert id="create">
		INSERT INTO TB_OBJECTIVE_ADM(
			OBJ_YEAR,
			KPI,
			OBJ_GUBUN,
			JAN,
			FEB,
			MAR,
			APR,
			MAY,
			JUN,
			JUL,
			AUG,
			SEP,
			OCT,
			NOV,
			DEC,
			WEIGHT,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{objYear},
			#{kpi},
			#{objGubun},
			#{jan},
			#{feb},
			#{mar},
			#{apr},
			#{may},
			#{jun},
			#{jul},
			#{aug},
			#{sep},
			#{oct},
			#{nov},
			#{dec},
			#{weight},
			#{regId},
			GETDATE()
		
		)	
	</insert>
	
	<delete id="delete">
		DELETE FROM TB_OBJECTIVE_ADM 
		WHERE	OBJ_YEAR = #{objYear}
				AND OBJ_GUBUN = '001'
	</delete>
	
	

	
</mapper>