<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.bm.goodsCodeAdmMapper">

	<resultMap id="GoodsCodeAdmVo" type="mes.domain.bm.GoodsCodeAdmVo">
	
		<result property="goodsCd"						column="GOODS_CD"						/>
		<result property="goodsNm"						column="GOODS_NM"						/>
		<result property="dealCorpCd"					column="DEAL_CORP_CD"					/>
		<result property="dealCorpNm"					column="DEAL_CORP_NM"					/>
		<result property="autoKind"						column="AUTO_KIND"						/>
		<result property="autoKindNm"					column="AUTO_KIND_NM"					/>
		<result property="goodsNo"						column="GOODS_NO"						/>
		<result property="matrlCd"						column="MATRL_CD"						/>
		<result property="matrlNm"						column="MATRL_NM"						/>
		<result property="goodsThickness"				column="GOODS_THICKNESS"				/>
		<result property="goodsCutWidth"				column="GOODS_CUT_WIDTH"				/>
		<result property="goodsPitch"					column="GOODS_PITCH"					/>
		<result property="goodsGravity"					column="GOODS_GRAVITY"					/>
		<result property="tmUnit"						column="TM_UNIT"						/>
		<result property="tmUnitNm"						column="TM_UNIT_NM"						/>
		<result property="packUnit"						column="PACK_UNIT"						/>
		<result property="useYn"						column="USE_YN"							/>
		<result property="useYnNm"						column="USE_YN_NM"						/>
		<result property="goodsDesc"					column="GOODS_DESC"						/>
		<result property="regId"						column="REG_ID"							/>
		<result property="regDate"						column="REG_DATE"						/>
		<result property="updId"						column="UPD_ID"							/>
		<result property="updDate"						column="UPD_DATE"						/>
		
	</resultMap>
	
	<resultMap id="GoodsPrcssBomVo" type="mes.domain.bm.GoodsPrcssBomVo">
		
		<result property="prcssSeq"						column="PRCSS_SEQ"							/>
		<result property="goodsCd"						column="GOODS_CD"						/>
		<result property="prcssCd"						column="PRCSS_CD"						/>
		<result property="prcssNm"						column="PRCSS_NM"						/>
		<result property="prcssGubun"					column="PRCSS_GUBUN"					/>
		<result property="prcssGubunNm"					column="PRCSS_GUBUN_NM"					/>
		<result property="equipCd"						column="EQUIP_CD"						/>
		<result property="equipNm"						column="EQUIP_NM"						/>
		<result property="outsrcingCorpCd"				column="OUTSRCING_CORP_CD"				/>
		<result property="outsrcingCorpNm"				column="OUTSRCING_CORP_NM"				/>
		<result property="prcssDesc"					column="PRCSS_DESC"						/>
		<result property="regId"						column="REG_ID"							/>
		<result property="regDate"						column="REG_DATE"						/>
		<result property="updId"						column="UPD_ID"							/>
		<result property="updDate"						column="UPD_DATE"						/>
		
	</resultMap>
	
	<resultMap id="GoodsOutputMatrlVo" type="mes.domain.bm.GoodsOutputMatrlVo">
			
		<result property="goodsCd"						column="GOODS_CD"						/>
		<result property="matrlSeq"						column="MATRL_SEQ"						/>
		<result property="matrlCd"						column="MATRL_CD"						/>
		<result property="matrlNm"						column="MATRL_NM"						/>
		<result property="matrlGubun"					column="MATRL_GUBUN"					/>
		<result property="matrlGubunNm"					column="MATRL_GUBUN_NM"					/>
		<result property="matrlCnt"						column="MATRL_CNT"						/>
		<result property="matrlDesc"					column="MATRL_DESC"						/>
		<result property="regId"						column="REG_ID"							/>
		<result property="regDate"						column="REG_DATE"						/>
		<result property="updId"						column="UPD_ID"							/>
		<result property="updDate"						column="UPD_DATE"						/>
		
	</resultMap>
	
	<resultMap id="GoodsPrcssImgVo" type="mes.domain.bm.GoodsPrcssImgVo">
				
		<result property="goodsCd"						column="GOODS_CD"						/>
		<result property="prcssCd"						column="PRCSS_CD"						/>
		<result property="imgNm"						column="IMG_NM"						/>
		<result property="regId"						column="REG_ID"							/>
		<result property="regDate"						column="REG_DATE"						/>
		<result property="updId"						column="UPD_ID"							/>
		<result property="updDate"						column="UPD_DATE"						/>
		
	</resultMap>
	
	<resultMap id="GoodsPrcssInspectVo" type="mes.domain.bm.GoodsPrcssInspectVo">
		
		<result property="prcssSeq"						column="PRCSS_SEQ"						/>
		<result property="goodsCd"						column="GOODS_CD"						/>
		<result property="prcssCd"						column="PRCSS_CD"						/>
		<result property="inspectItem"					column="INSPECT_ITEM"					/>
		<result property="inspectItemModel"				column="INSPECT_ITEM_MODEL"				/>
		<result property="inspectItemAllwncePlus"		column="INSPECT_ITEM_ALLWNCE_PLUS"		/>
		<result property="inspectItemAllwnceMinus"		column="INSPECT_ITEM_ALLWNCE_MINUS"		/>
		<result property="regId"						column="REG_ID"							/>
		<result property="regDate"						column="REG_DATE"						/>
		<result property="updId"						column="UPD_ID"							/>
		<result property="updDate"						column="UPD_DATE"						/>
		
	</resultMap>
	
	
	<!-- 시스템공통그룹 전체조회 -->
	<select id="listAll" resultMap="GoodsCodeAdmVo">
			SELECT
				GOODS_CD,
				GOODS_NM,
				DEAL_CORP_CD,
				(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM,
				AUTO_KIND,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='014' AND B.BASE_CD = A.AUTO_KIND) AUTO_KIND_NM,
				GOODS_NO,
				MATRL_CD,
				(SELECT MATRL_NM FROM TB_MATRL_CODE_ADM B WHERE B.MATRL_CD = A.MATRL_CD) MATRL_NM,
				GOODS_THICKNESS,
				GOODS_CUT_WIDTH,
				GOODS_PITCH,
				GOODS_GRAVITY,
				TM_UNIT,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='007' AND B.BASE_CD = A.TM_UNIT) TM_UNIT_NM,
				PACK_UNIT,
				USE_YN,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='004' AND B.BASE_CD = A.USE_YN) USE_YN_NM,
				GOODS_DESC,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM TB_GOODS_CODE_ADM A
	</select>
	
	<!-- 제품코드관리 제품코드 조회 -->
	<select id="listAllCodeCd" resultMap="GoodsCodeAdmVo">
			SELECT
				GOODS_CD,
				GOODS_NM,
				DEAL_CORP_CD,
				(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM,
				AUTO_KIND,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='014' AND B.BASE_CD = A.AUTO_KIND) AUTO_KIND_NM,
				GOODS_NO,
				MATRL_CD,
				(SELECT MATRL_NM FROM TB_MATRL_CODE_ADM B WHERE B.MATRL_CD = A.MATRL_CD) MATRL_NM,
				GOODS_THICKNESS,
				GOODS_CUT_WIDTH,
				GOODS_PITCH,
				GOODS_GRAVITY,
				TM_UNIT,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='007' AND B.BASE_CD = A.TM_UNIT) TM_UNIT_NM,
				PACK_UNIT,
				USE_YN,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='004' AND B.BASE_CD = A.USE_YN) USE_YN_NM,
				GOODS_DESC,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM TB_GOODS_CODE_ADM A
			WHERE
				GOODS_CD = #{goodsCd}
	</select>
	
	<!-- 제품코드관리 제품명 조회 -->
	<select id="listAllCodeNm" resultMap="GoodsCodeAdmVo">
			SELECT
				GOODS_CD,
				GOODS_NM,
				DEAL_CORP_CD,
				(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM,
				AUTO_KIND,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='014' AND B.BASE_CD = A.AUTO_KIND) AUTO_KIND_NM,
				GOODS_NO,
				MATRL_CD,
				(SELECT MATRL_NM FROM TB_MATRL_CODE_ADM B WHERE B.MATRL_CD = A.MATRL_CD) MATRL_NM,
				GOODS_THICKNESS,
				GOODS_CUT_WIDTH,
				GOODS_PITCH,
				GOODS_GRAVITY,
				TM_UNIT,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='007' AND B.BASE_CD = A.TM_UNIT) TM_UNIT_NM,
				PACK_UNIT,
				USE_YN,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='004' AND B.BASE_CD = A.USE_YN) USE_YN_NM,
				GOODS_DESC,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM TB_GOODS_CODE_ADM A
			WHERE
				GOODS_NM LIKE '%' +#{goodsNm}+'%'
	</select>
	
	<!-- 제품코드관리 제품코드 + 제품명 조회 -->
	<select id="listAllCodeCdNm" resultMap="GoodsCodeAdmVo">
			SELECT
				GOODS_CD,
				GOODS_NM,
				DEAL_CORP_CD,
				(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM,
				AUTO_KIND,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='014' AND B.BASE_CD = A.AUTO_KIND) AUTO_KIND_NM,
				GOODS_NO,
				MATRL_CD,
				(SELECT MATRL_NM FROM TB_MATRL_CODE_ADM B WHERE B.MATRL_CD = A.MATRL_CD) MATRL_NM,
				GOODS_THICKNESS,
				GOODS_CUT_WIDTH,
				GOODS_PITCH,
				GOODS_GRAVITY,
				TM_UNIT,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='007' AND B.BASE_CD = A.TM_UNIT) TM_UNIT_NM,
				PACK_UNIT,
				USE_YN,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='004' AND B.BASE_CD = A.USE_YN) USE_YN_NM,
				GOODS_DESC,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM TB_GOODS_CODE_ADM A
			WHERE
				GOODS_CD = #{goodsCd} AND
				GOODS_NM LIKE '%' +#{goodsNm}+'%'
	</select>
	
	
	<select id="read" resultMap="GoodsCodeAdmVo">
			SELECT
				GOODS_CD,
				GOODS_NM,
				DEAL_CORP_CD,
				(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM,
				AUTO_KIND,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='014' AND B.BASE_CD = A.AUTO_KIND) AUTO_KIND_NM,
				GOODS_NO,
				MATRL_CD,
				(SELECT MATRL_NM FROM TB_MATRL_CODE_ADM B WHERE B.MATRL_CD = A.MATRL_CD) MATRL_NM,
				GOODS_THICKNESS,
				GOODS_CUT_WIDTH,
				GOODS_PITCH,
				GOODS_GRAVITY,
				TM_UNIT,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='007' AND B.BASE_CD = A.TM_UNIT) TM_UNIT_NM,
				PACK_UNIT,
				USE_YN,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='004' AND B.BASE_CD = A.USE_YN) USE_YN_NM,
				GOODS_DESC,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM TB_GOODS_CODE_ADM A
			WHERE A.GOODS_CD = #{goodsCd}
	</select>
	
	<select id="selectGoodsSeqCd" resultType="String">
		SELECT ISNULL(RIGHT('0000' + CAST(MAX(GOODS_CD)+1 AS NVARCHAR),5), '00001') FROM TB_GOODS_CODE_ADM
	</select>
		
	<insert id="create" parameterType="mes.domain.bm.GoodsCodeAdmVo">
		INSERT INTO TB_GOODS_CODE_ADM(
			GOODS_CD,
			GOODS_NM,
			DEAL_CORP_CD,
			AUTO_KIND,
			GOODS_NO,
			MATRL_CD,
			GOODS_THICKNESS,
			GOODS_CUT_WIDTH,
			GOODS_PITCH,
			GOODS_GRAVITY,
			TM_UNIT,
			PACK_UNIT,
			USE_YN,
			GOODS_DESC,
			REG_ID,
			REG_DATE
		) VALUES (
			#{goodsCd},
			#{goodsNm},
			#{dealCorpCd},
			#{autoKind},
			#{goodsNo},
			#{matrlCd},
			#{goodsThickness},
			#{goodsCutWidth},
			#{goodsPitch},
			#{goodsGravity},
			#{tmUnit},
			#{packUnit},
			#{useYn},
			#{goodsDesc},
			#{regId},
			getDate()
		)
	</insert>
	
	<update id="update" parameterType="mes.domain.bm.GoodsCodeAdmVo">
		UPDATE	TB_GOODS_CODE_ADM 
		SET	
			GOODS_CD = #{goodsCd},
			GOODS_NM = #{goodsNm},
			DEAL_CORP_CD = #{dealCorpCd},
			AUTO_KIND = #{autoKind},
			GOODS_NO = #{goodsNo},
			MATRL_CD = #{matrlCd},
			GOODS_THICKNESS = #{goodsThickness},
			GOODS_CUT_WIDTH = #{goodsCutWidth},
			GOODS_PITCH = #{goodsPitch},
			GOODS_GRAVITY = #{goodsGravity},
			TM_UNIT = #{tmUnit},
			PACK_UNIT = #{packUnit},
			USE_YN = #{useYn},
			GOODS_DESC = #{goodsDesc},
			UPD_ID = #{updId},
			UPD_DATE = getDate()
		WHERE	GOODS_CD = #{goodsCd}
	</update>
	
	<select id="overlapChack" resultType="int">
		SELECT
			COUNT(GOODS_NO)
		FROM TB_GOODS_CODE_ADM
		WHERE GOODS_CD != #{goodsCd} AND GOODS_NO = #{goodsNo}
	</select>
	
	<!-- BOM 존재 확인 -->
	<select id="selectBomState" resultType="String">
		SELECT TOP 1 ISNULL((SELECT TOP 1 GOODS_CD FROM TB_GOODS_PRCSS_BOM WHERE GOODS_CD = #{goodsCd}), 'N')
	</select>
	<!-- 투입자재 존재 확인 -->
	<select id="selectMatrlState" resultType="String">
		SELECT TOP 1 ISNULL((SELECT TOP 1 GOODS_CD FROM TB_GOODS_OUTPUT_MATRL WHERE GOODS_CD = #{goodsCd}), 'N')
	</select>
	<!-- 사진 존재 확인 -->
	<select id="selectImgState" resultType="String">
		SELECT TOP 1 ISNULL((SELECT TOP 1 GOODS_CD FROM TB_GOODS_PRCSS_IMG WHERE GOODS_CD = #{goodsCd}), 'N')
	</select>
	<!-- 공정검사 존재 확인 -->
	<select id="selectPrcssState" resultType="String">
		SELECT TOP 1 ISNULL((SELECT TOP 1 GOODS_CD FROM TB_GOODS_PRCSS_INSPECT WHERE GOODS_CD = #{goodsCd}), 'N')
	</select>
	
	
	<!-- 공정BOM -->
	<select id="listAllBom" resultMap="GoodsPrcssBomVo">
			SELECT
				PRCSS_SEQ,
				GOODS_CD,
				PRCSS_CD,
				(SELECT PRCSS_NM FROM TB_PRCSS_CODE_ADM B WHERE B.PRCSS_CD = A.PRCSS_CD) PRCSS_NM,
				(SELECT PRCSS_GUBUN FROM TB_PRCSS_CODE_ADM B WHERE B.PRCSS_CD = A.PRCSS_CD) PRCSS_GUBUN,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='015' AND B.BASE_CD = (SELECT PRCSS_GUBUN FROM TB_PRCSS_CODE_ADM B WHERE B.PRCSS_CD = A.PRCSS_CD)) PRCSS_GUBUN_NM,
				EQUIP_CD,
				(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM B WHERE B.EQUIP_CD = A.EQUIP_CD) EQUIP_NM,
				OUTSRCING_CORP_CD,
				(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.OUTSRCING_CORP_CD) OUTSRCING_CORP_NM,
				PRCSS_DESC,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM TB_GOODS_PRCSS_BOM A
			WHERE
				GOODS_CD = #{goodsCd}
			ORDER BY
				PRCSS_SEQ ASC
	</select>
	
	<delete id="deleteBom" parameterType="mes.domain.bm.GoodsPrcssBomVo">
		DELETE FROM TB_GOODS_PRCSS_BOM
		WHERE GOODS_CD = #{goodsCd}
	</delete>
	
	<insert id="updateBom" parameterType="mes.domain.bm.GoodsPrcssBomVo">
		INSERT INTO TB_GOODS_PRCSS_BOM(
			PRCSS_SEQ,
			GOODS_CD,
			PRCSS_CD,
			EQUIP_CD,
			OUTSRCING_CORP_CD,
			PRCSS_DESC,
			REG_ID,
			REG_DATE,
			UPD_ID,
			UPD_DATE
		) 
		VALUES(
			#{prcssSeq},
			#{goodsCd},
			#{prcssCd},
			#{equipCd},
			#{outsrcingCorpCd},
			#{prcssDesc},
			#{regId},
			getDate(),
			#{updId},
			getDate()
		)
	</insert>
	
	
	
	<!-- 투입자재 -->
	<select id="listAllMatrl" resultMap="GoodsOutputMatrlVo">
			SELECT
				MATRL_SEQ,
				GOODS_CD,
				MATRL_CD,
				(SELECT MATRL_NM FROM TB_MATRL_CODE_ADM B WHERE B.MATRL_CD = A.MATRL_CD) MATRL_NM,
				(SELECT BASE_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='008' AND B.BASE_CD = (SELECT MATRL_GUBUN FROM TB_MATRL_CODE_ADM B WHERE B.MATRL_CD = A.MATRL_CD)) MATRL_GUBUN_NM,
				MATRL_CNT,
				MATRL_DESC,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM TB_GOODS_OUTPUT_MATRL A
			WHERE
				GOODS_CD = #{goodsCd}
			ORDER BY
				MATRL_SEQ DESC
	</select>
	
	<delete id="deleteMatrl" parameterType="mes.domain.bm.GoodsOutputMatrlVo">
		DELETE FROM TB_GOODS_OUTPUT_MATRL
		WHERE GOODS_CD = #{goodsCd}
	</delete>
	
	<insert id="updateMatrl" parameterType="mes.domain.bm.GoodsOutputMatrlVo">
		INSERT INTO TB_GOODS_OUTPUT_MATRL(
			MATRL_SEQ,
			GOODS_CD,
			MATRL_CD,
			MATRL_CNT,
			MATRL_DESC,
			REG_ID,
			REG_DATE,
			UPD_ID,
			UPD_DATE
		) 
		VALUES(
			#{matrlSeq},
			#{goodsCd},
			#{matrlCd},
			#{matrlCnt},
			#{matrlDesc},
			#{regId},
			getDate(),
			#{updId},
			getDate()
		)
	</insert>
	
	
	
	
	<!-- 사진 -->
	<insert id="createImg" parameterType="mes.domain.bm.GoodsPrcssImgVo">
		INSERT INTO TB_GOODS_PRCSS_IMG(
			GOODS_CD,
			PRCSS_CD,
			IMG_NM,
			REG_ID,
			REG_DATE,
			UPD_ID,
			UPD_DATE
		) 
		VALUES(
			#{goodsCd},
			#{prcssCd},
			#{imgNm},
			#{regId},
			getDate(),
			#{updId},
			getDate()
		)
	</insert>
	
	<delete id="deleteImg" parameterType="mes.domain.bm.GoodsPrcssImgVo">
		DELETE FROM TB_GOODS_PRCSS_IMG
		WHERE GOODS_CD = #{goodsCd} AND PRCSS_CD = #{prcssCd}
	</delete>
	
	<select id="readImg" resultMap="GoodsPrcssImgVo">
			SELECT
				GOODS_CD,
				PRCSS_CD,
				IMG_NM,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM TB_GOODS_PRCSS_IMG A
			WHERE A.GOODS_CD = #{goodsCd} AND A.PRCSS_CD = #{prcssCd}
	</select>
	
	
	
	
	<!-- 공정검사 -->
	<select id="listAllPrcss" resultMap="GoodsPrcssInspectVo">
			SELECT
				PRCSS_SEQ,
				GOODS_CD,
				PRCSS_CD,
				INSPECT_ITEM,
				INSPECT_ITEM_MODEL,
				INSPECT_ITEM_ALLWNCE_PLUS,
				INSPECT_ITEM_ALLWNCE_MINUS,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM TB_GOODS_PRCSS_INSPECT
			WHERE
				GOODS_CD = #{goodsCd} AND PRCSS_CD = #{prcssCd}
			ORDER BY
				PRCSS_SEQ DESC
	</select>
	
	<insert id="createInspect" parameterType="mes.domain.bm.GoodsPrcssInspectVo">
		INSERT INTO TB_GOODS_PRCSS_INSPECT(
			PRCSS_SEQ,
			GOODS_CD,
			PRCSS_CD,
			INSPECT_ITEM,
			INSPECT_ITEM_MODEL,
			INSPECT_ITEM_ALLWNCE_PLUS,
			INSPECT_ITEM_ALLWNCE_MINUS,
			REG_ID,
			REG_DATE,
			UPD_ID,
			UPD_DATE
		) 
		VALUES(
			#{prcssSeq},
			#{goodsCd},
			#{prcssCd},
			#{inspectItem},
			#{inspectItemModel},
			#{inspectItemAllwncePlus},
			#{inspectItemAllwnceMinus},
			#{regId},
			getDate(),
			#{updId},
			getDate()
		)
	</insert>
	
	<delete id="deletePrcssInspect" parameterType="mes.domain.bm.GoodsPrcssInspectVo">
		DELETE FROM TB_GOODS_PRCSS_INSPECT
		WHERE GOODS_CD = #{goodsCd} AND PRCSS_CD = #{prcssCd}
	</delete>
	
</mapper>
