<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.bm.itemPrcssAdmMapper">

	<resultMap id="ItemPrcssAdmVo" type="mes.domain.bm.ItemPrcssAdmVo">
		<result property="itemSeq"				column="ITEM_SEQ"			/>
		<result property="outGubun"				column="OUT_GUBUN"			/>
		<result property="itemPrcssSeq"		    column="ITEM_PRCSS_SEQ"		/>
		<result property="itemPrcssOrd"			column="ITEM_PRCSS_ORD"		/>
		<result property="itemPrcssCd"			column="ITEM_PRCSS_CD"		/>
		<result property="itemPrcssNm"			column="ITEM_PRCSS_NM"		/>
		<result property="dealCorpCd"			column="DEAL_CORP_CD"		/>
		<result property="dealCorpNm"			column="DEAL_CORP_NM"		/>
		<result property="dealCost"				column="DEAL_COST"			/>
		<result property="dealDate"				column="DEAL_DATE"			/>
		<result property="itemPrcssDesc"		column="ITEM_PRCSS_DESC"	/>
		<result property="regId"		  	  	column="REG_ID"				/>
		<result property="regDate"		  	  	column="REG_DATE"			/>
		<result property="updId"		  	  	column="UPD_ID"				/>
		<result property="updDate"		  		column="UPD_DATE"			/>
		<result property="tabNum"		  		column="TAB_NUM"			/>
		<result property="saveNEdit"	  		column="SAVE_N_EDIT"		/>
		<result property="regNm"			 	column="REG_NM"				/>
	</resultMap>
	
	<!-- 공정목록조회 -->
	<select id="itemPrcssAdmnopList" resultMap="ItemPrcssAdmVo">
		SELECT	
			ITEM_SEQ
			, OUT_GUBUN
			, ITEM_PRCSS_SEQ
			, ITEM_PRCSS_ORD
			, ITEM_PRCSS_CD
			, (SELECT PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD=IPA.ITEM_PRCSS_CD AND PRCSS_TYPE='002') ITEM_PRCSS_NM
			, DEAL_CORP_CD
			, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=IPA.DEAL_CORP_CD) DEAL_CORP_NM
			, DEAL_COST
			, DEAL_DATE
			, ITEM_PRCSS_DESC
			, REG_ID
			, REG_DATE
			, UPD_ID
			, UPD_DATE
		FROM TB_ITEM_PRCSS_ADM IPA 
		WHERE 1=1
		AND ITEM_SEQ = #{itemSeq}
		AND OUT_GUBUN = #{outGubun}
	</select>
	
	<select id="itemPrcssAdmList" resultMap="ItemPrcssAdmVo">
		SELECT
			ITEM_SEQ
			, OUT_GUBUN
			, ITEM_PRCSS_SEQ
			, ITEM_PRCSS_ORD
			, ITEM_PRCSS_CD
			, (SELECT PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD=T.ITEM_PRCSS_CD AND PRCSS_TYPE='002') ITEM_PRCSS_NM
			, DEAL_CORP_CD
			, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=T.DEAL_CORP_CD) DEAL_CORP_NM
			, DEAL_COST
			, DEAL_DATE
			, ROW_NUM
			, ITEM_PRCSS_DESC
			, ISNULL((SELECT USER_NM FROM TB_USER B WHERE B.USER_NUMBER = T.REG_ID), '관리자') AS  REG_NM
			, REG_ID
			, REG_DATE
			, UPD_ID
			, UPD_DATE
		FROM
		(
			SELECT 
				 IPA.ITEM_SEQ
				, OUT_GUBUN
				, ITEM_PRCSS_SEQ
				, ITEM_PRCSS_ORD
				, ITEM_PRCSS_CD
				, IPA.DEAL_CORP_CD
				, DEAL_COST
				, IPA.DEAL_DATE
				, ROW_NUMBER() OVER(PARTITION BY DEAL_CORP_CD ORDER BY DEAL_DATE DESC) ROW_NUM
				, ITEM_PRCSS_DESC
				, REG_ID
				, IPA.REG_DATE
				, UPD_ID
				, UPD_DATE
			FROM TB_ITEM_PRCSS_ADM IPA
			WHERE 1=1
			AND IPA.ITEM_SEQ = #{itemSeq}
			AND IPA.OUT_GUBUN = #{outGubun}
		) T
		WHERE 1=1
		AND T.ROW_NUM='1'
		ORDER BY DEAL_CORP_CD
	</select>
	
	<!-- 공정목록등록 -->
	<insert id="itemPrcssAdmIns">
		INSERT INTO TB_ITEM_PRCSS_ADM(
			ITEM_SEQ,
			OUT_GUBUN,
			ITEM_PRCSS_SEQ,
			ITEM_PRCSS_ORD,
			ITEM_PRCSS_CD,
			DEAL_CORP_CD,
			DEAL_COST,
			DEAL_DATE,
			ITEM_PRCSS_DESC,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{itemSeq},
			#{outGubun},
			#{itemPrcssSeq},
			#{itemPrcssOrd},
			#{itemPrcssCd},
			#{dealCorpCd},
			#{dealCost},
			#{dealDate},
			#{itemPrcssDesc},
			#{regId},
			GETDATE()
		)
	</insert>
	
	<!-- 공정목록수정 -->
	<update id="itemPrcssAdmUpd">
		UPDATE	TB_ITEM_PRCSS_ADM 
		SET	
			ITEM_PRCSS_ORD = #{itemPrcssOrd},
			ITEM_PRCSS_CD = #{itemPrcssCd},
			DEAL_CORP_CD = #{dealCorpCd},
			DEAL_COST = #{dealCost},
			DEAL_DATE = #{dealDate},
			ITEM_PRCSS_DESC = #{itemPrcssDesc},
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		WHERE 1=1
		AND ITEM_SEQ = #{itemSeq}
		AND OUT_GUBUN = #{outGubun}
		AND	ITEM_PRCSS_SEQ = #{itemPrcssSeq}
	</update>
	
	<!-- 공정목록삭제 -->
	<delete id="itemPrcssAdmDel">
		DELETE FROM TB_ITEM_PRCSS_ADM
		WHERE 1=1
		AND ITEM_SEQ = #{itemSeq}
		AND OUT_GUBUN = #{outGubun}
		<if test="itemPrcssSeq!=null and !itemPrcssSeq.equals('')">
		AND	ITEM_PRCSS_SEQ = #{itemPrcssSeq}
		</if>
	</delete>
	
	<delete id="itemPrcssAdmEditDel">
		<if test="saveNEdit!=null and !saveNEdit.equals('')">
		DELETE FROM TB_ITEM_PRCSS_ADM
		WHERE 1=1
		AND ITEM_SEQ = #{itemSeq}
		AND OUT_GUBUN = #{outGubun}
		AND	DEAL_COST = #{dealCost}
		AND	DEAL_DATE = #{dealDate}
		AND	ITEM_PRCSS_SEQ = #{itemPrcssSeq}
		AND	ITEM_PRCSS_CD = #{itemPrcssCd}
		AND	DEAL_CORP_CD = #{dealCorpCd}
		AND	ITEM_PRCSS_DESC = #{itemPrcssDesc}
		</if>
	</delete>
	
	<!-- 공정시퀀스 생성 -->
	<select id="itemPrcssSeqSel" resultType="String">
		SELECT ISNULL(MAX(ITEM_PRCSS_SEQ) + 1, 0)
		FROM TB_ITEM_PRCSS_ADM
		WHERE ITEM_SEQ = #{itemSeq}
		AND OUT_GUBUN = #{outGubun}
	</select>
	
</mapper>