<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.bm.jajuInspectMapper">
	
	<resultMap id="JajuInspectVo" type="mes.domain.bm.JajuInspectVo">
		<result property="workCd"			column="WORK_CD"		/>
		<result property="prcssNm"			column="PRCSS_NM"		/>
		<result property="prcssCd"			column="PRCSS_CD"		/>
		<result property="prcssGubunNm"		column="PRCSS_GUBUN_NM"	/>
		<result property="mainChargr"		column="MAIN_CHARGR"	/>
		<result property="mainChargrNm"		column="MAIN_CHARGR_NM"	/>
		<result property="useYn"			column="USE_YN"			/>
		<result property="useYnNm"			column="USE_YN_NM"		/>
		<result property="itemNm"			column="ITEM_NM"		/>
		<result property="itemNm1"			column="ITEM_NM1"		/>
		<result property="itemNm2"			column="ITEM_NM2"		/>
		<result property="itemNm3"			column="ITEM_NM3"		/>
		<result property="itemNm4"			column="ITEM_NM4"		/>
		<result property="itemNm5"			column="ITEM_NM5"		/>
		<result property="itemNm6"			column="ITEM_NM6"		/>
		<result property="itemNm7"			column="ITEM_NM7"		/>
		<result property="itemNm8"			column="ITEM_NM8"		/>
		<result property="itemNm9"			column="ITEM_NM9"		/>
		<result property="itemNm10"			column="ITEM_NM10"		/>
		<result property="regId"			column="REG_ID"			/>
		<result property="regDate"			column="REG_DATE"		/>
		<result property="updId"			column="UPD_ID"			/>
		<result property="updDate"			column="UPD_DATE"		/>
	</resultMap>
	
	<!-- 자주검사 전체 조회 -->
	<select id="jajuInspectList" resultMap="JajuInspectVo">
		<![CDATA[
			SELECT
				WORK_CD
				, B.PRCSS_GUBUN
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM C WHERE C.BASE_GROUP_CD='039' AND C.BASE_CD = B.PRCSS_GUBUN) PRCSS_GUBUN_NM
				, A.USE_YN
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM C WHERE C.BASE_GROUP_CD='001' AND C.BASE_CD = A.USE_YN) USE_YN_NM
				, B.PRCSS_NM
			FROM TB_JAJU_INSPECT A, TB_PRCSS_CODE_ADM B
			WHERE A.PRCSS_CD = B.PRCSS_CD
		]]>
	</select>
	
	<!-- 자주검사 상세 조회 -->
	<select id="jajuInspectRead" resultMap="JajuInspectVo">
		<![CDATA[
			SELECT
				WORK_CD
				, A.PRCSS_CD
				, B.PRCSS_NM
				, MAIN_CHARGR
				, (SELECT C.USER_NM FROM TB_USER C WHERE C.USER_NUMBER=A.MAIN_CHARGR) MAIN_CHARGR_NM
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM C WHERE C.BASE_GROUP_CD='039' AND C.BASE_CD = B.PRCSS_GUBUN) PRCSS_GUBUN_NM
				, A.USE_YN
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM C WHERE C.BASE_GROUP_CD='039' AND C.BASE_CD = A.USE_YN) USE_YN_NM
			FROM TB_JAJU_INSPECT A, TB_PRCSS_CODE_ADM B
			WHERE 
				A.PRCSS_CD = B.PRCSS_CD
				AND A.WORK_CD = #{workCd}
		]]>
	</select>
	
		<!-- 자주검사 상세 조회 -->
	<select id="jajuInspectDtlRead" resultMap="JajuInspectVo">
		<![CDATA[
			SELECT
				ITEM_NM1 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE WORK_CD = #{workCd} AND ITEM_NM1 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM2 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE WORK_CD = #{workCd} AND ITEM_NM2 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM3 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE WORK_CD = #{workCd} AND ITEM_NM3 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM4 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE WORK_CD = #{workCd} AND ITEM_NM4 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM5 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE WORK_CD = #{workCd} AND ITEM_NM5 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM6 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE WORK_CD = #{workCd} AND ITEM_NM6 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM7 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE WORK_CD = #{workCd} AND ITEM_NM7 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM8 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE WORK_CD = #{workCd} AND ITEM_NM8 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM9 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE WORK_CD = #{workCd} AND ITEM_NM9 IS NOT NULL
			UNION ALL
			SELECT
				ITEM_NM10 AS ITEM_NM
			FROM TB_JAJU_INSPECT
			WHERE WORK_CD = #{workCd} AND ITEM_NM10 IS NOT NULL
		]]>
	</select>

	<!-- 자주검사 등록 -->
	<insert id="jajuInspectCreate" parameterType="mes.domain.bm.JajuInspectVo">
		<![CDATA[
			INSERT INTO TB_JAJU_INSPECT (
				WORK_CD
				, PRCSS_CD
				, MAIN_CHARGR
				, USE_YN
				, ITEM_NM1
				, ITEM_NM2
				, ITEM_NM3
				, ITEM_NM4
				, ITEM_NM5
				, ITEM_NM6
				, ITEM_NM7
				, ITEM_NM8
				, ITEM_NM9
				, ITEM_NM10
				, REG_ID
				, REG_DATE
			)
			VALUES (
				#{workCd}
				, #{prcssCd}
				, #{mainChargr}
				, #{useYn}
				, #{itemNm1}
				, #{itemNm2}
				, #{itemNm3}
				, #{itemNm4}
				, #{itemNm5}
				, #{itemNm6}
				, #{itemNm7}
				, #{itemNm8}
				, #{itemNm9}
				, #{itemNm10}
				, #{regId}
				, getDate()
			)
			
		]]>
	</insert>

	<!-- 자주검사 수정 -->
	<update id="jajuInspectUpdate" parameterType="mes.domain.bm.JajuInspectVo">
		<![CDATA[
			UPDATE TB_JAJU_INSPECT
			SET
				PRCSS_CD = #{prcssCd}
				, MAIN_CHARGR = #{mainChargr}
				, USE_YN = #{useYn}
				, ITEM_NM1 = #{itemNm1}
				, ITEM_NM2 = #{itemNm2}
				, ITEM_NM3 = #{itemNm3}
				, ITEM_NM4 = #{itemNm4}
				, ITEM_NM5 = #{itemNm5}
				, ITEM_NM6 = #{itemNm6}
				, ITEM_NM7 = #{itemNm7}
				, ITEM_NM8 = #{itemNm8}
				, ITEM_NM9 = #{itemNm9}
				, ITEM_NM10 = #{itemNm10}
			WHERE WORK_CD = #{workCd}
		]]>
	</update>
	
	<!-- 자주검사 시퀀스 MAX 값 조회  -->
    <select id="getWorkCd" resultType="String"> 
    	SELECT ISNULL(CAST(MAX(WORK_CD)+1 AS NVARCHAR), '1') FROM TB_JAJU_INSPECT
    </select>
    
    <!-- 자주검사 등록 시 등록된 소공정인지 확인  -->
    <select id="checkPrcssCdCreate" resultType="int"> 
    	SELECT COUNT(*) 
    	FROM TB_JAJU_INSPECT
    	WHERE PRCSS_CD = #{prcssCd}
    </select>
    
    <!-- 자주검사 수정 시 등록된 소공정인지 확인  -->
    <select id="checkPrcssCdUpdate" resultType="int"> 
    	SELECT COUNT(*) 
    	FROM TB_JAJU_INSPECT
    	WHERE PRCSS_CD = #{prcssCd} AND WORK_CD != #{workCd}
    </select>
	
</mapper>
