<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.bm.prcssCodeAdmMapper">

	<resultMap id="PrcssCodeAdmVo" type="mes.domain.bm.PrcssCodeAdmVo">
		<result property="prcssCd"				column="PRCSS_CD"				/>
		<result property="prcssType"			column="PRCSS_TYPE"				/>
		<result property="lowerPrcssCd"			column="LOWER_PRCSS_CD"			/>
		<result property="prcssSeq"				column="PRCSS_SEQ"				/>
		<result property="prcssNm"				column="PRCSS_NM"				/>
		<result property="prcssGubun"			column="PRCSS_GUBUN"			/>
		<result property="prcssGubunNm"			column="PRCSS_GUBUN_NM"			/>
		<result property="prcssInitial"			column="PRCSS_INITIAL"			/>
		<result property="osrcYn"				column="OSRC_YN"				/>
		<result property="osrcYnNm"				column="OSRC_YN_NM"				/>
		<result property="prcssUph"				column="PRCSS_UPH"				/>
		<result property="prcssStand1"			column="PRCSS_STAND1"			/>
		<result property="prcssStand2"			column="PRCSS_STAND2"			/>
		<result property="prcssStand3"			column="PRCSS_STAND3"			/>
		<result property="etc1"					column="ETC1"					/>
		<result property="etc2"					column="ETC2"					/>
		<result property="prcssDesc"			column="PRCSS_DESC"				/>
		<result property="useYn"				column="USE_YN"					/>
		<result property="regId"				column="REG_ID"					/>
		<result property="regDate"				column="REG_DATE"				/>
		<result property="updId"				column="UPD_ID"					/>
		<result property="updDate"				column="UPD_DATE"				/>
		
		<!-- 추가사항 -->
		<result property="itemCd"				column="ITEM_CD"				/>
		<result property="itemConsumpt"			column="ITEM_CONSUMPT"			/>
		<result property="equipCd"				column="EQUIP_CD"				/>
		<result property="equipNm"				column="EQUIP_NM"				/>
		<result property="itemNm"				column="ITEM_NM"				/>
		<result property="itemGubunNm"			column="ITEM_GUBUN_NM"			/>
		<result property="itemUnit"				column="ITEM_UNIT"				/>
		<result property="itemSeq"				column="ITEM_SEQ"				/>
		<result property="itemModelNm"			column="ITEM_MODEL_NM"			/>
		<result property="realPrcssNm"			column="REAL_PRCSS_NM"			/>
		<result property="mainGubun"			column="MAIN_GUBUN"				/>
		<result property="workerSeq"			column="WORKER_SEQ"				/>
		<result property="userNumber"			column="USER_NUMBER"			/>
		<result property="userId"				column="USER_ID"				/>
		<result property="userNm"				column="USER_NM"				/>
		<result property="departmentNm"			column="DEPARTMENT_NM"			/>
		<result property="postNm"				column="POST_NM"				/>
		<result property="userDesc"				column="USER_DESC"				/>
		<result property="idx"					column="IDX"					/>
		<result property="prcssIdx"				column="PRCSS_IDX"				/>
		<result property="userPw"				column="USER_PW"				/>
		<result property="empCd"				column="EMP_CD"					/>
		<result property="empNm"				column="EMP_NM"					/>
		<result property="joinDate"				column="JOIN_DATE"				/>
		<result property="resignDate"			column="RESIGN_DATE"			/>
		
	</resultMap>
	
	
	<!-- 공정정보관리전체조회 -->
	<select id="prcssCodeAdmAllList" resultMap="PrcssCodeAdmVo">
	
			SELECT  A.BOM_CD
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.BOM_GUBUN AND X.BASE_GROUP_CD='039') BOM_GUBUN
				, B.PRCSS_CD
				,(SELECT PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD=B.PRCSS_CD AND X.LOWER_PRCSS_CD=B.PRCSS_CD) PRCSS_MID_NM
				, C.LOWER_PRCSS_CD
				, (SELECT PRCSS_NM FROM TB_PRCSS_CODE_ADM X  WHERE X.PRCSS_CD=C.LOWER_PRCSS_CD) PRCSS_NM
				, (SELECT OSRC_YN FROM TB_PRCSS_CODE_ADM X  WHERE X.PRCSS_CD=C.LOWER_PRCSS_CD) OSRC_YN
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=(SELECT OSRC_YN FROM TB_PRCSS_CODE_ADM X  WHERE X.PRCSS_CD=C.LOWER_PRCSS_CD) AND X.BASE_GROUP_CD='043' ) OSRC_YN_NM
				, (SELECT PRCSS_INITIAL FROM TB_PRCSS_CODE_ADM X  WHERE X.PRCSS_CD=C.LOWER_PRCSS_CD) PRCSS_INITIAL
				, C.ETC1
				, C.ETC2
				, (SELECT PRCSS_DESC FROM TB_PRCSS_CODE_ADM X  WHERE X.PRCSS_CD=C.LOWER_PRCSS_CD) PRCSS_DESC
				, (CASE WHEN (SELECT COUNT(PART_CD) FROM TB_ITEM_BOM_MAP X WHERE X.ITEM_CD=#{itemCd} AND X.ITEM_REV=#{itemRev} AND X.PRCSS_CD=C.LOWER_PRCSS_CD) = 0 THEN '미등록' ELSE '등록' END) PART_CD 
			FROM TB_PRCSS_BOM_ADM A 
			LEFT OUTER JOIN TB_PRCSS_BOM_DTL B
			ON A.BOM_CD=B.BOM_CD
			LEFT OUTER JOIN TB_PRCSS_CODE_ADM C
			ON B.PRCSS_CD = C.PRCSS_CD
			AND C.LOWER_PRCSS_CD LIKE 'P%'
			WHERE A.BOM_CD = #{bomCd}
		
	</select>
	
	<!-- 공정정보관리(서브/마스터)조회 -->
	<select id="prcssCodeAdmList" resultMap="PrcssCodeAdmVo">
		SELECT
			PRCSS_CD, 
			PRCSS_TYPE,
			LOWER_PRCSS_CD,
			PRCSS_SEQ,
			PRCSS_NM,
			PRCSS_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD='112' AND X.BASE_CD = A.PRCSS_GUBUN) PRCSS_GUBUN_NM,
			PRCSS_INITIAL,
			OSRC_YN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD='043' AND X.BASE_CD = A.OSRC_YN) OSRC_YN_NM,
			PRCSS_STAND1,
			PRCSS_STAND2,
			PRCSS_STAND3,
			PRCSS_DESC
		FROM	TB_PRCSS_CODE_ADM A
		WHERE PRCSS_TYPE = #{prcssType}
		AND LOWER_PRCSS_CD = PRCSS_CD
		<if test="mainGubun!=null and !mainGubun.equals('')">
		AND PRCSS_GUBUN = #{mainGubun}	
		</if>
	</select>
	
	<!-- 품목정보관리(자재/제품) 작업장 조회 -->
	<select id="prcssItemWorkplace" resultMap="PrcssCodeAdmVo">
		SELECT 
			PRCSS_CD,
			PRCSS_NM
		FROM	TB_PRCSS_CODE_ADM
		WHERE 1=1
		AND LOWER_PRCSS_CD = PRCSS_CD
		AND PRCSS_TYPE = #{prcssType}
		<if test="prcssGubun!=null and !prcssGubun.equals('')">
		AND PRCSS_GUBUN = #{prcssGubun}	
		</if>
		GROUP BY PRCSS_CD, PRCSS_NM
	</select>
	
	<!--중공정에 따른 소공정 목록조회 -->
	<select id="prcssCodeMidDtlList" resultMap="PrcssCodeAdmVo">
		<![CDATA[
			SELECT 
			    PRCSS_SEQ
				, LOWER_PRCSS_CD 
				, (SELECT PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD=A.LOWER_PRCSS_CD) PRCSS_NM
				, (SELECT PRCSS_INITIAL FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD=A.LOWER_PRCSS_CD) PRCSS_INITIAL
				, (SELECT OSRC_YN FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD=A.LOWER_PRCSS_CD) OSRC_YN
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='043' AND  B.BASE_CD
						=(SELECT OSRC_YN FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD=A.LOWER_PRCSS_CD)) OSRC_YN_NM
			FROM TB_PRCSS_CODE_ADM A 
			WHERE A.PRCSS_CD = #{prcssCd}	
			AND A.LOWER_PRCSS_CD LIKE 'P%'
		]]>
	</select>
	
	<!-- 공정정보관리(봉제조립) 상세조회 -->
	<select id="prcssCodeAdmRead" resultMap="PrcssCodeAdmVo">
			SELECT	PRCSS_CD AS prcssCd,
				PRCSS_CD,
				PRCSS_TYPE,
				LOWER_PRCSS_CD,
				PRCSS_SEQ,
				PRCSS_NM,
				PRCSS_GUBUN,
				PRCSS_INITIAL,
				OSRC_YN,
				PRCSS_UPH,
				PRCSS_STAND1,
				PRCSS_STAND2,
				PRCSS_STAND3,
				ETC1,
				ETC2,
				PRCSS_DESC,
				USE_YN,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM	TB_PRCSS_CODE_ADM 	
			WHERE PRCSS_CD = #{prcssCd}
			AND PRCSS_TYPE = #{prcssType} 
			AND LOWER_PRCSS_CD = PRCSS_CD
	</select>
	
	<!-- 공정정보관리(Master)-sub 조회 -->
	<select id="prcssCodeSubList" resultMap="PrcssCodeAdmVo">
			SELECT
				PRCSS_CD,
				PRCSS_TYPE,
				LOWER_PRCSS_CD,
				PRCSS_SEQ,
				PRCSS_NM,
				PRCSS_GUBUN,
				(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD='039' AND X.BASE_CD = A.PRCSS_GUBUN) AS prcssGubunNm,
				PRCSS_INITIAL,
				(SELECT X.OSRC_YN FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD = A.LOWER_PRCSS_CD AND X.PRCSS_TYPE = '002') OSRC_YN,
				(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD='043' AND X.BASE_CD = (SELECT X.OSRC_YN FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD = A.LOWER_PRCSS_CD AND X.PRCSS_TYPE = '002')) osrcYnNm,
				PRCSS_STAND1,
				PRCSS_STAND2,
				PRCSS_STAND3,
				PRCSS_DESC,
				(SELECT X.PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD = A.PRCSS_CD AND X.PRCSS_CD = X.LOWER_PRCSS_CD AND X.PRCSS_TYPE = '001') REAL_PRCSS_NM,
				REG_ID,
				REG_DATE
			FROM	TB_PRCSS_CODE_ADM A	
			WHERE PRCSS_CD = #{prcssCd}
			AND LOWER_PRCSS_CD != PRCSS_CD
			ORDER BY REG_DATE
	</select>
	
	<!-- 개발관리-공정매칭 조회 -->
	<select id="prcssEbomList" resultMap="PrcssCodeAdmVo">
			SELECT
				PRCSS_CD,
				PRCSS_TYPE,
				LOWER_PRCSS_CD,
				PRCSS_SEQ,
				(SELECT X.PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD = A.LOWER_PRCSS_CD AND X.PRCSS_TYPE = '002') PRCSS_NM,
				PRCSS_GUBUN,
				(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD='039' AND X.BASE_CD = A.PRCSS_GUBUN) AS prcssGubunNm,
				PRCSS_INITIAL,
				(SELECT X.OSRC_YN FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD = A.LOWER_PRCSS_CD AND X.PRCSS_TYPE = '002') OSRC_YN,
				(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD='043' AND X.BASE_CD = (SELECT X.OSRC_YN FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD = A.LOWER_PRCSS_CD AND X.PRCSS_TYPE = '002')) osrcYnNm,
				PRCSS_STAND1,
				PRCSS_STAND2,
				PRCSS_STAND3,
				PRCSS_DESC,
				(SELECT X.PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD = A.PRCSS_CD AND X.PRCSS_CD = X.LOWER_PRCSS_CD AND X.PRCSS_TYPE = '001') REAL_PRCSS_NM
			FROM	TB_PRCSS_CODE_ADM A	
			WHERE LOWER_PRCSS_CD != PRCSS_CD
			AND PRCSS_CD IN
			<foreach collection='checkBoxArray' item='temp' open='(' close=')' separator=",">
			 #{temp}
			</foreach>
	</select>
	
	<select id="prcssSeqCheck" resultMap="PrcssCodeAdmVo">
		<![CDATA[
			SELECT	PRCSS_CD
				, PRCSS_NM 
				, PRCSS_SEQ
				, PRCSS_GUBUN 
				, LOWER_PRCSS_CD
				,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='039' AND B.BASE_CD=A.PRCSS_GUBUN) PRCSS_GUBUN_NM
			FROM TB_PRCSS_CODE_ADM A	
			WHERE PRCSS_CD= #{prcssCd}
			AND PRCSS_SEQ = #{prcssSeq}
			AND PRCSS_CD != LOWER_PRCSS_CD
		]]>
	</select>
	
	<!-- 공정정보관리 등록 -->
	<insert id="prcssCodeAdmCreate">
			INSERT INTO TB_PRCSS_CODE_ADM		(
				PRCSS_CD,
				PRCSS_TYPE,
				LOWER_PRCSS_CD,
				PRCSS_SEQ,
				PRCSS_NM,
				PRCSS_GUBUN,
				PRCSS_INITIAL,
				OSRC_YN,
				PRCSS_UPH,
				PRCSS_STAND1,
				PRCSS_STAND2,
				PRCSS_STAND3,
				ETC1,
				ETC2,
				PRCSS_DESC,
				USE_YN,
				REG_ID,
				REG_DATE
			) 
			VALUES(
				#{prcssCd},
				#{prcssType},
				#{lowerPrcssCd},
				#{prcssSeq},
				#{prcssNm},
				#{prcssGubun},
				#{prcssInitial},
				#{osrcYn},
				#{prcssUph},
				#{prcssStand1},
				#{prcssStand2},
				#{prcssStand3},
				#{etc1},
				#{etc2},
				#{prcssDesc},
				#{useYn},
				#{regId},
				getDate()
			)
	</insert>
	
	<!-- 공정정보관리 수정 -->
	<update id="prcssCodeAdmUpdate">
			UPDATE	TB_PRCSS_CODE_ADM		 
			SET	PRCSS_CD = #{prcssCd},
				PRCSS_TYPE = #{prcssType},
				LOWER_PRCSS_CD = #{lowerPrcssCd},
				PRCSS_SEQ = #{prcssSeq},
				PRCSS_NM = #{prcssNm},
				PRCSS_GUBUN = #{prcssGubun},
				PRCSS_INITIAL = #{prcssInitial},
				OSRC_YN = #{osrcYn},
				PRCSS_UPH = #{prcssUph},
				PRCSS_STAND1 = #{prcssStand1},
				PRCSS_STAND2 = #{prcssStand2},
				PRCSS_STAND3 = #{prcssStand3},
				ETC1 = #{etc1},
				ETC2 = #{etc2},
				PRCSS_DESC = #{prcssDesc},
				USE_YN = #{useYn},
				UPD_ID = #{updId},
				UPD_DATE = getDate()
			WHERE	PRCSS_CD = #{prcssCd}
			AND	PRCSS_TYPE = #{prcssType}
			AND LOWER_PRCSS_CD = #{lowerPrcssCd}
	</update>
	
	<!-- 공정코드 가져오기 -->
	<select id="getPrcssCodeSeqCd" resultType="String">
		<if test="prcssType.equals('001')">
			SELECT CONCAT('P',REPLICATE('0',5-LEN(RIGHT(ISNULL(MAX(PRCSS_CD),0),5)+1)),CONVERT(nvarchar,RIGHT(ISNULL(MAX(PRCSS_CD),0),5)+1))
			FROM TB_PRCSS_CODE_ADM
			WHERE PRCSS_TYPE = #{prcssType}
		</if>
		<if test="prcssType.equals('002')">
			SELECT CONCAT('M',REPLICATE('0',5-LEN(RIGHT(ISNULL(MAX(PRCSS_CD),0),5)+1)),CONVERT(nvarchar,RIGHT(ISNULL(MAX(PRCSS_CD),0),5)+1))
			FROM TB_PRCSS_CODE_ADM
			WHERE PRCSS_TYPE = #{prcssType}
		</if>
	</select>

	
	<!-- 공정시퀀스 가져오기 -->
	<select id="getPrcssSeq" resultType="Integer">
		SELECT ISNULL(MAX(PRCSS_SEQ)+1,1) 
		FROM TB_PRCSS_CODE_ADM 
		WHERE PRCSS_CD = #{prcssCd} 
		AND  PRCSS_TYPE = #{prcssType}
		AND LOWER_PRCSS_CD != #{prcssCd}
	</select>
	
	
	<delete id="prcssCodeAdmDelete">
		<![CDATA[
			DELETE FROM TB_PRCSS_CODE_ADM WHERE PRCSS_CD = #{prcssCd} AND LOWER_PRCSS_CD LIKE 'P%'
		]]>
	</delete>
	
	<!-- 중공정명 중복검사 -->
	<select id="overlapPrcssNm" resultType="Integer">
		<![CDATA[
			SELECT COUNT(*) FROM TB_PRCSS_CODE_ADM X
			WHERE X.PRCSS_CD LIKE 'M%' AND X.PRCSS_CD=X.LOWER_PRCSS_CD AND X.PRCSS_GUBUN = #{prcssGubun} AND X.PRCSS_NM= #{prcssNm}
		]]>
	</select>
	
	<!-- 소공정 중복검사 -->
	<select id="overlapPrcssCd" resultType="Integer">
		<![CDATA[
			SELECT COUNT(*) FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD = #{prcssCd} AND LOWER_PRCSS_CD = #{lowerPrcssCd}
		]]>
	</select>
	
	<!-- 공정별 설비목록조회 -->
	<select id="prcssToEquipList" resultMap="PrcssCodeAdmVo">
		<![CDATA[
			SELECT
				A.EQUIP_CD1,
				(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM B WHERE B.EQUIP_CD = A.EQUIP_CD1) EQUIP_NM1,
				A.EQUIP_CD2,
				(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM B WHERE B.EQUIP_CD = A.EQUIP_CD2) EQUIP_NM2,
				A.EQUIP_CD3,
				(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM B WHERE B.EQUIP_CD = A.EQUIP_CD3) EQUIP_NM3,
				A.EQUIP_CD4,
				(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM B WHERE B.EQUIP_CD = A.EQUIP_CD4) EQUIP_NM4,
				A.EQUIP_CD5,
				(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM B WHERE B.EQUIP_CD = A.EQUIP_CD5) EQUIP_NM5
			FROM TB_PRCSS_CODE_ADM A
			WHERE 1=1
			AND A.PRCSS_TYPE = '001'
			AND A.LOWER_PRCSS_CD = #{lowerPrcssCd}
		]]>
	</select>
	
	<!-- 설비정보 전체조회 -->
	<select id="prcssEquipAdmList" resultMap="PrcssCodeAdmVo">
			SELECT	PRCSS_CD,
				EQUIP_CD,
				(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM B WHERE B.EQUIP_NO = A.EQUIP_CD) EQUIP_NM,
				PRCSS_DESC,
				USE_YN,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM	TB_PRCSS_EQUIP_ADM A 
			WHERE	PRCSS_CD = #{prcssCd}
			ORDER BY REG_DATE
	</select>
	
	<!-- 공정정보관리 설비정보 삭제 -->
	<delete id="prcssEquipDelete">
			DELETE 
			FROM TB_PRCSS_EQUIP_ADM 
			WHERE PRCSS_CD = #{prcssCd}
			AND EQUIP_CD = #{equipCd}
	</delete>
	
	<!-- 공정정보관리 설비정보 등록 -->
	<insert id="prcssCodeEqCreate">
			INSERT INTO TB_PRCSS_EQUIP_ADM(
				PRCSS_CD,
				EQUIP_CD,
				PRCSS_DESC,
				USE_YN,
				REG_ID,
				REG_DATE
			) 
			VALUES(
				#{prcssCd},
				#{equipCd},
				#{prcssDesc},
				'001',
				#{regId},
				getDate()
			)
	</insert>
	
	<!-- 공정정보관리 설비정보 전체 삭제 -->
	<delete id="prcssEquipAllDelete">
			DELETE 
			FROM TB_PRCSS_EQUIP_ADM 
			WHERE PRCSS_CD = #{prcssCd}
	</delete>
	
	<!-- 공정정보관리-자재 전체 삭제 -->
	<delete id="prcssItemAllDelete">
			DELETE 
			FROM TB_PRCSS_ITEM_ADM 
			WHERE PRCSS_CD = #{prcssCd}
	</delete>
	
	<!-- 공정정보관리-자재 삭제 -->
	<delete id="prcssItemDelete">
			DELETE 
			FROM TB_PRCSS_ITEM_ADM 
			WHERE PRCSS_CD = #{prcssCd}
			AND ITEM_SEQ = #{itemSeq}
	</delete>
	
	<!-- 공정정보관리 자재 등록 -->
	<insert id="prcssCodeItemCreate">
			INSERT INTO TB_PRCSS_ITEM_ADM(
				PRCSS_CD,
				ITEM_SEQ,
				ITEM_CONSUMPT,
				PRCSS_DESC,
				USE_YN,
				REG_ID,
				REG_DATE
			) 
			VALUES(
				#{prcssCd},
				#{itemSeq},
				#{itemConsumpt},
				#{prcssDesc},
				'001',
				#{regId},
				getDate()
			)
	</insert>
	
				
	<!-- 공정정보관리 자재 전체조회 -->
	<select id="prcssItemAdmList" resultMap="PrcssCodeAdmVo">
			SELECT	PRCSS_CD,
				ITEM_SEQ,
				(SELECT ITEM_CD FROM TB_ITEM_INFO_ADM B WHERE B.ITEM_SEQ = A.ITEM_SEQ) ITEM_CD,
				(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD='099' AND X.BASE_CD = (SELECT ITEM_MODEL FROM TB_ITEM_INFO_ADM B WHERE B.ITEM_SEQ = A.ITEM_SEQ)) ITEM_MODEL_NM,
				(SELECT ITEM_NM FROM TB_ITEM_INFO_ADM B WHERE B.ITEM_SEQ = A.ITEM_SEQ) ITEM_NM,
				(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD='110' AND X.BASE_CD = (SELECT ITEM_GUBUN FROM TB_ITEM_INFO_ADM B WHERE B.ITEM_SEQ = A.ITEM_SEQ)) ITEM_GUBUN_NM,
				ITEM_CONSUMPT,
				PRCSS_DESC,
				USE_YN,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM	TB_PRCSS_ITEM_ADM A
			WHERE	PRCSS_CD = #{prcssCd}
	</select>
	
	<!-- 개발관리 BOM 전체조회 -->
	<select id="prcssEbomAdmList" resultMap="PrcssCodeAdmVo">
			SELECT	PRCSS_CD,
				ITEM_SEQ,
				(SELECT ITEM_CD FROM TB_ITEM_INFO_ADM B WHERE B.ITEM_SEQ = A.ITEM_SEQ) ITEM_CD,
				(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD='099' AND X.BASE_CD = (SELECT ITEM_MODEL FROM TB_ITEM_INFO_ADM B WHERE B.ITEM_SEQ = A.ITEM_SEQ)) ITEM_MODEL_NM,
				(SELECT ITEM_NM FROM TB_ITEM_INFO_ADM B WHERE B.ITEM_SEQ = A.ITEM_SEQ) ITEM_NM,
				(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD='110' AND X.BASE_CD = (SELECT ITEM_GUBUN FROM TB_ITEM_INFO_ADM B WHERE B.ITEM_SEQ = A.ITEM_SEQ)) ITEM_GUBUN_NM,
				ITEM_CONSUMPT,
				PRCSS_DESC,
				USE_YN,
				REG_ID,
				REG_DATE,
				UPD_ID,
				UPD_DATE
			FROM	TB_PRCSS_ITEM_ADM A
			WHERE	PRCSS_CD IN
			<foreach collection='checkBoxArray' item='temp' open='(' close=')' separator=",">
			 #{temp}
			</foreach>
	</select>
	
	<!-- 공정정보관리 기본 삭제 -->
	<delete id="prcssAdmDelete">
			DELETE 
			FROM TB_PRCSS_CODE_ADM 
			WHERE PRCSS_CD = #{prcssCd}
	</delete>
	
	<!-- 공정정보관리-sub 전체 삭제 -->
	<delete id="prcssSubAllDelete">
			DELETE 
			FROM TB_PRCSS_CODE_ADM 
			WHERE PRCSS_CD = #{prcssCd} 
			AND  PRCSS_TYPE = #{prcssType}
			AND LOWER_PRCSS_CD != #{prcssCd}
	</delete>
	
	<!-- 공정정보관리 기본 삭제 -->
	<delete id="prcssSubDelete">
			DELETE 
			FROM TB_PRCSS_CODE_ADM 
			WHERE PRCSS_CD = #{prcssCd}
			AND  PRCSS_TYPE = #{prcssType}
			AND LOWER_PRCSS_CD = #{lowerPrcssCd}
	</delete>
	
	<!-- 공정정보관리 작업자 둥록 목록조회 -->
	<select id="prcssWorkerAdmList" resultMap="PrcssCodeAdmVo">
		SELECT
			PWA.PRCSS_CD
			, PWA.PRCSS_TYPE
			, PWA.LOWER_PRCSS_CD
			, PWA.PRCSS_SEQ
			, PWA.WORKER_SEQ
			, PWA.USER_NUMBER
			, USR.USER_ID
			, USR.USER_NM
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='003' AND B.BASE_CD = USR.DEPARTMENT_CD) DEPARTMENT_NM
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='005' AND B.BASE_CD = USR.POST_CD) POST_NM
			, USR.USER_DESC
			, PWA.REG_ID
			, PWA.REG_DATE
			, PWA.UPD_ID
			, PWA.UPD_DATE
		FROM TB_PRCSS_WORKER_ADM PWA
		LEFT OUTER JOIN TB_USER USR
		ON PWA.USER_NUMBER = USR.USER_NUMBER
		INNER JOIN TB_PRCSS_CODE_ADM PCA
		ON PWA.PRCSS_CD = PCA.PRCSS_CD
		AND PWA.PRCSS_TYPE = PCA.PRCSS_TYPE
		AND PWA.LOWER_PRCSS_CD = PCA.LOWER_PRCSS_CD
		AND PWA.PRCSS_SEQ = PCA.PRCSS_SEQ
		WHERE 1=1
		<if test="prcssCd != null and !prcssCd.equals('')">
		AND PWA.PRCSS_CD = #{prcssCd}
		</if>
		<if test="prcssType != null and !prcssType.equals('')">
		AND	PWA.PRCSS_TYPE = #{prcssType}
		</if>
		<if test="lowerPrcssCd != null and !lowerPrcssCd.equals('')">
		AND	PWA.LOWER_PRCSS_CD = #{lowerPrcssCd}
		</if>
		<if test="prcssSeq != null and !prcssSeq.equals('')">
		AND	PWA.PRCSS_SEQ = #{prcssSeq}
		</if>
		<if test="userNumber != null and !userNumber.equals('')">
		AND PWA.USER_NUMBER = #{userNumber}
		</if>
		<if test="prcssGubun != null and !prcssGubun.equals('')">
		AND PCA.PRCSS_GUBUN = #{prcssGubun}
		</if>
		<if test="seqCheck != null and !seqCheck.equals('')">
		ORDER BY PWA.WORKER_SEQ DESC
		</if>
	</select>
	
	<!-- 공정정보관리 작업자 둥록 create -->
	<insert id="prcssWorkerCreate">
		INSERT INTO TB_PRCSS_WORKER_ADM(
			PRCSS_CD,
			PRCSS_TYPE,
			LOWER_PRCSS_CD,
			PRCSS_SEQ,
			WORKER_SEQ,
			USER_NUMBER,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{prcssCd},
			#{prcssType},
			#{lowerPrcssCd},
			#{prcssSeq},
			#{workerSeq},
			#{userNumber},
			#{regId},
			getDate()
		)
	</insert>
	
	<!-- 공정정보관리 작업자 둥록 삭제 -->
	<delete id="prcssWorkerDelete">
		DELETE
		FROM TB_PRCSS_WORKER_ADM 
		WHERE 1=1
		AND PRCSS_CD = #{prcssCd}
		AND	PRCSS_TYPE = #{prcssType}
		AND	LOWER_PRCSS_CD = #{lowerPrcssCd}
		AND	PRCSS_SEQ = #{prcssSeq}
		<if test="workerSeq != null and !workerSeq.equals('')">
		AND	WORKER_SEQ = #{workerSeq}
		</if>
	</delete>
	
	<!--공정정보관리 생산작업자 둥록 목록조회 -->
	<select id="prcssUserAdmList" resultMap="PrcssCodeAdmVo">
		SELECT
			PUM.IDX,
			PUM.USER_ID,
			PUM.USER_NM,
			PUM.USER_PW,
			PUM.EMP_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='002' AND B.BASE_CD = PUM.EMP_CD) EMP_NM,
			PUM.JOIN_DATE,
			PUM.RESIGN_DATE,
			PUM.PRCSS_IDX,
			PUM.REG_ID,
			PUM.REG_DATE
		FROM TB_PRCSS_USER_ADM PUM
		WHERE 1=1
		<if test="prcssIdx != null and !prcssIdx.equals('')">
		AND PUM.PRCSS_IDX = #{prcssIdx}
		</if>
		<if test="userId != null and !userId.equals('')">
     	AND PUM.USER_ID = #{userId}
      	</if>
	</select>
	
	<select id="prcssUserRead" resultMap="PrcssCodeAdmVo">
		SELECT
			PUM.IDX,
			PUM.USER_ID,
			PUM.USER_NM,
			PUM.USER_PW,
			PUM.EMP_CD,
			PUM.JOIN_DATE,
			PUM.RESIGN_DATE,
			PUM.PRCSS_IDX,
			PUM.REG_ID,
			PUM.REG_DATE
		FROM TB_PRCSS_USER_ADM PUM
		WHERE 1=1
		AND PUM.PRCSS_IDX = #{prcssIdx}
     	AND PUM.USER_ID = #{userId}
	</select>
	
	<!-- 공정정보관리 생산작업자 둥록 create -->
	<insert id="prcssUserCreate">
		INSERT INTO TB_PRCSS_USER_ADM(
			USER_ID,
			USER_NM,
			USER_PW,
			EMP_CD,
			JOIN_DATE,
			RESIGN_DATE,
			PRCSS_IDX,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{userId},
			#{userNm},
			#{userPw},
			#{empCd},
			#{joinDate},
			#{resignDate},
			#{prcssIdx},
			#{regId},
			getDate()
		)
	</insert>
	
	<!-- 공정정보관리 생산작업자 수정 update -->
	<update id="prcssUserUpdate">
		UPDATE	TB_PRCSS_USER_ADM
		SET	USER_NM = #{userNm}
			<if test="userPw != '' and userPw != null">
			, USER_PW = #{userPw}
			</if>
			, EMP_CD = #{empCd}
			, JOIN_DATE = #{joinDate}
			, RESIGN_DATE = #{resignDate}
			, UPD_ID = #{updId}
			, UPD_DATE = getDate()
		WHERE PRCSS_IDX = #{prcssIdx}
     	AND USER_ID = #{userId}
	</update>
	
	<!-- 공정정보관리 생산작업자 둥록 삭제 -->
	<delete id="prcssUserDelete">
		DELETE
		FROM TB_PRCSS_USER_ADM
		WHERE 1=1
		AND PRCSS_IDX = #{prcssIdx}
		<if test="idx != null and !idx.equals('')">
			AND IDX = #{idx}
		</if>
	</delete>
	
	
	
</mapper>
