<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.bm.sparePartsAdmMapper">

	<resultMap id="SparePartsAdmVo" type="mes.domain.bm.SparePartsAdmVo">
		<result property="spCd"				column="SP_CD"			/>
		<result property="spNm"				column="SP_NM"			/>
		<result property="equipCd"			column="EQUIP_CD"		/>
		<result property="equipNm"			column="EQUIP_NM"		/>
		<result property="spCycle"			column="SP_CYCLE"		/>
		<result property="spCycleNm"		column="SP_CYCLE_NM"		/>
		<result property="spCnt"			column="SP_CNT"			/>
		<result property="admDept"			column="ADM_DEPT"		/>
		<result property="mainChargr"		column="MAIN_CHARGR"	/>
		<result property="useYn"			column="USE_YN"			/>
		<result property="spDesc"			column="SP_DESC"		/>
		<result property="imageFile1"		column="IMAGE_FILE1"	/>
		<result property="imageFile2"		column="IMAGE_FILE2"	/>
		<result property="imageFile3"		column="IMAGE_FILE3"	/>
		<result property="imageFile4"		column="IMAGE_FILE4"	/>
		<result property="imageFile1Nm"		column="IMAGE_FILE1_NM"	/>
		<result property="imageFile2Nm"		column="IMAGE_FILE2_NM"	/>
		<result property="imageFile3Nm"		column="IMAGE_FILE3_NM"	/>
		<result property="imageFile4Nm"		column="IMAGE_FILE4_NM"	/>
		<result property="regId"			column="REG_ID"			/>
		<result property="regDate"			column="REG_DATE"		/>
		<result property="updId"			column="UPD_ID"			/>
		<result property="updDate"			column="UPD_DATE"		/>
		<result property="value"			column="VALUE"			/>
		
	</resultMap>

	<!--예비품등록 전체조회 -->
	<select id="sparePartsAdmList" resultMap="SparePartsAdmVo">
			SELECT 
				EQUIP_CD
				, (SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM X WHERE X.EQUIP_CD=A.EQUIP_CD) EQUIP_NM
				, SP_CD
				, SP_NM
				, SP_CYCLE
				, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=A.SP_CYCLE AND X.BASE_GROUP_CD='056')SP_CYCLE_NM
				, SP_CNT
				, SP_DESC
			FROM TB_SPARE_PARTS_ADM A
	</select>
	
	<!-- 예비품등록 상세 정보 -->
	<select id="sparePartsAdmRead" resultMap="SparePartsAdmVo">
		<![CDATA[
			SELECT 
				EQUIP_CD
				,(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM X WHERE A.EQUIP_CD=X.EQUIP_CD) EQUIP_NM
				, SP_NM
				, SP_CYCLE
				, SP_CNT
				, ADM_DEPT
				, MAIN_CHARGR
				, SP_DESC
				, USE_YN
			FROM TB_SPARE_PARTS_ADM A
			WHERE SP_CD = #{spCd}
		]]>
	</select>

	<!-- 예비품등록 생성 -->
	<insert id="sparePartsAdmCreate" parameterType="mes.domain.bm.SparePartsAdmVo">
		<![CDATA[
			INSERT INTO TB_SPARE_PARTS_ADM 		(
				SP_CD,
				SP_NM,
				EQUIP_CD,
				SP_CYCLE,
				SP_CNT,
				ADM_DEPT,
				MAIN_CHARGR,
				USE_YN,
				SP_DESC,
				REG_ID,
				REG_DATE
			) 
			VALUES(
				#{spCd},
				#{spNm},
				#{equipCd},
				#{spCycle},
				#{spCnt},
				#{admDept},
				#{mainChargr},
				#{useYn},
				#{spDesc},
				#{regId},
				getDate()
			)
		]]>
	</insert>
	
	<!-- 예비품등록 Update -->
	<update id="sparePartsAdmUpdate">
        UPDATE	TB_SPARE_PARTS_ADM 		 
		SET	SP_NM = #{spNm},
			EQUIP_CD = #{equipCd},
			SP_CYCLE = #{spCycle},
			SP_CNT = #{spCnt},
			ADM_DEPT = #{admDept},
			MAIN_CHARGR = #{mainChargr},
			USE_YN = #{useYn},
			SP_DESC = #{spDesc},
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		WHERE	SP_CD = #{spCd}
	</update>
	
		<!-- 시퀀스 값 조회 -->
	<select id="getSpCd" resultType="String">
		<![CDATA[
			SELECT ISNULL(CAST(MAX(SP_CD)+1 AS NVARCHAR), '100001') FROM TB_SPARE_PARTS_ADM 			
		]]>
	</select>
	 
	<!-- 설비관리 이미지 경로조회 -->
	<select id="sparePartsImgRead" resultMap="SparePartsAdmVo">
			SELECT
				SP_CD
				, IMAGE_FILE1
				, IMAGE_FILE2
				, IMAGE_FILE3
				, IMAGE_FILE4
				, IMAGE_FILE1_NM
				, IMAGE_FILE2_NM
				, IMAGE_FILE3_NM
				, IMAGE_FILE4_NM
			FROM TB_SPARE_PARTS_ADM 		
			WHERE SP_CD = #{spCd}
	</select>
	
	<update id="sparePartsImageUpload">
		UPDATE TB_SPARE_PARTS_ADM
		SET
		<choose>
			<when test="imageFile1 != null">
				IMAGE_FILE1 = #{imageFile1}
				, IMAGE_FILE1_NM = #{imageFile1Nm}
			</when>
			<when test="imageFile2 != null">
				IMAGE_FILE2 = #{imageFile2}
				, IMAGE_FILE2_NM = #{imageFile2Nm}
			</when>
			<when test="imageFile3 != null">
				IMAGE_FILE3 = #{imageFile3}
				, IMAGE_FILE3_NM = #{imageFile3Nm}
			</when>
			<when test="imageFile4 != null">
				IMAGE_FILE4 = #{imageFile4}
				, IMAGE_FILE4_NM = #{imageFile4Nm}
			</when>
		</choose>
		WHERE SP_CD = #{spCd}
	</update>
	
	<update id="sparePartsImageDelete">
		UPDATE TB_SPARE_PARTS_ADM
		SET
		<choose>
			<when test="value == 1">
				IMAGE_FILE1 = null
				, IMAGE_FILE1_NM = null
			</when>
			<when test="value == 2">
				IMAGE_FILE2 = null
				, IMAGE_FILE2_NM = null
			</when>
			<when test="value == 3">
				IMAGE_FILE3 = null
				, IMAGE_FILE3_NM = null
			</when>
			<when test="value == 4">
				IMAGE_FILE4 = null
				, IMAGE_FILE4_NM = null
			</when>
		</choose>
		WHERE SP_CD = #{spCd}
	</update>
	
</mapper>

