<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.io.barcodeUsePlaceChangeHistAdmMapper">
	
	<resultMap id="BarcodeUsePlaceChangeHistAdmVo" type="mes.domain.io.BarcodeUsePlaceChangeHistAdmVo">
		<result property="idx"      		column="IDX"				/>
		<result property="barcodeNo"      	column="BARCODE_NO"			/>
		<result property="sachulSeq"      	column="SACHUL_SEQ"			/>
		<result property="bongjeSeq"     	column="BONGJE_SEQ"			/>
		<result property="itemSeq"      	column="ITEM_SEQ"			/>
		<result property="itemCd"      		column="ITEM_CD"			/>
		<result property="itemNm"      		column="ITEM_NM"			/>
		<result property="itemModel"      	column="ITEM_MODEL"			/>
		<result property="itemModelNm"      column="ITEM_MODEL_NM"		/>
		<result property="itemGubun"      	column="ITEM_GUBUN"			/>
		<result property="itemGubunNm"      column="ITEM_GUBUN_NM"		/>
		<result property="changeQty"      	column="CHANGE_QTY"			/>
		<result property="changeDate"      	column="CHANGE_DATE"		/>
		<result property="sachulLocCd"      column="SACHUL_LOC_CD"		/>
		<result property="sachulLocNm"      column="SACHUL_LOC_NM"		/>
		<result property="sachulLocNo"      column="SACHUL_LOC_NO"		/>
		<result property="bongjeLocCd"      column="BONGJE_LOC_CD"		/>
		<result property="bongjeLocNm"      column="BONGJE_LOC_NM"		/>
		<result property="bongjeLocNo"      column="BONGJE_LOC_NO"		/>
		<result property="bongjeGubun"      column="BONGJE_GUBUN"		/>
		<result property="bongjeGubunNm"    column="BONGJE_GUBUN_NM"	/>
		<result property="bongjeImportYn"	column="BONGJE_IMPORT_YN"	/>
		<result property="changeDesc"      	column="CHANGE_DESC"		/>

		<result property="regId"		 	column="REG_ID"				/>
		<result property="regDate"		 	column="REG_DATE"			/>
		<result property="updId"		 	column="UPD_ID"				/>
		<result property="updDate"		 	column="UPD_DATE"			/>
		
	</resultMap>             


	<select id="barcodeUsePlaceChangeHistAdmRead" resultMap="BarcodeUsePlaceChangeHistAdmVo">
		SELECT 
			IWA.BARCODE_NO,
			IWA.ITEM_SEQ SACHUL_SEQ,
			IIA.ITEM_CD,
			IIA.ITEM_NM,
			IIA.ITEM_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD = '091' AND IIA.ITEM_GUBUN = B.BASE_CD) ITEM_GUBUN_NM,
			IIA.ITEM_MODEL,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD = '099' AND IIA.ITEM_MODEL = B.BASE_CD) ITEM_MODEL_NM,
			IWA.REMAIN_QTY CHANGE_QTY,
			(SELECT TOP(1) LOCATION_CD FROM TB_STOCK_PAYMENT_ADM WHERE BARCODE_NO = IWA.BARCODE_NO AND SP_CD=IWA.ITEM_SEQ AND SP_GUBUN='001' ORDER BY REG_DATE DESC) SACHUL_LOC_CD,
			(SELECT TOP(1) LOCATION_NO FROM TB_STOCK_PAYMENT_ADM WHERE BARCODE_NO = IWA.BARCODE_NO AND SP_CD=IWA.ITEM_SEQ AND SP_GUBUN='001' ORDER BY REG_DATE DESC) SACHUL_LOC_NO,
			BONGJE_IIA.ITEM_GUBUN BONGJE_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD = '091' AND BONGJE_IIA.ITEM_GUBUN = B.BASE_CD) BONGJE_GUBUN_NM,
			BONGJE_IIA.ITEM_SEQ BONGJE_SEQ,
			BONGJE_IIA.SAVELOC_CD BONGJE_LOC_CD,
			BONGJE_IIA.LOC_NO BONGJE_LOC_NO,
			BONGJE_IIA.BONGJE_IMPORT_YN
		FROM TB_ITEM_WHS_ADM IWA
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA
		ON IWA.ITEM_SEQ=IIA.ITEM_SEQ
		LEFT OUTER JOIN TB_ITEM_INFO_ADM BONGJE_IIA
		ON IWA.ITEM_SEQ=BONGJE_IIA.SACHUL_SEQ
		WHERE 1=1
		<if test="barcodeNo!=null and !barcodeNo.equals('')">
		AND BARCODE_NO=#{barcodeNo}
		</if>
		AND REMAIN_QTY > 0
		AND BONGJE_IIA.ITEM_SEQ IS NOT NULL
	</select>
	
	<!-- 목록조회 -->
	<select id="barcodeUsePlaceChangeHistAdmList" resultMap="BarcodeUsePlaceChangeHistAdmVo">
		SELECT 
			BUP.BARCODE_NO,
			BUP.SACHUL_SEQ,
			S_IIA.ITEM_CD ITEM_CD,
			S_IIA.ITEM_NM ITEM_NM,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD = '091' AND S_IIA.ITEM_GUBUN = B.BASE_CD) ITEM_GUBUN_NM,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD = '099' AND S_IIA.ITEM_MODEL = B.BASE_CD) ITEM_MODEL_NM,
			BUP.BONGJE_SEQ,
			B_IIA.ITEM_CD BONGJE_CD,
			B_IIA.ITEM_NM BONGJE_NM,
			BUP.CHANGE_QTY,
			BUP.CHANGE_DATE
		FROM TB_BARCODE_USE_PLACE_CHANGE_HIST_ADM BUP
		LEFT OUTER JOIN TB_ITEM_INFO_ADM S_IIA
		ON BUP.SACHUL_SEQ=S_IIA.ITEM_SEQ
		LEFT OUTER JOIN TB_ITEM_INFO_ADM B_IIA
		ON BUP.BONGJE_SEQ=B_IIA.ITEM_SEQ
		WHERE 1=1
		AND BUP.CHANGE_DATE BETWEEN #{startDate} AND #{endDate}
	</select>
   
   
    <!-- 등록 -->
    <insert id="barcodeUsePlaceChangeHistAdmIns">
	    INSERT INTO TB_BARCODE_USE_PLACE_CHANGE_HIST_ADM(
			BARCODE_NO,
			SACHUL_SEQ,
			BONGJE_SEQ,
			CHANGE_QTY,
			CHANGE_DATE,
			SACHUL_LOC_CD,
			SACHUL_LOC_NO,
			BONGJE_LOC_CD,
			BONGJE_LOC_NO,
			CHANGE_DESC,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{barcodeNo},
			#{sachulSeq},
			#{bongjeSeq},
			#{changeQty},
			#{changeDate},
			#{sachulLocCd},
			#{sachulLocNo},
			#{bongjeLocCd},
			#{bongjeLocNo},
			#{changeDesc},
			#{regId},
			GETDATE()
		)
    </insert>
   
    <!-- 수정 -->
    <update id="barcodeUsePlaceChangeHistAdmUpd">
	    UPDATE	TB_BARCODE_USE_PLACE_CHANGE_HIST_ADM 
		SET	
			<if test="changeQty!=null and !changeQty.equals('')">
			CHANGE_QTY = #{changeQty},
			</if>
			<if test="changeDate!=null and !changeDate.equals('')">
			CHANGE_DATE = #{changeDate},
			</if>
			<if test="changeDesc!=null and !changeDesc.equals('')">
			CHANGE_DESC = #{changeDesc},
			</if>
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		WHERE	IDX = #{idx}
    </update>
    
    <!-- 삭제 -->
    <delete id="barcodeUsePlaceChangeHistAdmDel">
   		DELETE FROM TB_BARCODE_USE_PLACE_CHANGE_HIST_ADM 
		WHERE	IDX = #{idx}
    </delete>

</mapper>                
                          