<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.em.equipPrdcInspectAdmMapper">

	<resultMap id="EquipInspectBaseAdmVo" type="mes.domain.em.EquipInspectBaseAdmVo">
	
		<result property="equipCd"			column="EQUIP_CD"				/>
		<result property="prcssCd"			column="PRCSS_CD"				/>
		<result property="equipNm"			column="EQUIP_NM"				/>
		<result property="prcssNm"			column="PRCSS_NM"				/>
		<result property="inspcetCycle"		column="INSPCET_CYCLE"			/>
		<result property="inspcetDept"		column="INSPCET_DEPT"			/>
		<result property="inspcetChargr"	column="INSPCET_CHARGR"			/>
		<result property="inspcetCycleNm"	column="INSPCET_CYCLE_NM"		/>
		<result property="inspcetDeptNm"	column="INSPCET_DEPT_NM"		/>
		<result property="inspcetChargrNm"	column="INSPCET_CHARGR_NM"		/>
		<result property="inspcetDesc"		column="INSPCET_DESC"			/>
		<result property="inspctRegDate"	column="INSPCT_REG_DATE"		/>
		<result property="regId"			column="REG_ID"					/>
		<result property="regDate"			column="REG_DATE"				/>
		<result property="updId"			column="UPD_ID"					/>
		<result property="updDate"			column="UPD_DATE"				/>
		<result property="inspcetSeq"		column="INSPCET_SEQ"			/>
		<result property="inspcetItem"		column="INSPCET_ITEM"			/>
		<result property="inspcetBase"		column="INSPCET_BASE"			/>
		
		<result property="equipGubun"      column="EQUIP_GUBUN"				/>
		<result property="equipGubunNm"    column="EQUIP_GUBUN_NM"			/>
		<result property="model"           column="MODEL"					/>
		<result property="equipGroup"      column="EQUIP_GROUP"				/>
		<result property="admNo"           column="ADM_NO"					/>
		<result property="mfcCorpCd"       column="MFC_CORP_CD"				/>
		<result property="equipGrade"      column="EQUIP_GRADE"				/>
		<result property="buyDate"         column="BUY_DATE"				/>
		<result property="buyCorpCd"       column="BUY_CORP_CD"				/>
		<result property="telNo"           column="TEL_NO"					/>
		<result property="admDept"         column="ADM_DEPT"				/>
		<result property="useSource"       column="USE_SOURCE"				/>
		<result property="mainChargr"      column="MAIN_CHARGR"				/>
		<result property="subChargr"       column="SUB_CHARGR"				/>
		<result property="useYn"           column="USE_YN"					/>
		<result property="equipDesc"       column="EQUIP_DESC"				/>
		<result property="imageFile1"      column="IMAGE_FILE1"				/>
		<result property="imageFile2"      column="IMAGE_FILE2"				/>
		<result property="imageFile3"      column="IMAGE_FILE3"				/>
		<result property="imageFile4"      column="IMAGE_FILE4"				/>

	</resultMap>
	
	<resultMap id="EquipPrdcInspectAdmVo" type="mes.domain.em.EquipPrdcInspectAdmVo">

		<result property="equipCd"          	column="EQUIP_CD"			/>
		<result property="equipNm"          	column="EQUIP_NM"			/>
		<result property="inspectMonth"     	column="INSPECT_MONTH"		/>
		<result property="inspectDay"      	 	column="INSPECT_DAY"		/>
		<result property="inspectRegDate"   	column="INSPECT_REG_DATE"	/>
		<result property="inspectItem1"    		column="INSPECT_ITEM1"		/>
		<result property="inspectBase1"     	column="INSPECT_BASE1"		/>
		<result property="inspectResult1"     	column="INSPECT_RESULT1"	/>
		<result property="inspectItem2"     	column="INSPECT_ITEM2"		/>
		<result property="inspectBase2"     	column="INSPECT_BASE2"		/>
		<result property="inspectResult2"     	column="INSPECT_RESULT2"	/>
		<result property="inspectItem3"     	column="INSPECT_ITEM3"		/>
		<result property="inspectBase3"     	column="INSPECT_BASE3"		/>
		<result property="inspectResult3"     	column="INSPECT_RESULT3"	/>
		<result property="inspectItem4"     	column="INSPECT_ITEM4"		/>
		<result property="inspectBase4"     	column="INSPECT_BASE4"		/>
		<result property="inspectResult4"     	column="INSPECT_RESULT4"	/>
		<result property="inspectItem5"     	column="INSPECT_ITEM5"		/>
		<result property="inspectBase5"     	column="INSPECT_BASE5"		/>
		<result property="inspectResult5"     	column="INSPECT_RESULT5"	/>
		<result property="inspectItem6"     	column="INSPECT_ITEM6"		/>
		<result property="inspectBase6"         column="INSPECT_BASE6"		/>
		<result property="inspectResult6"       column="INSPECT_RESULT6"	/>
		<result property="inspectItem7"         column="INSPECT_ITEM7"		/>
		<result property="inspectBase7"         column="INSPECT_BASE7"		/>
		<result property="inspectResult7"       column="INSPECT_RESULT7"	/>
		<result property="inspectItem8"         column="INSPECT_ITEM8"		/>
		<result property="inspectBase8"         column="INSPECT_BASE8"		/>
		<result property="inspectResult8"       column="INSPECT_RESULT8"	/>	
		<result property="regId"				column="REG_ID"				/>
		<result property="regDate"				column="REG_DATE"			/>
		<result property="updId"				column="UPD_ID"				/>
		<result property="updDate"				column="UPD_DATE"			/>
		
	</resultMap>
	

	<select id="listAll" resultMap="EquipPrdcInspectAdmVo">
		<![CDATA[
			SELECT A.EQUIP_CD 
		       ,(SELECT EQUIP_NM 
		        FROM   TB_EQUIP_CODE_ADM B 
		        WHERE  B.EQUIP_CD = A.EQUIP_CD) EQUIP_NM
		       ,A.INSPECT_MONTH
		       ,A.INSPECT_DAY
		       ,INSPECT_ITEM1
		       ,INSPECT_BASE1
			   ,INSPECT_RESULT1
		       ,INSPECT_ITEM2
			   ,INSPECT_BASE2
			   ,INSPECT_RESULT2
			   ,INSPECT_ITEM3
			   ,INSPECT_BASE3
			   ,INSPECT_RESULT3
			   ,INSPECT_ITEM4
			   ,INSPECT_BASE4
			   ,INSPECT_RESULT4
			   ,INSPECT_ITEM5
			   ,INSPECT_BASE5
			   ,INSPECT_RESULT5
			   ,INSPECT_ITEM6
			   ,INSPECT_BASE6
			   ,INSPECT_RESULT6
			   ,INSPECT_ITEM7
			   ,INSPECT_BASE7
			   ,INSPECT_RESULT7
			   ,INSPECT_ITEM8
			   ,INSPECT_BASE8
			   ,INSPECT_RESULT8			   
	           ,REG_ID
		       ,REG_DATE
		       ,UPD_ID
		       UPD_DATE 
			FROM   
			  (
				SELECT 
				 EQUIP_CD
				 ,EQUIP_NM
				 ,INSPECT_MONTH
				 ,INSPECT_DAY
				 FROM (	 
				SELECT 
					#{equipCd} EQUIP_CD
					,(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM WHERE EQUIP_CD = #{equipCd}) EQUIP_NM 
					,#{inspectMonth} INSPECT_MONTH
					,ROW_NUMBER() OVER(ORDER BY BASE_CD DESC) AS INSPECT_DAY
					FROM TB_COMMON_CODE_ADM) A WHERE A.INSPECT_DAY <= CONVERT(INT,SUBSTRING(CONVERT(CHAR(8),DATEADD(M,1,#{inspectMonth}+'01')-1, 112),7,2))) A
				LEFT OUTER JOIN TB_EQUIP_PRDC_INSPECT_ADM B
			ON A.EQUIP_CD = B.EQUIP_CD
			AND B.EQUIP_CD = #{equipCd}
			AND B.INSPECT_MONTH = #{inspectMonth}
			AND A.INSPECT_MONTH = B.INSPECT_MONTH  
			AND A.INSPECT_DAY = B.INSPECT_DAY
			
			ORDER BY INSPECT_DAY ASC
			 
		]]>		
	</select>
	
	<select id="read" resultMap="EquipPrdcInspectAdmVo">
		<![CDATA[
		SELECT	EQUIP_CD 
			,(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM B WHERE B.EQUIP_CD = A.EQUIP_CD) EQUIP_NM
			,INSPECT_MONTH 
			,INSPECT_DAY
			,INSPECT_REG_DATE 
			,INSPECT_ITEM1
			,INSPECT_BASE1
			,INSPECT_RESULT1
			,INSPECT_ITEM2
			,INSPECT_BASE2
			,INSPECT_RESULT2
			,INSPECT_ITEM3
			,INSPECT_BASE3
			,INSPECT_RESULT3
			,INSPECT_ITEM4
			,INSPECT_BASE4
			,INSPECT_RESULT4
			,INSPECT_ITEM5
			,INSPECT_BASE5
			,INSPECT_RESULT5
			,INSPECT_ITEM6
			,INSPECT_BASE6
			,INSPECT_RESULT6
			,INSPECT_ITEM7
			,INSPECT_BASE7
			,INSPECT_RESULT7
			,INSPECT_ITEM8
			,INSPECT_BASE8
			,INSPECT_RESULT8
			,REG_ID 
			,REG_DATE
			,UPD_ID
			,UPD_DATE
		FROM	TB_EQUIP_PRDC_INSPECT_ADM A	
		WHERE	EQUIP_CD = #{equipCd}		
				AND INSPECT_REG_DATE = #{inspectRegDate}			
		]]>
		</select>
	
	<insert id="create">
		<![CDATA[
			INSERT INTO TB_EQUIP_PRDC_INSPECT_ADM(
				EQUIP_CD
				,INSPECT_MONTH
				,INSPECT_DAY
				,INSPECT_REG_DATE
				,INSPECT_ITEM1
				,INSPECT_BASE1
				,INSPECT_RESULT1
				,INSPECT_ITEM2
				,INSPECT_BASE2
				,INSPECT_RESULT2
				,INSPECT_ITEM3
				,INSPECT_BASE3
				,INSPECT_RESULT3
				,INSPECT_ITEM4
				,INSPECT_BASE4
				,INSPECT_RESULT4
				,INSPECT_ITEM5
				,INSPECT_BASE5
				,INSPECT_RESULT5
				,INSPECT_ITEM6
				,INSPECT_BASE6
				,INSPECT_RESULT6
				,INSPECT_ITEM7
				,INSPECT_BASE7
				,INSPECT_RESULT7
				,INSPECT_ITEM8
				,INSPECT_BASE8
				,INSPECT_RESULT8
				,REG_ID
				,REG_DATE				
			) 
			VALUES(
				#{equipCd},
				#{inspectMonth},
				#{inspectDay},
				#{inspectRegDate},
				#{inspectItem1},
				#{inspectBase1},
				#{inspectResult1},
				#{inspectItem2},
				#{inspectBase2},
				#{inspectResult2},
				#{inspectItem3},
				#{inspectBase3},
				#{inspectResult3},
				#{inspectItem4},
				#{inspectBase4},
				#{inspectResult4},
				#{inspectItem5},
				#{inspectBase5},
				#{inspectResult5},
				#{inspectItem6},	
				#{inspectBase6},
				#{inspectResult6},
				#{inspectItem7},
				#{inspectBase7},
				#{inspectResult7},
				#{inspectItem8},
				#{inspectBase8},
				#{inspectResult8},
				#{regId},
				GETDATE()
			)
		]]>
	</insert>
	
	<delete id="delete">
		DELETE FROM TB_EQUIP_PRDC_INSPECT_ADM
     	WHERE	EQUIP_CD = #{equipCd} 
     			AND INSPECT_REG_DATE = #{inspectRegDate}
	</delete>
	
	
	
	
	
</mapper>







