<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.cm.dataLogMapper">

	<resultMap id="DataLogVo" type="mes.domain.cm.DataLogVo">
		<result property="idx"					column="IDX"					/>
		<result property="data_count"			column="DATA_COUNT"				/>
		<result property="page_name"			column="PAGE_NAME"				/>
		<result property="table_name"			column="TABLE_NAME"				/>
		<result property="table_rows"			column="TABLE_ROWS"				/>
		<result property="data_date"			column="DATA_DATE"				/>
		<result property="data_size"			column="DATA_SIZE"				/>
		
		<result property="save_date"			column="SAVE_DATE"				/>
		<result property="save_time"			column="SAVE_TIME"				/>
		<result property="contact_id"			column="CONTACT_ID"				/>
		
		<result property="searchStartDate"		column="SEARCH_START_DATE"		/>
		<result property="searchEndDate"		column="SEARCH_END_DATE"		/>
		<result property="searchDate"			column="SEARCH_DATE"			/>
		
		
	</resultMap>
	<!-- 
	월별 입력 건수 
	<select resultMap="DataLogVo" id="count">
		SELECT
			COUNT(*) DATA_COUNT, 
			SUBSTRING(CONVERT(VARCHAR(10),REG_DATE,120),1,10) DATA_DATE
		FROM
			${table_name}
		WHERE 1=1
		<if test="searchDate != null">
		AND REPLACE(SUBSTRING(CONVERT(VARCHAR(10),REG_DATE,120),1,10),'-','') LIKE #{searchDate}
		</if>
		<if test="searchStartDate != null">
		AND REPLACE(SUBSTRING(CONVERT(VARCHAR(10),REG_DATE,120),1,10),'-','') LIKE #{searchStartDate}
		</if>
		<if test="searchEndDate != null">
		AND REPLACE(SUBSTRING(CONVERT(VARCHAR(10),REG_DATE,120),1,10),'-','') LIKE #{searchEndDate}
		</if>
		GROUP BY SUBSTRING(CONVERT(VARCHAR(10),REG_DATE,120),1,10)
		ORDER BY DATA_DATE ASC
	</select>
	
	
	테이블 SIZE (KB) 
	<select resultType="DataLogVo" id="size">
		SELECT 
		    table_name, table_rows, 
		    round(data_length/(1024),2) as 'data_size'
		FROM information_schema.TABLES
		WHERE 1=1
		AND table_schema = 'metal_process'
		<if test="table_name != null">
		AND table_name = #{table_name}
		</if>
		GROUP BY table_name
		ORDER BY table_name ASC
	</select>
	
	
	idx 
	<select resultType="DataLogVo" id="idx">
		SELECT ISNULL(MAX(IDX)+1,0) IDX
		FROM TB_DATA_LOG_ADM
		WHERE 1=1
		AND DATA_DATE LIKE CONCAT(#{save_date},'%') 

	</select>
	
	
	추가 
	<insert id="create" parameterType="DataLogVo">
	
		INSERT INTO TB_DATA_LOG_ADM (
		    idx, 
		    page_name, 
		    table_name, 
		    save_date, 
		    save_time, 
		    contact_id
		) VALUES (
		    #{idx}, 
		    #{page_name}, 
		    #{table_name}, 
		    #{save_date}, 
		    #{save_time}, 
		    #{contact_id}
		)
	</insert>
	
	
	보기 
	<select resultType="DataLogVo" id="read">
	
		SELECT
			T_DATALOG.idx, 
			T_DATALOG.page_name, 
			T_DATALOG.table_name, 
			T_DATALOG.save_date,
			T_DATALOG.save_time, 
			T_DATALOG.contact_id,
			T_USER_CONTACT.USER_NM AS contact_name
		FROM TB_DATA_LOG_ADM AS T_DATALOG
		LEFT JOIN TB_USER AS T_USER_CONTACT 
		ON T_USER_CONTACT.user_id = T_DATALOG.contact_id
		WHERE T_DATALOG.idx = #{idx}
		
	</select>
	
	
	삭제 
	<delete id="delete">
		DELETE FROM TB_DATA_LOG_ADM	WHERE 1=1;
	</delete>
	
	목록 
	<select resultType="DataLogVo" id="all">
		SELECT
			T_DATALOG.idx, 
			T_DATALOG.page_name, 
			T_DATALOG.table_name, 
			T_DATALOG.save_date, 
			T_DATALOG.save_time, 
			T_DATALOG.contact_id, 
			T_USER_CONTACT.USER_NM AS contact_name
		FROM TB_DATA_LOG_ADM AS T_DATALOG
		LEFT JOIN TB_USER AS T_USER_CONTACT 
		ON T_USER_CONTACT.user_id = T_DATALOG.contact_id
	</select>
	
	-->
</mapper>

