<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.cm.loginMapper">
	
	<resultMap id="LoginVo" type="mes.domain.cm.LoginVo">
		<result property="loginNo"		column="LOGIN_NO"			/>
		<result property="userId"		column="USER_ID"			/>
		<result property="logDate"		column="LOG_DATE"			/>
		<result property="userNm"		column="USER_NM"			/>
		<result property="ipAddress"	column="IP_ADDRESS"			/>
		<result property="logGubun"		column="LOG_GUBUN"			/>
		<result property="logEtc"		column="LOG_ETC"			/>
		<result property="date"			column="DATE"			/>
	</resultMap>
	
	<!-- 로그 기록 등록-->
	<insert id="logCreate">
		INSERT INTO TB_LOGIN_ADM(
			LOGIN_NO,
			USER_ID,
			LOG_DATE,
			IP_ADDRESS,
			LOG_GUBUN,
			LOG_ETC
		) 
		VALUES(
			#{loginNo},
			#{userId},
			#{logDate},
			#{ipAddress},
			#{logGubun},
			#{logEtc}
		)
	</insert>

	<!-- 로그인 시퀀스 생성-->
	<select id="loginNoSeq" resultType="String">
		SELECT ISNULL(RIGHT('000' + CAST(MAX(RIGHT(LOGIN_NO,3))+1 AS NVARCHAR),3), '001') FROM TB_LOGIN_ADM  WHERE SUBSTRING(LOGIN_NO,0,9) = #{date}
	</select>
	
</mapper>