<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.sm.changeHisAdmMapper">

<resultMap id="ChangeHisAdmVo" type="mes.domain.sm.ChangeHisAdmVo">
	
	<result property="mstIdx"			column="MST_IDX"		/>
	<result property="itemSeq"			column="ITEM_SEQ"		/>
	<result property="revisionNum"		column="REVISION_NUM"	/>
	<result property="processNum"		column="PROCESS_NUM"	/>
	<result property="revisionDate"		column="REVISION_DATE"	/>
	<result property="customerEo"		column="CUSTOMER_EO"	/>
	<result property="revisionDtl"		column="REVISION_DTL"	/>
	<result property="mstDesc"			column="MST_DESC"		/>
	<result property="relatedData"		column="RELATED_DATA"	/>
	<result property="regId"			column="REG_ID"			/>
	<result property="regDate"			column="REG_DATE"		/>
	<result property="updId"			column="UPD_ID"			/>
	<result property="updDate"			column="UPD_DATE"		/>
	<result property="subIdx"			column="SUB_IDX"		/>
	<result property="baseCd"			column="BASE_CD"		/>
	<result property="subYn"			column="SUB_YN"			/>
	
	<!-- 추가사항 -->
	<result property="vo001"			column="001"			/>
	<result property="vo002"			column="002"			/>
	<result property="vo003"			column="003"			/>
	<result property="vo004"			column="004"			/>
	<result property="vo005"			column="005"			/>
	<result property="vo006"			column="006"			/>
	<result property="vo007"			column="007"			/>
	<result property="vo008"			column="008"			/>
	<result property="vo009"			column="009"			/>
	<result property="vo010"			column="010"			/>
			
</resultMap>
	
	<!-- List -->
	<select id="changeHisAdmList" resultMap="ChangeHisAdmVo"> 
		SELECT	
			M.MST_IDX
			, M.ITEM_SEQ
			, M.REVISION_NUM
			, M.PROCESS_NUM
			, M.REVISION_DATE
			, M.CUSTOMER_EO
			, M.REVISION_DTL
			, M.MST_DESC
			, M.RELATED_DATA
			, M.REG_ID
			, M.REG_DATE
			, M.UPD_ID
			, M.UPD_DATE
			, S.*
		FROM	TB_CHANGE_HIS_MST M
		INNER JOIN (
			SELECT 
				*
			FROM (
	        	SELECT 
	        		MST_IDX
					, BASE_CD
					, SUB_YN
	        	FROM TB_CHANGE_HIS_SUB
	       	) AS RESULT
			PIVOT (
				MIN(SUB_YN) FOR BASE_CD IN 
					<foreach collection="changeArr" item="arr" open="(" close=")" separator=",">
						${arr}
					</foreach>
			) AS PIVOT_RESULT
		) S
		ON M.MST_IDX = S.MST_IDX
		WHERE 1=1
		AND	M.ITEM_SEQ = #{itemSeq}
		<if test="startDate != null and !startDate.equals('')">
		AND M.REVISION_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
	</select>
	
	<!-- Read - 마스터 -->
	<select id="changeHisAdmRead" resultMap="ChangeHisAdmVo"> 
		SELECT	
			M.MST_IDX
			, M.ITEM_SEQ
			, M.REVISION_NUM
			, M.PROCESS_NUM
			, M.REVISION_DATE
			, M.CUSTOMER_EO
			, M.REVISION_DTL
			, M.MST_DESC
			, M.RELATED_DATA
			, M.REG_ID
			, M.REG_DATE
			, M.UPD_ID
			, M.UPD_DATE
			, S.*
		FROM	TB_CHANGE_HIS_MST M
		INNER JOIN (
			SELECT 
				*
			FROM (
	        	SELECT 
	        		MST_IDX
					, BASE_CD
					, SUB_YN
	        	FROM TB_CHANGE_HIS_SUB
	       	) AS RESULT
			PIVOT (
				MIN(SUB_YN) FOR BASE_CD IN 
					<foreach collection="changeArr" item="arr" open="(" close=")" separator=",">
						${arr}
					</foreach>
			) AS PIVOT_RESULT
		) S
		ON M.MST_IDX = S.MST_IDX
		WHERE 1=1
		AND M.MST_IDX = #{mstIdx}
	</select>
	
	<!-- Read - 서브 -->
	<select id="changeHisAdmSubRead" resultMap="ChangeHisAdmVo"> 
		SELECT	
			SUB_IDX
			, MST_IDX
			, BASE_CD
			, SUB_YN
			, REG_ID
			, REG_DATE
			, UPD_ID
			, UPD_DATE
		FROM	TB_CHANGE_HIS_SUB 
		WHERE	1=1
		<if test="mstIdx != null and !mstIdx.equals('')">
		AND	MST_IDX = #{mstIdx}
		</if>
		<if test="baseCd != null and !baseCd.equals('')">
		AND	BASE_CD = #{baseCd}
		</if>
	</select>
	
	<!-- Create - 마스터 -->
	<select id="changeHisAdmCreate" resultType="String">
		INSERT INTO TB_CHANGE_HIS_MST(
			ITEM_SEQ,
			REVISION_NUM,
			PROCESS_NUM,
			REVISION_DATE,
			CUSTOMER_EO,
			REVISION_DTL,
			MST_DESC,
			RELATED_DATA,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{itemSeq},
			#{revisionNum},
			#{processNum},
			#{revisionDate},
			#{customerEo},
			#{revisionDtl},
			#{mstDesc},
			#{relatedData},
			#{regId},
			getDate()
		)
		
		SELECT @@IDENTITY
	</select>
	
	<!-- Create - 서브 -->
	<insert id="changeHisAdmSubCreate">
		INSERT INTO TB_CHANGE_HIS_SUB(
			MST_IDX,
			BASE_CD,
			SUB_YN,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{mstIdx},
			#{baseCd},
			#{subYn},
			#{regId},
			getDate()
		)
	</insert>
	
	<!-- Update - 마스터 -->
	<update id="changeHisAdmUpdate">
		UPDATE	TB_CHANGE_HIS_MST 
		SET	
			REVISION_NUM = #{revisionNum},
			PROCESS_NUM = #{processNum},
			REVISION_DATE = #{revisionDate},
			CUSTOMER_EO = #{customerEo},
			REVISION_DTL = #{revisionDtl},
			MST_DESC = #{mstDesc},
			RELATED_DATA = #{relatedData},
			UPD_ID = #{updId},
			UPD_DATE = getDate()
		WHERE	MST_IDX = #{mstIdx}
	</update>
	
	<!-- Update - 서브 -->
	<update id="changeHisAdmSubUpdate">
		UPDATE	TB_CHANGE_HIS_SUB 
		SET	
			SUB_YN = #{subYn},
			UPD_ID = #{updId},
			UPD_DATE = getDate()
		WHERE	1=1
		AND	MST_IDX = #{mstIdx}
		AND	BASE_CD = #{baseCd}
	</update>
	
	<!-- Delete - 마스터 -->
	<delete id="changeHisAdmDelete">
		DELETE
		FROM TB_CHANGE_HIS_MST 
		WHERE	MST_IDX = #{mstIdx}
	</delete>
	
	<!-- Delete - 서브 -->
	<delete id="changeHisAdmSubDelete">
		DELETE 
		FROM TB_CHANGE_HIS_SUB 
		WHERE	MST_IDX = #{mstIdx}
	</delete>
	
</mapper>
