<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.sm.ipAccessControlAdmMapper">

	<resultMap id="IpAccessControlAdmVo" type="mes.domain.sm.IpAccessControlAdmVo">
		
		<result property="ipNo"					column="IP_NO"			/>
		<result property="ipAddr"				column="IP_ADDR"		/>		
		<result property="useYn"				column="USE_YN"			/>
		<result property="ipDesc"				column="IP_DESC"		/>
		<result property="ipRegDate"			column="IP_REG_DATE"	/>
		<result property="regId"				column="REG_ID"			/>
		<result property="regDate"				column="REG_DATE"		/>
		<result property="updId"				column="UPD_ID"			/>				
		<result property="updDate"				column="UPD_DATE"		/>

	</resultMap>
	
	<!-- IP접근제어관리 조회 -->
	<select id="list" resultMap="IpAccessControlAdmVo">
		SELECT	
			IP_NO,
			IP_ADDR,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=USE_YN AND X.BASE_GROUP_CD='001')USE_YN,
			IP_DESC,
			IP_REG_DATE,
			REG_ID,
			REG_DATE,
			UPD_ID,
			UPD_DATE
		FROM	TB_IP_ACCESS_CONTROL_ADM 
	</select>
	
	<!-- IP접근제어관리 상세조회 -->
	<select id="read" resultMap="IpAccessControlAdmVo">
		SELECT	
			IP_NO,
			IP_ADDR,
			USE_YN,
			IP_DESC,
			IP_REG_DATE,
			REG_ID,
			REG_DATE,
			UPD_ID,
			UPD_DATE
		FROM	TB_IP_ACCESS_CONTROL_ADM 
		WHERE 1=1
		AND IP_NO = #{ipNo}
	</select>


	<!-- IP접근제어관리 등록-->
	<insert id="create">
		INSERT INTO TB_IP_ACCESS_CONTROL_ADM(
			IP_NO,
			IP_ADDR,
			USE_YN,
			IP_DESC,
			IP_REG_DATE,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{ipNo},
			#{ipAddr},
			#{useYn},
			#{ipDesc},
			#{ipRegDate},
			#{regId},
			GETDATE()
		)
	</insert>

	<!-- IP접근제어관리 수정-->
	<update id="update" >
		UPDATE	TB_IP_ACCESS_CONTROL_ADM 
		SET	IP_NO = #{ipNo},
			IP_ADDR = #{ipAddr},
			USE_YN = #{useYn},
			IP_DESC = #{ipDesc},
			IP_REG_DATE = #{ipRegDate},
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		WHERE	IP_NO = #{ipNo}
	</update>
	
	<!-- IP접근제어관리 ip관리번호 가져오기-->
	<select id="getIpNo" resultType="String">
		SELECT ISNULL('00' + CAST(MAX(IP_NO)+1 AS NVARCHAR), '001') 
		FROM TB_IP_ACCESS_CONTROL_ADM
	</select>
	
	
	<!-- IP접근제어관리 IP존재여부 -->
	<select id="existIpAddr" parameterType="String" resultType="int">
		SELECT	
			COUNT(*)
		FROM	TB_IP_ACCESS_CONTROL_ADM 
		WHERE 1=1
		AND USE_YN = '001'
		AND IP_ADDR = #{ipAddr}
	</select>
	
</mapper>