<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.sm.matrlUserMapper">

	<resultMap id="MatrlUserVo" type="mes.domain.sm.MatrlUserVo">
		<result property="userNumber"		column="USER_NUMBER"		/>
		<result property="userNm"			column="USER_NM"			/>
		<result property="userId"			column="USER_ID"			/>
		<result property="userPw"			column="USER_PW"			/>
		<result property="departmentCd"		column="DEPARTMENT_CD"		/>
		<result property="departmentNm"		column="DEPARTMENT_NM"		/>
		<result property="postCd"			column="POST_CD"			/>
		<result property="postNm"			column="POST_NM"			/>
		<result property="chargeDuty"		column="CHARGE_DUTY"		/>
		<result property="chargeDutyNm"		column="CHARGE_DUTY_NM"		/>
		<result property="empCd"			column="EMP_CD"				/>	
		<result property="empNm"			column="EMP_NM"				/>
		<result property="joinDate"			column="JOIN_DATE"			/>
		<result property="resignDate"		column="RESIGN_DATE"		/>	
		<result property="userDesc"			column="USER_DESC"			/>	
		<result property="imageYn"			column="IMAGE_YN"			/>	
		<result property="useYnCd"			column="USE_YN_CD"			/>
		<result property="useYnNm"			column="USE_YN_NM"			/>
		<result property="regId"			column="REG_ID"				/>
		<result property="regDate"			column="REG_DATE"			/>
		<result property="updId"			column="UPD_ID"				/>
		<result property="updDate"			column="UPD_DATE"			/>
		<result property="adminCheck"	    column="ADMIN_CHECK"		/>
		<result property="userImageFile"	column="USER_IMAGE_FILE"	/>
		<result property="userImageFileNm"	column="USER_IMAGE_FILE_NM"	/>
		<result property="imageStatus1"	    column="IMAGE_STATUS1"		/>
	</resultMap>

	<!-- 사용자관리 목록조회 -->
	<select id="listAll" resultMap="MatrlUserVo">
  		SELECT
  			USER_NUMBER
			, USER_NM
			, USER_ID
			, USER_PW
			, DEPARTMENT_CD
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='003' AND B.BASE_CD = A.DEPARTMENT_CD) DEPARTMENT_NM
			, POST_CD
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='005' AND B.BASE_CD = A.POST_CD) POST_NM
			, CHARGE_DUTY	
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='004' AND B.BASE_CD = A.CHARGE_DUTY) CHARGE_DUTY_NM
			, EMP_CD
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='002' AND B.BASE_CD = A.EMP_CD) EMP_NM
			, JOIN_DATE
			, RESIGN_DATE
			, USER_DESC
			, IMAGE_YN
			, USE_YN_CD
			, ADMIN_CHECK
			, REG_ID 
			, REG_DATE 
			, UPD_ID
			, UPD_DATE
		FROM TB_USER A
		WHERE 1=1
		<if test="departmentCd != null and !departmentCd.equals('')">
		AND DEPARTMENT_CD = #{departmentCd}
		</if>
		<if test="empCd != null and !empCd.equals('')">
		AND EMP_CD = #{empCd}
		</if>
		<if test="departmentNmLike != null and !departmentNmLike.equals('')">
		AND (SELECT X.BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD = '003' AND X.BASE_CD = A.DEPARTMENT_CD) LIKE #{departmentNmLike} + '%'
		</if>
	</select>
	
	<select id="read" resultMap="MatrlUserVo">
  		SELECT
  			USER_NUMBER
			, USER_NM
			, USER_ID
			, USER_PW
			, DEPARTMENT_CD
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='003' AND B.BASE_CD = A.DEPARTMENT_CD) DEPARTMENT_NM
			, POST_CD
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='005' AND B.BASE_CD = A.POST_CD) POST_NM
			, CHARGE_DUTY	
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='004' AND B.BASE_CD = A.CHARGE_DUTY) CHARGE_DUTY_NM
			, EMP_CD
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE B.BASE_GROUP_CD='002' AND B.BASE_CD = A.EMP_CD) EMP_NM
			, JOIN_DATE
			, RESIGN_DATE
			, USER_DESC
			, IMAGE_YN
			, USE_YN_CD
			, ADMIN_CHECK
			, USER_IMAGE_FILE
			, USER_IMAGE_FILE_NM
			, REG_ID 
			, REG_DATE 
			, UPD_ID
			, UPD_DATE
		FROM	TB_USER  A
		WHERE A.USER_NUMBER= #{userNumber} OR A.USER_ID=#{userId}
	</select>
	
	<!-- 사용자 상세조회 - 생산 작업일보 -->
	<select id="matrlPrcssUserRead" resultMap="MatrlUserVo">
  		SELECT
  			A.IDX USER_NUMBER
			, USER_NM
			, USER_ID
			, USER_PW
			, A.PRCSS_IDX DEPARTMENT_CD
			, '' DEPARTMENT_NM
			, '' POST_CD
			, '' POST_NM
			, '' CHARGE_DUTY	
			, '' CHARGE_DUTY_NM
			, EMP_CD
			, (SELECT X.BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD = '002' AND X.BASE_CD = A.EMP_CD) EMP_NM
			, JOIN_DATE
			, RESIGN_DATE
			, '' USER_DESC
			, '' IMAGE_YN
			, '' USE_YN_CD
			, '' ADMIN_CHECK
			, '' USER_IMAGE_FILE
			, '' USER_IMAGE_FILE_NM
			, REG_ID 
			, REG_DATE 
			, UPD_ID
			, UPD_DATE
		FROM TB_PRCSS_USER_ADM A
		WHERE A.PRCSS_IDX = #{departmentCd}
		AND A.USER_ID = #{userId}
	</select>
	
	<select id="adminRead" resultMap="MatrlUserVo">
  		SELECT	ADMIN_CHECK, USER_ID, DEPARTMENT_CD
		FROM	TB_USER  
		WHERE ADMIN_CHECK = #{adminCheck}
	</select>
	<insert id="create">
		INSERT INTO TB_USER(
			USER_NUMBER
			,USER_NM
			,USER_ID
			,USER_PW
			,DEPARTMENT_CD
			,POST_CD
			,CHARGE_DUTY
			,EMP_CD
			,JOIN_DATE
			,RESIGN_DATE
			,USER_DESC
			,IMAGE_YN
			,USE_YN_CD
			,ADMIN_CHECK
			,USER_IMAGE_FILE
			,USER_IMAGE_FILE_NM
			,REG_ID 
			,REG_DATE
			
		) VALUES (
			#{userNumber}
			,#{userNm}
			,#{userId}
			,#{userPw}
			,#{departmentCd}
			,#{postCd}
			,#{chargeDuty}
			,#{empCd}
			,#{joinDate}
			,#{resignDate}
			,#{userDesc}
			,#{imageYn}
			,#{useYnCd}
			,#{adminCheck}
			,#{userImageFile}
			,#{userImageFileNm}
			,#{regId}		
			,getDate()
			
		)		
		
	</insert>
	
		
	<select id="update">
		UPDATE	TB_USER 
		SET	USER_NUMBER = #{userNumber}
			,USER_NM = #{userNm}
			,USER_ID = #{userId}
			<if test="imageStatus1 != null and imageStatus1 != '' ">
			,USER_IMAGE_FILE = #{userImageFile}
			,USER_IMAGE_FILE_NM = #{userImageFileNm} 
			</if>
			<if test="userPw != '' and userPw != null"> 
					,USER_PW = #{userPw}		
			</if>
			,DEPARTMENT_CD = #{departmentCd}
			,POST_CD = #{postCd}
			,CHARGE_DUTY = #{chargeDuty}
			,EMP_CD = #{empCd}
			,JOIN_DATE = #{joinDate}
			,RESIGN_DATE = #{resignDate}
			,USER_DESC = #{userDesc}
			,USE_YN_CD = #{useYnCd}
			,IMAGE_YN = #{imageYn}
			,ADMIN_CHECK = #{adminCheck}
			,UPD_ID = #{updId}
			,UPD_DATE = GETDATE()
		WHERE USER_NUMBER = #{userNumber}
	</select>
	
	<select id="selectUserNumberSeq" resultType="String">
		SELECT ISNULL(RIGHT('000' + CAST(MAX(USER_NUMBER)+1 AS NVARCHAR),4), '0001') FROM TB_USER
	</select>
	
	<!--게시판 삭제 - 모바일 화면-->
	<delete id="matrlUserDelete">
		DELETE 
		FROM TB_USER 
		WHERE USER_NUMBER = #{userNumber}
	</delete>
	
	<!-- 이미지삭제 -->
	<select id="imageDelete">
		UPDATE	TB_USER 
		SET	USER_IMAGE_FILE = NULL
			,USER_IMAGE_FILE_NM = '' 

		WHERE USER_NUMBER = #{userNumber}
	</select>
</mapper>
