<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.ir.ironMoldAdmMapper">

	<resultMap id="IronMoldAdmVo" type="mes.domain.ir.IronMoldAdmVo">
		<result property="equipCd"				column="EQUIP_CD"			/>
		<result property="equipNo"				column="EQUIP_NO"			/>
		<result property="itemModel"			column="ITEM_MODEL"			/>
		<result property="itemModelNm"			column="ITEM_MODEL_NM"		/>
		<result property="itemCd"				column="ITEM_CD"			/>
		<result property="itemNm"				column="ITEM_NM"			/>
		<result property="warrantyLife"			column="WARRANTY_LIFE"		/>
		<result property="accPunch"				column="ACC_PUNCH"			/>
		<result property="remainPunch"			column="REMAIN_PUNCH"		/>
		<result property="moldCd"				column="MOLD_CD"			/>
		<result property="workYear"				column="WORK_YEAR"			/>
		<result property="outputQty"			column="OUTPUT_QTY"			/>
		<result property="equipCavity"			column="EQUIP_CAVITY"		/>
		<result property="shotCount"			column="SHOT_COUNT"			/>
		<result property="shotCountAll"			column="SHOT_COUNT_ALL"		/>
	</resultMap>

	<!-- 철형타수이력 목록조회 -->
	<select id="ironShotList" resultMap="IronMoldAdmVo">
		SELECT 
			EQ_TB.EQUIP_CD
			, EQ_TB.EQUIP_NO
			, IIA_TB.ITEM_MODEL
			, (SELECT X.BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD = IIA_TB.ITEM_MODEL AND X.BASE_GROUP_CD = '099') ITEM_MODEL_NM
			, IIA_TB.ITEM_CD
			, IIA_TB.ITEM_NM
			, EQ_TB.WARRANTY_LIFE
			, Z.ACC_PUNCH
			, (
				CASE WHEN CONVERT(FLOAT, EQ_TB.WARRANTY_LIFE) - CONVERT(FLOAT, Z.ACC_PUNCH) <![CDATA[<]]> 0 
				THEN 0 
				ELSE CONVERT(FLOAT, EQ_TB.WARRANTY_LIFE) - CONVERT(FLOAT, Z.ACC_PUNCH) 
				END
			) REMAIN_PUNCH
		FROM TB_EQUIP_CODE_ADM EQ_TB
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA_TB
		ON IIA_TB.MOLD_CD = EQ_TB.EQUIP_CD
		LEFT OUTER JOIN (
			SELECT
				IIA_TB.MOLD_CD
				, ISNULL(SUM(WO_TB.OUTPUT_QTY), 0) OUTPUT_QTY
				, EQ_TB.EQUIP_CAVITY
				, EQ_TB.EARLYPUNCH_NUM
				, ROUND((CONVERT(FLOAT, ISNULL(SUM(WO_TB.OUTPUT_QTY), 0)) / CONVERT(FLOAT, EQ_TB.EQUIP_CAVITY)), 0) + CONVERT(FLOAT, EQ_TB.EARLYPUNCH_NUM) ACC_PUNCH
			FROM TB_WORK_ORDER WO_TB
			LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA_TB
			ON WO_TB.ITEM_SEQ = IIA_TB.ITEM_SEQ
			LEFT OUTER JOIN TB_EQUIP_CODE_ADM EQ_TB
			ON IIA_TB.MOLD_CD = EQ_TB.EQUIP_CD
			GROUP BY IIA_TB.MOLD_CD, EQ_TB.EQUIP_CAVITY, EQ_TB.EARLYPUNCH_NUM
		) Z
		ON IIA_TB.MOLD_CD = Z.MOLD_CD
		WHERE 1=1
		AND EQ_TB.MAIN_GUBUN = '002'
		AND IIA_TB.ITEM_SEQ IS NOT NULL
		<if test="stateCd != null and !stateCd.equals('')">
		AND IIA_TB.STATE_CD = #{stateCd}
		</if>
	</select>
	
	<!-- 철형타수이력 일 조회 -->
	<select id="ironDayList" resultMap="IronMoldAdmVo">
		SELECT
			IIA_TB.MOLD_CD
			, SUBSTRING(CONVERT(CHAR(8), WO_TB.WORK_START_TIME, 112), 0, 9) WORK_YEAR
			, ISNULL(SUM(WO_TB.OUTPUT_QTY), 0) OUTPUT_QTY
			, EQ_TB.EQUIP_CAVITY
			, ROUND(CONVERT(FLOAT, ISNULL(SUM(WO_TB.OUTPUT_QTY), 0)) / CONVERT(FLOAT, EQ_TB.EQUIP_CAVITY), 0) SHOT_COUNT
			, (
				SELECT
					ROUND(SUM(TEMP_TABLE.OUTPUT_QTY / TEMP_TABLE.EQUIP_CAVITY), 0)
				FROM (
					SELECT 
						CONVERT(FLOAT, ISNULL(SUM(A.OUTPUT_QTY), 0)) OUTPUT_QTY
						, CONVERT(FLOAT, C.EQUIP_CAVITY) EQUIP_CAVITY
					FROM TB_WORK_ORDER_PRCSS A
					LEFT OUTER JOIN TB_ITEM_INFO_ADM B
					ON A.ITEM_SEQ = B.ITEM_SEQ
					LEFT OUTER JOIN TB_EQUIP_CODE_ADM C
					ON B.MOLD_CD = C.EQUIP_CD
					WHERE SUBSTRING(CONVERT(CHAR(8), A.WORK_START_TIME, 112), 0, 9) <![CDATA[<=]]> SUBSTRING(CONVERT(CHAR(8), WO_TB.WORK_START_TIME, 112), 0, 9)
					AND B.MOLD_CD = #{equipCd}
					<if test="selectMonth != null and selectMonth != ''">
					AND SUBSTRING(CONVERT(CHAR(8), A.WORK_START_TIME, 112), 0, 7) = #{selectMonth}
					</if>
					GROUP BY 
						B.MOLD_CD
						, C.EQUIP_CAVITY
						, SUBSTRING(CONVERT(CHAR(8), A.WORK_START_TIME, 112), 0, 9)
				) TEMP_TABLE
			) SHOT_COUNT_ALL
		FROM TB_WORK_ORDER_PRCSS WO_TB
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA_TB
		ON WO_TB.ITEM_SEQ = IIA_TB.ITEM_SEQ
		LEFT OUTER JOIN TB_EQUIP_CODE_ADM EQ_TB
		ON IIA_TB.MOLD_CD = EQ_TB.EQUIP_CD
		WHERE 1=1
		AND IIA_TB.MOLD_CD = #{equipCd}
		<if test="selectMonth != null and selectMonth != ''">
		AND SUBSTRING(CONVERT(CHAR(8), WO_TB.WORK_START_TIME, 112), 0, 7) = #{selectMonth}
		</if>
		GROUP BY 
			IIA_TB.MOLD_CD
			, EQ_TB.EQUIP_CAVITY
			, SUBSTRING(CONVERT(CHAR(8), WO_TB.WORK_START_TIME, 112), 0, 9)
		HAVING 1=1
		AND ISNULL(SUM(WO_TB.OUTPUT_QTY), 0) != 0
	</select>
	
	<!-- 철형타수이력 월 조회 -->
	<select id="ironMonthList" resultMap="IronMoldAdmVo">
		SELECT
			Z.MOLD_CD
			, SUBSTRING(CONVERT(CHAR(8), Z.WORK_YEAR, 112), 0, 7) WORK_YEAR
			, CONVERT(FLOAT,ISNULL(SUM(Z.SHOT_COUNT), 0)) SHOT_COUNT
		FROM (
			SELECT
				IIA_TB.MOLD_CD
				, SUBSTRING(CONVERT(CHAR(8), WO_TB.WORK_START_TIME, 112), 0, 9) WORK_YEAR
				, ISNULL(SUM(WO_TB.OUTPUT_QTY), 0) OUTPUT_QTY
				, EQ_TB.EQUIP_CAVITY
				, ROUND(CONVERT(FLOAT, ISNULL(SUM(WO_TB.OUTPUT_QTY), 0)) / CONVERT(FLOAT, EQ_TB.EQUIP_CAVITY), 0) SHOT_COUNT
				, (
					SELECT
						ROUND(SUM(TEMP_TABLE.OUTPUT_QTY / TEMP_TABLE.EQUIP_CAVITY), 0)
					FROM (
						SELECT 
							CONVERT(FLOAT, ISNULL(SUM(A.OUTPUT_QTY), 0)) OUTPUT_QTY
							, CONVERT(FLOAT, C.EQUIP_CAVITY) EQUIP_CAVITY
						FROM TB_WORK_ORDER_PRCSS A
						LEFT OUTER JOIN TB_ITEM_INFO_ADM B
						ON A.ITEM_SEQ = B.ITEM_SEQ
						LEFT OUTER JOIN TB_EQUIP_CODE_ADM C
						ON B.MOLD_CD = C.EQUIP_CD
						WHERE SUBSTRING(CONVERT(CHAR(8), A.WORK_START_TIME, 112), 0, 9) <![CDATA[<=]]> SUBSTRING(CONVERT(CHAR(8), WO_TB.WORK_START_TIME, 112), 0, 9)
						AND B.MOLD_CD = #{equipCd}
						<if test="selectMonth != null and selectMonth != ''">
						AND SUBSTRING(CONVERT(CHAR(8), A.WORK_START_TIME, 112), 0, 5) = #{selectMonth}
						</if>
						GROUP BY 
							B.MOLD_CD
							, C.EQUIP_CAVITY
							, SUBSTRING(CONVERT(CHAR(8), A.WORK_START_TIME, 112), 0, 9)
					) TEMP_TABLE
				) SHOT_COUNT_ALL
			FROM TB_WORK_ORDER_PRCSS WO_TB
			LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA_TB
			ON WO_TB.ITEM_SEQ = IIA_TB.ITEM_SEQ
			LEFT OUTER JOIN TB_EQUIP_CODE_ADM EQ_TB
			ON IIA_TB.MOLD_CD = EQ_TB.EQUIP_CD
			WHERE 1=1
			AND IIA_TB.MOLD_CD = #{equipCd}
			<if test="selectMonth != null and selectMonth != ''">
			AND SUBSTRING(CONVERT(CHAR(8), WO_TB.WORK_START_TIME, 112), 0, 5) = #{selectMonth}
			</if>
			GROUP BY
				IIA_TB.MOLD_CD
				, EQ_TB.EQUIP_CAVITY
				, SUBSTRING(CONVERT(CHAR(8), WO_TB.WORK_START_TIME, 112), 0, 9)
			HAVING ISNULL(SUM(WO_TB.OUTPUT_QTY), 0) != 0
		) Z
		GROUP BY Z.MOLD_CD, SUBSTRING(CONVERT(CHAR(8), Z.WORK_YEAR, 112), 0, 7)
	</select>
	
	<!-- 철형타수이력 년 조회 -->
	<select id="ironYearList" resultMap="IronMoldAdmVo">
		SELECT
			Z.MOLD_CD
			, SUBSTRING(CONVERT(CHAR(8), Z.WORK_YEAR, 112), 0, 5) WORK_YEAR
			, CONVERT(FLOAT, ISNULL(SUM(Z.SHOT_COUNT), 0)) SHOT_COUNT
		FROM (
			SELECT
				IIA_TB.MOLD_CD
				, SUBSTRING(CONVERT(CHAR(8), WO_TB.WORK_START_TIME, 112), 0, 9) WORK_YEAR
				, ISNULL(SUM(WO_TB.OUTPUT_QTY), 0) OUTPUT_QTY
				, EQ_TB.EQUIP_CAVITY
				, ROUND(CONVERT(FLOAT, ISNULL(SUM(WO_TB.OUTPUT_QTY), 0)) / CONVERT(FLOAT, EQ_TB.EQUIP_CAVITY), 0) SHOT_COUNT
				, (
					SELECT
						ROUND(SUM(TEMP_TABLE.OUTPUT_QTY / TEMP_TABLE.EQUIP_CAVITY), 0)
					FROM (
						SELECT 
							CONVERT(FLOAT, ISNULL(SUM(A.OUTPUT_QTY), 0)) OUTPUT_QTY
							, CONVERT(FLOAT, C.EQUIP_CAVITY) EQUIP_CAVITY
						FROM TB_WORK_ORDER_PRCSS A
						LEFT OUTER JOIN TB_ITEM_INFO_ADM B
						ON A.ITEM_SEQ = B.ITEM_SEQ
						LEFT OUTER JOIN TB_EQUIP_CODE_ADM C
						ON B.MOLD_CD = C.EQUIP_CD
						WHERE SUBSTRING(CONVERT(CHAR(8), A.WORK_START_TIME, 112), 0, 9) <![CDATA[<=]]> SUBSTRING(CONVERT(CHAR(8), WO_TB.WORK_START_TIME, 112), 0, 9)
						AND B.MOLD_CD = #{equipCd}
						<if test="selectMonth != null and selectMonth != ''">
						AND SUBSTRING(CONVERT(CHAR(8), A.WORK_START_TIME, 112), 0, 5) = #{selectMonth}
						</if>
						GROUP BY
							B.MOLD_CD
							, C.EQUIP_CAVITY
							, SUBSTRING(CONVERT(CHAR(8), A.WORK_START_TIME, 112), 0, 9)
					) TEMP_TABLE
				) SHOT_COUNT_ALL
			FROM TB_WORK_ORDER_PRCSS WO_TB
			LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA_TB
			ON WO_TB.ITEM_SEQ = IIA_TB.ITEM_SEQ
			LEFT OUTER JOIN TB_EQUIP_CODE_ADM EQ_TB
			ON IIA_TB.MOLD_CD = EQ_TB.EQUIP_CD
			WHERE 1=1
			AND IIA_TB.MOLD_CD = #{equipCd}
			<if test="selectMonth != null and selectMonth != ''">
			AND SUBSTRING(CONVERT(CHAR(8), WO_TB.WORK_START_TIME, 112), 0, 5) = #{selectMonth}
			</if>
			GROUP BY
				IIA_TB.MOLD_CD
				, EQ_TB.EQUIP_CAVITY
				, SUBSTRING(CONVERT(CHAR(8), WO_TB.WORK_START_TIME, 112), 0, 9)
			HAVING ISNULL(SUM(WO_TB.OUTPUT_QTY), 0) != 0
		) Z
		GROUP BY Z.MOLD_CD, SUBSTRING(CONVERT(CHAR(8), Z.WORK_YEAR, 112), 0, 5)
	</select>
	
</mapper>

