<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.qm.illumAdmMapper">

	<resultMap id="IllumAdmVo" type="mes.domain.qm.IllumAdmVo">
		<result property="illumCd"				column="ILLUM_CD"			/>
		<result property="illumNm"				column="ILLUM_NM"			/>
		<result property="illumArea"		    column="ILLUM_AREA"			/>
		<result property="msmLoc"				column="MSM_LOC"			/>			
		<result property="illumUnit"			column="ILLUM_UNIT"			/>
		<result property="illumStand"			column="ILLUM_STAND"		/>		
		<result property="msmYear"				column="MSM_YEAR"			/>
		<result property="msmMon"				column="MSM_MON"			/>
		<result property="msmDueDate"			column="MSM_DUE_DATE"		/> 
		<result property="msmDate"				column="MSM_DATE"			/> 
		<result property="msmMeasures"			column="MSM_MEASURES"		/>
		<result property="regId"				column="REG_ID"				/>
		<result property="regDate"				column="REG_DATE"			/>
		<result property="updId"				column="UPD_ID"				/>				
		<result property="updDate"				column="UPD_DATE"			/>
	</resultMap>
	
	
	<!-- 조도측정 목록조회  -->
	<select id="illumAdmList" resultMap="IllumAdmVo">
		SELECT  
			ILLUM_CD,
			(SELECT X.PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD = ILLUM_CD AND LOWER_PRCSS_CD=X.PRCSS_CD AND PRCSS_TYPE='001') ILLUM_NM,
		    ILLUM_AREA,
		    MSM_LOC,
			ILLUM_UNIT,
		    ILLUM_STAND,
			MSM_YEAR,
			MSM_MON,
			MSM_DUE_DATE,
			MSM_DATE,
			MSM_MEASURES,
			REG_ID,
			REG_DATE
		FROM TB_ILLUM_ADM
		WHERE 1=1
		<if test="chooseYear!=null and !chooseYear.equals('')">
			AND MSM_YEAR = ${chooseYear}
		</if>
		ORDER BY REG_DATE
	</select>
	
	<!-- 조도측정 상세조회  -->
	<select id="illumDtlList" resultMap="IllumAdmVo">
		SELECT  
			A.ILLUM_CD
			, (SELECT X.PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD = A.ILLUM_CD AND LOWER_PRCSS_CD=X.PRCSS_CD AND PRCSS_TYPE='001') ILLUM_NM
			, A.ILLUM_AREA
			, A.MSM_LOC
			, A.ILLUM_UNIT
			, A.ILLUM_STAND
			, A.MSM_YEAR
			, B.MSM_MON
			, B.MSM_DUE_DATE
			, B.MSM_DATE
			, B.MSM_MEASURES
		FROM TB_ILLUM_ADM A, TB_ILLUM_DTL B
		WHERE 1=1
		<if test="illumCd!=null and !illumCd.equals('')">
			AND A.ILLUM_CD 	= #{illumCd}
		</if>
		AND A.MSM_YEAR	= #{msmYear}
		<if test="illumArea != null and !illumArea.equals('')">
			AND A.ILLUM_AREA 	= #{illumArea}
		</if>
		AND A.ILLUM_CD 	= B.ILLUM_CD
		AND A.ILLUM_AREA = B.ILLUM_AREA
		AND A.MSM_YEAR 	= B.MSM_YEAR
	</select>
	
	
	<!-- 조도측정  등록  -->
	<insert id="illumAdmCreate">
		INSERT INTO TB_ILLUM_ADM(
			ILLUM_CD,
			ILLUM_AREA,
			MSM_LOC,
			ILLUM_UNIT,
			ILLUM_STAND,
			MSM_YEAR,
			MSM_MON,
			MSM_DUE_DATE,
			MSM_DATE,
			MSM_MEASURES,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{illumCd},
			#{illumArea},
			#{msmLoc},
			#{illumUnit},
			#{illumStand},
			#{msmYear},
			#{msmMon},
			#{msmDueDate},
			#{msmDate},
			#{msmMeasures},
			#{regId},
			GETDATE()
		)
	</insert>
	
	<!-- 조도측정 수정  -->
	<update id="illumAdmUpdate">
		UPDATE	TB_ILLUM_ADM 
		SET	
			ILLUM_AREA 		= #{illumArea},
			MSM_LOC 		= #{msmLoc},
			ILLUM_UNIT 		= #{illumUnit},
			ILLUM_STAND 	= #{illumStand},
			MSM_YEAR 		= #{msmYear},
			MSM_MON 		= #{msmMon},
			MSM_DUE_DATE 	= #{msmDueDate},
			MSM_DATE 		= #{msmDate},
			MSM_MEASURES 	= #{msmMeasures},
			UPD_ID 			= #{updId},
			UPD_DATE 		= GETDATE()
		WHERE 1=1	
		AND ILLUM_CD = #{illumCd}
		AND ILLUM_AREA = #{illumArea}
		AND MSM_YEAR = #{msmYear}
	</update>
	
	<!-- 조도측정 삭제 -->
	<delete id="illumDelete">
		DELETE FROM TB_ILLUM_ADM 
		WHERE 1=1 
		AND ILLUM_CD = #{illumCd}
		AND ILLUM_AREA = #{illumArea}
		AND MSM_YEAR = #{msmYear}
		
		DELETE FROM TB_ILLUM_DTL
		WHERE 1=1 
		AND ILLUM_CD = #{illumCd}
		AND ILLUM_AREA = #{illumArea}
		AND MSM_YEAR = #{msmYear}
	</delete>
	
	
	<!-- DTL -->
	
	<!-- 조도측정 Dtl 등록  -->
	<insert id="illumDtlCreate">
		INSERT INTO TB_ILLUM_DTL(
			ILLUM_CD,
			ILLUM_AREA,
			MSM_YEAR,
			MSM_MON,
			MSM_DUE_DATE,
			MSM_DATE,
			MSM_MEASURES,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{illumCd},
			#{illumArea},
			#{msmYear},
			#{msmMon},
			#{msmDueDate},
			#{msmDate},
			#{msmMeasures},
			#{regId},
			GETDATE()
		)
	</insert>
	
	<!-- 조도측정 수정  -->
	<update id="illumDtlUpdate">
		UPDATE	TB_ILLUM_DTL
		SET	
			ILLUM_CD 		= #{illumCd},
			ILLUM_AREA 		= #{illumArea},
			MSM_YEAR 		= #{msmYear},
			MSM_MON 		= #{msmMon},
			MSM_DUE_DATE 	= #{msmDueDate},
			MSM_DATE 		= #{msmDate},
			MSM_MEASURES 	= #{msmMeasures},
			UPD_ID 			= #{updId},
			UPD_DATE 		= GETDATE()
		WHERE 1=1	
		AND ILLUM_CD	= #{illumCd}
		AND ILLUM_AREA	= #{illumArea}
		AND MSM_YEAR	= #{msmYear}
		AND MSM_MON		= #{msmMon}
	</update>
	
	
	<!-- 조도측정 조회(qmsc0080) -->
	<select id="illumLookup" resultMap="IllumAdmVo">
		SELECT  
			A.ILLUM_CD
			, (SELECT X.PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD = A.ILLUM_CD AND LOWER_PRCSS_CD=X.PRCSS_CD AND PRCSS_TYPE='001') ILLUM_NM
			, A.ILLUM_AREA
			, A.MSM_LOC
			, A.ILLUM_UNIT
			, A.ILLUM_STAND
			, A.MSM_YEAR
			, (SELECT B.MSM_DATE FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 1) AS msmDate1
			, (SELECT B.MSM_DATE FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 2) AS msmDate2
			, (SELECT B.MSM_DATE FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 3) AS msmDate3
			, (SELECT B.MSM_DATE FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 4) AS msmDate4
			, (SELECT B.MSM_DATE FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 5) AS msmDate5
			, (SELECT B.MSM_DATE FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 6) AS msmDate6
			, (SELECT B.MSM_DATE FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 7) AS msmDate7
			, (SELECT B.MSM_DATE FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 8) AS msmDate8
			, (SELECT B.MSM_DATE FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 9) AS msmDate9
			, (SELECT B.MSM_DATE FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 10) AS msmDate10
			, (SELECT B.MSM_DATE FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 11) AS msmDate11
			, (SELECT B.MSM_DATE FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 12) AS msmDate12
			
			, (SELECT B.MSM_MEASURES FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 1) AS mon1
			, (SELECT B.MSM_MEASURES FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 2) AS mon2
			, (SELECT B.MSM_MEASURES FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 3) AS mon3
			, (SELECT B.MSM_MEASURES FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 4) AS mon4
			, (SELECT B.MSM_MEASURES FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 5) AS mon5
			, (SELECT B.MSM_MEASURES FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 6) AS mon6
			, (SELECT B.MSM_MEASURES FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 7) AS mon7
			, (SELECT B.MSM_MEASURES FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 8) AS mon8
			, (SELECT B.MSM_MEASURES FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 9) AS mon9
			, (SELECT B.MSM_MEASURES FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 10) AS mon10
			, (SELECT B.MSM_MEASURES FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 11) AS mon11
			, (SELECT B.MSM_MEASURES FROM TB_ILLUM_DTL B WHERE 1=1 AND A.ILLUM_CD = B.ILLUM_CD AND A.MSM_YEAR = B.MSM_YEAR AND B.MSM_MON = 12) AS mon12
		FROM TB_ILLUM_ADM A
		
		WHERE 1=1
		AND A.MSM_YEAR BETWEEN #{chooseYear} AND #{chooseYear2}
	</select>
</mapper>