<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.mappers.qm.itemJajuFaultyMapper">

	<resultMap id="ItemJajuFaultyVo" type="mes.domain.qm.ItemJajuFaultyVo">
		<result property="workOrdNo"            column="WORK_ORD_NO"		/> 
		<result property="workOrdSeq"           column="WORK_ORD_SEQ"		/> 
		<result property="middlePrcssCd"        column="MIDDLE_PRCSS_CD"	/> 
		<result property="minorPrcssCd"         column="MINOR_PRCSS_CD"		/> 
		<result property="minorPrcssNm"         column="MINOR_PRCSS_NM"		/> 
		<result property="itemCd"               column="ITEM_CD"			/> 
		<result property="itemRev"              column="ITEM_REV"			/> 
		<result property="itemNm"               column="ITEM_NM"			/> 
		<result property="itemGubun"            column="ITEM_GUBUN"			/> 
		<result property="itemGubunNm"          column="ITEM_GUBUN_NM"		/> 
		<result property="serialNo"          	column="SERIAL_NO"			/> 
		<result property="admDept"				column="ADM_DEPT"			/>
		<result property="admChargr"			column="ADM_CHARGR"			/>
		<result property="admChargrNm"			column="ADM_CHARGR_NM"		/>
		<result property="workChargr"			column="WORK_CHARGR"		/>
		<result property="workChargrNm"			column="WORK_CHARGR_NM"		/>
		<result property="faultyRegDate"		column="FAULTY_REG_DATE"	/>
		<result property="faultyTypeDate"		column="FAULTY_TYPE_DATE"	/>
		<result property="faultyTypeDesc"		column="FAULTY_TYPE_DESC"	/>
		<result property="faultyTypeCd"			column="FAULTY_TYPE_CD"		/>
		<result property="faultyTypeNm"			column="FAULTY_TYPE_NM"		/>
		<result property="faultyQty"			column="FAULTY_QTY"			/>
		<result property="etcQty"				column="ETC_QTY"			/>
		<result property="faultyStatus"			column="FAULTY_STATUS"		/>	
		<result property="faultyCause"			column="FAULTY_CAUSE"		/>			
		<result property="faultyAct"			column="FAULTY_ACT"			/>
		<result property="faultyDept"			column="FAULTY_DEPT"		/>
		<result property="faultyNo"				column="FAULTY_NO"			/>
		<result property="faultyProg"			column="FAULTY_PROG"		/>
		<result property="faultyImprv"			column="FAULTY_IMPRV"		/>
		<result property="faultyEffect"			column="FAULTY_EFFECT"		/>			
		<result property="faultyPcs"			column="FAULTY_PCS"			/>		
		<result property="faultyImage1"			column="FAULTY_IMAGE1"		/>
		<result property="faultyImage2"			column="FAULTY_IMAGE2"		/>
		<result property="faultyImage1Nm"		column="FAULTY_IMAGE1_NM"	/>
		<result property="faultyImage2Nm"		column="FAULTY_IMAGE2_NM"	/>
		
		<result property="regId"				column="REG_ID"				/>
		<result property="regDate"				column="REG_DATE"			/>
		<result property="updId"				column="UPD_ID"				/>				
		<result property="updDate"				column="UPD_DATE"			/>
	</resultMap>
	
	<!--부적합처리 목록조회 -->
	<select id="itemJajuFaultyList" resultMap="ItemJajuFaultyVo">
		<![CDATA[
			SELECT 
            	A.WORK_ORD_NO
				, A.WORK_ORD_SEQ
            	, A.MIDDLE_PRCSS_CD
            	, A.MINOR_PRCSS_CD
            	, (SELECT PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE PRCSS_CD=A.MINOR_PRCSS_CD) MINOR_PRCSS_NM
            	, A.ITEM_CD
            	, A.ITEM_REV
            	, D.ITEM_NM
            	, D.ITEM_GUBUN
            	, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=D.ITEM_GUBUN AND X.BASE_GROUP_CD='037') ITEM_GUBUN_NM
            	, B.FAULTY_QTY + A.ETC_QTY FAULTY_QTY
            	, A.WORK_CHARGR
            	, (SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=A.WORK_CHARGR ) WORK_CHARGR_NM
            	, D.SERIAL_NO
            	, C.FAULTY_REG_DATE
				, B.FAULTY_TYPE_DATE
            FROM TB_WORK_ORDER_PRCSS A, 
            (SELECT WORK_ORD_NO,MIDDLE_PRCSS_CD, MINOR_PRCSS_CD ,SUM(FAULTY_TYPE_QTY) FAULTY_QTY , FAULTY_TYPE_DATE FROM TB_WORK_ORDER_FAULTY_TYPE X WHERE APPROVAL_YN='001' GROUP BY WORK_ORD_NO ,MIDDLE_PRCSS_CD,MINOR_PRCSS_CD,FAULTY_TYPE_DATE) B
            LEFT OUTER JOIN TB_ITEM_JAJU_FAULTY C
            ON B.WORK_ORD_NO=C.WORK_ORD_NO
            AND B.MIDDLE_PRCSS_CD=C.MIDDLE_PRCSS_CD
            AND B.MINOR_PRCSS_CD=C.MINOR_PRCSS_CD
            , TB_ITEM_MOTOR_ADM D
            WHERE A.WORK_ORD_NO=B.WORK_ORD_NO
            AND A.MIDDLE_PRCSS_CD=B.MIDDLE_PRCSS_CD
            AND A.MINOR_PRCSS_CD=B.MINOR_PRCSS_CD
            AND A.ITEM_CD=D.ITEM_CD
            AND A.ITEM_REV=D.ITEM_REV
            AND (B.FAULTY_QTY > 0 OR A.ETC_QTY > 0 )
			AND (SELECT COUNT(*) FROM(
				  SELECT DISTINCT(X.WORK_STATUS)
				  FROM TB_WORK_ORDER_PRCSS X
				  WHERE X.WORK_ORD_NO=A.WORK_ORD_NO
				  AND X.MIDDLE_PRCSS_CD=A.MIDDLE_PRCSS_CD
				  AND X.MINOR_PRCSS_CD=A.MINOR_PRCSS_CD
				  GROUP BY X.WORK_ORD_NO ,X.WORK_ORD_SEQ, X.MIDDLE_PRCSS_CD, X.MINOR_PRCSS_CD,X.WORK_STATUS
				)A) = 1
			GROUP BY A.WORK_ORD_NO,A.WORK_ORD_SEQ,A.MIDDLE_PRCSS_CD,A.MINOR_PRCSS_CD,A.ITEM_CD,A.ITEM_REV,D.ITEM_NM,D.ITEM_GUBUN,B.FAULTY_QTY, A.ETC_QTY,A.WORK_CHARGR,D.SERIAL_NO,C.FAULTY_REG_DATE,B.FAULTY_TYPE_DATE
			ORDER BY A.WORK_ORD_NO DESC 
		]]>
	</select>
	
		
	<!-- 부적합관리(자주검사) 디테일 조회 -->
	<select id="itemJajuFaultyDetailList" resultMap="ItemJajuFaultyVo">
	      SELECT
				A.FAULTY_TYPE_CD,
				B.BASE_INFO_NM FAULTY_TYPE_NM,
				A.FAULTY_TYPE_QTY FAULTY_QTY,
				A.FAULTY_TYPE_DATE,
				A.FAULTY_TYPE_DESC,
				C.FAULTY_REG_DATE
		  FROM TB_WORK_ORDER_FAULTY_TYPE A 
		  LEFT OUTER JOIN TB_BASE_INFO_ADM B 
		  ON BASE_INFO_TYPE='FT'  
		  AND BASE_INFO_GUBUN='003'
		  AND ETC3=A.MINOR_PRCSS_CD 
		  AND B.BASE_INFO_CD=A.FAULTY_TYPE_CD
		  LEFT OUTER JOIN TB_ITEM_JAJU_FAULTY C
		  ON C.WORK_ORD_NO=A.WORK_ORD_NO 
		  AND C.WORK_ORD_SEQ=A.WORK_ORD_SEQ 
		  AND C.MINOR_PRCSS_CD=A.MINOR_PRCSS_CD
		  AND C.MIDDLE_PRCSS_CD=A.MIDDLE_PRCSS_CD
		  AND C.FAULTY_TYPE_CD=A.FAULTY_TYPE_CD
		  WHERE 1=1
		  AND A.WORK_ORD_NO = #{workOrdNo}
		  AND A.WORK_ORD_SEQ = #{workOrdSeq}
		  AND A.MIDDLE_PRCSS_CD = #{middlePrcssCd}
		  AND A.MINOR_PRCSS_CD = #{minorPrcssCd}
		  ORDER BY FAULTY_REG_DATE DESC
	</select>
	

	<select id="itemJajuFaultyRead" resultMap="ItemJajuFaultyVo">
		SELECT 
			ADM_DEPT,
			ADM_CHARGR,
			(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=ADM_CHARGR ) ADM_CHARGR_NM,
			FAULTY_REG_DATE,
			FAULTY_STATUS,
			FAULTY_CAUSE,
			FAULTY_ACT,
			FAULTY_DEPT,
			FAULTY_NO,
			FAULTY_PROG,
			FAULTY_IMPRV,
			FAULTY_EFFECT,
			FAULTY_PCS
		FROM TB_ITEM_JAJU_FAULTY
		WHERE 1=1
		AND WORK_ORD_NO = #{workOrdNo}
		AND WORK_ORD_SEQ = #{workOrdSeq}
		AND MIDDLE_PRCSS_CD = #{middlePrcssCd}
		AND MINOR_PRCSS_CD = #{minorPrcssCd}
		AND FAULTY_TYPE_CD = #{faultyTypeCd}
	</select>
	

	
	<!-- 부적합처리 등록 -->
	<insert id="itemJajuFaultyCreate">
		INSERT INTO TB_ITEM_JAJU_FAULTY	(
			 WORK_ORD_NO,
			 WORK_ORD_SEQ,
             MIDDLE_PRCSS_CD,
             MINOR_PRCSS_CD,
             FAULTY_TYPE_CD,
             ITEM_CD,
             ITEM_REV,
             ADM_DEPT,
             ADM_CHARGR,
             FAULTY_REG_DATE,
             FAULTY_QTY,
             FAULTY_STATUS,
             FAULTY_CAUSE,
             FAULTY_ACT,
             FAULTY_DEPT,
             FAULTY_NO,
             FAULTY_PROG,
             FAULTY_IMPRV,
             FAULTY_EFFECT,
             FAULTY_IMAGE1,
             FAULTY_IMAGE2,
             FAULTY_IMAGE1_NM,
             FAULTY_IMAGE2_NM,
             REG_ID,
             REG_DATE
        )
		VALUES     (
			#{workOrdNo},
			#{workOrdSeq},
            #{middlePrcssCd},
            #{minorPrcssCd},
            #{faultyTypeCd},
            #{itemCd},
            #{itemRev},
            #{admDept},
            #{admChargr},
            #{faultyRegDate},
            #{faultyQty},
            #{faultyStatus},
            #{faultyCause},
            #{faultyAct},
            #{faultyDept},
            #{faultyNo},
            #{faultyProg},
            #{faultyImprv},
            #{faultyEffect},
            #{faultyImage1},
            #{faultyImage2},
            #{faultyImage1Nm},
            #{faultyImage2Nm},
            #{regId},
            GETDATE()
         ) 
	</insert>
	
	<!-- 부적합관리 수정 -->
	<update id="itemJajuFaultyUpdate">
		UPDATE	TB_ITEM_JAJU_FAULTY 
		SET	
			ADM_DEPT =  #{admDept},
			ADM_CHARGR =  #{admChargr},
			FAULTY_REG_DATE = #{faultyRegDate},
			FAULTY_QTY =#{faultyQty},
			FAULTY_STATUS = #{faultyStatus},
			FAULTY_CAUSE = #{faultyCause},
			FAULTY_ACT = #{faultyAct},
			FAULTY_DEPT = #{faultyDept},
			FAULTY_NO = #{faultyNo},
			FAULTY_PROG = #{faultyProg},
			FAULTY_IMPRV = #{faultyImprv},
			FAULTY_EFFECT = #{faultyEffect},
			FAULTY_IMAGE1 = #{faultyImage1},
			FAULTY_IMAGE2 =#{faultyImage2},
			FAULTY_IMAGE1_NM = #{faultyImage1Nm},
			FAULTY_IMAGE2_NM = #{faultyImage1Nm},
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		WHERE 1=1
		AND	WORK_ORD_NO = #{workOrdNo}
		AND	WORK_ORD_SEQ = #{workOrdSeq}
		AND	MIDDLE_PRCSS_CD = #{middlePrcssCd}
		AND	MINOR_PRCSS_CD = #{minorPrcssCd}
	</update>
	
	<!-- 부적합처리 시퀀스생성 -->
	<select id="getJajuFaultySeq" resultType="int">
		SELECT ISNULL(MAX(JAJU_FAULTY_SEQ)+1,0) FROM TB_ITEM_JAJU_FAULTY 
	</select>

	
	<!-- 불량유형 목록 -->
	<select id="getFaultyTypeCd" resultType="String">
		  SELECT
			B.BASE_INFO_NM
		  FROM TB_WORK_ORDER_FAULTY_TYPE A LEFT OUTER JOIN TB_BASE_INFO_ADM B
		  ON A.FAULTY_TYPE_CD=B.BASE_INFO_CD
		  AND B.BASE_INFO_TYPE='FT'
		  AND B.BASE_INFO_GUBUN='003'
		  WHERE 1=1
		  AND	WORK_ORD_NO = #{workOrdNo}
		  AND	MIDDLE_PRCSS_CD = #{middlePrcssCd}
		  AND	MINOR_PRCSS_CD = #{minorPrcssCd}
		  GROUP BY WORK_ORD_NO, WORK_ORD_SEQ, MIDDLE_PRCSS_CD, MINOR_PRCSS_CD, FAULTY_TYPE_CD, BASE_INFO_NM
	</select>
	
</mapper>