<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.qm.itemFaultyAdmMapper">

	<resultMap id="ItemFaultyAdmVo" type="mes.domain.qm.ItemFaultyAdmVo">
		<result property="poNo"					column="PO_NO"				/>
		<result property="poSeq"		   		column="PO_SEQ"				/>
		<result property="inSeq"		    	column="IN_SEQ"				/>
		
		<result property="inSlipNo"		   		column="IN_SLIP_NO"			/>
		<result property="inSlipSeq"		    column="IN_SLIP_SEQ"		/>
		
		<result property="itemSeq"		        column="ITEM_SEQ"			/>
		<result property="itemCd"		        column="ITEM_CD"			/>
		<result property="itemNm"		        column="ITEM_NM"			/>
		<result property="itemUnit"		   		column="ITEM_UNIT"			/>
		<result property="itemGubun"		    column="ITEM_GUBUN"			/>
		<result property="itemModel"		    column="ITEM_MODEL"			/>
		<result property="itemModelNm"		    column="ITEM_MODEL_NM"		/>
		
		
		<result property="admDept"				column="ADM_DEPT"			/>
		<result property="admChargr"			column="ADM_CHARGR"			/>
		<result property="admChargrNm"			column="ADM_CHARGR_NM"		/>
		<result property="faultyRegDate"		column="FAULTY_REG_DATE"	/>
		<result property="faultyStatus"			column="FAULTY_STATUS"		/>	
		<result property="faultyCause"			column="FAULTY_CAUSE"		/>			
		<result property="faultyAct"			column="FAULTY_ACT"			/>
		<result property="faultyDept"			column="FAULTY_DEPT"		/>
		<result property="faultyNo"				column="FAULTY_NO"			/>
		<result property="faultyProg"			column="FAULTY_PROG"		/>
		<result property="faultyImprv"			column="FAULTY_IMPRV"		/>
		<result property="faultyEffect"			column="FAULTY_EFFECT"		/>			
		<result property="faultyPcs"			column="FAULTY_PCS"			/>		
		<result property="faultyImage1"			column="FAULTY_IMAGE1"		/>
		<result property="faultyImage2"			column="FAULTY_IMAGE2"		/>
		<result property="faultyImage1Nm"		column="FAULTY_IMAGE1_NM"	/>
		<result property="faultyImage2Nm"		column="FAULTY_IMAGE2_NM"	/>
		<result property="faultyFile1Nm"		column="FAULTY_FILE1_NM"	/>
		<result property="faultyFile2Nm"		column="FAULTY_FILE2_NM"	/>
		<result property="regId"				column="REG_ID"				/>
		<result property="regDate"				column="REG_DATE"			/>
		<result property="updId"				column="UPD_ID"				/>				
		<result property="updDate"				column="UPD_DATE"			/>
		<result property="inspectDate"			column="INSPECT_DATE"		/>				
		<result property="inspectChargrNm"		column="INSPECT_CHARGR_NM"	/>
		<result property="inspectDesc"			column="INSPECT_DESC"		/>
		<result property="dealCorpCd"			column="DEAL_CORP_CD"		/>
		<result property="dealCorpNm"			column="DEAL_CORP_NM"		/>
		<result property="telNo"				column="TEL_NO"				/>
		<result property="addrBase"				column="ADDR_BASE"			/>
		<result property="startDate"			column="START_DATE"			/>		
		<result property="endDate"				column="END_DATE"			/>	
		<result property="value"				column="VALUE"				/>
			
		<result property="inspectCnt"			column="INSPECT_CNT"		/>
		<result property="pairCnt"				column="PAIR_CNT"			/>
		<result property="faultyCnt"			column="FAULTY_CNT"			/>	
		<result property="preInWhsQty"			column="PRE_IN_WHS_QTY"		/>	
		<result property="faultyPercent"		column="FAULTY_PERCENT"		/>
		
		<result property="faultyTypeCd"			column="FAULTY_TYPE_CD"		/>	
		<result property="faultyTypeNm"			column="FAULTY_TYPE_NM"		/>		
		<result property="faultyTypeQty"		column="FAULTY_TYPE_QTY"	/>	
		<result property="faultyTypeDate"		column="FAULTY_TYPE_DATE"	/>	
		<result property="faultyTypeDesc"		column="FAULTY_TYPE_DESC"	/>	
		<result property="etc1"					column="ETC1"				/>
		<!-- 추가항목 -->
		<result property="approvalYn"			column="APPROVAL_YN"		/>
		
		
		<!-- 사용x-->
		<result property="partCd"		        column="PART_CD"			/>
		<result property="partNm"		        column="PART_NM"			/>
		<result property="partRev"				column="PART_REV"			/>				
		<result property="partGubun"			column="PART_GUBUN"			/>	
		<result property="partSpec"				column="PART_SPEC"			/>	
		<result property="barcodeNo"			column="BARCODE_NO"			/>	
	</resultMap>
	
	<!-- 부적합관리(수입검사) master list -->
	<select id="itemFaultyAdmMasterList" resultMap="ItemFaultyAdmVo">
		SELECT 
			Z.IN_SLIP_NO
			, A.IN_SLIP_SEQ
			, A.ITEM_SEQ
			, IIA_TB.ITEM_CD
			, IIA_TB.ITEM_NM
			, IIA_TB.ITEM_UNIT
			, IIA_TB.ITEM_GUBUN
			, IIA_TB.ITEM_MODEL
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA_TB.ITEM_MODEL AND X.BASE_GROUP_CD='099') ITEM_MODEL_NM
			, Z.INSPECT_DATE
			, (SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=Z.INSPECT_CHARGR ) INSPECT_CHARGR_NM
			, Z.INSPECT_DESC
			, (SELECT DEAL_CORP_CD FROM TB_PURCHASE_ORDER_ADM X WHERE X.PO_NO=IOW_TB.PO_NO) DEAL_CORP_CD
			, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=(SELECT DEAL_CORP_CD FROM TB_PURCHASE_ORDER_ADM X WHERE X.PO_NO=IOW_TB.PO_NO)) DEAL_CORP_NM
			, (SELECT TEL_NO FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=(SELECT DEAL_CORP_CD FROM TB_PURCHASE_ORDER_ADM X WHERE X.PO_NO=IOW_TB.PO_NO)) TEL_NO
			, (SELECT ADDR_BASE FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=(SELECT DEAL_CORP_CD FROM TB_PURCHASE_ORDER_ADM X WHERE X.PO_NO=IOW_TB.PO_NO)) ADDR_BASE
			, Z.INSPECT_CNT
			, A.PAIR_CNT
			, A.FAULTY_CNT
			, (SELECT PRE_IN_WHS_QTY FROM TB_IN_OUT_WHS_ADM X WHERE X.IN_SLIP_NO=A.IN_SLIP_NO AND X.IN_SLIP_SEQ=A.IN_SLIP_SEQ) PRE_IN_WHS_QTY
			, CEILING((A.FAULTY_CNT / (SELECT PRE_IN_WHS_QTY FROM TB_IN_OUT_WHS_ADM X WHERE X.IN_SLIP_NO=A.IN_SLIP_NO AND X.IN_SLIP_SEQ=A.IN_SLIP_SEQ))*100) FAULTY_PERCENT
			, B.APPROVAL_YN
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=B.FAULTY_PCS AND X.BASE_GROUP_CD='059') FAULTY_PCS
			, IOW_TB.BARCODE_NO
			,(
				SELECT 
					TOP(1)
					 FAULTY_TYPE_CD
				FROM TB_ITEM_INSPECT_FAULTY_TYPE IFT_TB
				WHERE IFT_TB.IN_SLIP_NO=Z.IN_SLIP_NO
				AND FAULTY_TYPE_QTY>0
				) FAULTY_TYPE_CD
			,(
				SELECT 
					TOP(1)
					(SELECT BASE_INFO_NM FROM TB_BASE_INFO_ADM X WHERE X.BASE_INFO_CD=FAULTY_TYPE_CD AND X.BASE_INFO_TYPE='FT') FAULTY_TYPE_NM
				FROM TB_ITEM_INSPECT_FAULTY_TYPE IFT_TB
				WHERE IFT_TB.IN_SLIP_NO=Z.IN_SLIP_NO
				AND FAULTY_TYPE_QTY>0
				) FAULTY_TYPE_NM
			,(
				SELECT 
					TOP(1)
					 FAULTY_TYPE_DATE
				FROM TB_ITEM_INSPECT_FAULTY_TYPE IFT_TB
				WHERE IFT_TB.IN_SLIP_NO=Z.IN_SLIP_NO
				AND FAULTY_TYPE_QTY>0
				) FAULTY_TYPE_DATE
		FROM TB_ITEM_INSPECT_MASTER_ADM Z
		LEFT OUTER JOIN TB_ITEM_INSPECT_ADM A
		ON Z.IN_SLIP_NO=A.IN_SLIP_NO
		LEFT OUTER JOIN TB_ITEM_FAULTY_JDG_ADM B
		ON A.IN_SLIP_NO = B.IN_SLIP_NO
		AND A.IN_SLIP_SEQ = B.IN_SLIP_SEQ
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA_TB
		ON A.ITEM_SEQ=IIA_TB.ITEM_SEQ
		LEFT OUTER JOIN TB_IN_OUT_WHS_ADM IOW_TB
		ON A.IN_SLIP_NO=IOW_TB.IN_SLIP_NO
		AND A.IN_SLIP_SEQ=IOW_TB.IN_SLIP_SEQ
		WHERE 1=1
		AND Z.APPROVAL_YN = '001'
		AND A.FAULTY_CNT <![CDATA[>]]> 0
		AND A.ITEM_SEQ = IIA_TB.ITEM_SEQ
		<if test="approvalYn!=null and approvalYn.equals('001')">
		AND (B.APPROVAL_YN = '001')
		</if>
		<if test="approvalYn!=null and approvalYn.equals('002')">
		AND (B.APPROVAL_YN IS NULL OR B.APPROVAL_YN = '002')
		</if>
		<if test="startDate!=null and !startDate.equals('')">
		AND Z.INSPECT_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		ORDER BY A.INSPECT_DATE DESC
	</select>
	
	<!--부적합관리 목록조회 -->
	<select id="itemFaultyAdmList" resultMap="ItemFaultyAdmVo">
		SELECT 
			FT_TB.FAULTY_TYPE_CD,
			BIA_TB.BASE_INFO_NM FAULTY_TYPE_NM,
			FT_TB.FAULTY_TYPE_QTY,
			FT_TB.FAULTY_TYPE_DATE,
			FT_TB.FAULTY_TYPE_DESC,
			FA_TB.FAULTY_REG_DATE
		FROM TB_ITEM_INSPECT_FAULTY_TYPE FT_TB
		LEFT OUTER JOIN TB_ITEM_FAULTY_ADM FA_TB
		ON FT_TB.IN_SLIP_NO=FA_TB.IN_SLIP_NO
		AND FT_TB.IN_SLIP_SEQ=FA_TB.IN_SLIP_SEQ
		AND FT_TB.FAULTY_TYPE_CD=FA_TB.FAULTY_TYPE_CD
		LEFT OUTER JOIN TB_BASE_INFO_ADM BIA_TB
		ON FT_TB.FAULTY_TYPE_CD=BIA_TB.BASE_INFO_CD
		WHERE 1=1
		AND FT_TB.IN_SLIP_NO=#{inSlipNo}
		AND FT_TB.IN_SLIP_SEQ=#{inSlipSeq}
		AND FT_TB.FAULTY_TYPE_QTY <![CDATA[>]]> 0 
	</select>
	
	<!-- 부적합관리 상세조회 -->
	<select id="itemFaultyAdmRead" resultMap="ItemFaultyAdmVo">
		<![CDATA[
			SELECT 
				ADM_DEPT
				, ADM_CHARGR
				,(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=ADM_CHARGR )ADM_CHARGR_NM
				, FAULTY_REG_DATE
				, FAULTY_STATUS
				, FAULTY_CAUSE
				, FAULTY_IMAGE1
				, FAULTY_IMAGE2
				, FAULTY_IMAGE1_NM
				, FAULTY_IMAGE2_NM
				, FAULTY_FILE1_NM
				, FAULTY_FILE2_NM
				, FAULTY_ACT
				, FAULTY_DEPT
				, FAULTY_NO
				, FAULTY_PROG
				, FAULTY_IMPRV
				, FAULTY_EFFECT
				, FAULTY_PCS
			FROM TB_ITEM_FAULTY_ADM
			WHERE IN_SLIP_NO = #{inSlipNo}
			AND IN_SLIP_SEQ = #{inSlipSeq}
			AND FAULTY_TYPE_CD = #{faultyTypeCd}
		]]>
	</select>
	
	<!-- 부적합관리 등록 -->
	<insert id="itemFaultyAdmCreate">
		INSERT INTO TB_ITEM_FAULTY_ADM		(
			IN_SLIP_NO,
			IN_SLIP_SEQ,
			FAULTY_TYPE_CD,
			ITEM_SEQ,
			ADM_DEPT,
			ADM_CHARGR,
			FAULTY_REG_DATE,
			FAULTY_STATUS,
			FAULTY_CAUSE,
			FAULTY_ACT,
			FAULTY_DEPT,
			FAULTY_NO,
			FAULTY_PROG,
			FAULTY_IMPRV,
			FAULTY_EFFECT,
			FAULTY_IMAGE1,
			FAULTY_IMAGE2,
			FAULTY_IMAGE1_NM,
			FAULTY_IMAGE2_NM,
			FAULTY_FILE1_NM,
			FAULTY_FILE2_NM,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{inSlipNo},
			#{inSlipSeq},
			#{faultyTypeCd},
			#{itemSeq},
			#{admDept},
			#{admChargr},
			#{faultyRegDate},
			#{faultyStatus},
			#{faultyCause},
			#{faultyAct},
			#{faultyDept},
			#{faultyNo},
			#{faultyProg},
			#{faultyImprv},
			#{faultyEffect},
			#{faultyImage1},
			#{faultyImage2},
			#{faultyImage1Nm},
			#{faultyImage2Nm},
			#{faultyFile1Nm},
			#{faultyFile2Nm},
			#{regId},
			GETDATE()
		)
	</insert>
	
	<!-- 부적합관리 수정 -->
	<update id="itemFaultyAdmUpdate">
		UPDATE	TB_ITEM_FAULTY_ADM		 
		SET	
			ADM_DEPT = #{admDept},
			ADM_CHARGR = #{admChargr},
			FAULTY_REG_DATE = #{faultyRegDate},
			FAULTY_STATUS = #{faultyStatus},
			FAULTY_CAUSE = #{faultyCause},
			FAULTY_ACT = #{faultyAct},
			FAULTY_DEPT = #{faultyDept},
			FAULTY_NO = #{faultyNo},
			FAULTY_PROG = #{faultyProg},
			FAULTY_IMPRV = #{faultyImprv},
			FAULTY_EFFECT = #{faultyEffect},
			<if test="faultyImage1!=null and !faultyImage1.equals('')">
			FAULTY_IMAGE1 = #{faultyImage1},
			FAULTY_IMAGE1_NM = #{faultyImage1Nm},
			</if>
			<if test="faultyImage2!=null and !faultyImage2.equals('')">
			FAULTY_IMAGE2 = #{faultyImage2},
			FAULTY_IMAGE2_NM = #{faultyImage2Nm},
			</if>
			<if test="faultyFile1Nm!=null and !faultyFile1Nm.equals('')">
			FAULTY_File1_NM = #{faultyFile1Nm},
			</if>
			<if test="faultyFile2Nm!=null and !faultyFile2Nm.equals('')">
			FAULTY_File2_NM = #{faultyFile2Nm},
			</if>
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		WHERE 1=1
		AND IN_SLIP_NO = #{inSlipNo}
		AND	IN_SLIP_SEQ = #{inSlipSeq}
		AND	FAULTY_TYPE_CD = #{faultyTypeCd}
	</update>
	
	<!--부적합관리 이미지 조회 -->
	<select id="itemFaultyImageList" resultMap="ItemFaultyAdmVo">
		<![CDATA[
			SELECT 
				ITEM_SEQ
				, FAULTY_IMAGE1
				, FAULTY_IMAGE2
				, FAULTY_FILE1_NM
				, FAULTY_FILE2_NM
			FROM TB_ITEM_FAULTY_ADM 
			WHERE 1=1
			AND IN_SLIP_NO = #{inSlipNo}
			AND	IN_SLIP_SEQ = #{inSlipSeq}
			AND FAULTY_TYPE_CD = #{faultyTypeCd}
		]]>
	</select>
	
	
	
	<!-- 부적합관리 이미지 삭제 -->
	<update id="itemFaultyImageDelete">
		UPDATE	TB_ITEM_FAULTY_ADM		 
		<set>
			<if test="value==1">
				FAULTY_IMAGE1 = NULL,
				FAULTY_IMAGE1_NM = '',
			</if>
			<if test="value==2">
				FAULTY_IMAGE2 = NULL,
				FAULTY_IMAGE2_NM = '',
			</if>
			<if test="value==3">
				FAULTY_FILE1_NM = '',
			</if>
			<if test="value==4">
				FAULTY_FILE2_NM = '',
			</if>
		</set>
		WHERE 1=1
		AND IN_SLIP_NO = #{inSlipNo}
		AND	IN_SLIP_SEQ = #{inSlipSeq}
		AND FAULTY_TYPE_CD = #{faultyTypeCd}
	</update>
	
	
	<!-- 부적합관리 시퀀스생성 -->
	<select id="getItemFaultySeq" resultType="int">
		SELECT ISNULL(MAX(FAULTY_TYPE)+1,0) 
		FROM TB_ITEM_FAULTY_ADM X 
		WHERE 1=1
		AND IN_SLIP_NO = #{inSlipNo}
		AND	IN_SLIP_SEQ = #{inSlipSeq}
	</select>
	
	
</mapper>