<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.qm.itemFaultyJdgAdmMapper">

	<resultMap id="ItemFaultyJdgAdmVo" type="mes.domain.qm.ItemFaultyJdgAdmVo">
		<result property="poNo"					column="PO_NO"				/>
		<result property="poSeq"		    	column="PO_SEQ"				/>
		<result property="inSeq"				column="IN_SEQ"				/>		
		
		<result property="inSlipNo"		   		column="IN_SLIP_NO"			/>
		<result property="inSlipSeq"		    column="IN_SLIP_SEQ"		/>
			
		<result property="faultyPcs"			column="FAULTY_PCS"			/>
		<result property="pairCnt"				column="PAIR_CNT"			/>
		<result property="faultyCnt"			column="FAULTY_CNT"			/>
		<result property="faultyDate"			column="FAULTY_DATE"		/>		
		<result property="faultyChargr"			column="FAULTY_CHARGR"		/>
		<result property="faultyChargrNm"		column="FAULTY_CHARGR_NM"	/>
		<result property="returnQty"			column="RETURN_QTY"			/>
		<result property="returnDate"			column="RETURN_DATE"		/> 
		<result property="disuseQty"			column="DISUSE_QTY"			/> 
		<result property="disuseDate"			column="DISUSE_DATE"		/> 
		<result property="approvalYn"			column="APPROVAL_YN"		/> 
		<result property="faultyDesc"			column="FAULTY_DESC"		/> 
		<result property="regId"				column="REG_ID"				/>
		<result property="regDate"				column="REG_DATE"			/>
		<result property="updId"				column="UPD_ID"				/>				
		<result property="updDate"				column="UPD_DATE"			/>
		
		<result property="inWhsQty"				column="IN_WHS_QTY"			/>
		<result property="preInWhsQty"			column="PRE_IN_WHS_QTY"		/>
		
	</resultMap>
	
	<!-- 부적합처리 목록 -->
	<select id="itemFaultyJdgAdmRead" resultMap="ItemFaultyJdgAdmVo">
		SELECT   IN_SLIP_NO,
            IN_SLIP_SEQ,
            FAULTY_PCS,
			PAIR_CNT,
            FAULTY_CNT,
			FAULTY_DATE,
			FAULTY_CHARGR,
			(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=FAULTY_CHARGR) FAULTY_CHARGR_NM,
			APPROVAL_YN,
			FAULTY_DESC
		FROM TB_ITEM_FAULTY_JDG_ADM
		WHERE 1=1
		AND IN_SLIP_NO = #{inSlipNo}
		AND IN_SLIP_SEQ = #{inSlipSeq}
	</select>
	
	<!-- 부적합처리 등록 -->
	<insert id="itemFaultyJdgAdmCreate">
		INSERT INTO TB_ITEM_FAULTY_JDG_ADM (
             IN_SLIP_NO,
             IN_SLIP_SEQ,
             FAULTY_PCS,
             PAIR_CNT,
             FAULTY_CNT,
             FAULTY_DATE,
             FAULTY_CHARGR,
             APPROVAL_YN,
             FAULTY_DESC,
             REG_ID,
             REG_DATE
        )
		VALUES     (
			#{inSlipNo},
            #{inSlipSeq},
            #{faultyPcs},
            #{pairCnt},
            #{faultyCnt},
            #{faultyDate},
            #{faultyChargr},
            #{approvalYn},
            #{faultyDesc},
            #{regId},
            GETDATE()
        ) 
	</insert>
	
	<!-- 부적합처리 수정 -->
	<update id="itemFaultyJdgAdmUpdate">
		UPDATE TB_ITEM_FAULTY_JDG_ADM
		SET   
	       FAULTY_PCS = #{faultyPcs},
	       PAIR_CNT = #{pairCnt},
	       FAULTY_CNT = #{faultyCnt},
	       FAULTY_DATE = #{faultyDate},
	       FAULTY_CHARGR = #{faultyChargr},
	       FAULTY_DESC = #{faultyDesc},
	       UPD_ID = #{updId},
	       UPD_DATE = GETDATE()
	   WHERE  1=1
       AND IN_SLIP_NO = #{inSlipNo}
       AND IN_SLIP_SEQ = #{inSlipSeq}
	</update>
	
	<!-- 입출고 불랴웃량 수정 -->
	<update id="updateInOutWhsFaultyQty">
		UPDATE TB_IN_OUT_WHS_ADM 
		SET FAULTY_QTY = #{faultyCnt} 
		WHERE  1=1
       AND IN_SLIP_NO = #{inSlipNo}
       AND IN_SLIP_SEQ = #{inSlipSeq}
	</update>
	
	<!-- 입출고 입고수량 가져오기 -->
	<select id="getInWhsQty" resultMap="ItemFaultyJdgAdmVo">
		SELECT 
			PRE_IN_WHS_QTY
			,IN_WHS_QTY
		FROM TB_IN_OUT_WHS_ADM 
		WHERE  1=1
       AND IN_SLIP_NO = #{inSlipNo}
       AND IN_SLIP_SEQ = #{inSlipSeq}
	</select>
	
	<!-- 부적합처리 승인여부 수정-->
	<update id="updateApprovalYn">
		UPDATE TB_ITEM_FAULTY_JDG_ADM 
		SET APPROVAL_YN = #{approvalYn}
		WHERE  1=1
       AND IN_SLIP_NO = #{inSlipNo}
       AND IN_SLIP_SEQ = #{inSlipSeq}
	</update>
	
	
</mapper>