<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.qm.itemPrcssCompleteAdmMapper">

	<resultMap id="ItemPrcssCompleteAdmVo" type="mes.domain.qm.ItemPrcssCompleteAdmVo">
	
		<result property="workOrdNo"            column="WORK_ORD_NO"			/> 		
		<result property="menuAuth"      		column="MENU_AUTH"				/>                                       
		<result property="workOrdSeq"           column="WORK_ORD_SEQ"			/> 
		<result property="itemCd"               column="ITEM_CD"				/> 
		<result property="inspectDate"          column="INSPECT_DATE"			/> 
		<result property="inspectChargr"        column="INSPECT_CHARGR"			/> 
		<result property="inspectChargrNm"      column="INSPECT_CHARGR_NM"		/> 
		<result property="fairQty"	            column="FAIR_QTY"				/> 
		<result property="fairQty2"	            column="FAIR_QTY2"				/> 
		<result property="regId"                column="REG_ID"					/> 
		<result property="regDate"              column="REG_DATE"				/> 
		<result property="updId"                column="UPD_ID"					/> 
		<result property="updDate"	            column="UPD_DATE"				/> 
		<result property="itemNm"               column="ITEM_NM"				/> 
		<result property="itemGubun"            column="ITEM_GUBUN"				/> 
		<result property="itemGubunNm"	        column="ITEM_GUBUN_NM"			/> 
		<result property="itemSeq"              column="ITEM_SEQ"				/> 
		<result property="equipCd"              column="EQUIP_CD"				/> 
		<result property="equipNm"              column="EQUIP_NM"				/> 
		<result property="ordDate"              column="ORD_DATE"				/> 
		<result property="workStatus"           column="WORK_STATUS"			/> 
		<result property="itemModel"            column="ITEM_MODEL"				/> 
		<result property="itemModelNm"          column="ITEM_MODEL_NM"			/> 
		<result property="workEndTime"          column="WORK_END_TIME"			/> 
		<result property="workChargr"           column="WORK_CHARGR"			/> 
		<result property="workChargrNm"         column="WORK_CHARGR_NM"			/> 
		<result property="workChargrSugi"       column="WORK_CHARGR_SUGI"		/> 
		<result property="workChargrSugiNm"     column="WORK_CHARGR_SUGI_NM"	/> 
		<result property="image1"               column="IMAGE1"					/> 
		<result property="imageNm1"             column="IMAGE_NM1"				/> 
		<result property="etc1"                 column="ETC1"					/> 
		<result property="lotNoSugi"            column="LOT_NO_SUGI"			/> 
		<result property="itemGrade"            column="ITEM_GRADE"				/> 
		<result property="barcodeNo"			column="BARCODE_NO"				/>
		<result property="mainGubun"			column="MAIN_GUBUN"				/>
		<result property="approvalTotal"		column="APPROVAL_TOTAL"			/>
		<result property="approvalCho"			column="APPROVAL_CHO"			/>
		<result property="approvalJung"			column="APPROVAL_JUNG"			/>
		<result property="approvalJong"			column="APPROVAL_JONG"			/>
		
		<result property="inspResultGubun"     column="INSP_RESULT_GUBUN"		/>
		<result property="inspResultGubunNm"   column="INSP_RESULT_GUBUN_NM"	/>
		<result property="equipCavity"         column="EQUIP_CAVITY"			/>
		<result property="equipNo"             column="EQUIP_NO"				/>
		<result property="moldNm"              column="MOLD_NM"					/>
		<result property="moldCd"              column="MOLD_CD"					/>
		<result property="outputQty"           column="OUTPUT_QTY"				/>
	    <result property="faultyQty"           column="FAULTY_QTY"				/>
	    <result property="matrlNm"             column="MATRL_NM"				/>
	    <result property="inspectGubun"        column="INSPECT_GUBUN"			/>
	    <result property="inspectGubunNm"      column="INSPECT_GUBUN_NM"		/>
	    <result property="inspSeq"             column="INSP_SEQ"				/>
	    <result property="inspResult"          column="INSP_RESULT"				/>
	    <result property="inspResultNm"        column="INSP_RESULT_NM"			/>
	    <result property="inspList"            column="INSP_LIST"				/>
	    <result property="inspType"            column="INSP_TYPE"				/>
	    <result property="inspTypeNm"          column="INSP_TYPE_NM"			/>
	    <result property="inspStandUpper"      column="INSP_STAND_UPPER"		/>
	    <result property="inspStandLower"      column="INSP_STAND_LOWER"		/>
	    <result property="inspX1"              column="INSP_X1"					/>
	    <result property="inspX2"              column="INSP_X2"					/>
	    <result property="inspX3"              column="INSP_X3"					/>
	    <result property="inspX4"              column="INSP_X4"					/>
	    <result property="inspX5"              column="INSP_X5"					/>
		<result property="inspX6"              column="INSP_X6"					/>
		<result property="inspX7"              column="INSP_X7"					/>
		<result property="inspX8"              column="INSP_X8"					/>
		<result property="inspX9"              column="INSP_X9"					/>
		<result property="inspX10"             column="INSP_X10"			    />
		<result property="inspX11"             column="INSP_X11"			    />
		<result property="inspX12"             column="INSP_X12"			    />
		<result property="inspX13"             column="INSP_X13"			    />
		<result property="inspX14"             column="INSP_X14"			    />
		<result property="inspX15"             column="INSP_X15"			    />
		<result property="inspX16"             column="INSP_X16"			    />
		<result property="inspX17"             column="INSP_X17"			    />
		<result property="inspX18"             column="INSP_X18"			    />
		<result property="inspX19"             column="INSP_X19"			    />
		<result property="inspX20"             column="INSP_X20"			    />
		<result property="inspX21"             column="INSP_X21"			    />
		<result property="inspX22"             column="INSP_X22"			    />
		<result property="inspX23"             column="INSP_X23"			    />
		<result property="inspX24"             column="INSP_X24"			    />
		<result property="mdInspectYn"		   column="MD_INSPECT_YN"			/>
		<result property="inspCheck"		   column="INSP_CHECK"				/>
		<result property="inspCheckNm"		   column="INSP_CHECK_NM"			/>
		<result property="cavityCnt"		   column="CAVITY_CNT"				/>
		
		<result property="prcssCd"		  	   column="PRCSS_CD"				/>
		<result property="prcssNm"		  	   column="PRCSS_NM"				/>
		<result property="workProgNo"		   column="WORK_PROG_NO"			/>
		<result property="middlePrcssCd"	   column="MIDDLE_PRCSS_CD"			/>
	</resultMap>
	
		<!--공정검사 목록조회 -->
	<select id="listAll" resultMap="ItemPrcssCompleteAdmVo">
		<![CDATA[
			SELECT * FROM (

				SELECT WORK_ORD_NO
					  ,EQUIP_CD
					  ,(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM WHERE AA.EQUIP_CD = EQUIP_CD) EQUIP_NM
					  ,ITEM_SEQ
					  ,(SELECT ITEM_CD FROM TB_ITEM_INFO_ADM WHERE AA.ITEM_SEQ = ITEM_SEQ) ITEM_CD
					  ,(SELECT ITEM_NM FROM TB_ITEM_INFO_ADM WHERE AA.ITEM_SEQ = ITEM_SEQ) ITEM_NM
					   ,(SELECT MAIN_GUBUN FROM TB_ITEM_INFO_ADM WHERE AA.ITEM_SEQ = ITEM_SEQ) MAIN_GUBUN
					  ,(SELECT ITEM_MODEL FROM TB_ITEM_INFO_ADM WHERE AA.ITEM_SEQ = ITEM_SEQ) ITEM_MODEL
					  ,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE BASE_GROUP_CD = '099' AND (SELECT ITEM_MODEL FROM TB_ITEM_INFO_ADM x WHERE AA.ITEM_SEQ = x.ITEM_SEQ) = B.BASE_CD) ITEM_MODEL_NM
				      ,AA.MD_INSPECT_YN
					  ,WORK_END_TIME
					  ,(SELECT INSPECT_DATE FROM TB_ITEM_PRCSS_COMPLETE_ADM WHERE WORK_ORD_NO=AA.WORK_ORD_NO AND WORK_END_TIME=AA.WORK_END_TIME)INSPECT_DATE
				      ,(SELECT ISNULL(SUM(QTY),0) QTY FROM (SELECT ISNULL(OUTPUT_QTY,0)-ISNULL(FAULTY_QTY,0) QTY
															 FROM TB_WORK_ORDER 
															 WHERE WORK_ORD_NO=AA.WORK_ORD_NO)A) FAIR_QTY
				      ,(SELECT ISNULL(SUM(QTY),0) QTY FROM (SELECT ISNULL(FAIR_QTY,0) QTY
															 FROM TB_WORK_ORDER_PRCSS 
															 WHERE WORK_ORD_NO=AA.WORK_ORD_NO
														     GROUP BY INSPECT_GUBUN,FAIR_QTY
															 HAVING 1=1
															 AND INSPECT_GUBUN = (CASE WHEN MD_INSPECT_YN='002' THEN '001'  ELSE '001'  END)
															 OR INSPECT_GUBUN = (CASE WHEN MD_INSPECT_YN='002' THEN '001'  ELSE '002'  END)
															 OR INSPECT_GUBUN = (CASE WHEN MD_INSPECT_YN='002' THEN '003'  ELSE '003'  END))A) FAIR_QTY2
					 ,(SELECT USER_NM FROM TB_USER WHERE USER_NUMBER = MAIN_WORK_CHARGR) WORK_CHARGR_NM	 
					 
					 
					 
					 ,ISNULL(( SELECT CASE  WHEN CNT = CNT2 THEN '승인' ELSE '미승인' END AS APPROVAL FROM (
							SELECT C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD AND USE_YN='001') CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C, TB_ITEM_PRCSS_COMPLETE_ADM D
							WHERE C.INSP_CD = B.INSP_CD
							  AND C.INSP_TYPE = B.INSP_TYPE     
							  AND C.INSP_SEQ =  B.INSP_SEQ
							  AND D.WORK_ORD_NO = B.INSP_SOURCE_NO
							  AND D.WORK_END_TIME = B.INSP_SOURCE_SUB_NO		 
							  AND B.INSPECT_GUBUN = '001' 
							  AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
							  AND AA.WORK_END_TIME = B.INSP_SOURCE_SUB_NO
							  AND B.INSP_RESULT_GUBUN = '002'
							  AND C.USE_YN='001'
							GROUP BY C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO
							) XX
					),
					ISNULL((SELECT CASE  WHEN CNT = CNT2 THEN '요청' ELSE '대기' END AS APPROVAL FROM (
							SELECT C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD AND USE_YN='001') CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C
							WHERE C.INSP_CD = B.INSP_CD
							  AND C.INSP_TYPE = B.INSP_TYPE     
							  AND C.INSP_SEQ =  B.INSP_SEQ
							  AND B.INSPECT_GUBUN = '001' 
							  AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
							  AND B.INSP_RESULT_GUBUN = '004'
							   AND C.USE_YN='001'
							GROUP BY C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO
						) A),'대기')
					) APPROVAL_CHO
					,ISNULL(( SELECT CASE  WHEN CNT = CNT2 THEN '승인' ELSE '미승인' END AS APPROVAL FROM (
							SELECT C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD AND USE_YN='001') CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C, TB_ITEM_PRCSS_COMPLETE_ADM D
							WHERE C.INSP_CD = B.INSP_CD
							  AND C.INSP_TYPE = B.INSP_TYPE     
							  AND C.INSP_SEQ =  B.INSP_SEQ
							  AND D.WORK_ORD_NO = B.INSP_SOURCE_NO
							  AND D.WORK_END_TIME = B.INSP_SOURCE_SUB_NO		 
							  AND B.INSPECT_GUBUN = '002' 
							  AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
							  AND AA.WORK_END_TIME = B.INSP_SOURCE_SUB_NO
							  AND B.INSP_RESULT_GUBUN = '002'
							   AND C.USE_YN='001'
							GROUP BY C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO
							) XX
					),
					ISNULL((SELECT CASE  WHEN CNT = CNT2 THEN '요청' ELSE '대기' END AS APPROVAL FROM (
							SELECT C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD AND USE_YN='001') CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C
							WHERE C.INSP_CD = B.INSP_CD
							  AND C.INSP_TYPE = B.INSP_TYPE     
							  AND C.INSP_SEQ =  B.INSP_SEQ
							  AND B.INSPECT_GUBUN = '002' 
							  AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
							  AND B.INSP_RESULT_GUBUN = '004'
							  AND C.USE_YN='001'
							GROUP BY C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO
						) A),'대기')
					) APPROVAL_JUNG
					,ISNULL(( SELECT CASE  WHEN CNT = CNT2 THEN '승인' ELSE '미승인' END AS APPROVAL FROM (
							SELECT C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD AND USE_YN='001') CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C, TB_ITEM_PRCSS_COMPLETE_ADM D
							WHERE C.INSP_CD = B.INSP_CD
							  AND C.INSP_TYPE = B.INSP_TYPE     
							  AND C.INSP_SEQ =  B.INSP_SEQ
							  AND D.WORK_ORD_NO = B.INSP_SOURCE_NO
							  AND D.WORK_END_TIME = B.INSP_SOURCE_SUB_NO		 
							  AND B.INSPECT_GUBUN = '003' 
							  AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
							  AND AA.WORK_END_TIME = B.INSP_SOURCE_SUB_NO
							  AND B.INSP_RESULT_GUBUN = '002'
							  AND C.USE_YN='001'
							GROUP BY C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO
							) XX
					),
					ISNULL((SELECT CASE  WHEN CNT = CNT2 THEN '요청' ELSE '대기' END AS APPROVAL FROM (
							SELECT C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD AND USE_YN='001') CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C
							WHERE C.INSP_CD = B.INSP_CD
							  AND C.INSP_TYPE = B.INSP_TYPE     
							  AND C.INSP_SEQ =  B.INSP_SEQ
							  AND B.INSPECT_GUBUN = '003' 
							  AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
							  AND B.INSP_RESULT_GUBUN = '004'
							  AND C.USE_YN='001'
							GROUP BY C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO
						) A),'대기')
					) APPROVAL_JONG
					,ISNULL(( SELECT CASE WHEN CNT = CNT2 THEN '승인' ELSE '미승인' END AS APPROVAL FROM (
							SELECT C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, 
								(
									SELECT (CASE WHEN (SELECT MD_INSPECT_YN FROM TB_WORK_ORDER X WHERE X.WORK_ORD_NO=AA.WORK_ORD_NO)='002' THEN COUNT(*)*2 ELSE COUNT(*)*3 END)
									FROM TB_INSP_ITEM_ADM A 
									INNER JOIN TB_INSP_ITEM_DTL B
									ON A.INSP_CD=B.INSP_CD
									WHERE A.INSP_CD=C.INSP_CD
									AND B.USE_YN='001'
								) CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C, TB_ITEM_PRCSS_COMPLETE_ADM D
							WHERE C.INSP_CD = B.INSP_CD
							  AND C.INSP_TYPE = B.INSP_TYPE     
							  AND C.INSP_SEQ =  B.INSP_SEQ
							  AND D.WORK_ORD_NO = B.INSP_SOURCE_NO
							  AND D.WORK_END_TIME = B.INSP_SOURCE_SUB_NO 
							  AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
							  AND AA.WORK_END_TIME = B.INSP_SOURCE_SUB_NO
							  AND B.INSP_RESULT_GUBUN = '002'
							  AND C.USE_YN='001'
							  AND B.INSPECT_GUBUN != (CASE WHEN (SELECT MD_INSPECT_YN FROM TB_WORK_ORDER X WHERE X.WORK_ORD_NO=AA.WORK_ORD_NO)='002'THEN '002' ELSE '' END)
							GROUP BY C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO
							) XX
					),'미승인') APPROVAL_TOTAL
				FROM (
					SELECT A.WORK_ORD_NO
						  ,(SELECT EQUIP_CD FROM TB_WORK_ORDER WHERE WORK_ORD_NO=A.WORK_ORD_NO) EQUIP_CD
						  ,A.ITEM_SEQ
						  ,MAIN_WORK_CHARGR
						  ,WORK_ORD_DATE WORK_END_TIME
						  ,SUM(FAIR_QTY) FAIR_QTY	 
						  ,B.MD_INSPECT_YN
					  FROM TB_WORK_ORDER_PRCSS A , TB_WORK_ORDER B
					  WHERE 1=1
					  AND A.WORK_ORD_NO=B.WORK_ORD_NO
					  AND A.INSPECT_GUBUN IN ('001','002','003')
					  GROUP BY A.WORK_ORD_NO
						  ,A.EQUIP_CD
						  ,A.ITEM_SEQ
						  ,MAIN_WORK_CHARGR
						  ,WORK_ORD_DATE
						  ,B.MD_INSPECT_YN
				) AA
				
		) AAA 	
		WHERE 1=1
		]]>		
		<if test="startDate!=null and !startDate.equals('')">
		AND INSPECT_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="approvalTotal!=null and !approvalTotal.equals('')">
			<if test="approvalTotal.equals('001')">
				AND APPROVAL_TOTAL = '승인'
			</if>	
			<if test="approvalTotal.equals('002')">
				AND APPROVAL_TOTAL = '미승인'
				OR INSPECT_DATE IS NULL
			</if>	
		</if>
		<if test="mainGubun!=null and !mainGubun">
			AND MAIN_GUBUN = #{mainGubun}
		</if>
		
		
	</select>
	
	<!--공정검사 목록조회 -->
	<select id="listAllByBongjae" resultMap="ItemPrcssCompleteAdmVo">
		SELECT *
		FROM (
			SELECT
				WORK_ORD_NO
				, AA.WORK_PROG_NO
			    , AA.MINOR_PRCSS_CD PRCSS_CD
			    , (SELECT PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD=AA.MINOR_PRCSS_CD) PRCSS_NM
			    , EQUIP_CD
			    , (SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM WHERE AA.EQUIP_CD = EQUIP_CD) EQUIP_NM
			    , ITEM_SEQ
			    , (SELECT ITEM_CD FROM TB_ITEM_INFO_ADM WHERE AA.ITEM_SEQ = ITEM_SEQ) ITEM_CD
			    , (SELECT ITEM_NM FROM TB_ITEM_INFO_ADM WHERE AA.ITEM_SEQ = ITEM_SEQ) ITEM_NM
			    , (SELECT MAIN_GUBUN FROM TB_ITEM_INFO_ADM WHERE AA.ITEM_SEQ = ITEM_SEQ) MAIN_GUBUN
			    , (SELECT ITEM_MODEL FROM TB_ITEM_INFO_ADM WHERE AA.ITEM_SEQ = ITEM_SEQ) ITEM_MODEL
			    , (SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE BASE_GROUP_CD = '099' AND (SELECT ITEM_MODEL FROM TB_ITEM_INFO_ADM x WHERE AA.ITEM_SEQ = x.ITEM_SEQ) = B.BASE_CD) ITEM_MODEL_NM
		        , AA.MD_INSPECT_YN
			    , WORK_END_TIME
			    , (SELECT INSPECT_DATE FROM TB_ITEM_PRCSS_COMPLETE_ADM WHERE WORK_ORD_NO=AA.WORK_ORD_NO AND WORK_END_TIME=AA.WORK_END_TIME)INSPECT_DATE
		        , (
		        	SELECT ISNULL(SUM(QTY),0) QTY 
		        	FROM (
		        		SELECT ISNULL(FAIR_QTY,0) QTY
						FROM TB_WORK_ORDER_PRCSS 
					    WHERE WORK_ORD_NO = AA.WORK_ORD_NO
					    AND MIDDLE_PRCSS_CD = AA.WORK_PROG_NO
					) A
				) FAIR_QTY
			    , (
			    	SELECT ISNULL(SUM(QTY),0) QTY
			    	FROM (
			    		SELECT ISNULL(FAIR_QTY,0) QTY
					    FROM TB_WORK_ORDER_PRCSS 
					    WHERE WORK_ORD_NO = AA.WORK_ORD_NO
					    AND MIDDLE_PRCSS_CD = AA.WORK_PROG_NO
				        GROUP BY INSPECT_GUBUN, FAIR_QTY
					    HAVING 1=1
					    AND INSPECT_GUBUN = (CASE WHEN MD_INSPECT_YN = '002' THEN '001' ELSE '001' END)
					    OR INSPECT_GUBUN = (CASE WHEN MD_INSPECT_YN = '002' THEN '001' ELSE '002' END)
					    OR INSPECT_GUBUN = (CASE WHEN MD_INSPECT_YN = '002' THEN '003' ELSE '003' END)
					) A
				) FAIR_QTY2
				, (SELECT USER_NM FROM TB_USER WHERE USER_NUMBER = MAIN_WORK_CHARGR) WORK_CHARGR_NM	 
				, ISNULL ( (
						SELECT CASE WHEN CNT = CNT2 THEN '승인' ELSE '미승인' END AS APPROVAL 
						FROM (
							SELECT C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD) CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C, TB_ITEM_PRCSS_COMPLETE_ADM D
							WHERE C.INSP_CD = B.INSP_CD
						    AND C.INSP_TYPE = B.INSP_TYPE     
						    AND C.INSP_SEQ =  B.INSP_SEQ
						    AND D.WORK_ORD_NO = B.INSP_SOURCE_NO
						    AND D.WORK_END_TIME = B.INSP_SOURCE_SUB_NO		 
						    AND B.INSPECT_GUBUN = '001' 
						    AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
						    AND AA.WORK_PROG_NO = B.INSP_SOURCE_SUB_NO
						    AND B.INSP_RESULT_GUBUN = '002'
						    GROUP BY C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO
						) XX
					), ISNULL( (
						SELECT CASE WHEN CNT = CNT2 THEN '요청' ELSE '대기' END AS APPROVAL
						FROM (
							SELECT C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD) CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C
							WHERE C.INSP_CD = B.INSP_CD
						  	AND C.INSP_TYPE = B.INSP_TYPE     
						  	AND C.INSP_SEQ = B.INSP_SEQ
						  	AND B.INSPECT_GUBUN = '001' 
						 	AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
							AND AA.WORK_PROG_NO = B.INSP_SOURCE_SUB_NO
						  	AND B.INSP_RESULT_GUBUN = '004'
							GROUP BY C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO
						) A
					), '대기')
				) APPROVAL_CHO
				, ISNULL ( (
						SELECT CASE  WHEN CNT = CNT2 THEN '승인' ELSE '미승인' END AS APPROVAL
						FROM (
							SELECT C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD) CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C, TB_ITEM_PRCSS_COMPLETE_ADM D
							WHERE C.INSP_CD = B.INSP_CD
						  	AND C.INSP_TYPE = B.INSP_TYPE     
						  	AND C.INSP_SEQ =  B.INSP_SEQ
						  	AND D.WORK_ORD_NO = B.INSP_SOURCE_NO
						  	AND D.WORK_END_TIME = B.INSP_SOURCE_SUB_NO		 
						  	AND B.INSPECT_GUBUN = '002' 
						  	AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
						  	AND AA.WORK_PROG_NO = B.INSP_SOURCE_SUB_NO
						  	AND B.INSP_RESULT_GUBUN = '002'
							GROUP BY C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO
						) XX
					), ISNULL( (
						SELECT CASE  WHEN CNT = CNT2 THEN '요청' ELSE '대기' END AS APPROVAL
						FROM (
							SELECT C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD) CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C
							WHERE C.INSP_CD = B.INSP_CD
					  		AND C.INSP_TYPE = B.INSP_TYPE     
					  		AND C.INSP_SEQ =  B.INSP_SEQ
					  		AND B.INSPECT_GUBUN = '002' 
					  		AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
					  		AND AA.WORK_PROG_NO = B.INSP_SOURCE_SUB_NO
					  		AND B.INSP_RESULT_GUBUN = '004'
							GROUP BY C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO
						) A
					), '대기')
				) APPROVAL_JUNG
				, ISNULL ( (
						SELECT CASE WHEN CNT = CNT2 THEN '승인' ELSE '미승인' END AS APPROVAL
						FROM (
							SELECT C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD) CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C, TB_ITEM_PRCSS_COMPLETE_ADM D
							WHERE C.INSP_CD = B.INSP_CD
						  	AND C.INSP_TYPE = B.INSP_TYPE     
						  	AND C.INSP_SEQ = B.INSP_SEQ
						  	AND D.WORK_ORD_NO = B.INSP_SOURCE_NO
						  	AND D.WORK_END_TIME = B.INSP_SOURCE_SUB_NO		 
						  	AND B.INSPECT_GUBUN = '003' 
						 	AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
						  	AND AA.WORK_PROG_NO = B.INSP_SOURCE_SUB_NO
						  	AND B.INSP_RESULT_GUBUN = '002'
							GROUP BY C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO
						) XX
					), ISNULL ( (
						SELECT CASE  WHEN CNT = CNT2 THEN '요청' ELSE '대기' END AS APPROVAL
						FROM (
							SELECT C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD) CNT2
							FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C
							WHERE C.INSP_CD = B.INSP_CD
						  	AND C.INSP_TYPE = B.INSP_TYPE     
						  	AND C.INSP_SEQ = B.INSP_SEQ
						  	AND B.INSPECT_GUBUN = '003' 
						  	AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
						  	AND AA.WORK_PROG_NO = B.INSP_SOURCE_SUB_NO
						  	AND B.INSP_RESULT_GUBUN = '004'
							GROUP BY C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO
						) A
					), '대기')
				) APPROVAL_JONG
				, ISNULL ( (
					SELECT CASE WHEN CNT = CNT2 THEN '승인' ELSE '미승인' END AS APPROVAL
					FROM (
						SELECT C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (
							SELECT (CASE WHEN (SELECT MD_INSPECT_YN FROM TB_WORK_ORDER X WHERE X.WORK_ORD_NO = AA.WORK_ORD_NO) = '002' THEN COUNT(*)*2 ELSE COUNT(*)*3 END)
							FROM TB_INSP_ITEM_ADM A 
							INNER JOIN TB_INSP_ITEM_DTL B
							ON A.INSP_CD = B.INSP_CD
							WHERE A.INSP_CD = C.INSP_CD
						) CNT2
						FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C, TB_ITEM_PRCSS_COMPLETE_ADM D
						WHERE C.INSP_CD = B.INSP_CD
					  	AND C.INSP_TYPE = B.INSP_TYPE     
					  	AND C.INSP_SEQ = B.INSP_SEQ
					  	AND D.WORK_ORD_NO = B.INSP_SOURCE_NO
					  	AND D.WORK_END_TIME = B.INSP_SOURCE_SUB_NO 
					  	AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
					  	AND AA.WORK_PROG_NO = B.INSP_SOURCE_SUB_NO
					  	AND B.INSP_RESULT_GUBUN = '002'
					  	AND B.INSPECT_GUBUN != (CASE WHEN (SELECT MD_INSPECT_YN FROM TB_WORK_ORDER X WHERE X.WORK_ORD_NO = AA.WORK_ORD_NO) = '002' THEN '002' ELSE '' END)
						GROUP BY C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO
					) XX
				), '미승인') APPROVAL_TOTAL
			FROM (
				SELECT
					A.WORK_ORD_NO
					, C.WORK_PROG_NO
					, C.MINOR_PRCSS_CD
					, (SELECT EQUIP_CD FROM TB_WORK_ORDER WHERE WORK_ORD_NO = A.WORK_ORD_NO) EQUIP_CD
					, A.ITEM_SEQ
					, MAIN_WORK_CHARGR
					, WORK_ORD_DATE WORK_END_TIME
					, SUM(FAIR_QTY) FAIR_QTY
					, B.MD_INSPECT_YN
				FROM TB_WORK_ORDER_PRCSS A, TB_WORK_ORDER_PROGRESS C, TB_WORK_ORDER B
				WHERE 1=1
				AND A.WORK_ORD_NO = C.WORK_ORD_NO
				AND A.MIDDLE_PRCSS_CD = C.WORK_PROG_NO
				AND C.WORK_ORD_NO = B.WORK_ORD_NO
				AND A.INSPECT_GUBUN IN ('001', '002', '003')
				GROUP BY
					A.WORK_ORD_NO
					, A.EQUIP_CD
					, A.ITEM_SEQ
					, MAIN_WORK_CHARGR
					, C.MINOR_PRCSS_CD
					, WORK_ORD_DATE
					, C.WORK_PROG_NO
					, B.MD_INSPECT_YN
			) AA
		) AAA
		WHERE 1=1
		<if test="startDate!=null and !startDate.equals('')">
		AND INSPECT_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="approvalTotal!=null and !approvalTotal.equals('')">
			<if test="approvalTotal.equals('001')">
				AND APPROVAL_TOTAL = '승인'
			</if>	
			<if test="approvalTotal.equals('002')">
				AND APPROVAL_TOTAL = '미승인'
			</if>	
		</if>
		<if test="mainGubun!=null and !mainGubun">
		AND MAIN_GUBUN = #{mainGubun}
		</if>
	</select>
	
	<!--공정검사ㅣ상세 목록조회 -->
	<select id="read" resultMap="ItemPrcssCompleteAdmVo">
		SELECT 
			B.WORK_END_TIME		
			, B.INSPECT_DATE
			, B.INSPECT_CHARGR
			, (SELECT USER_NM FROM TB_USER WHERE USER_NUMBER = B.INSPECT_CHARGR) INSPECT_CHARGR_NM
			, B.LOT_NO_SUGI
			, B.WORK_CHARGR_SUGI
			, (SELECT USER_NM FROM TB_USER WHERE USER_NUMBER = B.WORK_CHARGR_SUGI) WORK_CHARGR_SUGI_NM
			, B.CAVITY_CNT
			, B.ETC1
			, B.IMAGE_NM1
			, B.IMAGE1		
		FROM TB_ITEM_PRCSS_COMPLETE_ADM B
		WHERE WORK_ORD_NO = #{workOrdNo}
		AND WORK_END_TIME = #{workEndTime}
	</select>
	
	<!--공정검사 상세 테이블 생성 -->
	<insert id="create">
		INSERT INTO TB_ITEM_PRCSS_COMPLETE_ADM(
			WORK_ORD_NO
           ,WORK_END_TIME        
           ,INSPECT_DATE
           ,INSPECT_CHARGR
           ,LOT_NO_SUGI
           ,WORK_CHARGR_SUGI
           ,CAVITY_CNT
           ,ETC1
           ,IMAGE1
           ,IMAGE_NM1
           ,REG_ID
           ,REG_DATE
		)		 
		VALUES(
			#{workOrdNo}
			,#{workEndTime}			
			,#{inspectDate}
			,#{inspectChargr}	
			,#{lotNoSugi}
			,#{workChargrSugi}
			,#{cavityCnt}
			,#{etc1}
			,#{image1}
			,#{imageNm1}				
			,#{regId}
			,GETDATE()			
		)
	</insert>
		
	<!-- 공정검사 상세 테이블 수정 -->
	<update id="update">
		UPDATE	TB_ITEM_PRCSS_COMPLETE_ADM
		SET	INSPECT_DATE = #{inspectDate}
			,INSPECT_CHARGR = #{inspectChargr}	
			,LOT_NO_SUGI = #{lotNoSugi}
			,WORK_CHARGR_SUGI = #{workChargrSugi}
			,CAVITY_CNT = #{cavityCnt}
			,ETC1 = #{etc1}
			,IMAGE1 = #{image1}
			,IMAGE_NM1 = #{imageNm1}
			,UPD_ID = #{updId}
			,UPD_DATE = GETDATE()
		WHERE	WORK_ORD_NO = #{workOrdNo}
		AND WORK_END_TIME = #{workEndTime}
	</update>
	

	
	<!-- 공정검사 상세 내역 삭제 -->
	<delete id="delete">
			DELETE FROM TB_ITEM_PRCSS_COMPLETE_ADM 
			WHERE 1=1
			AND WORK_ORD_NO = #{workOrdNo}
			AND WORK_END_TIME = #{workEndTime}
	</delete>

	<!--공정검사 원재료 목록조회 -->
	<select id="matrlList" resultMap="ItemPrcssCompleteAdmVo">
		SELECT 
			WORK_ORD_NO
			,ITEM_SEQ
			,BARCODE_NO
			,(SELECT ITEM_NM FROM TB_ITEM_INFO_ADM WHERE A.ITEM_SEQ = ITEM_SEQ) ITEM_NM
			,(SELECT ITEM_GRADE FROM TB_ITEM_INFO_ADM WHERE A.ITEM_SEQ = ITEM_SEQ) ITEM_GRADE
		FROM TB_WORK_ORDER_MATRL A
		WHERE WORK_ORD_NO = #{workOrdNo}
		<if test="workProgNo!=null and !workProgNo.equals('')">
		AND A.MIDDLE_PRCSS_CD = #{workProgNo}
		</if>
	</select>


	<!--자주검사 목록조회 -->
	<select id="jajuList" resultMap="ItemPrcssCompleteAdmVo">
	SELECT * 
		FROM (
			SELECT
				WORK_ORD_NO
			    , EQUIP_CD
			    , (SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM WHERE AA.EQUIP_CD = EQUIP_CD) EQUIP_NM
			    , ITEM_SEQ
			    , (SELECT ITEM_CD FROM TB_ITEM_INFO_ADM WHERE AA.ITEM_SEQ = ITEM_SEQ) ITEM_CD
			    , (SELECT ITEM_NM FROM TB_ITEM_INFO_ADM WHERE AA.ITEM_SEQ = ITEM_SEQ) ITEM_NM
			    , (SELECT MAIN_GUBUN FROM TB_ITEM_INFO_ADM WHERE AA.ITEM_SEQ = ITEM_SEQ) MAIN_GUBUN
			    , (SELECT ITEM_MODEL FROM TB_ITEM_INFO_ADM WHERE AA.ITEM_SEQ = ITEM_SEQ) ITEM_MODEL
			    , (SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE BASE_GROUP_CD = '099' AND (SELECT ITEM_MODEL FROM TB_ITEM_INFO_ADM x WHERE AA.ITEM_SEQ = x.ITEM_SEQ) = B.BASE_CD) ITEM_MODEL_NM       
				, ISNULL((
					SELECT CASE WHEN CNT = CNT2 THEN '승인' ELSE '미승인' END AS APPROVAL
					FROM (
						SELECT C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD AND USE_YN='001') CNT2
						FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C
						WHERE C.INSP_CD = B.INSP_CD
						AND C.INSP_TYPE = B.INSP_TYPE     
						AND C.INSP_SEQ =  B.INSP_SEQ		
						AND B.INSPECT_GUBUN = '001'
						AND C.USE_YN='001'
						<if test="workOrdNo != null and !workOrdNo.equals('')">
						AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
						</if>
						<if test="middlePrcssCd != null and !middlePrcssCd.equals('')">
						AND AA.MIDDLE_PRCSS_CD = B.INSP_SOURCE_NO
						</if>
						
						AND B.INSP_RESULT_GUBUN = '004'
						GROUP BY C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO
					) XX
				), '미승인') APPROVAL_CHO
				, ISNULL((
					SELECT CASE WHEN CNT = CNT2 THEN '승인' ELSE '미승인' END AS APPROVAL
					FROM (
						SELECT C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD AND USE_YN='001') CNT2
						FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C
						WHERE C.INSP_CD = B.INSP_CD
						AND C.INSP_TYPE = B.INSP_TYPE     
						AND C.INSP_SEQ =  B.INSP_SEQ				 
						AND B.INSPECT_GUBUN = '002' 
						AND C.USE_YN='001'
						<if test="workOrdNo != null and !workOrdNo.equals('')">
						AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
						</if>
						<if test="middlePrcssCd != null and !middlePrcssCd.equals('')">
						AND AA.MIDDLE_PRCSS_CD = B.INSP_SOURCE_NO
						</if>
						
						AND B.INSP_RESULT_GUBUN = '004'
						GROUP BY C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO
					) XX
				), '미승인') APPROVAL_JUNG
				, ISNULL((
					SELECT CASE WHEN CNT = CNT2 THEN '승인' ELSE '미승인' END AS APPROVAL
					FROM (
						SELECT C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD AND USE_YN='001') CNT2
						FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C
						WHERE C.INSP_CD = B.INSP_CD
						AND C.INSP_TYPE = B.INSP_TYPE     
						AND C.INSP_SEQ = B.INSP_SEQ			  
						AND B.INSPECT_GUBUN = '003' 
						AND C.USE_YN='001'
						<if test="workOrdNo != null and !workOrdNo.equals('')">
						AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
						</if>
						<if test="middlePrcssCd != null and !middlePrcssCd.equals('')">
						AND AA.MIDDLE_PRCSS_CD = B.INSP_SOURCE_NO
						</if>
				
						AND B.INSP_RESULT_GUBUN = '004'
						GROUP BY C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO
					) XX
				), '미승인') APPROVAL_JONG
				, ISNULL((
					SELECT CASE  WHEN CNT = CNT2 THEN '승인' ELSE '미승인' END AS APPROVAL
					FROM (
						SELECT C.INSP_CD,B.INSP_SOURCE_NO,B.INSP_SOURCE_SUB_NO, COUNT(*) CNT, (SELECT COUNT(*) * 3 FROM TB_INSP_ITEM_DTL WHERE INSP_CD = C.INSP_CD AND USE_YN='001') CNT2
						FROM TB_INSP_RESULT_ADM B, TB_INSP_ITEM_DTL C
						WHERE C.INSP_CD = B.INSP_CD
						AND C.INSP_TYPE = B.INSP_TYPE     
						AND C.INSP_SEQ =  B.INSP_SEQ			
						AND C.USE_YN='001'
						<if test="workOrdNo != null and !workOrdNo.equals('')">
						AND AA.WORK_ORD_NO = B.INSP_SOURCE_NO
						</if>
						<if test="middlePrcssCd != null and !middlePrcssCd.equals('')">
						AND AA.MIDDLE_PRCSS_CD = B.INSP_SOURCE_SUB_NO
						</if>		
					
						AND B.INSP_RESULT_GUBUN = '004'
						GROUP BY C.INSP_CD, B.INSP_SOURCE_NO, B.INSP_SOURCE_SUB_NO
					) XX
				), '미승인') APPROVAL_TOTAL
			FROM (
				SELECT 
					WORK_ORD_NO
					, MIDDLE_PRCSS_CD
					, EQUIP_CD
					, ITEM_SEQ
					, SUM(FAIR_QTY) FAIR_QTY
				FROM TB_WORK_ORDER_PRCSS A
				WHERE 1=1
				
				<if test="workOrdNo != null and !workOrdNo.equals('')">
				AND A.WORK_ORD_NO = #{workOrdNo}
				</if>
				<if test="middlePrcssCd != null and !middlePrcssCd.equals('')">
				AND A.MIDDLE_PRCSS_CD = #{middlePrcssCd}
				</if>
				
			
				GROUP BY
					WORK_ORD_NO
					, MIDDLE_PRCSS_CD
					, EQUIP_CD
					, ITEM_SEQ
			) AA
		) AAA
				 
	</select>

	<!--기간별 검사결과 조회(자주검사/공정검사) -->
	<select id="testResultList" resultMap="ItemPrcssCompleteAdmVo">
		SELECT *
		FROM(
			 SELECT AA.WORK_ORD_NO
			  , AA.EQUIP_CD
			  , (SELECT X.EQUIP_NM FROM TB_EQUIP_CODE_ADM X WHERE AA.EQUIP_CD = X.EQUIP_CD) EQUIP_NM
			  , AA.ITEM_SEQ
			  , (SELECT X.ITEM_CD FROM TB_ITEM_INFO_ADM X WHERE AA.ITEM_SEQ = X.ITEM_SEQ) ITEM_CD
			  , (SELECT X.ITEM_NM FROM TB_ITEM_INFO_ADM X WHERE AA.ITEM_SEQ = X.ITEM_SEQ) ITEM_NM
			  , (SELECT X.MAIN_GUBUN FROM TB_ITEM_INFO_ADM X WHERE AA.ITEM_SEQ = X.ITEM_SEQ) MAIN_GUBUN
			  , (SELECT X.ITEM_MODEL FROM TB_ITEM_INFO_ADM X WHERE AA.ITEM_SEQ = X.ITEM_SEQ) ITEM_MODEL
			  , (SELECT X.MOLD_CD FROM TB_ITEM_INFO_ADM X WHERE AA.ITEM_SEQ = X.ITEM_SEQ) MOLD_CD
			  , (SELECT X.EQUIP_NM FROM TB_EQUIP_CODE_ADM X WHERE X.EQUIP_CD = (SELECT I.MOLD_CD FROM TB_ITEM_INFO_ADM I WHERE AA.ITEM_SEQ = I.ITEM_SEQ)) MOLD_NM
			  , (SELECT X.EQUIP_NO FROM TB_EQUIP_CODE_ADM X WHERE X.EQUIP_CD = (SELECT I.MOLD_CD FROM TB_ITEM_INFO_ADM I WHERE AA.ITEM_SEQ = I.ITEM_SEQ)) EQUIP_NO
			  , (SELECT X.EQUIP_CAVITY FROM TB_EQUIP_CODE_ADM X WHERE X.EQUIP_CD = (SELECT I.MOLD_CD FROM TB_ITEM_INFO_ADM I WHERE AA.ITEM_SEQ = I.ITEM_SEQ)) EQUIP_CAVITY
			  , (SELECT X.BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD = '099' AND (SELECT I.ITEM_MODEL FROM TB_ITEM_INFO_ADM I WHERE AA.ITEM_SEQ = I.ITEM_SEQ) = X.BASE_CD) ITEM_MODEL_NM
		      , (SELECT TOP(1) CONVERT(CHAR(8), X.WORK_END_TIME, 112) FROM TB_WORK_ORDER_PRCSS X WHERE X.WORK_ORD_NO = AA.WORK_ORD_NO ORDER BY X.WORK_ORD_SEQ DESC) WORK_END_TIME
		      , AA.FAIR_QTY
			  , AA.OUTPUT_QTY
			  , AA.FAULTY_QTY
			  , (SELECT X.MAIN_WORK_CHARGR FROM TB_WORK_ORDER X WHERE X.WORK_ORD_NO = AA.WORK_ORD_NO) WORK_CHARGR
			  , (SELECT X.USER_NM FROM TB_USER X WHERE X.USER_NUMBER = (SELECT W.MAIN_WORK_CHARGR FROM TB_WORK_ORDER W WHERE W.WORK_ORD_NO = AA.WORK_ORD_NO)) WORK_CHARGR_NM	
			  , (SELECT X.ITEM_NM FROM TB_ITEM_INFO_ADM X WHERE (SELECT TOP(1) W.ITEM_SEQ FROM TB_WORK_ORDER_MATRL W WHERE W.WORK_ORD_NO = AA.WORK_ORD_NO) = X.ITEM_SEQ) MATRL_NM  
			  , (SELECT X.ITEM_GRADE FROM TB_ITEM_INFO_ADM X WHERE (SELECT TOP(1) W.ITEM_SEQ FROM TB_WORK_ORDER_MATRL W WHERE W.WORK_ORD_NO = AA.WORK_ORD_NO) = X.ITEM_SEQ) ITEM_GRADE             			 
			  , CC.INSPECT_GUBUN
			  , (SELECT X.BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD = '118' AND X.BASE_CD = CC.INSPECT_GUBUN) INSPECT_GUBUN_NM
			  , (SELECT X.INSPECT_DATE FROM TB_ITEM_PRCSS_COMPLETE_ADM X WHERE X.WORK_ORD_NO = AA.WORK_ORD_NO AND X.WORK_END_TIME = AA.WORK_END_TIME)INSPECT_DATE
			  , CC.INSP_SEQ
			  , CC.INSP_RESULT
			  , (SELECT X.INSP_LIST FROM TB_INSP_ITEM_DTL X WHERE X.INSP_CD = CC.INSP_CD AND X.INSP_SEQ = CC.INSP_SEQ AND X.INSP_TYPE = CC.INSP_TYPE) INSP_LIST
			  , (SELECT X.BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD = '072' AND X.BASE_CD = CC.INSP_RESULT) INSP_RESULT_NM
			  , CC.INSP_TYPE
			  , (SELECT X.BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD = '126' AND X.BASE_CD = CC.INSP_TYPE) INSP_TYPE_NM
			  , (SELECT X.INSP_STAND_UPPER FROM TB_INSP_ITEM_DTL X WHERE X.INSP_CD = CC.INSP_CD AND X.INSP_SEQ = CC.INSP_SEQ AND X.INSP_TYPE = CC.INSP_TYPE) INSP_STAND_UPPER
			  , (SELECT X.INSP_STAND_LOWER FROM TB_INSP_ITEM_DTL X WHERE X.INSP_CD = CC.INSP_CD AND X.INSP_SEQ = CC.INSP_SEQ AND X.INSP_TYPE = CC.INSP_TYPE) INSP_STAND_LOWER
			  , (SELECT X.INSP_CHECK FROM TB_INSP_ITEM_DTL X WHERE X.INSP_CD = CC.INSP_CD AND X.INSP_SEQ = CC.INSP_SEQ AND X.INSP_TYPE = CC.INSP_TYPE) INSP_CHECK
			  , (SELECT X.BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD = '134' AND (SELECT I.INSP_CHECK FROM TB_INSP_ITEM_DTL I WHERE I.INSP_CD = CC.INSP_CD AND I.INSP_SEQ = CC.INSP_SEQ AND I.INSP_TYPE = CC.INSP_TYPE) = X.BASE_CD) INSP_CHECK_NM
			  , CC.INSP_X1
			  , CC.INSP_X2
			  , CC.INSP_X3
			  , CC.INSP_X4
			  , CC.INSP_X5
			  , CC.INSP_X6
			  , CC.INSP_X7
			  , CC.INSP_X8
			  , CC.INSP_X9
			  , CC.INSP_X10
			  , CC.INSP_X11
			  , CC.INSP_X12
			  , CC.INSP_X13
			  , CC.INSP_X14
			  , CC.INSP_X15
			  , CC.INSP_X16
			  , CC.INSP_X17
			  , CC.INSP_X18
			  , CC.INSP_X19
			  , CC.INSP_X20
			  , CC.INSP_X21
			  , CC.INSP_X22
			  , CC.INSP_X23
			  , CC.INSP_X24
			FROM (
				SELECT
					A.WORK_ORD_NO
					, A.EQUIP_CD
					, A.ITEM_SEQ
					, ORD_DATE WORK_END_TIME
					, SUM(A.FAIR_QTY) FAIR_QTY	 
					, SUM(A.OUTPUT_QTY) OUTPUT_QTY
					, SUM(A.FAULTY_QTY) FAULTY_QTY
				  FROM TB_WORK_ORDER_PRCSS A
				  WHERE 1=1
				  AND A.WORK_STATUS = '002'
				  GROUP BY
					A.WORK_ORD_NO
					, A.EQUIP_CD
					, A.ITEM_SEQ
					, A.ORD_DATE
			) AA, TB_INSP_RESULT_ADM CC
			WHERE 1=1
			AND CC.INSP_RESULT != ''
			<if test="inspResultGubun.equals('004')">
			AND CC.INSP_SOURCE_NO = AA.WORK_ORD_NO
			AND CC.INSP_RESULT_GUBUN = '004'
			</if>
			<if test="inspResultGubun.equals('002')">
			AND CC.INSP_SOURCE_NO = AA.WORK_ORD_NO
			AND CC.INSP_RESULT_GUBUN = '002'
			AND CC.INSP_SOURCE_SUB_NO = LEFT(CONVERT(CHAR(8), AA.WORK_END_TIME, 112),14)
			</if>
			<if test="equipCd!=null and !equipCd.equals('')">
			AND AA.EQUIP_CD = #{equipCd}
			</if>
			<if test="itemSeq!=null and !itemSeq.equals('')">
			AND AA.ITEM_SEQ = #{itemSeq}
			</if>
			<if test="inspType!=null and !inspType.equals('')">
			AND CC.INSP_TYPE = #{inspType}
			</if>
		) A
		WHERE 1=1
		<if test="mainGubun != null and !mainGubun.equals('')">
		AND A.MAIN_GUBUN = #{mainGubun}
		</if>
		<if test="startDate!=null and !startDate.equals('')">
		AND A.INSPECT_DATE BETWEEN  #{startDate} AND #{endDate}
		</if>
		ORDER BY A.WORK_ORD_NO ASC, A.INSPECT_GUBUN ASC, A.INSP_TYPE ASC, A.INSP_SEQ ASC
	</select>

</mapper>